<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
  >
    <template #activator="{ on }">
      <v-btn
        icon
        :disabled="isDisabled"
        v-on="on"
      >
        <v-badge
          color="orange"
          :value="translationsLeft"
        >
          <template #badge>
            <span v-text="translationsLeft" />
          </template>
          <v-icon>language</v-icon>
        </v-badge>
      </v-btn>
    </template>

    <v-card>
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('add_language_variant') }}</v-toolbar-title>
      </v-toolbar>
      <v-divider />

      <v-autocomplete
        v-model="selectedLocales"
        :items="availableLocales"
        item-text="name"
        item-value="code"
        outlined
        multiple
        class="pa-4"
      >
        <template #item="data">
          {{ data.item.name }}
          <v-spacer />
          <v-chip
            class="ma-2"
            label
          >
            {{ data.item.code }}
          </v-chip>
        </template>
      </v-autocomplete>

      <v-card-actions>
        <v-spacer />
        <v-btn
          text
          @click="menu = false"
        >
          {{ $t('cancel') }}
        </v-btn>
        <v-btn
          text
          @click="selectAllLocales"
        >
          {{ $t('add_all') }}
        </v-btn>
        <v-btn
          color="primary"
          text
          :disabled="!this.selectedLocales"
          @click="selectLocale"
        >
          {{ $t('add') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import orderBy from 'lodash/orderBy'
import filter from 'lodash/filter'
import size from 'lodash/size'
import map from 'lodash/map'
import Axios from '../../composables/ajax'

export default {
  name: 'LocalizationMenu',
  props: {
    restrictedLocales: {
      type: Array,
      default: () => { return [] }
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      menu: false,
      selectedLocales: null,
      locales: []
    }
  },
  computed: {
    availableLocales () {
      return orderBy(filter(this.locales, (o) => {
        if (!this.restrictedLocales.includes(o.code)) {
          return o
        }
      }), ['code'], ['asc'])
    },
    isDisabled () {
      if (this.disabled) {
        return true
      }

      return isEmpty(this.availableLocales)
    },
    translationsLeft () {
      return size(this.availableLocales)
    }
  },
  created () {
    if (isEmpty(this.locales)) {
      Axios.get('/api/intl').then((response) => {
        this.locales = response.data.locales
      })
    }
  },
  methods: {
    selectLocale () {
      if (this.selectedLocales) {
        this.$emit('selected', this.selectedLocales)
      }
    },
    selectAllLocales () {
      this.$emit('selected', map(this.availableLocales, (o) => { return o.code }))
    }
  }
}
</script>
