<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-menu
    v-if="hasLocales"
    :v-model="menuOpened"
  >
    <template #activator="{ on }">
      <v-btn
        icon
        v-on="on"
      >
        {{ localeName($i18n.locale) }}
      </v-btn>
    </template>

    <v-list>
      <v-list-item
        v-for="locale in orderedLocales"
        :key="locale.code"
        :href="locale.path"
      >
        <v-list-item-icon>
          <v-chip
            label
            small
            class="lang-chip"
            :color="chipColor(locale.code)"
          >
            {{ locale.code }}
          </v-chip>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            {{ toLower(locale.name) }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
import { toLower, some, has, isEmpty, orderBy, find}  from 'lodash'

export default {
  name: 'VMenuLocale',
  props: {
    value: {
      type: String,
      required: false,
    },
    locales: {
      type: Object,
      validator: value => {
        if (isEmpty(value)) {
          return true
        }

        if (!some(value, (o) => has(o, 'name') && has(o, 'path') && has(o, 'code'))) {
          console.error('Component locale-menu requires "name", "code" and "path" keys in the locales property. Ie: {en: {code: "en", name: "English", path: "/en"}')
          return false
        }

        return true
      },
      default: () => { return {} }
    }
  },
  data: function () {
    return {
      menuOpened: false
    }
  },
  computed: {
    hasLocales () {
      return !isEmpty(this.locales)
    },
    orderedLocales () {
      return orderBy(this.locales, ['code'], ['asc'])
    }
  },
  methods: {
    chipColor (locale) {
      if (locale === this.$i18n.locale) {
        return 'primary'
      }
    },
    toLower (value) {
      return toLower(value)
    },
    localeName (value) {
      const locale = find(this.locales, (locale) => {
        return locale.code === value
      })

      if (locale) {
        return locale.code
      }

      return value
    }
  }
}
</script>
