<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <v-menu>
    <!-- menu -->
    <v-card
      class="mx-auto"
      width="400"
      tile
    >
      <!-- Event Name -->
      <v-card-title primary-title>
        {{ $t(itemLabel) }}
      </v-card-title>

      <!-- Event Time -->
      <v-card-subtitle>
        {{ timeLabel }}
      </v-card-subtitle>

      <v-card-text>
        <div v-if="eventTypes && eventTypes.length">
          <div
            v-for="type in eventTypes"
            :key="type.id"
          >
            {{ $t(type.title) }}
          </div>
        </div>
      </v-card-text>

      <v-card-actions class="justify-end">
        <!-- Event Color (if available) -->
        <div v-if="event.event.color">
          <v-chip
            :color="event.event.color"
            small
          />
        </div>

        <v-spacer />

        <!-- More details button -->
        <v-btn
          depressed
          :href="detailUrl"
          small
        >
          <i class="fa fa-fw fa-light fa-pen-to-square" />
          {{ $t('view_more') }}
        </v-btn>
      </v-card-actions>
    </v-card>

    <!-- button  which opens menu -->
    <template #activator="{ on }">
      <v-btn
        dark
        icon
        small
        class="ma-1"
        v-on="on"
      >
        <i class="fa fa-light fa-fw fa-ellipsis-vertical" />
        <span
          class="d-md-none"
          :class="mode === 'day' ? 'd-none' : 'd-md-none'"
        >
          {{ hourLabel }}
        </span>
      </v-btn>
    </template>
  </v-menu>
</template>

<script>
export default {
  name: 'VMenuEventCalendar',
  props: {
    value: {
      type: Object,
      required: true
    },
    mode: {
      type: String,
      required: true
    }
  },
  computed: {
    eventTypes () {
      return this.event.event.types
    },
    event: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    timeLabel () {
      if (this.event.eventParsed.allDay) {
        return `${this.event.eventParsed.start.day}.${this.event.eventParsed.start.month}.${this.event.eventParsed.start.year} 00:00 - 24:00`
      }

      let label = `${this.event.eventParsed.start.day}.${this.event.eventParsed.start.month}.${this.event.eventParsed.start.year} ${this.event.eventParsed.start.time}`
      if (this.event.eventParsed.end.time) {
        label = `${label} - ${this.event.eventParsed.end.time}`
      }
      return label
    },
    hourLabel () {
      if (this.event.eventParsed.allDay) {
        return '00'
      }

      return this.event.eventParsed.start.hour
    },
    itemLabel () {
      if (this.event.event.name) {
        return this.event.event.name
      }

      return this.$t('unknown_event')
    },
    eventTypeInitials () {
      if (this.event.event.types && this.event.event.types.length > 0) {
        const titleWords = this.event.event.types[0].title.split(' ')
        return titleWords[0].charAt(0).toUpperCase()
      }
      return ''
    },
    detailUrl () {
      return `/admin/events/${this.event.event.id}`
    }
  }
}
</script>
