<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    open-on-hover
    nudge-right="25"
  >
    <template #activator="{ on }">
      <span v-on="on" class="d-flex align-center flex-grow-0 ma-1">
        <v-avatar-user :value="user" />
        <span
          v-if="!filter.displayName"
          v-text="name"
          class="ml-1"
        />
        <text-highlight
          v-else
          :queries="[filter.displayName]"
        >
          <span v-text="name" />
        </text-highlight>
      </span>
    </template>
    <v-card
      v-if="popover"
      max-width="400"
    >
      <v-row no-gutters class="pa-2">
        <v-col
          class="flex-grow-0 pa-2"
        >
          <v-avatar-user
            :size="60"
            :value="user"
            :class="[user.enabled ? 'user-status' : '', isOnline ? 'online' : 'offline']"
          />
        </v-col>
        <v-col class="pa-2">
          <div
            class="title mb-2"
            v-text="name"
          />
          <div
            v-if="email"
            class="text-body-2 mb-2"
          >
            <v-icon small>
              email
            </v-icon>
            <a
              :href="'mailto:' + email"
              v-text="email"
            />
          </div>
          <div
            v-if="user.lastActivityAt"
            class="text-body-2 mb-2"
          >
            <v-icon small>
              access_time
            </v-icon>
            <v-date-time :value="user.lastActivityAt" />
          </div>
        </v-col>
      </v-row>
      <v-card-actions>
        <v-btn
          color="primary"
          text
          small
          :href="$generateUrl('arodax_admin_users_edit', {id: user.id})"
        >
          {{ $t('edit') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<script>
import { DateTime } from 'luxon'
import VDateTime from '../v-date/VDateTime.vue'
import VAvatarUser from '../VAvatarUser.vue'
import isArray from 'lodash/isArray'
import isString from 'lodash/isString'
import isNil from 'lodash/isNil'
import TextHighlight from 'vue-text-highlight'

export default {
  name: 'VUser',
  components: {
    VDateTime,
    VAvatarUser,
    TextHighlight
  },
  props: {
    user: {
      type: Object
    },
    avatarSize: {
      type: Number,
      default: 24
    },
    popover: {
      type: Boolean,
      default: true
    },
    filter: {
      type: Object,
      default: () => {
        return {
          authors: null,
          users: null,
          displayName: null
        }
      }
    }
  },
  data () {
    return {
      menu: false
    }
  },
  computed: {
    /**
     * Calculate "alt" attribute for the user avatar.
     * The displayName, email property is used, if empty the empty string is returned.
     * @returns {string}
     */
    alt () {
      if (!isNil(this.user.displayName)) {
        return this.user.displayName
      }

      if (!isNil(this.user.email)) {
        return this.user.email
      }

      return ''
    },
    /**
     * Return the first letter of the user's display name.
     * @returns {string}
     */
    letter () {
      if (!isNil(this.user.displayName) && isString(this.user.displayName)) {
        return this.user.displayName.substring(0, 1)
      }

      return ''
    },
    /**
     * Return name for the user.
     * @returns {string}
     */
    name () {
      if (!isNil(this.user.displayName) && isString(this.user.displayName)) {
        return this.user.displayName
      }

      if (!isNil(this.user.email)) {
        return this.user.email
      }

      return ''
    },
    /**
     * Display user email, if empty return empty string.
     * @returns {string}
     */
    email () {
      if (!isNil(this.user.email)) {
        return this.user.email
      }

      return ''
    },
    /**
     * Return user controll or default the default color if not color is set.
     * @returns {string}
     */
    color () {
      if (!isNil(this.user.color)) {
        return this.user.color
      }

      return '#cacaca'
    },
    /**
     * Return user roles
     * @returns {Array}
     */
    roles () {
      if (!isNil(this.user.roles)) {
        return this.user.roles
      }

      return []
    },
    /**
     * Find if the user is online or offline
     * This threshold is set to 1 minute (60000 seconds)
     * @returns {boolean}
     */
    isOnline () {
      if (isNil(this.user.lastActivityAt)) {
        return false
      }

      return Math.abs(DateTime.fromISO(this.user.lastActivityAt).diffNow()) < 60000
    },
    /**
     * Check whether this avatar is highlighted when flter is applied.
     * @return {boolean}
     */
    isAvatarHighLighted () {
      const users = this.filter.authors || this.filter.users
      return !!(isArray(users) && users.indexOf(this.user.id) >= 0)
    }
  }

}
</script>
