<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-articles
        :loading="loading"
      />
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/articles"
        :headers="headers"
      >
        <template #item.headline="{ item }">
          <v-item-name
            :value="item"
            path="headline"
            :highlight="filter.headline"
          />
        </template>

        <template #item.sections="{ item }">
          <div>
            <v-chip
              v-for="(section, index) in item.sections"
              :key="'section-' + index"
              label
              outlined
              class="ma-2"
            >
              <v-icon left>
                folder
              </v-icon>
              <span
                :class="{ text__highlight: isSectionHighLighted(section) }"
                v-text="sectionName(section)"
              />
            </v-chip>
          </div>
        </template>

        <template #item.created_at="{ item }">
          <div>
            <v-date-time
              :value="item.createdAt"
              :time="true"
            />
          </div>
        </template>

        <template #item.published_at="{ item }">
          <div>
            <v-date-time
              :value="item.publishedAt"
              :time="true"
            />
          </div>
        </template>

        <template #item.authors="{ item }">
          <div>
            <v-row no-gutters>
              <v-col
                v-for="(author, index) in item.authors"
                :key="'author-' + index"
                class="d-flex align-center flex-grow-0 ma-1"
              >
                <v-user
                  :user="author"
                  :filter="filter"
                />
              </v-col>
            </v-row>
          </div>
        </template>

        <template #item.covers="{ item }">
          <div>
            <v-img
              v-if="hasCover(item)"
              :src="$_imageFilter(item.covers[0].contentUrl, 'admin_preview')"
              :max-height="40"
              :max-width="40"
              class="my-1"
            >
              <template #placeholder>
                <v-row
                  no-gutters
                  class="justify-center"
                >
                  <v-col class="flex-grow-0">
                    <v-progress-circular
                      indeterminate
                      color="primary"
                    />
                  </v-col>
                </v-row>
              </template>
            </v-img>
          </div>
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import { forEach, isNil, has, get, isArray, isEmpty, orderBy } from 'lodash'
import VDateTime from '../components/v-date/VDateTime.vue'
import VUser from '../components/v-menu/VUser.vue'
import { mediaMixin } from '../mixins'
import VItemName from '../components/VItemName.vue'
import { useDataTableStore } from '../stores/dataTableStore'
import FilterArticles from '../components/v-filter/FilterArticles.vue'

export default {
  name: 'ArticleIndex',
  components: {
    FilterArticles,
    VItemName,
    VDataTableServer,
    VDateTime,
    VUser
  },
  mixins: [mediaMixin],
  data () {
    return {
      widget: {
        filter: 0
      },
      loading: false,
      filter: {
        id: null,
        headline: null,
        sections: null,
        createdAt: null,
        publishedAt: null,
        authors: null,
        status: null
      }
    }
  },

  computed: {
    store () {
      return useDataTableStore('/api/articles')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('headline'),
          align: 'left',
          sortable: true,
          value: 'headline'
        },
        {
          text: this.$t('sections'),
          align: 'left',
          sortable: false,
          value: 'sections'
        },
        {
          text: this.$t('created_at'),
          align: 'left',
          sortable: true,
          value: 'created_at'
        },
        {
          text: this.$t('published_at_date'),
          align: 'left',
          sortable: true,
          value: 'published_at'
        },
        {
          text: this.$t('authors'),
          align: 'left',
          sortable: false,
          value: 'authors'
        },
        {
          text: this.$t('article_cover'),
          align: 'left',
          sortable: false,
          value: 'covers',
          width: '150px'
        }
      ]
    }
  },
  methods: {
    orderBy (a, b, c) {
      return orderBy(a, b, c)
    },
    sectionName (section) {
      const locale = document.documentElement.lang
      if (!isNil(locale) && has(section, 'translations.' + locale + '.name')) {
        return get(section, 'translations.' + locale + '.name')
      }

      return section.id
    },
    isSectionHighLighted (section) {
      return !!(
        isArray(this.store.getFilter('sections')) &&
        this.store.getFilter('sections').indexOf(section.id) >= 0
      )
    },
    isAvatarHighLighted (author) {
      return !!(
        isArray(this.store.getFilter('authors')) &&
        this.store.getFilter('authors').indexOf(author.id) >= 0
      )
    },
    hasCover (article) {
      return !isNil(article.covers) && !isEmpty(article.covers)
    }
  }
}
</script>
