<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="article">
    <v-card outlined>
      <v-toolbar flat>
        <v-tabs
          v-model="currentLocale"
          align-with-name
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            v-for="item in article.translations"
            :key="item.locale"
            :href="'#' + item.locale"
          >
            <v-badge
              color="error"
              content="!"
              :value="!hasTranslation(article, item.locale, 'headline')"
            >
              <span v-text="item.locale" />
            </v-badge>
          </v-tab>
        </v-tabs>
        <v-spacer />

        <v-btn
          icon
          :disabled="!$_hasTranslations(article)"
          @click="removeTranslation(article, currentLocale)"
        >
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu
          :key="usedTranslationKeys.join('')"
          :restricted-locales="usedTranslationKeys"
          @selected="addLocale"
        />
      </v-toolbar>

      <v-tabs-items v-model="currentLocale">
        <v-tab-item
          v-for="(item) in article.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2 mb-n8"
            >
              <v-text-field
                v-model="item.headline"
                outlined
                :label="$t('headline')"
                clearable
                counter
                :disabled="isEditationDisabled"
              />
            </v-col>
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-subheader
                class="pa-0"
                v-text="$t('lead')"
              />
              <v-editor-wysiwyg
                v-model="item.lead"
                :disabled="isEditationDisabled"
                :class="[{ disabled: isEditationDisabled }]"
              />
            </v-col>
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-subheader
                class="pa-0"
                v-text="$t('content')"
              />
              <v-editor-wysiwyg
                v-model="item.content"
                :disabled="isEditationDisabled"
                :class="[{ disabled: isEditationDisabled }]"
              />
            </v-col>
          </v-row>

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2 mb-n8"
            >
              <v-text-field
                :label="$t('link')"
                v-model="item.link"
                :disabled="isEditationDisabled"
                outlined
              ></v-text-field>
            </v-col>
          </v-row>

        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <!-- seo -->
    <v-card
      outlined
      class="my-4"
    >
      <v-tabs-items v-model="currentLocale">
        <v-tab-item
          v-for="(item) in article.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <v-expansion-panels class="filter-expansion">
            <v-expansion-panel>
              <v-expansion-panel-header>
                <v-row no-gutters>
                  <v-col
                    :cols="12"
                    class="mx-n2"
                  >
                    <v-toolbar-title>{{ $t('seo') }}</v-toolbar-title>
                  </v-col>
                </v-row>
              </v-expansion-panel-header>

              <v-expansion-panel-content>
                <v-row
                  no-gutters
                  class="pa-2"
                >
                  <v-col
                    :cols="12"
                    :md="6"
                    :xl="3"
                    class="pa-2"
                  >
                    <v-text-field
                      v-model="item.title"
                      outlined
                      hide-details
                      :label="$t('title')"
                      :placeholder="item.headline"
                      clearable
                      :disabled="isEditationDisabled"
                    />
                  </v-col>

                  <v-col
                    :cols="12"
                    :md="6"
                    :xl="3"
                    class="pa-2"
                  >
                    <v-text-field
                      v-model="item.slug"
                      outlined
                      hide-details
                      :label="$t('slug')"
                      clearable
                      :disabled="isEditationDisabled"
                    />
                  </v-col>

                  <v-col
                    :cols="12"
                    :md="6"
                    :xl="3"
                    class="pa-2"
                  >
                    <v-text-field
                      v-model="item.canonicalLink"
                      outlined
                      hide-details
                      :label="$t('canonical_link')"
                      clearable
                      :disabled="isEditationDisabled"
                    />
                  </v-col>

                  <v-col
                    :cols="12"
                    :md="6"
                    :xl="3"
                    class="pa-2"
                  >
                    <v-select
                      v-model="item.metaRobots"
                      outlined
                      hide-details
                      :label="$t('robots')"
                      :items="['noindex', 'index', 'follow', 'nofollow', 'noimageindex', 'none', 'noarchive', 'nosnippet']"
                      chips
                      clearable
                      multiple
                      :disabled="isEditationDisabled"
                    />
                  </v-col>

                  <v-col
                    :cols="12"
                    :xl="6"
                    class="pa-2"
                  >
                    <v-combobox
                      v-model="item.metaKeywords"
                      outlined
                      hide-details
                      :label="$t('keywords')"
                      chips
                      clearable
                      multiple
                      :disabled="isEditationDisabled"
                    />
                  </v-col>

                  <v-col
                    :cols="12"
                    :xl="6"
                    class="pa-2"
                  >
                    <v-text-field
                      v-model="item.metaDescription"
                      outlined
                      hide-details
                      :label="$t('description')"
                      clearable
                      :disabled="isEditationDisabled"
                    />
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <!-- security -->
    <v-card-acl
      v-model="article"
      :iri="article['@id']"
      :disabled="isEditationDisabled"
    ></v-card-acl>

    <!-- other article data -->
    <v-card
      outlined
      class="mt-4"
    >
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('sections') }}</v-toolbar-title>
      </v-toolbar>
      <v-row
        no-gutters
        class="pa-2"
      >
        <v-col
          :cols="12"
          :md="6"
          class="pa-2"
        >
          <v-autocomplete-section
            v-model="article.sections"
            :disabled="isEditationDisabled"
            outlined
            multiple
          />
        </v-col>

        <v-col
          :cols="12"
          :md="6"
          class="pa-2"
        >
          <v-autocomplete-user
            v-model="article.authors"
            :disabled="isEditationDisabled"
            :label="$t('authors')"
            :multiple="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <!-- attachments -->
    <v-row
      no-gutters
      class="pa-2 mx-n4 my-0"
    >
      <!-- article cover -->
      <v-col
        :cols="12"
        :md="6"
        class="pa-2"
      >
        <v-card
          outlined
          height="100%"
        >
          <v-card-cover-picker
            v-model="article.covers"
            :disabled="isEditationDisabled"
            @add="addArticleCover"
          />
        </v-card>
      </v-col>

      <!-- article parameters -->
      <v-col
        :cols="12"
        :md="6"
        class="pa-2 d-flex flex-column"
      >
        <v-card
          outlined
          class="flex-grow-1"
        >
          <v-toolbar flat>
            <v-toolbar-title>{{ $t('parameters') }}</v-toolbar-title>
            <v-spacer />

            <v-btn
              icon
              @click="addArticleParameter()"
              :disabled="isEditationDisabled"
            >
              <v-icon>fa-plus</v-icon>
            </v-btn>
          </v-toolbar>

          <v-simple-table
            fixed-header
            height="300px"
          >
            <template #default>
              <thead>
                <tr>
                  <th class="text-left">
                    {{ $t('parameter') }}
                  </th>
                  <th class="text-left">
                    {{ $t('value') }}
                  </th>
                  <th class="text-left" />
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(parameter, parameterIndex) in article.parameters"
                  :key="parameter.id"
                >
                  <td class="pa-2">
                    <v-text-field-custom
                      v-model="parameter.name"
                      outlined
                      dense
                      hide-details
                      :disabled="isEditationDisabled"
                    />
                  </td>
                  <td class="pa-2">
                    <v-text-field-custom
                      v-model="parameter.value"
                      outlined
                      dense
                      hide-details
                      :disabled="isEditationDisabled"
                    />
                  </td>
                  <td
                    class="pa-2"
                    width="1"
                  >
                    <v-btn
                      icon
                      :disabled="!$_hasTranslations || isEditationDisabled"
                      @click="removeArticleParameter(parameterIndex)"
                    >
                      <v-icon>fa-times</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </v-col>
    </v-row>

    <!-- article gallery -->

    <v-card
      outlined
      height="100%"
      class="mb-4"
    >
      <v-galleries
        :value="article.galleries"
        :disabled="isEditationDisabled"
      />
    </v-card>

    <!-- publication related stuff -->
    <v-card outlined>
      <v-card-published-at
        v-model="article"
        :disabled="isEditationDisabled"
        @save="saveArticle"
        @refresh-item="refreshItem"
      />
    </v-card>
  </div>
</template>

<script>
import Vue from 'vue'
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import VCardPublishedAt from '../components/v-card/VCardPublishedAt.vue'
import VEditorWysiwyg from '../components/v-editor/VEditorWysiwyg.vue'
import isNil from 'lodash/isNil'
import keys from 'lodash/keys'
import forEach from 'lodash/forEach'
import isEmpty from 'lodash/isEmpty'
import VAutocompleteUser from '../components/v-autocomplete/VAutocompleteUser.vue'
import VAutocompleteSection from '../components/v-autocomplete/VAutocompleteSection.vue'
import { hasTranslationMixin, removeTranslationMixin, collectionsMixin, dateTimeMixin, refreshItemMixin } from '../mixins'
import VCardCoverPicker from '../components/v-card/VCardCoverPicker.vue'
import VGalleries from '../components/VGalleries.vue'
import VCardAcl from '../components/v-card/VCardAcl.vue'
import { useCurrentUserStore } from '../stores/currentUserStore'
import { useArticleStore } from '../stores/articleStore'
import VTextFieldCustom from '../components/v-text-field/VTextFieldCustom.vue'

export default {
  name: 'ArticleEditation',
  components: {
    VTextFieldCustom,
    VCardAcl,
    LocalizationMenu,
    VCardPublishedAt,
    VAutocompleteUser,
    VAutocompleteSection,
    VCardCoverPicker,
    VGalleries,
    VEditorWysiwyg
  },
  mixins: [
    hasTranslationMixin,
    removeTranslationMixin,
    collectionsMixin,
    dateTimeMixin,
    refreshItemMixin
  ],
  data () {
    return {
      remove: {
        agree: null
      },
      loading: false,
      currentLocale: null,
      tabArticleCover: null,
      tabArticleGallery: null
    }
  },
  computed: {
    store () {
      return useArticleStore('/api/articles/' + window.location.pathname.split('/').pop());
    },
    article: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    admin: {
      get () {
        const currentUserStore = useCurrentUserStore()
        return currentUserStore.getAdmin
      },
      set (value) {
        const currentUserStore = useCurrentUserStore()
        currentUserStore.setAdmin(value)
      }
    },
    usedTranslationKeys () {
      return keys(this.article.translations)
    },
    /**
     * Check if the article editation is disabled
     * Generally only admin can edit article as soon as it has been published
     * @returns {boolean} - Returns true if the article editation is disabled, otherwise false
     */
    isEditationDisabled () {
      if (this.article.readOnly === true) {
        return true
      }

      const roles = this.admin.roles

      return !(roles.includes('ROLE_ADMIN') || this.article.status === 'draft')
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    /**
     * Adds a locale to the article translations.
     *
     * @param {Array<string>} locales - The locales to be added.
     *
     * @return {undefined} - This method does not return a value.
     */
    addLocale (locales) {
      if (isEmpty(this.article.translations)) {
        this.article.translations = {}
      }

      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale: locale,
          headline: null,
          lead: null,
          content: null
        }
        Vue.set(this.article.translations, locale, translations)
      })
    },
    /**
     * Removes a locale from the translations object.
     */
    removeLocale () {
      Vue.delete(this.article.translations, this.tab)
    },
    /**
     * Adds an article cover to the covers array of the article object.
     * If the covers array does not exist, it will be created.
     *
     * @returns {void}
     */
    addArticleCover () {
      if (isNil(this.article.covers)) {
        this.article.covers = []
      }

      this.article.covers.push({
        contentUrl: null
      })
    },
    /**
     * Saves the article.
     *
     * @return {Promise<void>} Resolved when the article is successfully saved.
     */
    async saveArticle () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('article_saved'))
    },
    /**
     * Adds a new parameter to the article.
     *
     * @method addArticleParameter
     * @memberof Object
     *
     * @return {void}
     */
    addArticleParameter () {
      if (isNil(this.article)) {
        this.article.parameters = []
      }

      this.article.parameters.push({
        id: null,
        name: null,
        value: null
      })
    },
    /**
     * Removes an article parameter at the given index.
     *
     * @param {number} index - The index of the parameter to be removed.
     * @return {void}
     */
    removeArticleParameter (index) {
      this.article.parameters.splice(index, 1)
    },
  }
}
</script>
