<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card
      outlined
      class="mt-4"
    >
      <v-row
        no-gutters
        class="pa-2"
      >
        <v-col :cols="12">
          <v-calendar-articles />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import VCalendarArticles from '../components/v-calendar/VCalendarArticles.vue'

export default {
  name: 'ArticleIndex',
  components: {
    VCalendarArticles
  },
  data () {
    return {

    }
  }
}
</script>
