<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-simple-table>
      <thead>
        <tr>
          <th width="40%">
            {{ $t('setting_key' ) }}
          </th>
          <th>{{ $t('setting_value' ) }}</th>
          <th width="1%">
            {{ $t('actions' ) }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="setting in settings"
          :key="'setting-' + setting.id"
        >
          <td class="pa-4">
            {{ $t(`settings_${setting.key}`) }}
          </td>
          <td class="pa-4">
            <v-text-field-custom v-model="setting.value" />
          </td>
          <td class="pa-4">
            <v-btn-save-setting :value="setting" />
          </td>
        </tr>
      </tbody>
    </v-simple-table>
  </div>
</template>

<script>
import { useSettingsStore } from '../stores/settingsStore'
import VBtnSaveSetting from '../components/v-btn/VBtnSaveSetting.vue'
import VTextFieldCustom from '../components/v-text-field/VTextFieldCustom.vue'

export default {
  name: 'ConfigIndex',
  components: {
    VTextFieldCustom,
    VBtnSaveSetting
  },
  data () {
    return {
      loading: null
    }
  },
  computed: {
    settings: {
      get () {
        const store = useSettingsStore()
        return store.settings
      },
      set (val) {
        const store = useSettingsStore()
        store.settings = val
      }
    }
  },
  mounted () {
    const store = useSettingsStore()
    store.readCollection()
  }
}
</script>
