<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-row
      no-gutters
      class="mx-n2 mt-n2"
    >
      <v-col
        :cols="12"
        :md="4"
        class="pa-2"
      >
        <v-card-current-user />
      </v-col>

      <v-col
        :cols="12"
        :md="4"
        class="pa-2"
      >
        <widget-online-users />
      </v-col>

      <v-col
        :cols="12"
        :md="4"
        class="pa-2"
      >
        <widget-update />
      </v-col>
    </v-row>

    <v-row
      no-gutters
      class="mx-n2"
    >
      <v-col
        :cols="12"
        class="pa-2"
      >
        <v-card
          outlined
          class=""
        >
          <v-toolbar flat>
            <v-toolbar-title>
              <span v-text="$t('log')" />
            </v-toolbar-title>
          </v-toolbar>

          <v-data-table-log />
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import VCardCurrentUser from '../components/v-card/VCardCurrentUser.vue'
import WidgetOnlineUsers from '../components/v-card/WidgetOnlineUsers.vue'
import WidgetUpdate from '../components/v-card/WidgetUpdate.vue'
import VDataTableLog from '../components/v-data-table/VDataTableLog.vue'

export default {
  name: 'DashboardIndex',
  components: {
    VDataTableLog,
    WidgetUpdate,
    VCardCurrentUser,
    WidgetOnlineUsers,
  },
  data: function () {
    return {
      dialog: false,
      drawer: null,
      loading: {
        logs: false
      }
    }
  }

}
</script>
