<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="event">
    <v-card outlined>
      <v-toolbar flat>
        <v-tabs
          v-model="tab"
          align-with-title
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            v-for="(item, locale) in event.translations"
            :key="item.locale"
            :href="'#' + item.locale"
          >
            <v-badge
              color="error"
              content="!"
              :value="!hasTranslation(item.locale)"
            >
              <span v-text="item.locale" />
            </v-badge>
          </v-tab>
        </v-tabs>
        <v-spacer />

        <v-btn
          icon
          :disabled="!$_hasTranslations"
          @click="removeEventLocale"
        >
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu
          :key="usedTranslationKeys.join('')"
          :restricted-locales="usedTranslationKeys"
          @selected="addEventLocale"
        />
      </v-toolbar>

      <v-row
        no-gutters
        class="pa-2"
      >
        <v-col
          :cols="12"
          :sm="6"
          :xl="3"
          class="pa-2"
        >
          <v-date-time-pickers
            v-model="event.startAt"
            :label-date="$t('start_at_date')"
            :label-time="$t('start_at_time')"
            :show-time-picker="!event.allDay"
          />
        </v-col>

        <v-col
          v-if="!event.allDay"
          :cols="12"
          :sm="6"
          :xl="3"
          class="pa-2"
        >
          <v-date-time-pickers
            v-model="event.endAt"
            :label-date="$t('end_at_date')"
            :label-time="$t('end_at_time')"
          />
        </v-col>

        <v-col class="flex-grow-0 pa-2">
          <v-switch
            v-model="event.allDay"
            :label="$t('all_day_event')"
          />
        </v-col>
      </v-row>

      <v-tabs-items v-model="tab">
        <v-tab-item
          v-for="(item, locale) in event.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <v-text-field
            v-model="item.headline"
            outlined
            :label="$t('headline')"
            class="pa-4 mb-n8"
          />

          <v-subheader
            class="pa-4"
            v-text="$t('lead')"
          />
          <v-editor-wysiwyg
            v-model="item.lead"
            class="mx-4"
          />

          <v-subheader
            class="pa-4 mt-4"
            v-text="$t('content')"
          />
          <v-editor-wysiwyg
            v-model="item.content"
            class="mx-4 mb-4"
          />
        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <v-card
      outlined
      class="my-4"
    >
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('categories') }}</v-toolbar-title>
      </v-toolbar>

      <v-row
        class="pa-4"
      >
        <v-col
          :cols="12"
          :sm="6"
          :xl="4"
          class="pa-4"
        >
          <v-autocomplete-event-type
            v-model="event.eventTypes"
            :label="$t('event_types')"
            outlined
          />
        </v-col>

        <v-col
          :cols="12"
          :sm="6"
          :xl="2"
          class="pa-4"
        >
          <v-text-field-color-picker
            v-model="event.color"
            outlined
            :label="$t('color')"
          />
        </v-col>
      </v-row>
    </v-card>

    <!-- attachments -->
    <v-row
      no-gutters
      class="pa-2 mx-n4 my-0"
    >
      <!-- article cover -->
      <v-col
        :cols="12"
        :md="6"
        :lg="4"
        class="pa-2"
      >
        <v-card
          outlined
          height="100%"
        >
          <v-card-cover-picker
            v-model="event.covers"
            @add="addEventCover"
          />
        </v-card>
      </v-col>

      <!-- article gallery -->
      <v-col
        :cols="12"
        :md="6"
        :lg="8"
        class="pa-2"
      >
        <v-card
          outlined
          height="100%"
        >
          <v-galleries
            :value="event.galleries"
          />
        </v-card>
      </v-col>
    </v-row>

    <v-card
      outlined
      class="my-4"
    >
      <v-expansion-panels class="filter-expansion">
        <v-expansion-panel>
          <v-expansion-panel-header>
            <v-row no-gutters>
              <v-col
                :cols="12"
                class="mx-n2"
              >
                <v-toolbar-title>{{ $t('geography_points') }}</v-toolbar-title>
              </v-col>
            </v-row>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-map
              :center="mapCenter"
              :markers="event.geographyPoints"
            />
            <div class="pa-4 pb-0 text-right">
              <v-btn
                color="success"
                depressed
                class="d-inline-flex"
                @click="addMapPointer"
              >
                <v-icon class="d-flex d-sm-none">
                  add
                </v-icon>
                <v-icon
                  class="d-none d-sm-flex"
                  left
                >
                  add
                </v-icon>
                <span
                  class="d-none d-sm-flex"
                  v-text="$t('create')"
                />
              </v-btn>
            </div>
            <v-row
              no-gutters
              class="pa-2"
            >
              <v-col
                v-for="(point, index) in event.geographyPoints"
                :key="'point-' + index"
                :cols="12"
                :sm="6"
                :md="4"
                :lg="3"
                :xl="2"
                class="pa-2"
              >
                <v-card outlined>
                  <v-row
                    no-gutters
                    class="pa-2"
                  >
                    <v-col
                      :cols="12"
                      class="pa-2"
                    >
                      <v-text-field
                        v-model="point.address"
                        hide-details
                        outlined
                        :label="$t('address')"
                      />
                    </v-col>
                    <v-col
                      :cols="6"
                      class="pa-2"
                    >
                      <v-text-field
                        v-model="point.point.latitude"
                        hide-details
                        outlined
                        :label="$t('latitude')"
                      />
                    </v-col>
                    <v-col
                      :cols="6"
                      class="pa-2"
                    >
                      <v-text-field
                        v-model="point.point.longitude"
                        hide-details
                        outlined
                        :label="$t('longitude')"
                      />
                    </v-col>
                  </v-row>
                  <v-card-actions>
                    <v-btn
                      text
                      icon
                      depressed
                      color="primary"
                      @click="setMapCenter(index)"
                    >
                      <v-icon>filter_center_focus</v-icon>
                    </v-btn>
                    <v-btn
                      text
                      icon
                      depressed
                      color="primary"
                      @click="geoCodeAddress(index)"
                    >
                      <v-icon>map</v-icon>
                    </v-btn>
                    <v-btn
                      text
                      icon
                      depressed
                      color="error"
                      @click="removeMapPointer(index)"
                    >
                      <v-icon>remove_circle_outline</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card>

    <!-- security -->
    <v-card-acl
      v-model="event"
      :iri="event['@id']"
      :disabled="false"
    />

    <v-card-authors v-model="event"></v-card-authors>

    <v-card
      outlined
      class="mt-4"
    >
      <v-row class="no-gutters">
        <v-col :cols="12">
          <v-card-published-at
            v-model="event"
            @save="saveEvent"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import VEditorWysiwyg from '../components/v-editor/VEditorWysiwyg.vue'
import VCardPublishedAt from '../components/v-card/VCardPublishedAt.vue'
import VDateTimePickers from '../components/v-date/VDateTimePickers.vue'
import VAutocompleteUser from '../components/v-autocomplete/VAutocompleteUser.vue'
import VMap from '../components/VMap.vue'
import keys from 'lodash/keys'
import size from 'lodash/size'
import isEmpty from 'lodash/isEmpty'
import forEach from 'lodash/forEach'
import Vue from 'vue'
import has from 'lodash/has'
import isNil from 'lodash/isNil'
import { dateTimeMixin, refreshItemMixin } from '../mixins'
import VCardAcl from '../components/v-card/VCardAcl.vue'
import VTextFieldColorPicker from '../components/v-text-field/VTextFieldColorPicker.vue'
import VAutocompleteEventType from '../components/v-autocomplete/VAutocompleteEventType.vue'
import VCardCoverPicker from '../components/v-card/VCardCoverPicker.vue'
import VGalleries from '../components/VGalleries.vue'
import { DateTime } from 'luxon'
import VCardAuthors from '../components/v-card/VCardAuthors.vue'
import { useEventStore } from '../stores/eventStore'

export default {
  name: 'EventEditation',
  components: {
    VCardAuthors,
    VAutocompleteEventType,
    LocalizationMenu,
    VEditorWysiwyg,
    VCardPublishedAt,
    VDateTimePickers,
    VAutocompleteUser,
    VMap,
    VCardAcl,
    VTextFieldColorPicker,
    VCardCoverPicker,
    VGalleries
  },
  mixins: [
    dateTimeMixin,
    refreshItemMixin
  ],
  data () {
    return {
      original: {},
      remove: {
        agree: null
      },
      loading: {
        event: false,
        cover: false
      },
      tab: null,
      tabEventCover: null,
      menu: {
        startAtTime: false,
        startAtDate: false,
        endAtTime: false,
        endAtDate: false
      },
      zoom: 8,
      mapOptions: {
        scrollWheelZoom: false
      },
      mapCenter: { lng: 0, lat: 0 },
      fileBrowserOpened: false
    }
  },
  computed: {
    store () {
      return useEventStore('/api/events/' + window.location.pathname.split('/').pop());
    },
    event: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    usedTranslationKeys: function () {
      return keys(this.event.translations)
    },
    $_hasTranslations () {
      return size(this.event.translations) > 0
    },
    startAtDate: {
      get () {
        const dt = DateTime.fromISO(this.event.startAt)
        return dt.invalid ? null : dt.toFormat('yyyy-MM-dd')
      },
      set (value) {
        if (!value) {
          this.event.startAt = null
        }

        const newDate = DateTime.fromFormat(value, 'yyyy-MM-dd', { locale: document.documentElement.lang })
        if (!newDate.invalid) {
          const currentDate = DateTime.fromISO(this.event.startAt)
          const hour = currentDate.invalid ? 0 : currentDate.hour
          const minute = currentDate.invalid ? 0 : currentDate.minute
          this.event.startAt = DateTime.fromObject({ year: newDate.year, month: newDate.month, day: newDate.day, hour: hour, minute: minute, second: 0 })
        }
      }
    },
    startAtTime: {
      get () {
        const dt = DateTime.fromISO(this.event.startAt)
        return dt.invalid ? null : dt.setLocale(document.documentElement.lang).toFormat('HH:mm')
      },
      set (value) {
        let time = value || '00:00'
        let currentDate = DateTime.fromISO(this.event.startAt)
        if (currentDate.invalid) {
          currentDate = new DateTime()
        }

        time = time.split(':')
        this.event.startAt = DateTime.fromObject({ year: currentDate.year, month: currentDate.month, day: currentDate.day, hour: time[0], minute: time[1], second: 0 })
      }
    },
    endAtDate: {
      get () {
        const dt = DateTime.fromISO(this.event.endAt)
        return dt.invalid ? null : dt.toFormat('yyyy-MM-dd')
      },
      set (value) {
        if (!value) {
          this.event.endAt = null
        }

        const newDate = DateTime.fromFormat(value, 'yyyy-MM-dd', { locale: document.documentElement.lang })
        if (!newDate.invalid) {
          const currentDate = DateTime.fromISO(this.event.endAt)
          const hour = currentDate.invalid ? 0 : currentDate.hour
          const minute = currentDate.invalid ? 0 : currentDate.minute
          this.event.endAt = DateTime.fromObject({ year: newDate.year, month: newDate.month, day: newDate.day, hour: hour, minute: minute, second: 0 })
        }
      }
    },
    endAtTime: {
      get () {
        const dt = DateTime.fromISO(this.event.endAt)
        return dt.invalid ? null : dt.setLocale(document.documentElement.lang).toFormat('HH:mm')
      },
      set (value) {
        let time = value || '00:00'
        let currentDate = DateTime.fromISO(this.event.endAt)
        if (currentDate.invalid) {
          currentDate = new DateTime()
        }

        time = time.split(':')
        this.event.endAt = DateTime.fromObject({ year: currentDate.year, month: currentDate.month, day: currentDate.day, hour: time[0], minute: time[1], second: 0 })
      }
    }
  },
  watch: {
    event: {
      immediate: true,
      deep: true,
      handler () {
        this.mapCenter = this.mapPosition()
      }
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    /**
     * Persist event
     * @returns {Promise<any>}
     */
    async saveEvent () {
      this.loading.event = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('event saved'))
    },
    addEventLocale (locales) {
      if (isEmpty(this.event.translations)) {
        this.event.translations = {}
      }

      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale: locale,
          headline: null,
          lead: null,
          content: null
        }
        Vue.set(this.event.translations, locale, translations)
      })
    },
    removeEventLocale () {
      Vue.delete(this.event.translations, this.tab)
    },
    hasTranslation (locale) {
      return has(this.event.translations, locale + '.headline') && !isNil(this.event.translations[locale].headline) && this.event.translations[locale].headline !== ''
    },
    addMapPointer () {
      const point = {
        point: {
          latitude: null,
          longitude: null
        }
      }
      this.event.geographyPoints.push(point)
    },
    removeMapPointer (index) {
      this.event.geographyPoints.splice(index, 1)
    },
    getPosition (point) {
      if (isNil(point.point)) {
        return { lng: 0, lat: 0 }
      }

      const lon = point.point.longitude
      const lat = point.point.latitude

      if (isNil(lon) || isNil(lat)) {
        return { lng: 0, lat: 0 }
      }

      return { lng: lon, lat: lat }
    },
    /**
     * Return the center position for map based of the given GeographyPoint pointer.
     * @param {Number|null} index index of the GeographyPoint object attached to the Event.
     * @returns Object
     */
    mapPosition (index = null) {
      if (null === this.event) {
        return  { lng: 0, lat: 0 }
      }

      index = isNil(index) ? size(this.event.geographyPoints) - 1 : index
      return size(this.event.geographyPoints) < 1 ? { lng: 0, lat: 0 } : this.getPosition(this.event.geographyPoints[index])
    },
    /**
     * Set the center of the map to the coordinates based on the GeographyPoint pointer index
     * @param {Number} index of the pointer
     */
    setMapCenter (index) {
      this.mapCenter = this.mapPosition(index)
    },
    /**
     * Geocode address for the given GeopraghyPoint pointer index
     * @param {Number} index
     */
    geoCodeAddress (index) {

    },
    addEventCover () {
      if (isNil(this.event.covers)) {
        this.event.covers = []
      }

      this.event.covers.push({
        contentUrl: null
      })
    }
  }
}
</script>
