<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <v-tabs v-model="tab">
        <v-tab>{{ $t('calendar') }}</v-tab>
        <v-tab>{{ $t('table') }}</v-tab>
      </v-tabs>
    </v-card>

    <v-tabs-items
      v-model="tab"
      class="mt-4"
      style="background: none !important;"
    >
      <v-tab-item>
        <v-event-calendar />
      </v-tab-item>

      <v-tab-item>
        <v-card outlined>
          <filter-events
            :loading="loading"
          />
        </v-card>

        <v-card
          outlined
          class="mt-4"
        >
          <v-data-table-server
            store-id="/api/events"
            :headers="headers"
          >
            <template #item.start_at="{ item }">
              <div>
                <v-date-time
                  :value="item.startAt"
                  :time="false"
                />
              </div>
            </template>

            <template #item.end_at="{ item }">
              <div>
                <v-date-time
                  :value="item.endAt"
                  :time="false"
                />
              </div>
            </template>

            <template #item.headline="{ item }">
              <v-item-name
                :value="item"
                path="headline"
              />
            </template>

            <template #item.created_at="{ item }">
              <div>
                <v-date-time
                  :value="item.createdAt"
                  :time="false"
                />
              </div>
            </template>

            <template #item.published_at="{ item }">
              <div>
                <v-date-time
                  :value="item.publishedAt"
                  :time="false"
                />
              </div>
            </template>

            <template #item.authors="{ item }">
              <div>
                <v-row no-gutters>
                  <v-col
                    v-for="(author, index) in item.authors"
                    :key="'author-' + index"
                    class="d-flex align-center flex-grow-0 ma-1"
                  >
                    <v-user
                      :user="author"
                    />
                  </v-col>
                </v-row>
              </div>
            </template>

            <template #item.id="{ item }">
              <div>
                <span v-text="item.id" />
              </div>
            </template>

            <template #item.status="{ item }">
              <div>
                <v-icon
                  v-if="item.status === 'published'"
                  class="icon--enabled"
                >
                  check
                </v-icon>
                <v-icon
                  v-if="item.status !== 'published'"
                  class="icon--disabled"
                >
                  clear
                </v-icon>
              </div>
            </template>
          </v-data-table-server>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import FilterEvents from '../components/v-filter/FilterEvents.vue'
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import isNil from 'lodash/isNil'
import has from 'lodash/has'
import get from 'lodash/get'
import VDateTime from '../components/v-date/VDateTime.vue'
import isArray from 'lodash/isArray'
import orderBy from 'lodash/orderBy'
import VUser from '../components/v-menu/VUser.vue'
import VEventCalendar from '../components/v-calendar/VEventCalendar.vue'
import VItemName from '../components/VItemName.vue'
import { useDataTableStore } from '../stores/dataTableStore'

export default {
  name: 'EventIndex',
  components: {
    FilterEvents,
    VDataTableServer,
    VDateTime,
    VUser,
    VEventCalendar,
    VItemName
  },
  data () {
    return {
      loading: false,
      tab: null
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/events')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('start_at'),
          align: 'left',
          sortable: false,
          value: 'start_at'
        },
        {
          text: this.$t('end_at'),
          align: 'left',
          sortable: false,
          value: 'end_at'
        },
        {
          text: this.$t('headline'),
          align: 'left',
          sortable: false,
          value: 'headline'
        },
        {
          text: this.$t('created_at'),
          align: 'left',
          sortable: true,
          value: 'created_at'
        },
        {
          text: this.$t('published_at_date'),
          align: 'left',
          sortable: true,
          value: 'published_at'
        },
        {
          text: this.$t('authors'),
          align: 'left',
          sortable: false,
          value: 'authors'
        },
        {
          text: this.$t('enabled'),
          align: 'left',
          sortable: true,
          value: 'status',
          width: '100px'
        }
      ]
    }
  },
  methods: {
    orderBy (a, b, c) {
      return orderBy(a, b, c)
    },
    eventName (event) {
      const locale = document.documentElement.lang
      if (!isNil(locale) && has(event, 'translations.' + locale + '.headline')) {
        if (isNil(get(event, 'translations.' + locale + '.headline'))) {
          return this.$t('event')
        } else {
          return get(event, 'translations.' + locale + '.headline')
        }
        return get(event, 'translations.' + locale + '.headline')
      }

      return this.$t('event')
    },
    isAvatarHighLighted (author) {
      return !!(isArray(this.store.getFilter('authors')) && this.store.getFilter('authors').indexOf(author.id) >= 0)
    }
  }
}
</script>
