<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-galleries :loading="loading" />
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/galleries"
        :headers="headers"
      >
        <template #item.id="{ item }">
          <div>
            <span v-text="item.id" />
          </div>
        </template>

        <template #item.name="{ item }">
          <v-item-name
            :value="item"
            path="name"
          />
        </template>

        <template #item.preview="{ item }">
          <div>
            <v-img
              v-if="item.galleryMediaObjects[0]"
              :src="$_imageFilter(item.galleryMediaObjects[0].mediaObject.contentUrl, 'admin_preview')"
              :max-height="50"
              :max-width="50"
              class="my-1"
            >
              <template #placeholder>
                <v-row class="justify-center">
                  <v-col class="flex-grow-0">
                    <v-progress-circular
                      indeterminate
                      color="primary"
                    />
                  </v-col>
                </v-row>
              </template>
            </v-img>
          </div>
        </template>

        <template
          #item.status="{ item }"
          :class="{'row--disabled': articles.item.status !== 'published'}"
        >
          <div>
            <v-icon
              v-if="item.status === 'published'"
              class="icon--enabled"
            >
              check
            </v-icon>
            <v-icon
              v-if="item.status !== 'published'"
              class="icon--disabled"
            >
              clear
            </v-icon>
          </div>
        </template>

        <template #item.created_at="{ item }">
          <div>
            <v-date-time
              :value="item.createdAt"
              :time="false"
            />
          </div>
        </template>

        <template #item.published_at="{ item }">
          <div>
            <v-date-time
              :value="item.publishedAt"
              :time="false"
            />
          </div>
        </template>
      </v-data-table-server>
    </v-card>

    <v-card
      outlined
      :loading="loading.tree"
      class="mt-4"
    >
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('gallery_tree') }}</v-toolbar-title>
        <v-spacer />
      </v-toolbar>

      <v-tree-draggable
        v-model="tree"
        @move="move"
        @append="append"
      />
    </v-card>
  </div>
</template>

<script>
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import VTreeDraggable from '../components/VTreeDraggable.vue'
import VDateTime from '../components/v-date/VDateTime.vue'
import Axios from '../composables/ajax'
import { mediaMixin } from '../mixins'
import VItemName from '../components/VItemName.vue'
import { useDataTableStore } from '../stores/dataTableStore'
import FilterGalleries from '../components/v-filter/FilterGalleries.vue'

export default {
  name: 'GalleryIndex',
  components: {
    VDataTableServer,
    VTreeDraggable,
    VDateTime,
    FilterGalleries,
    VItemName
  },
  mixins: [
    mediaMixin
  ],
  data () {
    return {
      tree: [],
      loading: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/galleries')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('gallery_name'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$t('created_at'),
          align: 'left',
          sortable: true,
          value: 'created_at'
        },
        {
          text: this.$t('published_at_date'),
          align: 'left',
          sortable: true,
          value: 'published_at'
        },
        {
          text: this.$t('enabled'),
          align: 'left',
          sortable: true,
          value: 'status',
          width: '1px'
        },
        {
          text: this.$t('preview'),
          align: 'left',
          sortable: false,
          value: 'preview',
          width: '150px'
        }
      ]
    }
  },
  created () {
    Axios.get('/api/galleries/tree').then((response) => {
      this.tree = response.data
    })
  },
  methods: {
    async move (e) {
      try {
        await this.store.moveItemTree('/api/galleries/tree', e)
      } catch (e) {
        console.error(e)
      }
    },
    async append (e) {
      try {
        const result = await this.store.appendItem('/api/galleries/tree', {parent: e.id})
        window.location.href = '/admin/galleries/' + result.data.id
      } catch (e) {
        console.error(e)
      }
    }
  }
}
</script>
