<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="gallery">
    <v-card outlined>
      <v-alert
        v-if="modified"
        icon="info"
        prominent
        text
        tile
        type="info"
      >
        <span v-text="$t('gallery_modified_alert')" />
      </v-alert>
      <v-toolbar flat>
        <v-tabs
          v-model="tabs.gallery"
          align-with-title
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            v-for="(item, locale) in gallery.translations"
            :key="item.locale"
            :href="'#' + item.locale"
          >
            <v-badge
              color="error"
              content="!"
              :value="!hasTranslation(item.locale)"
            >
              <span v-text="item.locale" />
            </v-badge>
          </v-tab>
        </v-tabs>
        <v-spacer />

        <v-btn
          icon
          :disabled="!$_hasTranslations"
          @click="removeGalleryLocale"
        >
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu
          :key="usedTranslationKeys.join('')"
          :restricted-locales="usedTranslationKeys"
          @selected="addGalleryLocale"
        />
      </v-toolbar>

      <v-tabs-items
        v-model="tabs.gallery"
        class="pa-2"
      >
        <v-tab-item
          v-for="(item, locale) in gallery.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <v-text-field
            v-model="item.name"
            outlined
            :label="$t('name')"
            class="pa-2 mb-n8"
          />

          <v-subheader
            class="pa-2"
            v-text="$t('description')"
          />
          <v-editor-wysiwyg
            v-model="item.description"
            class="mx-2"
          />

          <v-card
            outlined
            class="mx-2 mt-4 mb-0"
          >
            <v-expansion-panels class="filter-expansion">
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-row no-gutters>
                    <v-col
                      :cols="12"
                      class="mx-n2"
                    >
                      <v-toolbar-title>{{ $t('seo') }}</v-toolbar-title>
                    </v-col>
                  </v-row>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row
                    no-gutters
                    class="pa-2"
                  >
                    <v-col
                      :cols="12"
                      :md="6"
                      :xl="3"
                      class="pa-2"
                    >
                      <v-text-field
                        v-model="item.title"
                        outlined
                        hide-details
                        :label="$t('title')"
                        :placeholder="item.headline"
                        clearable
                        :disabled="isEditationDisabled"
                      />
                    </v-col>

                    <v-col
                      :cols="12"
                      :md="6"
                      :xl="3"
                      class="pa-2"
                    >
                      <v-text-field
                        v-model="item.slug"
                        outlined
                        hide-details
                        :label="$t('slug')"
                        clearable
                        :disabled="isEditationDisabled"
                      />
                    </v-col>

                    <v-col
                      :cols="12"
                      :md="6"
                      :xl="3"
                      class="pa-2"
                    >
                      <v-text-field
                        v-model="item.canonicalLink"
                        outlined
                        hide-details
                        :label="$t('canonical_link')"
                        clearable
                        :disabled="isEditationDisabled"
                      />
                    </v-col>

                    <v-col
                      :cols="12"
                      :md="6"
                      :xl="3"
                      class="pa-2"
                    >
                      <v-select
                        v-model="item.metaRobots"
                        outlined
                        hide-details
                        :label="$t('robots')"
                        :items="['noindex', 'index', 'follow', 'nofollow', 'noimageindex', 'none', 'noarchive', 'nosnippet']"
                        chips
                        clearable
                        multiple
                        :disabled="isEditationDisabled"
                      />
                    </v-col>

                    <v-col
                      :cols="12"
                      :xl="6"
                      class="pa-2"
                    >
                      <v-combobox
                        v-model="item.metaKeywords"
                        outlined
                        hide-details
                        :label="$t('keywords')"
                        chips
                        clearable
                        multiple
                        :disabled="isEditationDisabled"
                      />
                    </v-col>

                    <v-col
                      :cols="12"
                      :xl="6"
                      class="pa-2"
                    >
                      <v-text-field
                        v-model="item.metaDescription"
                        outlined
                        hide-details
                        :label="$t('description')"
                        clearable
                        :disabled="isEditationDisabled"
                      />
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-card>
        </v-tab-item>
      </v-tabs-items>

      <v-card
        outlined
        class="ma-4 mt-2"
      >
        <v-row
          no-gutters
          class="justify-space-between px-4 py-1"
        >
          <v-col class="flex-grow-0">
            <v-toolbar-title>
              <span v-text="$t('media')" />
              <div class="text-caption">
                <span v-text="size(gallery.galleryMediaObjects)" /> <span v-text="$t('pcs')" />, <span v-text="prettySize(gallerySize)" />
              </div>
            </v-toolbar-title>
          </v-col>
          <v-col>
            <v-row
              no-gutters
              class="justify-end mt-2"
            >
              <v-col
                class="flex-grow-0 mt-n3"
              >
                <v-switch
                  v-model="showExtra"
                  dense
                  hide-details
                  class="mr-4"
                  :label="$t('details')"
                />
              </v-col>
              <v-col
                class="flex-grow-0 ml-1"
              >
                <v-btn
                  color="primary"
                  depressed
                  @click.stop="filebrowser = true"
                >
                  <v-icon class="d-flex d-sm-none">
                    library_add
                  </v-icon>
                  <v-icon
                    class="d-none d-sm-flex"
                    left
                  >
                    library_add
                  </v-icon>
                  <span
                    class="d-none d-sm-flex"
                    v-text="$t('browse')"
                  />
                </v-btn>
              </v-col>
              <v-col class="flex-grow-0 ml-1">
                <modal-file-browser
                  v-model="filebrowser"
                  @close="filebrowser = false"
                  @use="addToGallery"
                />

                <v-btn
                  color="success"
                  depressed
                  @click="$refs.galleryUpload.click()"
                >
                  <v-icon class="d-flex d-sm-none">
                    add
                  </v-icon>
                  <v-icon
                    class="d-none d-sm-flex"
                    left
                  >
                    add
                  </v-icon>
                  <span
                    class="d-none d-sm-flex"
                    v-text="$t('add')"
                  />
                </v-btn>
                <input
                  v-show="false"
                  ref="galleryUpload"
                  type="file"
                  multiple
                  @change="galleryUpload"
                >
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <draggable
          id="gallery"
          v-model="gallery.galleryMediaObjects"
          tag="v-layout"
          :component-data="{attrs: {wrap: true}}"
          class="pa-2"
          @update="updatePriority"
        >
          <v-col
            v-for="(mediaObject, index) in gallery.galleryMediaObjects"
            :key="mediaObject.id"
            class="d-flex child-flex pa-2"
            :cols="12"
            :sm="6"
            :md="3"
            :lg="2"
          >
            <media-item-preview
              v-if="!mediaObject.error"
              v-model="gallery.galleryMediaObjects[index].mediaObject"
              :show-extra="showExtra"
              :index="index"
              @remove="removeMedia(index)"
              @preview="preview"
            >
              <!-- preview button -->
              <template #preview>
                <v-col
                  v-if="$_mediaType(mediaObject) === 'image' || $_mediaType(mediaObject) === 'svg' || $_mediaType(mediaObject) === 'video'"
                  class="align-self-center flex-grow-0 pa-1"
                >
                  <v-btn
                    x-small
                    fab
                    @click="preview(mediaObject.id)"
                  >
                    <v-icon>zoom_in</v-icon>
                  </v-btn>
                </v-col>
              </template>

              <!-- edit media in the gallery -->
              <template #extra>
                <v-col
                  class="align-self-center flex-grow-0 pa-1"
                >
                  <v-dialog-gallery-media-object
                    v-model="gallery.galleryMediaObjects[index]"
                  />
                </v-col>
              </template>

              <!-- remove media from the gallery -->
              <template #remove>
                <div class="d-flex justify-center align-center pa-1">
                  <v-btn
                    x-small
                    fab
                    color="error"
                    @click="removeMedia(mediaObject.id)"
                  >
                    <v-icon>fa-light fa-fw fa-xmark</v-icon>
                  </v-btn>
                </div>
              </template>
            </media-item-preview>

            <v-row
              v-if="mediaObject.error"
              no-gutters
              class="align-center justify-center red square"
            >
              <v-col
                v-if="mediaObject.error"
                class="flex-grow-0"
              >
                <v-tooltip bottom>
                  <template #activator="{ on }">
                    <v-icon
                      class="white--text"
                      v-on="on"
                    >
                      error_outline
                    </v-icon>
                  </template>
                  <span v-text="mediaObject.error.detail" />
                </v-tooltip>
              </v-col>
            </v-row>
          </v-col>
        </draggable>
      </v-card>
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-row no-gutters>
        <v-col :cols="12">
          <v-card-published-at
            v-model="gallery"
            @save="saveGallery"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import VEditorWysiwyg from '../components/v-editor/VEditorWysiwyg.vue'
import VCardPublishedAt from '../components/v-card/VCardPublishedAt.vue'
import MediaItemPreview from '../components/v-media/MediaItemPreview.vue'
import ModalFileBrowser from '../components/v-dialog/ModalFileBrowser.vue'
import keys from 'lodash/keys'
import size from 'lodash/size'
import sumBy from 'lodash/sumBy'
import has from 'lodash/has'
import cloneDeep from 'lodash/cloneDeep'
import forEach from 'lodash/forEach'
import findIndex from 'lodash/findIndex'
import isNil from 'lodash/isNil'
import isEmpty from 'lodash/isEmpty'
import set from 'lodash/set'
import omitBy from 'lodash/omitBy'
import { handleTranslations } from '../utils/translations_helper'
import Vue from 'vue'
import map from 'lodash/map'
import Axios from '../composables/ajax'
import { convertToIri } from '../utils/iri_converter'
import Draggable from 'vuedraggable'
import { collectionsMixin, mediaObjectMixin, refreshItemMixin, securityMixin } from '../mixins'
import prettysize from 'prettysize'
import GLightbox from 'glightbox'
import VDialogGalleryMediaObject from '../components/v-dialog/VDialogGalleryMediaObject.vue'
import { useGalleryStore } from '../stores/galleryStore'

export default {
  name: 'GalleryEditation',
  components: {
    VDialogGalleryMediaObject,
    LocalizationMenu,
    VEditorWysiwyg,
    Draggable,
    VCardPublishedAt,
    MediaItemPreview,
    ModalFileBrowser
  },
  mixins: [
    collectionsMixin,
    mediaObjectMixin,
    securityMixin,
    refreshItemMixin
  ],
  data () {
    return {
      content: null,
      original: null,
      modified: false,
      loading: {
        gallery: false
      },
      tabs: {
        gallery: null,
        mediaObjects: {}
      },
      modal: {
        mediaObjectModal: {}
      },
      showExtra: true,
      lightbox: null,
      filebrowser: false
    }
  },
  computed: {
    store () {
      return useGalleryStore('/api/galleries/' + window.location.pathname.split('/').pop())
    },
    gallery: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    usedTranslationKeys () {
      return keys(this.gallery.translations)
    },
    $_hasTranslations () {
      return size(this.gallery.translations) > 0
    },
    /**
     * Check if the gallery editation is disabled
     * Generally only admin can edit gallery as soon as it has been published
     * @returns {boolean}
     */
    isEditationDisabled () {
      if (this.gallery.readOnly === true) {
        return true
      }

      if (this.gallery.status === 'draft') {
        return false
      }

      if (this.isGranted('ROLE_ADMIN')) {
        return false
      }

      return true
    },
    gallerySize () {
      return sumBy(this.gallery.galleryMediaObjects, (o) => {
        if (has(o.mediaObject.metadata, 'filesize')) {
          return o.mediaObject.metadata.filesize
        }
      })
    }
  },
  watch: {
    /**
     * We use watcher here, because data is loaded asynchronously from store, and will be not
     * triggered on mounted/created hook, since gallery is empty at that moment.
     */
    gallery: function (val) {
      if (val) {
        this.fillMediaObjectTranslations()
        this.fillGalleryMediaObjectTranslations()
      }
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    /**
     * Open gallery with item of specific id
     * @param {Number} id Preview the gallery with item id
     */
    preview (id) {
      const elements = []
      forEach(this.gallery.galleryMediaObjects, ({ mediaObject }) => {
        if (!mediaObject.mime) {
          return
        }

        if (mediaObject.mime.match(/^image\//)) {
          elements.push({
            id: mediaObject.id,
            href: mediaObject.contentUrl,
            type: 'image'
          })
        }

        if (mediaObject.mime.match(/^video\/mp4/)) {
          elements.push({
            id: mediaObject.id,
            href: mediaObject.contentUrl,
            type: 'video',
            source: 'local'
          })
        }
      })

      const index = findIndex(elements, (o) => { return o.id === id })
      if (index < 0) {
        return
      }

      const lightbox = GLightbox({
        startAt: index,
        elements
      })

      lightbox.open()
    },
    fillGalleryMediaObjectTranslations () {
      forEach(this.gallery.galleryMediaObjects, (galleryMediaObject, key) => {
        if (isNil(galleryMediaObject.translations) || isEmpty(galleryMediaObject.translations)) {
          galleryMediaObject.translations = {}
        }

        forEach(this.gallery.translations, (translations, locale) => {
          if (!has(galleryMediaObject, 'translations.' + locale)) {
            set(galleryMediaObject, 'translations.' + locale, {
              link: null
            })
          }
        })
      })
    },
    /**
     * Fill media object translations with used translations locales.
     */
    fillMediaObjectTranslations () {
      forEach(this.gallery.galleryMediaObjects, ({ mediaObject }, key) => {
        if (isNil(mediaObject.translations) || isEmpty(mediaObject.translations)) {
          mediaObject.translations = {}
        }

        forEach(this.gallery.translations, (translations, locale) => {
          if (!has(mediaObject, 'translations.' + locale)) {
            set(mediaObject, 'translations.' + locale, {
              description: null
            })
          }
        })
      })
    },
    /**
     * Persist gallery
     * @returns {Promise<any>}
     */
    async saveGallery () {
      this.loading.gallery = true

      const galleryMediaObjects = omitBy(this.gallery.galleryMediaObjects, (o) => {
        return !isNil(o.error)
      })

      this.gallery.galleryMediaObjects = []
      forEach(galleryMediaObjects, (o) => {
        this.gallery.galleryMediaObjects.push(o)
      })

      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('gallery_saved'))
      this.loading = false

    },
    addGalleryLocale (locales) {
      if (isEmpty(this.gallery.translations)) {
        this.gallery.translations = {}
      }
      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale,
          name: null,
          description: null
        }

        Vue.set(this.gallery.translations, locale, translations)
      })

      this.fillMediaObjectTranslations()
      this.fillGalleryMediaObjectTranslations()
    },
    removeGalleryLocale () {
      Vue.delete(this.gallery.translations, this.tabs.gallery)
    },
    updatePriority () {
      map(this.gallery.galleryMediaObjects, (galleryMediaObject, key) => {
        galleryMediaObject.priority = key
      })
    },
    galleryUpload () {
      const files = this.$refs.galleryUpload.files
      if (!files) {
        return
      }

      this.loading.upload = true

      forEach(files, (file) => {
        const formData = new window.FormData()
        formData.append('file', file)

        this.gallery.galleryMediaObjects.push({
          mediaObject: {
            '@id': null,
            id: null,
            contentUrl: null,
            translations: []
          },
          priority: this.gallery.galleryMediaObjects.length + 1
        })

        this.fillMediaObjectTranslations()
        this.fillGalleryMediaObjectTranslations()

        const index = this.gallery.galleryMediaObjects.length - 1

        Axios.post('/api/media-objects.json', formData, { headers: { 'Content-Type': 'multipart/form-data' } })
          .then((response) => {
            this.gallery.galleryMediaObjects[index].mediaObject.contentUrl = response.data.contentUrl
            this.gallery.galleryMediaObjects[index].mediaObject['@id'] = convertToIri(response.data.id, 'media-objects')
            this.gallery.galleryMediaObjects[index].mediaObject.id = response.data.id
            this.gallery.galleryMediaObjects[index].mediaObject.mime = response.data.mime
            this.gallery.galleryMediaObjects[index].mediaObject.metadata = response.data.metadata
            this.gallery.galleryMediaObjects[index].mediaObject.originalName = response.data.originalName
            this.gallery.galleryMediaObjects[index].mediaObject.originalFileName = response.data.originalFileName
            this.modified = true
          })
          .then(() => {
            this.loading.upload = false
          })
          .catch(({ data }) => {
            Vue.set(this.gallery.galleryMediaObjects[index], 'error', data)
          })
      })
    },
    /**
     * Remove media from the galleryMedia objects
     * @param {Number} id id of the galleryMedia object
     */
    removeMedia (id) {
      const index = findIndex(this.gallery.galleryMediaObjects, (o) => { return o.id === id })

      if (index < 0) {
        return
      }

      this.gallery.galleryMediaObjects.splice(index, 1)
      this.modified = true
    },
    hasTranslation (locale) {
      return has(this.gallery.translations, locale + '.name') && !isNil(this.gallery.translations[locale].name) && this.gallery.translations[locale].name !== ''
    },
    /**
     * Format bytes to better units
     * @param value {Number|string} Bytes to format
     * @returns {String} formatted value for the bytes
     */
    prettySize (value) {
      return prettysize(value)
    },
    /**
     * Add media object to gallery
     * @param {Array} mediaObjects Media objects
     */
    addToGallery (mediaObjects) {
      this.filebrowser = false
      forEach(mediaObjects, (mediaObject) => {
        this.gallery.galleryMediaObjects.push({
          mediaObject,
          priority: this.gallery.galleryMediaObjects.length + 1
        })

        this.fillMediaObjectTranslations()

        this.modified = true
      })
    }
  }
}
</script>
