<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="grantProject">
    <v-card outlined>
      <v-toolbar flat>
        <v-tabs
          v-model="currentLocale"
          align-with-name
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            v-for="item in grantProject.translations"
            :key="item.locale"
            :href="'#' + item.locale"
          >
            <span v-text="item.locale" />
          </v-tab>
        </v-tabs>
        <v-spacer />

        <v-btn
          icon
          :disabled="!$_hasTranslations(grantProject)"
          @click="removeTranslation(grantProject, currentLocale)"
        >
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu
          :key="usedTranslationKeys.join('')"
          :restricted-locales="usedTranslationKeys"
          @selected="addLocale"
        />
      </v-toolbar>

      <v-tabs-items v-model="currentLocale">
        <v-tab-item
          v-for="(item) in grantProject.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <!-- name + number -->
          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-text-field
                v-model="item.name"
                outlined
                label="Název"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.number"
                outlined
                label="Číslo projektu"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.callNumber"
                outlined
                label="Výzva"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.version"
                outlined
                label="ID (verze) žádosti"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.projectStatus"
                outlined
                label="Stav"
              />
            </v-col>

          </v-row>

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-editor-wysiwyg
                v-model="item.annotation"
                label="Anotace"
              />
            </v-col>

            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-textarea
                v-model="grantProject.note"
                outlined
                label="Poznámka"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field-date-picker
                v-model="grantProject.startedAt"
                outlined
                label="Datum zahájení"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field-date-picker
                v-model="grantProject.endedAt"
                outlined
                label="Datum ukončení"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field-date-picker
                v-model="grantProject.signedAt"
                outlined
                label="Datum podepsání smlouvy"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field-date-picker
                v-model="grantProject.closedAt"
                outlined
                label="Datum uzavření"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.contractNumber"
                outlined
                label="Číslo smlouvy"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="item.scopeOfApplication"
                outlined
                label="Rozsah působnosti"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-autocomplete-grant-focus-type
                v-model="grantProject.focusType"
                outlined
                label="Typ zaměření"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="item.focus"
                outlined
                label="Zaměření"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="item.technicalArea"
                outlined
                label="Tématická oblast"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-autocomplete-grant-project-type
                v-model="grantProject.projectType"
                outlined
                label="Typ projektu"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-autocomplete-grant-project-group
                v-model="grantProject.grantProjectGroups"
                outlined
                label="Skupina projektu"
              />
            </v-col>

          </v-row>
        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <v-row
      no-gutters
      class="pa-4 mx-n4 my-0"
    >
      <v-col :cols="12">
        <v-card outlined>
          <v-toolbar flat>
            <v-toolbar-title>Žadatel</v-toolbar-title>
          </v-toolbar>

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.applicant"
                outlined
                label="Žadatel"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-autocomplete-grant-applicant-type
                v-model="grantProject.applicantType"
                label="Typ žadatele"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.dataBox"
                outlined
                label="Datová schránka"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.legalForm"
                outlined
                label="Právní forma žadatele"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.statutory"
                outlined
                label="Statutární zástupce organizace"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.businessNumber"
                outlined
                label="Identifikační číslo žadatele"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.address"
                outlined
                label="Adresa žadatele"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.county"
                outlined
                label="Kraj sídla žadatele"
              />
            </v-col>
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-textarea
                v-model="grantProject.subjectNote"
                outlined
                label="Poznámka k subjektu"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.contactPersonName"
                outlined
                label="Kontaktní osoba"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.email"
                outlined
                label="E-mailová adresa"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.contactPersonEmail"
                outlined
                label="E-mailová adresa kontaktní osoby"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.contactPersonPhone"
                outlined
                label="Telefon kontaktní osoby"
              />
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <!-- place of realization -->
    <v-row
      no-gutters
      class="px-4 mx-n4 my-0"
    >
      <v-col :cols="12">
        <v-card outlined>
          <v-toolbar flat>
            <v-toolbar-title>Místo realizace</v-toolbar-title>
          </v-toolbar>

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.placeOfRealization"
                outlined
                label="Místo realizace"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.countyOfRealization"
                outlined
                label="Kraj realizace"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-autocomplete-district
                v-model="grantProject.districtOfRealization"
                outlined
                label="Okres realizace"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.cityOfRealization"
                outlined
                label="Město realizace"
              />
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <v-card
      outlined
      class="mt-4"
    >
      <v-toolbar flat>
        <v-tabs
          v-model="currentPaymentTab"
          align-with-name
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            key="payment-general"
            value="payment-general"
            href="#payment-general"
          >
            Peněžní prostředky
          </v-tab>

          <v-tab
            key="payment-credentials"
            value="payment-credentials"
            href="#payment-credentials"
          >
            Údaje pro platbu
          </v-tab>

          <v-tab
            key="payment-detailed"
            value="payment-detailed"
            href="#payment-detailed"
          >
            Platby a splátky
          </v-tab>
        </v-tabs>
        <v-spacer />
      </v-toolbar>

      <v-tabs-items v-model="currentPaymentTab">
        <v-tab-item
          key="payment-general"
          value="payment-general"
        >

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field-money
                v-model="grantProject.amountRequested"
                outlined
                label="Požadovaná částka"
                :currency="grantProject.currency"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field-money
                v-model="grantProject.totalAmount"
                outlined
                label="Celková částka"
                :currency="grantProject.currency"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field-money
                v-model="grantProject.approvedAmount"
                outlined
                label="Schválená částka"
                :currency="grantProject.currency"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.currency"
                outlined
                label="Měna"
              />
            </v-col>
          </v-row>

        </v-tab-item>

        <v-tab-item
          key="payment-credentials"
          value="payment-credentials"
        >

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.accountNumber"
                outlined
                label="Bankovní účet"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.iban"
                outlined
                label="Bankovní účet - IBAN"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.swift"
                outlined
                label="Bankovní účet - SWIFT"
              />
            </v-col>
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="3"
              class="pa-2"
            >
              <v-text-field
                v-model="grantProject.variableNumber"
                outlined
                label="Variabilní symbol"
              />
            </v-col>
          </v-row>

        </v-tab-item>

        <v-tab-item
          key="payment-detailed"
          value="payment-detailed"
          class="px-4"
        >
          <!-- generate 5x installment + payment + message -->
          <v-row
            v-for="index in 5"
            :key="`payment-installment-${index}`"
            no-gutters
            class="pa-2 mx-n4 my-0 mt-n4 ma-4"
          >
            <!-- installment -->
            <v-col
              :cols="12"
              :xl="5"
              class="pa-2"
            >
              <v-card outlined>
                <v-toolbar flat>
                  <v-toolbar-title>Splátka {{ index }}</v-toolbar-title>
                </v-toolbar>
                <v-row
                  no-gutters
                  class="pa-2"
                >
                  <v-col
                    :cols="12"
                    :sm="6"
                    :md="4"
                    :lg="3"
                    class="pa-2"
                  >
                    <v-text-field-date-picker
                      v-model="grantProject['installment' + index + 'At']"
                      outlined
                      label="Datum"
                    />
                  </v-col>
                  <v-col
                    :cols="12"
                    :sm="6"
                    :md="4"
                    :lg="3"
                    class="pa-2"
                  >
                    <v-text-field-money
                      v-model="grantProject['installment' + index + 'Amount']"
                      outlined
                      label="Částka"
                      :currency="grantProject.currency"
                    />
                  </v-col>
                  <v-col
                    :cols="12"
                    :sm="6"
                    :md="4"
                    :lg="3"
                    class="pa-2"
                  >
                    <v-text-field
                      v-model="grantProject['installment' + index + 'Fund']"
                      outlined
                      label="Fond"
                    />
                  </v-col>
                  <v-col
                    :cols="12"
                    :sm="6"
                    :md="4"
                    :lg="3"
                    class="pa-2"
                  >
                    <v-text-field
                      v-model="grantProject['installment' + index + 'FundCode']"
                      outlined
                      label="Úč. kód fondu"
                    />
                  </v-col>
                </v-row>
              </v-card>
            </v-col>

            <!-- payment -->
            <v-col
              :cols="12"
              :xl="2"
              class="pa-2"
            >
              <v-card outlined>
                <v-toolbar flat>
                  <v-toolbar-title>Platba {{ index }}</v-toolbar-title>
                </v-toolbar>

                <v-row
                  no-gutters
                  class="pa-2"
                >
                  <v-col
                    :cols="12"
                    :sm="6"
                    class="pa-2"
                  >
                    <v-text-field-date-picker
                      v-model="grantProject['payment' + index + 'At']"
                      outlined
                      label="Datum"
                    />
                  </v-col>
                  <v-col
                    :cols="12"
                    :sm="6"
                    class="pa-2"
                  >
                    <v-text-field-money
                      v-model="grantProject['payment' + index + 'Amount']"
                      outlined
                      label="Částka"
                      :currency="grantProject.currency"
                    />
                  </v-col>
                </v-row>
              </v-card>
            </v-col>

            <!-- message -->
            <v-col
              :cols="12"
              :xl="5"
              class="pa-2"
            >
              <v-card outlined>
                <v-toolbar flat>
                  <v-toolbar-title>Zpráva {{ index }}</v-toolbar-title>
                </v-toolbar>
                <v-row
                  no-gutters
                  class="pa-2"
                >
                  <v-col
                    :cols="12"
                    :sm="6"
                    :md="4"
                    :lg="3"
                    class="pa-2"
                  >
                    <v-text-field
                      v-model="grantProject['message' + index + 'Type']"
                      outlined
                      label="Typ"
                    />
                  </v-col>
                  <v-col
                    :cols="12"
                    :sm="6"
                    :md="4"
                    :lg="3"
                    class="pa-2"
                  >
                    <v-text-field-date-picker
                      v-model="grantProject['message' + index + 'DueAt']"
                      outlined
                      label="Termín"
                    />
                  </v-col>
                  <v-col
                    :cols="12"
                    :sm="6"
                    :md="4"
                    :lg="3"
                    class="pa-2"
                  >
                    <v-text-field-date-picker
                      v-model="grantProject['message' + index + 'SubmittedAt']"
                      outlined
                      label="Odevzdáno"
                    />
                  </v-col>
                  <v-col
                    :cols="12"
                    :sm="6"
                    :md="4"
                    :lg="3"
                    class="pa-2"
                  >
                    <v-text-field
                      v-model="grantProject['message' + index + 'ApprovedAt']"
                      outlined
                      label="Schváleno"
                    />
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>

        </v-tab-item>
      </v-tabs-items>

    </v-card>

    <!-- attachments -->
    <v-row
      no-gutters
      class="pa-2 mx-n4 my-0"
    >
      <!-- article cover -->
      <v-col
        :cols="12"
        :md="6"
        :lg="4"
        class="pa-2"
      >
        <v-card
          outlined
          height="100%"
        >
          <v-card-cover-picker
            v-model="grantProject.covers"
            @add="addGrantProjectCover"
          />
        </v-card>
      </v-col>
    </v-row>

    <!-- publication related stuff -->
    <v-card outlined>
      <v-card-published-at
        v-model="grantProject"
        @save="saveGrantProject"
      />
    </v-card>
  </div>
</template>

<script>
import Vue from 'vue'
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import VTextFieldMoney from '../components/v-text-field/VTextFieldMoney.vue'
import { keys, forEach, isEmpty, isNil } from 'lodash'
import { hasTranslationMixin } from '../mixins/hasTranslationMixin'
import { removeTranslationMixin } from '../mixins/removeTranslationMixin'
import { collectionsMixin } from '../mixins/collectionsMixin'
import { dateTimeMixin } from '../mixins/dateTimeMixin'
import VTextFieldDatePicker from '../components/v-text-field/VTextFieldDatePicker.vue'
import VCardCoverPicker from '../components/v-card/VCardCoverPicker'
import VCardPublishedAt from '../components/v-card/VCardPublishedAt.vue'
import VAutocompleteGrantApplicantType from '../components/v-autocomplete/VAutocompleteGrantApplicantType'
import VAutocompleteDistrict from '../components/v-autocomplete/VAutocompleteDistrict'
import VAutocompleteGrantFocusType from '../components/v-autocomplete/VAutocompleteGrantFocusType'
import VAutocompleteGrantProjectType from '../components/v-autocomplete/VAutocompleteGrantProjectType'
import VAutocompleteGrantProjectGroup from '../components/v-autocomplete/VAutocompleteGrantProjectGroup'
import VEditorWysiwyg from '../components/v-editor/VEditorWysiwyg.vue'
import { refreshItemMixin } from '../mixins/refreshItemMixin'
import { useGrantProjectStore } from "../stores/grantProjectStore";

export default {
  name: 'GrantProjectEditation',
  components: {
    LocalizationMenu,
    VTextFieldMoney,
    VTextFieldDatePicker,
    VCardCoverPicker,
    VCardPublishedAt,
    VAutocompleteGrantApplicantType,
    VAutocompleteDistrict,
    VAutocompleteGrantFocusType,
    VAutocompleteGrantProjectType,
    VEditorWysiwyg,
    VAutocompleteGrantProjectGroup
  },
  mixins: [
    hasTranslationMixin,
    removeTranslationMixin,
    collectionsMixin,
    dateTimeMixin,
    refreshItemMixin
  ],
  data () {
    return {
      original: {},
      remove: {
        agree: null
      },
      loading: false,
      currentLocale: null,
      currentPaymentTab: null
    }
  },
  computed: {
    store () {
      return useGrantProjectStore('/api/grant-projects/' + window.location.pathname.split('/').pop())
    },
    grantProject: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    usedTranslationKeys () {
      return keys(this.grantProject.translations)
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    addLocale (locales) {
      if (isEmpty(this.grantProject.translations)) {
        this.grantProject.translations = {}
      }

      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale: locale,
          headline: null,
          lead: null,
          content: null
        }
        Vue.set(this.grantProject.translations, locale, translations)
      })
    },
    removeLocale () {
      Vue.delete(this.grantProject.translations, this.tab)
    },
    /**
       * Persist grant project
       * @returns {Promise<any>}
       */
    async saveGrantProject () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('grant_project_saved'))
      this.loading = false
    },
    addGrantProjectCover () {
      if (isNil(this.grantProject.covers)) {
        this.grantProject.covers = []
      }

      this.grantProject.covers.push({
        contentUrl: null
      })
    }
  }
}
</script>
