<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="grantProjectGroup">
    <v-card outlined>
      <v-toolbar flat>
        <v-tabs
          v-model="currentLocale"
          align-with-name
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            v-for="item in grantProjectGroup.translations"
            :key="item.locale"
            :href="'#' + item.locale"
          >
            <span v-text="item.locale" />
          </v-tab>
        </v-tabs>
        <v-spacer />

        <v-btn
          icon
          :disabled="!$_hasTranslations(grantProjectGroup)"
          @click="removeTranslation(grantProjectGroup, currentLocale)"
        >
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu
          :key="usedTranslationKeys.join('')"
          :restricted-locales="usedTranslationKeys"
          @selected="addLocale"
        />
      </v-toolbar>

      <v-tabs-items v-model="currentLocale">
        <v-tab-item
          v-for="(item) in grantProjectGroup.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <!-- name + number -->
          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="item.name"
                :label="$t('name')"
              />
            </v-col>
          </v-row>

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2 mb-n8"
            >
              <v-subheader
                class="pa-0"
                v-text="$t('lead')"
              />
              <v-editor-wysiwyg
                v-model="item.lead"
              />
              <div
                class="counter"
                v-text="size(item.lead)"
              />
            </v-col>
          </v-row>

        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <v-row
      no-gutters
      class="pa-2 mx-n4 my-0"
    >
      <!-- grant call  -->
      <v-col
        :cols="12"
        class="pa-2"
      >
        <v-card
          outlined
          height="100%"
          class="pa-4"
        >
          <v-toolbar flat>
            <v-toolbar-title>
              {{ $t('grant_call') }}
            </v-toolbar-title>
          </v-toolbar>

          <v-row>
            <v-col
              :cols="12"
              :md="6"
              class="pa-2"
            >

              <v-autocomplete-grant-call
                v-model="grantProjectGroup.grantCall"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="6"
              class="pa-2"
            >

              <v-text-field-custom
                v-model="grantProjectGroup.year"
                :label="$t('grant_project_group_year')"
                type="number"
              ></v-text-field-custom>

            </v-col>

          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <!-- attachments -->
    <v-row
      no-gutters
      class="pa-2 mx-n4 my-0"
    >
      <!-- article cover -->
      <v-col
        :cols="12"
        :md="6"
        :lg="4"
        class="pa-2"
      >
        <v-card
          outlined
          height="100%"
        >
          <v-card-cover-picker
            v-model="grantProjectGroup.covers"
            @add="addGrantProjectGroupCover"
          />
        </v-card>
      </v-col>
    </v-row>

    <!-- publication related stuff -->
    <v-card outlined>
      <v-card-published-at
        v-model="grantProjectGroup"
        @save="saveGrantProjectGroup"
      />
    </v-card>
  </div>
</template>

<script>
import Vue from 'vue'
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import keys from 'lodash/keys'
import forEach from 'lodash/forEach'
import isEmpty from 'lodash/isEmpty'
import { hasTranslationMixin } from '../mixins/hasTranslationMixin'
import { removeTranslationMixin } from '../mixins/removeTranslationMixin'
import { collectionsMixin } from '../mixins/collectionsMixin'
import { dateTimeMixin } from '../mixins/dateTimeMixin'
import VCardCoverPicker from '../components/v-card/VCardCoverPicker.vue'
import isNil from 'lodash/isNil'
import VCardPublishedAt from '../components/v-card/VCardPublishedAt.vue'
import VAutocompleteGrantCall from '../components/v-autocomplete/VAutocompleteGrantCall.vue'
import VEditorWysiwyg from '../components/v-editor/VEditorWysiwyg.vue'
import VTextFieldCustom from '../components/v-text-field/VTextFieldCustom.vue'
import { useGrantProjectGroupStore } from '../stores/grantProjectGroupStore'
import { refreshItemMixin } from '../mixins/refreshItemMixin'

export default {
  name: 'GrantProjectGroupEditation',
  components: {
    LocalizationMenu,
    VCardCoverPicker,
    VCardPublishedAt,
    VAutocompleteGrantCall,
    VEditorWysiwyg,
    VTextFieldCustom
  },
  mixins: [
    hasTranslationMixin,
    removeTranslationMixin,
    collectionsMixin,
    dateTimeMixin,
    refreshItemMixin
  ],
  data () {
    return {
      original: {},
      remove: {
        agree: null
      },
      loading: false,
      currentLocale: null
    }
  },
  computed: {
    store () {
      return useGrantProjectGroupStore('/api/grant-project-groups/' + window.location.pathname.split('/').pop())
    },
    grantProjectGroup: {
      get () {
        return this.store.getItem()
      },
      set () {
        this.store.setItem(val)
      }
    },
    usedTranslationKeys () {
      return keys(this.grantProjectGroup.translations)
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    addLocale (locales) {
      if (isEmpty(this.grantProjectGroup.translations)) {
        this.grantProjectGroup.translations = {}
      }

      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale: locale,
          headline: null,
          lead: null,
          content: null
        }
        Vue.set(this.grantProjectGroup.translations, locale, translations)
      })
    },
    removeLocale () {
      Vue.delete(this.grantProjectGroup.translations, this.tab)
    },
    /**
       * Persist grant project
       * @returns {Promise<any>}
       */
    async saveGrantProjectGroup () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('grant_project_group_saved'))
    },
    addGrantProjectGroupCover () {
      if (isNil(this.grantProjectGroup.covers)) {
        this.grantProjectGroup.covers = []
      }

      this.grantProjectGroup.covers.push({
        contentUrl: null
      })
    }
  }
}
</script>
