<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-grant-projects />
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/grant-projects"
        :headers="headers"
      >

        <template #item.number="{ item }">
          <span>{{ item.number }}</span>
        </template>

        <template #item.name="{ item }">
          <span>{{ item.headline }}</span>
        </template>

        <template #item.applicant="{ item }">
          <span>{{ item.applicant }}</span>
        </template>

        <template #item.projectStatus="{ item }">
          <span>{{ item.projectStatus }}</span>
        </template>

        <template #item.focusName="{ item }">
          <span>{{ item.focusName }}</span>
        </template>

        <template #item.callNumber="{ item }">
          <span>{{ item.callNumber }}</span>
        </template>

        <template #item.approvedAmount="{ item }">
          <v-span-money
            currency="CZK"
            :value="item.approvedAmount"
          />
        </template>

        <template #buttons>
          <v-btn-upload-grantys></v-btn-upload-grantys>
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import orderBy from 'lodash/orderBy'
import { mediaMixin } from '../mixins/mediaMixin'
import VBtnUploadGrantys from '../components/v-btn/VBtnUploadGrantys.vue'
import VSpanMoney from '../components/VSpanMoney.vue'
import { useDataTableStore } from '../stores/dataTableStore'
import FilterGrantProjects from '../components/v-filter/FilterGrantProjects.vue'

export default {
  name: 'GrantProjectIndex',
  components: {
    VBtnUploadGrantys,
    VDataTableServer,
    VSpanMoney,
    FilterGrantProjects
  },
  mixins: [
    mediaMixin,
  ],
  data () {
    return {
      loading: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/grant-projects')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('number'),
          align: 'left',
          sortable: true,
          value: 'number'
        },
        {
          text: this.$t('label'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$t('applicant'),
          align: 'left',
          sortable: false,
          value: 'applicant'
        },
        {
          text: this.$t('status'),
          align: 'left',
          sortable: false,
          value: 'projectStatus'
        },
        {
          text: this.$t('focus_name'),
          align: 'left',
          sortable: false,
          value: 'focusName'
        },
        {
          text: this.$t('call_number'),
          align: 'left',
          sortable: false,
          value: 'callNumber'
        },
        {
          text: this.$t('approved_amount'),
          align: 'left',
          sortable: false,
          value: 'approvedAmount'
        }
      ]
    }
  },
  methods: {
    orderBy (a, b, c) {
      return orderBy(a, b, c)
    }
  }
}
</script>
