<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-grant-calls />
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/grant-calls"
        :headers="headers"
      >
        <template #item.number="{ item }">
          <span>{{ item.number }}</span>
        </template>

        <template #item.headline="{ item }">
          <v-item-name
            :value="item"
            path="name"
          />
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import orderBy from 'lodash/orderBy'
import { mediaMixin } from '../mixins/mediaMixin'
import VItemName from '../components/VItemName.vue'
import { useDataTableStore } from '../stores/dataTableStore'
import FilterGrantCalls from '../components/v-filter/FilterGrantCalls.vue'

export default {
  name: 'GrantCallIndex',
  components: {
    VDataTableServer,
    VItemName,
    FilterGrantCalls
  },
  mixins: [
    mediaMixin,
  ],
  data () {
    return {
      widget: {
        filter: 0
      },
      loading: false,
      filter: {
        id: null,
        headline: null,
        status: null
      }
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/grant-calls')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('headline'),
          align: 'left',
          sortable: false,
          value: 'headline'
        }
      ]
    }
  },
  methods: {
    orderBy (a, b, c) {
      return orderBy(a, b, c)
    }
  }
}
</script>
