<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-grant-project-groups />
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/grant-project-groups"
        :headers="headers"
      >
        <template #item.name="{ item }">
          <span>{{ item.headline }}</span>
        </template>

        <template #item.year="{ item }">
          <span>{{ item.year }}</span>
        </template>

      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import orderBy from 'lodash/orderBy'
import { mediaMixin } from '../mixins/mediaMixin'
import { useDataTableStore } from '../stores/dataTableStore'
import FilterGrantProjectGroups from '../components/v-filter/FilterGrantProjectGroups.vue'

export default {
  name: 'GrantProjectIndex',
  components: {
    VDataTableServer,
    FilterGrantProjectGroups
  },
  mixins: [
    mediaMixin
  ],
  data () {
    return {
      widget: {
        filter: 0
      },
      loading: false,
      filter: {
        id: null,
        number: null,
        headline: null,
        applicant: null,
        projectStatus: null,
        focus: null,
        callNumber: null,
        approvedAmount: null
      }
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/grant-project-groups')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('label'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$t('grant_project_group_year'),
          align: 'left',
          sortable: false,
          value: 'year'
        }
      ]
    }
  },
  methods: {
    orderBy (a, b, c) {
      return orderBy(a, b, c)
    }
  }
}
</script>
