<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="grantCall">
    <v-card
      outlined
      class="mb-4"
    >
      <v-toolbar flat>
        <v-tabs
          v-model="currentLocale"
          align-with-name
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            v-for="item in grantCall.translations"
            :key="item.locale"
            :href="'#' + item.locale"
          >
            <span v-text="item.locale" />
          </v-tab>
        </v-tabs>
        <v-spacer />

        <v-btn
          icon
          :disabled="!$_hasTranslations(grantCall)"
          @click="removeTranslation(grantCall, currentLocale)"
        >
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu
          :key="usedTranslationKeys.join('')"
          :restricted-locales="usedTranslationKeys"
          @selected="addLocale"
        />
      </v-toolbar>

      <v-tabs-items v-model="currentLocale">
        <v-tab-item
          v-for="(item) in grantCall.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <v-row
            no-gutters
            class="pa-2 mb-n6"
          >
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-text-field
                v-model="item.name"
                outlined
                :label="$t('grant_call_name')"
              />
            </v-col>
          </v-row>

          <v-row
            no-gutters
            class="pa-2 mb-n6"
          >
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              class="pa-2"
            >
              <v-autocomplete-grant-call-status v-model="grantCall.callStatus" />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              class="pa-2"
            >
              <v-autocomplete-grant-focus-type
                v-model="grantCall.focusType"
                outlined
                :label="$t('grant_focus_type')"
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              class="pa-2"
            >
              <v-autocomplete-grant-applicant-type
                v-model="grantCall.applicantType"
                :label="$t('grant_applicant_type')"
              />
            </v-col>

            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-subheader
                class="pa-0"
                v-text="$t('grant_call_lead')"
              />
              <v-editor-wysiwyg v-model="item.lead" />
            </v-col>
          </v-row>

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-subheader
                class="pa-0"
                v-text="$t('grant_call_description')"
              />
              <v-editor-wysiwyg v-model="item.description" />
            </v-col>
          </v-row>

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="2"
              class="pa-2"
            >
              <v-text-field-date-picker
                v-model="grantCall.applicationStartAt"
                outlined
                :label="$t('grant_call_application_start_at')"
                clearable
                :hint="$t('grant_call_application_start_at_hint')"
                persistent-hint
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              :lg="2"
              class="pa-2"
            >
              <v-text-field-date-picker
                v-model="grantCall.deadlineAt"
                outlined
                :label="$t('grant_call_deadline_at')"
                clearable
                :hint="$t('grant_call_deadline_at_hint')"
                persistent-hint
              />
            </v-col>

            <v-col
              :cols="12"
              :sm="6"
              :md="4"
              class="pa-2"
            >

              <v-text-field-custom
                v-model="item.applicationDeadline"
                outlined
                :label="$t('grant_call_deadline_at_as_text')"
                clearable
                :hint="$t('grant_call_deadline_at_as_text_hint')"
                persistent-hint
              ></v-text-field-custom>

            </v-col>

          </v-row>

        </v-tab-item>
      </v-tabs-items>

      <v-row
        no-gutters
        class="pa-2"
      >
        <v-col
          :cols="12"
          :sm="6"
          :md="4"
          :lg="3"
          class="pa-2"
        >
          <v-text-field-money
            v-model="grantCall.maxAmount"
            outlined
            :label="$t('grant_call_max_amount')"
            clearable
            currency="CZK"
          />
        </v-col>

        <v-col
          :cols="12"
          :sm="6"
          :md="4"
          :lg="3"
          class="pa-2"
        >
          <v-text-field
            v-model="grantCall.variableSymbol"
            outlined
            :label="$t('grant_call_variable_symbol')"
            clearable
          />
        </v-col>

        <v-col
          :cols="12"
          :sm="6"
          :md="4"
          :lg="2"
          class="pa-2"
        >
          <v-text-field
            v-model.number="grantCall.roundsQuantity"
            type="number"
            outlined
            :label="$t('grant_call_rounds_quantity')"
            clearable
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card
      outlined
      class="mb-4"
    >
      <v-toolbar flat>
        <v-toolbar-title>
          {{ $t('grant_call_rules') }}
        </v-toolbar-title>
      </v-toolbar>

      <v-tabs-items v-model="currentLocale">
        <v-tab-item
          v-for="(item) in grantCall.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-subheader
                class="pa-0"
                v-text="$t('grant_call_rules')"
              />
              <v-editor-wysiwyg v-model="item.rules" />
            </v-col>
          </v-row>
        </v-tab-item>
      </v-tabs-items>

      <v-card-grant-call-attachment v-model="grantCall.attachments" />
    </v-card>

    <v-card outlined>
      <v-toolbar flat>
        <v-toolbar-title>
          {{ $t('grant_call_instructions') }}
        </v-toolbar-title>
      </v-toolbar>

      <v-tabs-items v-model="currentLocale">
        <v-tab-item
          v-for="(item) in grantCall.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-subheader
                class="pa-0"
                v-text="$t('grant_call_application_instructions')"
              />
              <v-editor-wysiwyg v-model="item.applicationInstructions" />
            </v-col>
          </v-row>

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-subheader
                class="pa-0"
                v-text="$t('grant_call_submission_instructions')"
              />
              <v-editor-wysiwyg v-model="item.submissionInstructions" />
            </v-col>
          </v-row>

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              :md="6"
              class="pa-2"
            >
              <v-text-field
                v-model="item.link"
                outlined
                :label="$t('grant_call_link')"
                clearable
              />
            </v-col>

            <v-col
              :cols="12"
              :md="4"
              class="pa-2"
            >
              <v-text-field
                v-model="item.linkText"
                outlined
                :label="$t('grant_call_link_text')"
                clearable
              />
            </v-col>

            <v-col
              :cols="12"
              :md="4"
              :lg="2"
              class="pa-2"
            >
              <v-switch
                v-model="grantCall.onlineLink"
                :label="$t('grant_call_online_link')"
                :true-value="true"
                :false-value="false"
              />
            </v-col>
          </v-row>
        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <v-row>
      <v-col
        :cols="12"
        :md="6"
      >
        <v-card
          outlined
          class="mt-4"
          height="100%"
        >
          <v-card-cover-picker
            v-model="grantCall.covers"
            @add="addGrantCallCover"
          />
        </v-card>
      </v-col>
    </v-row>

    <v-card outlined class="mt-8">
      <v-card-published-at
        v-model="grantCall"
        @save="saveGrantCall"
      />
    </v-card>
  </div>
</template>

<script>
import Vue from 'vue'
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import VTextFieldMoney from '../components/v-text-field/VTextFieldMoney.vue'
import VAutocompleteGrantFocusType from '../components/v-autocomplete/VAutocompleteGrantFocusType.vue'
import { keys, forEach, isEmpty, isNil } from 'lodash'
import { hasTranslationMixin, removeTranslationMixin, collectionsMixin, dateTimeMixin, refreshItemMixin } from '../mixins'
import VEditorWysiwyg from '../components/v-editor/VEditorWysiwyg.vue'
import VCardPublishedAt from '../components/v-card/VCardPublishedAt.vue'
import VTextFieldDatePicker from '../components/v-text-field/VTextFieldDatePicker.vue'
import VAutocompleteGrantCallStatus from '../components/v-autocomplete/VAutocompleteGrantCallStatus.vue'
import VAutocompleteGrantApplicantType from '../components/v-autocomplete/VAutocompleteGrantApplicantType.vue'
import VCardGrantCallAttachment from '../components/v-card/VCardGrantCallAttachment.vue'
import VCardCoverPicker from '../components/v-card/VCardCoverPicker.vue'
import VTextFieldCustom from '../components/v-text-field/VTextFieldCustom.vue'
import { useGrantCallStore } from '../stores'

export default {
  name: 'GrantCallEditation',
  components: {
    VTextFieldCustom,
    LocalizationMenu,
    VEditorWysiwyg,
    VAutocompleteGrantFocusType,
    VCardPublishedAt,
    VTextFieldMoney,
    VTextFieldDatePicker,
    VAutocompleteGrantCallStatus,
    VAutocompleteGrantApplicantType,
    VCardGrantCallAttachment,
    VCardCoverPicker
  },
  mixins: [
    hasTranslationMixin,
    removeTranslationMixin,
    collectionsMixin,
    dateTimeMixin,
    refreshItemMixin
  ],
  data () {
    return {
      original: {},
      remove: {
        agree: null
      },
      loading: false,
      currentLocale: null
    }
  },
  computed: {
    store () {
      return useGrantCallStore('/api/grant-calls/' + window.location.pathname.split('/').pop())
    },
    grantCall: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    usedTranslationKeys () {
      return keys(this.grantCall.translations)
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    addLocale (locales) {
      if (isEmpty(this.grantCall.translations)) {
        this.grantCall.translations = {}
      }

      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale,
          headline: null,
          lead: null,
          content: null
        }
        Vue.set(this.grantCall.translations, locale, translations)
      })
    },
    removeLocale () {
      Vue.delete(this.grantCall.translations, this.tab)
    },
    /**
       * Persist grant project
       * @returns {Promise<any>}
       */
    async saveGrantCall () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('grant_call_saved'))
      this.loading = false
    },
    addGrantCallCover () {
      if (isNil(this.grantCall.covers)) {
        this.grantCall.covers = []
      }

      this.grantCall.covers.push({
        contentUrl: null
      })
    }
  }
}
</script>
