<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="inquiry">
    <v-card outlined>
      <v-toolbar flat />
      <v-form :key="key">
        <v-row class="no-gutters pa-2">
          <v-col
            :cols="12"
            :md="3"
            class="pa-2"
          >
            <v-select
              v-model="inquiry.status"
              outlined
              :label="$t('status')"
              :items="['unread', 'read']"
            />
          </v-col>

          <v-col
            :cols="12"
            :md="3"
            class="pa-2"
          >
            <v-radio-group
              v-model="inquiry.conversion"
              row
              class="mb-n4 mt-3"
            >
              <v-radio
                :key="1"
                :label="$t('with conversion')"
                :value="true"
              />
              <v-radio
                :key="2"
                :label="$t('without conversion')"
                :value="false"
              />
            </v-radio-group>
          </v-col>
        </v-row>

        <v-row class="no-gutters pa-2">
          <v-col
            :cols="12"
            :md="3"
            class="pa-2"
          >
            <v-text-field
              v-model="inquiry.email"
              outlined
              :label="$t('email')"
              :error-messages="getViolation('email')"
            />
          </v-col>

          <v-col
            :cols="12"
            :md="3"
            class="pa-2"
          >
            <v-text-field
              v-model="inquiry.phone"
              outlined
              :label="$t('phone')"
              :error-messages="getViolation('phone')"
            />
          </v-col>
        </v-row>

        <v-row class="no-gutters pa-2">
          <v-col
            :cols="12"
            :md="3"
            class="pa-2"
          >
            <v-text-field
              v-model="inquiry.personalName"
              outlined
              :label="$t('personal name')"
              :error-messages="getViolation('personalName')"
            />
          </v-col>

          <v-col
            :cols="12"
            :md="3"
            class="pa-2"
          >
            <v-text-field
              v-model="inquiry.companyName"
              outlined
              :label="$t('company name')"
              :error-messages="getViolation('companyName')"
            />
          </v-col>
        </v-row>

        <v-row class="no-gutters pa-2">
          <v-col
            :cols="12"
            class="pa-2"
          >
            <v-text-field
              v-model="inquiry.subject"
              outlined
              :label="$t('subject')"
              :error-messages="getViolation('subject')"
            />
          </v-col>

          <v-col
            :cols="12"
            class="pa-2"
          >
            <v-textarea
              v-model="inquiry.body"
              outlined
              :label="$t('message')"
              :error-messages="getViolation('body')"
            />
          </v-col>
        </v-row>

        <v-row class="no-gutters pa-2">
          <v-col
            v-for="(item, index) in inquiry.data"
            :key="'data-' + index"
            :cols="12"
            class="pa-2"
          >
            <v-text-field
              v-model="item.value"
              outlined
              :label="$t(item.label)"
            />
          </v-col>
        </v-row>

        <v-row class="no-gutters pa-4">
          <v-col class="flex-grow-0">
            <v-btn
              depressed
              color="primary"
              class="mr-2"
              @click.prevent="saveInquiry"
            >
              <v-icon left>
                check
              </v-icon> {{ $t('save') }}
            </v-btn>
          </v-col>

          <v-col class="flex-grow-0">
            <v-btn-delete
              text
              :value="inquiry"
              class="mr-2"
            />
          </v-col>
        </v-row>
      </v-form>
    </v-card>
  </div>
</template>

<script>
import VBtnDelete from '../components/v-btn/VBtnDelete.vue'
import { errorMixin } from '../mixins/errorMixin'
import { useInquiryStore } from '../stores/inquiryStore'

export default {
  name: 'InquiryEditation',
  components: {
    VBtnDelete
  },
  mixins: [
    errorMixin
  ],
  data () {
    return {
      original: {},
      loading: {
        inquiry: false
      },
      key: 0
    }
  },
  computed: {
    store () {
      return useInquiryStore('/api/inquiries/' + window.location.pathname.split('/').pop())
    },
    inquiry: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    /**
     * Persist inquiry
     * @returns {Promise<any>}
     */
    async saveInquiry () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('inquiry_saved'))
    }
  }
}
</script>
