<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-inquiries
        :loading="loading"
      />
    </v-card>

    <v-card
      outlined
      mt-12
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/inquiries"
        :headers="headers"
      >
        <template #item.created_at="{ item }">
          <v-date-time
            :value="item.createdAt"
            :time="true"
          />
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import FilterInquiries from '../components/v-filter/FilterInquiries.vue'
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import VDateTime from '../components/v-date/VDateTime.vue'
import { useDataTableStore } from '../stores/dataTableStore'

export default {
  name: 'InquiryIndex',
  components: {
    VDataTableServer,
    FilterInquiries,
    VDateTime
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/inquiries')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id'
        },
        {
          text: this.$t('personal name'),
          align: 'left',
          sortable: true,
          value: 'personal_name'
        },
        {
          text: this.$t('company name'),
          align: 'left',
          sortable: true,
          value: 'company_name'
        },
        {
          text: this.$t('subject'),
          align: 'left',
          sortable: true,
          value: 'subject'
        },
        {
          text: this.$t('status'),
          align: 'left',
          sortable: true,
          value: 'status'
        },
        {
          text: this.$t('created at'),
          align: 'left',
          sortable: true,
          value: 'created_at'
        },
        {
          text: this.$t('conversion'),
          align: 'left',
          sortable: true,
          value: 'conversion'
        }
      ]
    }
  }
}
</script>
