<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="invoice">
    <v-card outlined>
      <v-toolbar flat>
        <v-toolbar-title />
      </v-toolbar>

      <v-row class="no-gutters pa-2">
        <v-col
          :cols="12"
          :md="3"
          class="pa-2"
        >
          <v-text-field
            v-model="invoice.invoiceNumber"
            outlined
            :label="$t('invoice number')"
            :error-messages="getViolation('invoiceNumber')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="3"
          class="pa-2"
        >
          <v-text-field
            v-model="invoice.orderNumber"
            outlined
            :label="$t('order number')"
            :error-messages="getViolation('orderNumber')"
          />
        </v-col>
      </v-row>

      <v-row class="no-gutters pa-2">
        <v-col
          :cols="12"
          :md="6"
          class="pa-2"
        >
          <v-textarea
            v-model="invoice.supplier"
            outlined
            :label="$t('invoice supplier')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="6"
          class="pa-2"
        >
          <v-textarea
            v-model="invoice.customer"
            outlined
            :label="$t('invoice customer')"
          />
        </v-col>
      </v-row>

      <v-row class="no-gutters pa-2">
        <v-col
          :cols="12"
          :md="2"
          class="pa-2"
        >
          <v-select
            :label="$t('payment type')"
            outlined
          />
        </v-col>

        <v-col
          :cols="12"
          :md="2"
          class="pa-2"
        >
          <v-text-field
            v-model="invoice.variableNumber"
            outlined
            :label="$t('variable number')"
            :error-messages="getViolation('variableNumber')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="2"
          class="pa-2"
        >
          <v-text-field
            v-model="invoice.constantNumber"
            outlined
            :label="$t('constant number')"
            :error-messages="getViolation('constantNumber')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="2"
          class="pa-2"
        >
          <v-text-field
            v-model="invoice.specificNumber"
            outlined
            :label="$t('specific number')"
            :error-messages="getViolation('specificNumber')"
          />
        </v-col>
      </v-row>

      <v-row class="no-gutters pa-2">
        <v-col
          :cols="12"
          :md="2"
          class="pa-2"
        >
          <v-text-field
            v-model="invoice.bankAccountNumber"
            outlined
            :label="$t('bank account number')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="2"
          class="pa-2"
        >
          <v-text-field
            v-model="invoice.iban"
            outlined
            :label="$t('IBAN')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="2"
          class="pa-2"
        >
          <v-text-field
            v-model="invoice.swift"
            outlined
            :label="$t('SWIFT')"
          />
        </v-col>
      </v-row>

      <v-row class="no-gutters pa-2">
        <v-col
          :cols="12"
          class="pa-2"
        >
          <v-textarea
            v-model="invoice.paymentInfo"
            outlined
            :label="$t('payment info')"
          />
        </v-col>
      </v-row>

      <v-row class="no-gutters pa-2">
        <v-col
          :cols="12"
          :md="2"
          class="pa-2"
        >
          <v-text-field-date-picker
            v-model="invoice.issuedAt"
            outlined
            :label="$t('issued at')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="2"
          class="pa-2"
        >
          <v-text-field-date-picker
            v-model="invoice.dueAt"
            outlined
            :label="$t('due at')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="2"
          class="pa-2"
        >
          <v-text-field-date-picker
            v-model="invoice.taxableSupplyAt"
            outlined
            :label="$t('taxable supply at')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="2"
          class="pa-2"
        >
          <v-text-field-date-picker
            v-model="invoice.paidAt"
            outlined
            :label="$t('paid_at')"
          />
        </v-col>
      </v-row>

      <v-row class="no-gutters pa-2">
        <v-col
          :cols="12"
          :md="2"
          class="pa-2"
        >
          <v-select
            v-model="invoice.currency"
            :label="$t('currency')"
            outlined
            :items="['CZK','EUR','USD']"
          />
        </v-col>
        <v-col
          :cols="12"
          :md="3"
          class="pa-2"
        >
          <v-switch
            v-model="invoice.vatInvoice"
            :label="$t('vat invoice')"
          />
        </v-col>
      </v-row>

      <v-toolbar flat>
        <v-toolbar-title>{{ $t('invoice items') }}</v-toolbar-title>
        <v-spacer />
        <v-btn
          icon
          @click="addOrderItem"
        >
          <v-icon>add</v-icon>
        </v-btn>
      </v-toolbar>

      <v-row
        v-for="(orderItem, index) in invoice.orderItems"
        :key="'orderItem-' + index"
        class="no-gutters pa-2"
      >
        <v-col
          :cols="12"
          lg="8"
          xl="4"
          class="pa-2"
        >
          <v-text-field
            v-model="orderItem.description"
            outlined
            :label="$t('description')"
          />
        </v-col>

        <v-col
          :cols="12"
          sm="6"
          md="3"
          lg="2"
          xl="1"
          class="pa-2"
        >
          <v-text-field
            v-model="orderItem.quantity"
            outlined
            :label="$t('quantity')"
          />
        </v-col>

        <v-col
          :cols="12"
          sm="6"
          md="3"
          lg="2"
          xl="1"
          class="pa-2"
        >
          <v-text-field-money
            v-model="orderItem.unitPrice"
            outlined
            :label="$t('unit price')"
            :currency="invoice.currency"
          />
        </v-col>

        <v-col
          v-if="invoice.vatInvoice"
          :cols="12"
          sm="6"
          md="3"
          lg="2"
          xl="1"
          class="pa-2"
        >
          <v-text-field-percent
            v-model="orderItem.taxRate"
            outlined
            :label="$t('tax rate')"
          />
        </v-col>

        <v-col
          v-if="invoice.vatInvoice"
          :cols="12"
          sm="6"
          md="3"
          lg="2"
          xl="1"
          class="pa-2"
        >
          <v-text-field-money
            v-model="orderItem.taxPrice"
            outlined
            :label="$t('tax price')"
            :currency="invoice.currency"
          />
        </v-col>

        <v-col
          :cols="12"
          sm="6"
          md="3"
          lg="2"
          xl="1"
          class="pa-2"
        >
          <v-text-field-money
            v-model="orderItem.discountPrice"
            outlined
            :label="$t('discount price')"
            :currency="invoice.currency"
          />
        </v-col>

        <v-col
          :cols="12"
          sm="6"
          md="3"
          lg="2"
          xl="1"
          class="pa-2"
        >
          <v-text-field-money
            v-model="orderItem.totalPriceWithoutTax"
            outlined
            :label="$t('without tax')"
            :currency="invoice.currency"
          />
        </v-col>

        <v-col
          v-if="invoice.vatInvoice"
          :cols="12"
          sm="6"
          md="3"
          lg="2"
          xl="1"
          class="pa-2"
        >
          <v-text-field-money
            v-model="orderItem.totalPriceWithTax"
            outlined
            :label="$t('with tax')"
            :currency="invoice.currency"
          />
        </v-col>

        <v-col class="pa-2 flex-grow-0">
          <v-btn
            icon
            color="error"
            class="mt-2"
            @click="removeOrderItem(index)"
          >
            <v-icon>remove_circle_outline</v-icon>
          </v-btn>
        </v-col>
      </v-row>

      <v-row
        no-gutters
        class="ma-4"
      >
        <v-col class="flex-grow-0">
          <v-btn
            outlined
            :disabled="isEditationDisabled"
            class="mr-2"
            @click.prevent="saveInvoice"
          >
            <v-icon left>
              check
            </v-icon> {{ $t('save') }}
          </v-btn>
        </v-col>

        <v-col class="flex-grow-0">
          <v-btn-delete
            outlined
            :value="invoice"
            :action="deleteInvoice"
            class="mr-2"
          />
        </v-col>

        <v-col class="flex-grow-0">
          <v-btn
            target="_blank"
            :href="$generateUrl('arodax_admin_invoice_download', {id: invoice.id})"
            outlined
            color="primary"
            :loading="loading.invoice"
            class="mr-2"
          >
            <v-icon left>
              get_app
            </v-icon> {{ $t('download') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import Breadcrumb from '../components/Breadcrumb.vue'
import VTextFieldDatePicker from '../components/v-text-field/VTextFieldDatePicker.vue'
import VTextFieldMoney from '../components/v-text-field/VTextFieldMoney.vue'
import VTextFieldPercent from '../components/v-text-field/VTextFieldPercent.vue'
import VBtnDelete from '../components/v-btn/VBtnDelete.vue'
import { errorMixin } from '../mixins/errorMixin'
import { securityMixin } from '../mixins/securityMixin'
import { refreshItemMixin } from '../mixins/refreshItemMixin'
import { useArticleStore } from "../stores/articleStore";

export default {
  name: 'InvoiceEditation',
  components: {
    Breadcrumb,
    VTextFieldDatePicker,
    VTextFieldMoney,
    VTextFieldPercent,
    VBtnDelete
  },
  mixins: [
    errorMixin,
    securityMixin,
    refreshItemMixin
  ],
  data () {
    return {
      original: {},
      remove: {
        agree: null
      },
      loading: {
        invoice: false
      }
    }
  },
  computed: {
    store () {
      return useArticleStore('/api/invoices/' + window.location.pathname.split('/').pop());
    },
    invoice: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    /**
     * Check if the invoice editation is disabled
     * Generally only admin can edit invoice as soon as it has been published
     * @returns {boolean}
     */
    isEditationDisabled () {
      if (this.invoice.status === 'draft') {
        return false
      }

      if (this.isGranted('ROLE_ADMIN')) {
        return false
      }

      return true
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    async deleteInvoice() {
      await this.store.deleteItem()
      window.location.href = '/admin/invoices'
    },
    /**
     * Persist invoice
     * @returns {Promise<any>}
     */
    async saveInvoice () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('invoice_saved'))
    },
    addOrderItem () {
      this.invoice.orderItems.push({
        description: null,
        quantity: 1,
        unitPrice: 0,
        taxRate: null,
        taxPrice: null,
        discountPrice: null,
        totalPriceWithoutTax: 0,
        totalPriceWithTax: 0
      })
    },
    removeOrderItem (index) {
      this.invoice.orderItems.splice(index, 1)
    }
  }
}
</script>
