<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-invoices
        :loading="loading"
      />
    </v-card>

    <v-card
      outlined
      mt-12
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/invoices"
        :headers="headers"
      >
        <template #item.id="{ item }">
          <div :class="statusColor(item)">
            <span v-text="item.id" />
          </div>
        </template>

        <template #item.invoice_number="{ item }">
          <div :class="statusColor(item)">
            <span v-text="item.invoiceNumber" />
          </div>
        </template>

        <template #item.variable_number="{ item }">
          <div :class="statusColor(item)">
            <span v-text="item.variableNumber" />
          </div>
        </template>

        <template #item.constant_number="{ item }">
          <div :class="statusColor(item)">
            <span v-text="item.constantNumber" />
          </div>
        </template>

        <template #item.specific_number="{ item }">
          <div :class="statusColor(item)">
            <span v-text="item.specificNumber" />
          </div>
        </template>

        <template #item.created_at="{ item }">
          <div :class="statusColor(item)">
            <v-date-time
              :value="item.createdAt"
              :time="true"
            />
          </div>
        </template>

        <template #item.paid_at="{ item }">
          <div :class="statusColor(item)">
            <v-date-time
              :value="item.paidAt"
              :time="true"
            />
          </div>
        </template>

        <template #item.subtotal_tax="{ item }">
          <div :class="statusColor(item)">
            <span v-text="money(item.totalTax, item.currency)" />
          </div>
        </template>

        <template #item.total_price="{ item }">
          <div :class="statusColor(item)">
            <span v-text="money(item.totalPrice, item.currency)" />
          </div>
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import FilterInvoices from '../components/v-filter/FilterInvoices.vue'
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import VDateTime from '../components/v-date/VDateTime.vue'
import { useDataTableStore } from '../stores/dataTableStore'

export default {
  name: 'InvoiceIndex',
  components: {
    FilterInvoices,
    VDataTableServer,
    VDateTime
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/invoices')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('invoice number'),
          align: 'left',
          sortable: true,
          value: 'invoice_number'
        },
        {
          text: this.$t('variable number'),
          align: 'left',
          sortable: true,
          value: 'variable_number'
        },
        {
          text: this.$t('constant number'),
          align: 'left',
          sortable: true,
          value: 'constant_number'
        },
        {
          text: this.$t('specific number'),
          align: 'left',
          sortable: true,
          value: 'specific_number'
        },
        {
          text: this.$t('created at'),
          align: 'left',
          sortable: true,
          value: 'created_at'
        },
        {
          text: this.$t('paid_at'),
          align: 'left',
          sortable: true,
          value: 'paid_at'
        },
        {
          text: this.$t('tax price'),
          align: 'left',
          sortable: false,
          value: 'subtotal_tax'
        },
        {
          text: this.$t('total price'),
          align: 'left',
          sortable: false,
          value: 'total_price'
        }
      ]
    }
  },
  methods: {
    statusColor (item) {
      if (!item.paidAt) {
        return 'red--text'
      }
    },
    money (amount, currency) {
      return (new Intl.NumberFormat().format(amount / 100)) + ' ' + currency
    }
  }
}
</script>
