<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="menuItem">
    <v-card outlined>
      <v-toolbar flat>
        <v-tabs
          v-model="tab"
          align-with-title
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            v-for="(item, locale) in menuItem.translations"
            :key="item.locale"
            :href="'#' + item.locale"
          >
            <v-badge
              color="error"
              content="!"
              :value="!hasTranslation(item.locale)"
            >
              <span v-text="item.locale" />
            </v-badge>
          </v-tab>
        </v-tabs>
        <v-spacer />
        <v-btn
          icon
          :disabled="!$_hasTranslations || isEditationDisabled"
          @click="removeMenuItemLocale"
        >
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu
          :key="usedTranslationKeys.join('')"
          :restricted-locales="usedTranslationKeys"
          @selected="addMenuItemLocale"
          :disabled="isEditationDisabled"
        />
      </v-toolbar>

      <v-tabs-items v-model="tab">
        <v-tab-item
          v-for="(item, locale) in menuItem.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <v-row class="pa-2 ma-0">
            <v-col
              :cols="12"
              :md="4"
              class="pa-2"
            >
              <v-text-field
                v-model="item.title"
                outlined
                :label="$t('name')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="4"
              class="pa-2 mb-n8"
            >
              <v-text-field
                v-model="item.link"
                outlined
                :label="$t('link')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col class="pa-2">
              <v-switch
                v-model="item.linkType"
                outlined
                false-value="url"
                true-value="route"
                :error-messages="getViolation('item.linkType')"
                :label="$t('is_route_link')"
                :disabled="isEditationDisabled"
              />
            </v-col>
          </v-row>

          <v-card
            v-if="item.linkType === 'route'"
            outlined
            class="ma-4"
          >
            <v-toolbar flat>
              <v-toolbar-title>{{ $t('route parameters') }}</v-toolbar-title>
              <v-spacer />
              <v-btn
                icon
                :disabled="isEditationDisabled"
                @click="addRouteParam(locale)"
              >
                <v-icon>add_circle_outline</v-icon>
              </v-btn>
            </v-toolbar>
            <v-simple-table>
              <template #default>
                <tbody>
                  <tr v-for="(param, index) in item.routeParams">
                    <td>
                      <v-json-field v-model="item.routeParams[index]" :disabled="isEditationDisabled" />
                    </td>
                    <td>
                      <v-btn
                        icon
                        @click="removeRouteParam(locale, index)"
                      >
                        <v-icon>remove_circle_outline</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
        </v-tab-item>
      </v-tabs-items>

      <v-row
        no-gutters
        class="px-2"
      >
        <v-col
          :cols="12"
          :md="4"
          class="pa-2"
        >
          <v-text-field
            v-model="menuItem.nodeName"
            outlined
            :label="$t('id')"
            :disabled="isEditationDisabled"
          />
        </v-col>
        <v-col
          :cols="12"
          :md="4"
          class="pa-2 mb-n8"
        >
          <v-text-field
            v-model="menuItem.icon"
            outlined
            :label="$t('icon')"
            :disabled="isEditationDisabled"
          />
        </v-col>
        <v-col class="pa-2">
          <v-switch
            v-model="menuItem.enabled"
            :label="$t('enabled')"
            :disabled="isEditationDisabled"
          />
        </v-col>
      </v-row>

      <v-row
        no-gutters
        class="px-2"
      >
        <v-col
          :cols="12"
          class="pa-2"
        >
          <v-text-field
            v-model="menuItem.security"
            outlined
            :label="$t('permissions')"
            :disabled="isEditationDisabled"
          />
        </v-col>
      </v-row>

      <v-row
        no-gutters
        class="pa-4"
      >
        <v-col class="flex-grow-0">
          <v-btn
            depressed
            color="primary"
            :loading="loading"
            class="mr-2"
            @click.prevent="saveMenuItem"
            v-if="!isEditationDisabled"
          >
            <v-icon left>
              mdi-floppy
            </v-icon> {{ $t('save') }}
          </v-btn>
        </v-col>

        <v-col class="flex-grow-0">
          <v-btn-delete
            text
            :value="menuItem"
            class="mr-2"
            v-if="menuItem.deletable"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import VEditorWysiwyg from '../components/v-editor/VEditorWysiwyg.vue'
import Breadcrumb from '../components/Breadcrumb.vue'
import VJsonField from '../components/v-text-field/VJsonField.vue'
import VBtnDelete from '../components/v-btn/VBtnDelete.vue'
import keys from 'lodash/keys'
import size from 'lodash/size'
import isEmpty from 'lodash/isEmpty'
import forEach from 'lodash/forEach'
import Vue from 'vue'
import has from 'lodash/has'
import isNil from 'lodash/isNil'
import { errorMixin, refreshItemMixin } from '../mixins'
import { useCurrentUserStore } from '../stores/currentUserStore'
import { useMenuItemStore } from "../stores/menuItemStore";

export default {
  name: 'MenuItemEditation',
  components: {
    LocalizationMenu,
    VEditorWysiwyg,
    Breadcrumb,
    VJsonField,
    VBtnDelete
  },
  mixins: [
    errorMixin,
    refreshItemMixin
  ],
  data () {
    return {
      content: null,
      original: {},
      remove: {
        agree: null
      },
      loading: false,
      tab: null,
      menu: {
        publishedAtTime: false,
        publishedAtDate: false
      }
    }
  },
  computed: {
    store () {
      return useMenuItemStore('/api/menu-items/' + window.location.pathname.split('/').pop());
    },
    menuItem: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    admin: {
      get () {
        const currentUserStore = useCurrentUserStore()
        return currentUserStore.getAdmin
      },
      set (value) {
        const currentUserStore = useCurrentUserStore()
        currentUserStore.setAdmin(value)
      }
    },
    usedTranslationKeys () {
      return keys(this.menuItem.translations)
    },
    $_hasTranslations () {
      return size(this.menuItem.translations) > 0
    },
    isEditationDisabled () {
      if (this.menuItem.readOnly === true) {
        return true
      }

      const roles = this.admin.roles

      if (roles.includes('ROLE_ADMIN')) {
        return false
      }

      return true
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    /**
     * Persist menuItem
     * @returns {Promise<any>}
     */
    async saveMenuItem () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('menu_item_saved'))
      this.loading = false
    },
    addMenuItemLocale (locales) {
      if (isEmpty(this.menuItem.translations)) {
        this.menuItem.translations = {}
      }
      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale: locale,
          name: null,
          description: null
        }

        Vue.set(this.menuItem.translations, locale, translations)
      })
    },
    removeMenuItemLocale () {
      Vue.delete(this.menuItem.translations, this.tab)
    },
    hasTranslation (locale) {
      return has(this.menuItem.translations, locale + '.title') && !isNil(this.menuItem.translations[locale].title) && this.menuItem.translations[locale].title !== ''
    },
    /**
     * Add a new route parameter to specific locale
     * @param locale
     * @return {void}
     */
    addRouteParam (locale) {
      if (isNil(this.menuItem.translations[locale].routeParams)) {
        this.menuItem.translations[locale].routeParams = []
      }

      this.menuItem.translations[locale].routeParams.push({ '': null })
    },
    /**
     * Remove route param
     * @param locale
     * @param index
     */
    removeRouteParam (locale, index) {
      this.menuItem.translations[locale].routeParams.splice(index, 1)
    }
  }
}
</script>
