<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-menu-items />
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/menu-items"
        :headers="headers"
      >
        <template #item.id="{ item }">
          <div>
            <span v-text="item.id" />
          </div>
        </template>

        <template #item.name="{ item }">
          <v-item-name :value="item" path="headline"></v-item-name>
        </template>
      </v-data-table-server>
    </v-card>

    <v-card
      outlined
      :loading="loading.menuItems"
      class="mt-4"
    >
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('menu_item_tree') }}</v-toolbar-title>
        <v-spacer />
      </v-toolbar>

      <v-tree-draggable
        :value="tree"
        @move="move"
        @append="append"
      />
    </v-card>
  </div>
</template>

<script>
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import VTreeDraggable from '../components/VTreeDraggable.vue'
import Axios from '../composables/ajax'
import VItemName from '../components/VItemName.vue'
import orderBy from 'lodash/orderBy'
import { useDataTableStore } from '../stores/dataTableStore'
import FilterMenuItems from '../components/v-filter/FilterMenuItems.vue'

export default {
  name: 'MenuItemIndex',
  components: {
    VDataTableServer,
    VTreeDraggable,
    VItemName,
    FilterMenuItems
  },
  data () {
    return {
      widget: {
        filter: 0
      },
      tree: [],
      loading: true,
      filter: {
        title: null,
        internal: false
      }
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/menu-items')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('menu_name'),
          align: 'left',
          sortable: false,
          value: 'name'
        }
      ]
    }
  },
  created () {
    Axios.get('/api/menu-items/tree').then((response) => {
      this.tree = response.data
    })
  },
  methods: {
    orderBy (a, b, c) {
      return orderBy(a, b, c)
    },
    async deleteItem (item) {
      await this.store.deleteItem(item['@id'])
      window.location.reload()
    },
    /**
     * Move menu item to the requested position
     * @param e
     */
    async move (e) {
      await this.store.moveItemTree('/api/menu-items/tree', e)
    },
    async append (e) {
      const response = await this.store.appendItem('/api/menu-items/tree', { parent: e.id })
      window.location.href = '/admin/menu-items/' + response.data.id
    }
  }
}
</script>
