<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="newsletterRecipient">
    <v-card outlined>
      <v-toolbar flat />
      <v-form>
        <v-row class="no-gutters pa-2">
          <v-col
            :cols="12"
            :md="3"
            class="pa-2"
          >
            <v-text-field
              v-model="newsletterRecipient.email"
              outlined
              :label="$t('email')"
            />
          </v-col>

          <v-row class="no-gutters pa-4">
            <v-col class="flex-grow-0">
              <v-btn
                depressed
                color="primary"
                class="mr-2"
                @click.prevent="saveNewsletterRecipient"
              >
                <v-icon left>
                  check
                </v-icon> {{ $t('save') }}
              </v-btn>
            </v-col>

            <v-col class="flex-grow-0">
              <v-btn-delete
                text
                :value="newsletterRecipient"
                class="mr-2"
              />
            </v-col>
          </v-row>
        </v-row>
      </v-form>
    </v-card>
  </div>
</template>

<script>
import VBtnDelete from '../components/v-btn/VBtnDelete.vue'
import { refreshItemMixin } from '../mixins/refreshItemMixin'
import { useNewsletterRecipientStore } from '../stores/newsletterRecipientStore'

export default {
  name: 'NewsletterRecipientEditation',
  components: {
    VBtnDelete
  },
  mixins: [
    refreshItemMixin
  ],
  data () {
    return {
      loading: false
    }
  },
  computed: {
    store () {
      return useNewsletterRecipientStore('/api/newsletter-recipients/' + window.location.pathname.split('/').pop())
    },
    newsletterRecipient: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    /**
     * Persist paymentMethod
     * @returns {Promise<any>}
     */
    async saveNewsletterRecipient () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('newsletter_recipient_saved'))
    }
  }
}
</script>
