<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-newsletter-recipients />
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/newsletter-recipients"
        :headers="headers"
      />
    </v-card>
  </div>
</template>

<script>
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import orderBy from 'lodash/orderBy'
import { mediaMixin } from '../mixins/mediaMixin'
import { useDataTableStore } from '../stores/dataTableStore'
import FilterNewsletterRecipients from '../components/v-filter/FilterNewsletterRecipients.vue'

export default {
  name: 'NewsletterRecipientIndex',
  components: {
    VDataTableServer,
    FilterNewsletterRecipients
  },
  mixins: [
    mediaMixin
  ],
  data () {
    return {
      widget: {
        filter: 0
      },
      loading: false,
      filter: {
        id: null,
        headline: null,
        status: null
      }
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/newsletter-recipients')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('email'),
          align: 'left',
          sortable: false,
          value: 'email'
        }
      ]
    }
  },
  methods: {
    orderBy (a, b, c) {
      return orderBy(a, b, c)
    }
  }
}
</script>
