<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-newsletters />
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/email-messages"
        :headers="headers"
      >
        <template #item.id="{ item }">
          <div>
            <v-row no-gutters>
              <v-col
                v-for="translations in orderBy(item.translations, 'locale', 'asc')"
                :key="translations.locale"
                class="d-flex align-center ma-1"
              >
                <v-chip
                  class="flex-shrink-0"
                  v-text="translations.locale"
                />
                <span
                  v-if="!store.getFilter('headline')"
                  class="ml-1"
                  v-text="translations.headline"
                />
                <text-highlight
                  v-else
                  :queries="[store.getFilter('headline')]"
                >
                  {{ translations.headline }}
                </text-highlight>
              </v-col>
            </v-row>
          </div>
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import orderBy from 'lodash/orderBy'
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import { useDataTableStore } from '../stores/dataTableStore'
import FilterNewsletters from '../components/v-filter/FilterNewsletters.vue'

export default {
  name: 'NewsletterIndex',
  components: {
    VDataTableServer,
    FilterNewsletters
  },
  data () {
    return {
      widget: {
        filter: 0
      }
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/email-messages')
    },
    headers () {
      return [
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id'
        }
      ]
    }
  },
  methods: {
    orderBy (a, b, c) {
      return orderBy(a, b, c)
    }
  }
}
</script>
