<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-orders
        :loading="loading"
      />
    </v-card>

    <v-card
      outlined
      mt-12
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/orders"
        :headers="headers"
      >
        <template #item.created_at="{ item }">
          <div>
            <v-date-time
              :value="item.createdAt"
              :time="true"
            />
          </div>
        </template>

        <template #item.order_number="{ item }">
          <div>
            {{ item.orderNumber }}
          </div>
        </template>

        <template #item.billing="{ item }">
          <div>
            <!-- eg. mr. John Doe -->
            {{ item.billingHonorific }} {{ item.billingFirstName }} {{ item.billingLastName }}
            <br>
            <!-- company name -->
            {{ item.billingCompanyName }}
          </div>
        </template>

        <template #item.price="{ item }">
          <v-span-money
            :value="item.getTotalOrderPriceWithTax"
            :currency="item.currency"
          />
        </template>

        <template #item.status="{ item }">
          <v-chip-order-status :value="item.status" />
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import FilterOrders from '../components/v-filter/FilterOrders.vue'
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import VDateTime from '../components/v-date/VDateTime.vue'
import { useDataTableStore } from '../stores/dataTableStore'
import VSpanMoney from '../components/VSpanMoney.vue'
import VChipOrderStatus from '../components/v-chip/VChipOrderStatus.vue'

export default {
  name: 'OrderIndex',
  components: {
    FilterOrders,
    VDataTableServer,
    VDateTime,
    VSpanMoney,
    VChipOrderStatus
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/orders')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('order_number'),
          align: 'left',
          sortable: true,
          value: 'order_number',
          width: '70px'
        },
        {
          text: this.$t('order_buyer'),
          align: 'left',
          sortable: true,
          value: 'billing'
        },
        {
          text: this.$t('v_order_index_price'),
          align: 'left',
          sortable: true,
          value: 'price',
          width: '170px'
        },
        {
          text: this.$t('v_order_index_status'),
          align: 'left',
          sortable: true,
          value: 'status',
          width: '70px'
        },
        {
          text: this.$t('created_at'),
          align: 'left',
          sortable: true,
          value: 'created_at',
          width: '170px'
        }
      ]
    }
  }
}
</script>
