<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="order">
    <v-card outlined>
      <v-tabs v-model="tab">
        <v-tab href="#info">
          {{ $t('order_basic_info') }}
        </v-tab>
        <v-tab href="#price">
          {{ $t('order_price_info') }}
        </v-tab>
        <v-tab href="#billing">
          {{ $t('order_billing_info') }}
        </v-tab>
        <v-tab href="#shipping">
          {{ $t('order_shipping_info') }}
        </v-tab>
      </v-tabs>

      <v-tabs-items
        v-model="tab"
        style="background: none !important;"
      >
        <v-tab-item value="info">
          <v-toolbar flat>
            <v-toolbar-title>
              {{ $t('order_basic_info') }}
            </v-toolbar-title>
          </v-toolbar>

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              :md="4"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.orderNumber"
                outlined
                :label="$t('order_number')"
                clearable
                :error-messages="getViolation('order_number')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="4"
              class="pa-2"
            >
              <v-autocomplete-order-status
                v-model="order.status"
                outlined
                :label="$t('order_status')"
                clearable
                :error-messages="getViolation('status')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="4"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.createdAt"
                outlined
                :label="$t('order_created_at')"
                clearable
                :error-messages="getViolation('createdAt')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="4"
              class="pa-2"
            >

              <v-alert
                outlined
                type="info"
                icon="fa-light fa-fw fa-cart-circle-exclamation"
                v-show="!order.shoppingCart"
              >{{ $t('order_editation_no_shopping_cart') }}</v-alert>

              <v-autocomplete-shopping-cart v-model="order.shoppingCart" />

              <div v-if="order.shoppingCart">
                <v-list dense>
                  <v-subheader>{{ $t('order_shopping_cart_items') }}</v-subheader>
                  <v-list-item-group>
                    <v-list-item
                      v-for="item in order.shoppingCart.items"
                      :key="item.id"
                    >
                      <v-list-item-avatar>
                        <img
                          :src="item.productVariant.firstCoverUrl"
                          :alt="item.name"
                        >
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <v-list-item-title>{{ $t('order_shopping_cart_item_name') }}: {{ item.name }}</v-list-item-title>
                        <v-list-item-subtitle>{{ $t('order_shopping_cart_item_quantity') }}: {{ item.quantity }}</v-list-item-subtitle>
                        <v-list-item-subtitle>
                          {{ $t('order_shopping_cart_item_price_without_tax') }}: <v-span-money
                            :value="item.priceWithoutTax"
                            :currency="order.currency"
                          />
                        </v-list-item-subtitle>
                        <v-list-item-subtitle>
                          {{ $t('order_shopping_cart_item_price_with_tax') }}: <v-span-money
                            :value="item.priceWithTax"
                            :currency="order.currency"
                          />
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </div>
            </v-col>

            <v-col
              :cols="12"
              :md="4"
              class="pa-2"
            >
              <v-list dense>
                <v-subheader>{{ $t('order_shopping_cart_billing') }} {{ order.paymentMethodName }}</v-subheader>

                <!-- Billing Company Name -->
                <v-list-item v-if="order.billingCompanyName">
                  <v-list-item-content>
                    <v-list-item-title>{{ $t('order_billing_company_name') }}: {{ order.billingCompanyName }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <v-list-item v-if="order.billingCompanyId">
                  <v-list-item-content>
                    <v-list-item-title>{{ $t('order_billing_company_id') }}: {{ order.billingCompanyId }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <v-list-item v-if="order.billingTaxId">
                  <v-list-item-content>
                    <v-list-item-title>{{ $t('order_billing_tax_id') }}: {{ order.billingTaxId }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <!-- Full Name -->
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>{{ $t('order_billing_full_name') }}: {{ order.billingFirstName }} {{ order.billingLastName }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <!-- Email -->
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-subtitle>{{ $t('order_billing_email') }}: <a :href="'mailto:' + order.billingEmail">{{ order.billingEmail }}</a></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Phone Number -->
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-subtitle>{{ $t('order_billing_phone_number') }}: <a :href="'tel:' + order.billingPhoneNumber">{{ order.billingPhoneNumber }}</a></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Address -->
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-subtitle>{{ $t('order_billing_address') }}: {{ formattedBillingAddress }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-col>

            <v-col
              :cols="12"
              :md="4"
              class="pa-2"
            >
              <v-list dense>
                <v-subheader>{{ $t('order_shopping_cart_shipping') }} {{ order.shippingMethodName }}</v-subheader>

                <!-- Shipping Company Name -->
                <v-list-item v-if="order.shippingCompanyName">
                  <v-list-item-content>
                    <v-list-item-title>{{ $t('order_shipping_company_name') }}: {{ order.shippingCompanyName }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <!-- Full Name -->
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>{{ $t('order_shipping_full_name') }}: {{ order.shippingFirstName }} {{ order.shippingLastName }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <!-- Email -->
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-subtitle>{{ $t('order_shipping_email') }}: <a :href="'mailto:' + order.shippingEmail">{{ order.shippingEmail }}</a></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Phone Number -->
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-subtitle>{{ $t('order_shipping_phone_number') }}: <a :href="'tel:' + order.shippingPhoneNumber">{{ order.shippingPhoneNumber }}</a></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Address -->
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-subtitle>{{ $t('order_shipping_address') }}: {{ formattedShippingAddress }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-col>
          </v-row>
        </v-tab-item>

        <v-tab-item value="price">
          <v-toolbar flat>
            <v-toolbar-title>
              {{ $t('order_price_info') }}
            </v-toolbar-title>
          </v-toolbar>

          <v-row
            no-gutters
            class="px-2"
          >
            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.currency"
                outlined
                :label="$t('order_currency')"
                clearable
                :error-messages="getViolation('currency')"
                :disabled="isEditationDisabled"
              />
            </v-col>
          </v-row>
          <v-row
            no-gutters
            class="px-2"
          >
            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-money
                v-model="order.priceWithoutTax"
                outlined
                :label="$t('order_price_without_tax')"
                clearable
                :error-messages="getViolation('priceWithoutTax')"
                :disabled="isEditationDisabled"
                :currency="order.currency"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-money
                v-model="order.priceWithTax"
                outlined
                :label="$t('order_price_with_tax')"
                clearable
                :error-messages="getViolation('priceWithTax')"
                :disabled="isEditationDisabled"
                :currency="order.currency"
              />
            </v-col>
          </v-row>
          <v-row
            no-gutters
            class="px-2"
          >
            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-money
                v-model="order.shippingPriceWithoutTax"
                outlined
                :label="$t('order_shipping_price_without_tax')"
                clearable
                :error-messages="getViolation('shippingPriceWithoutTax')"
                :disabled="isEditationDisabled"
                :currency="order.currency"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-money
                v-model="order.shippingPriceWithTax"
                outlined
                :label="$t('order_shipping_price_with_tax')"
                clearable
                :error-messages="getViolation('shippingPriceWithTax')"
                :disabled="isEditationDisabled"
                :currency="order.currency"
              />
            </v-col>
          </v-row>
          <v-row
            no-gutters
            class="px-2"
          >
            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-money
                v-model="order.paymentPriceWithoutTax"
                outlined
                :label="$t('order_payment_price_without_tax')"
                clearable
                :error-messages="getViolation('paymentPriceWithoutTax')"
                :disabled="isEditationDisabled"
                :currency="order.currency"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-money
                v-model="order.paymentPriceWithTax"
                outlined
                :label="$t('order_payment_price_with_tax')"
                clearable
                :error-messages="getViolation('paymentPriceWithTax')"
                :disabled="isEditationDisabled"
                :currency="order.currency"
              />
            </v-col>
          </v-row>
        </v-tab-item>

        <v-tab-item value="billing">
          <v-toolbar flat>
            <v-toolbar-title>
              {{ $t('order_billing_info') }}
            </v-toolbar-title>
          </v-toolbar>

          <v-row
            no-gutters
            class="px-2 py-0"
          >
            <v-col
              :cols="12"
              :md="6"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.billingCompanyName"
                outlined
                :label="$t('order_billing_company_name')"
                clearable
                :error-messages="getViolation('billingCompanyName')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.billingCompanyId"
                outlined
                :label="$t('order_billing_company_id')"
                clearable
                :error-messages="getViolation('billingCompanyId')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.billingTaxId"
                outlined
                :label="$t('order_billing_tax_id')"
                clearable
                :error-messages="getViolation('billingTaxId')"
                :disabled="isEditationDisabled"
              />
            </v-col>
          </v-row>

          <v-row
            no-gutters
            class="px-2 py-0"
          >
            <v-col
              :cols="12"
              :md="2"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.billingHonorific"
                outlined
                :label="$t('order_billing_honorific')"
                clearable
                :error-messages="getViolation('billingHonorific')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="5"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.billingFirstName"
                outlined
                :label="$t('order_billing_first_name')"
                clearable
                :error-messages="getViolation('billingFirstName')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="5"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.billingLastName"
                outlined
                :label="$t('order_billing_last_name')"
                clearable
                :disabled="isEditationDisabled"
                :error-messages="getViolation('billingLastName')"
              />
            </v-col>
          </v-row>

          <v-row
            no-gutters
            class="px-2 py-0"
          >
            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.billingEmail"
                outlined
                :label="$t('order_billing_email')"
                clearable
                :error-messages="getViolation('billingEmail')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.billingPhoneNumber"
                outlined
                :label="$t('order_billing_phone_number')"
                clearable
                :error-messages="getViolation('billingPhoneNumber')"
                :disabled="isEditationDisabled"
              />
            </v-col>
          </v-row>

          <v-row
            no-gutters
            class="px-2 py-0"
          >
            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.billingStreet"
                outlined
                :label="$t('order_billing_street')"
                clearable
                :error-messages="getViolation('billingStreet')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.billingAddressDescription"
                outlined
                :label="$t('order_billing_address_description')"
                clearable
                :error-messages="getViolation('billingDescription')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.billingPostCode"
                outlined
                :label="$t('order_billing_post_code')"
                clearable
                :error-messages="getViolation('billingPostCode')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.billingCountry"
                outlined
                :label="$t('order_billing_country')"
                clearable
                :error-messages="getViolation('billingCountry')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.billingCity"
                outlined
                :label="$t('order_billing_city')"
                clearable
                :error-messages="getViolation('billingCity')"
                :disabled="isEditationDisabled"
              />
            </v-col>
          </v-row>
        </v-tab-item>

        <v-tab-item value="shipping">
          <v-toolbar flat>
            <v-toolbar-title>
              {{ $t('order_shipping_info') }}
            </v-toolbar-title>
          </v-toolbar>

          <v-row
            no-gutters
            class="px-2 py-0"
          >
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.shippingCompanyName"
                outlined
                :label="$t('order_shipping_company_name')"
                clearable
                :error-messages="getViolation('shippingCompanyName')"
                :disabled="isEditationDisabled"
              />
            </v-col>
          </v-row>
          <v-row
            no-gutters
            class="px-2 py-0"
          >
            <v-col
              :cols="12"
              :md="2"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.shippingHonorific"
                outlined
                :label="$t('order_shipping_honorific')"
                clearable
                :error-messages="getViolation('shippingHonorific')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="5"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.shippingFirstName"
                outlined
                :label="$t('order_shipping_first_name')"
                clearable
                :error-messages="getViolation('shippingFirstName')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="5"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.shippingLastName"
                outlined
                :label="$t('order_shipping_last_name')"
                clearable
                :error-messages="getViolation('shippingLastName')"
                :disabled="isEditationDisabled"
              />
            </v-col>
          </v-row>
          <v-row
            no-gutters
            class="px-2 py-0"
          >
            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.shippingEmail"
                outlined
                :label="$t('order_shipping_email')"
                clearable
                :error-messages="getViolation('shippingEmail')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.shippingPhoneNumber"
                outlined
                :label="$t('order_shipping_phone_number')"
                clearable
                :error-messages="getViolation('shippingPhoneNumber')"
                :disabled="isEditationDisabled"
              />
            </v-col>
          </v-row>
          <v-row
            no-gutters
            class="px-2 py-0"
          >
            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.shippingStreet"
                outlined
                :label="$t('order_shipping_street')"
                clearable
                :error-messages="getViolation('shippingStreet')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.shippingAddressDescription"
                outlined
                :label="$t('order_shipping_address_description')"
                clearable
                :error-messages="getViolation('shippingAddressDescription')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.shippingCity"
                outlined
                :label="$t('order_shipping_city')"
                clearable
                :error-messages="getViolation('shippingCity')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.shippingPostCode"
                outlined
                :label="$t('order_shipping_post_code')"
                clearable
                :error-messages="getViolation('shippingPostCode')"
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col
              :cols="12"
              :md="3"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="order.shippingCountry"
                outlined
                :label="$t('order_shipping_country')"
                clearable
                :error-messages="getViolation('shippingCountry')"
                :disabled="isEditationDisabled"
              />
            </v-col>
          </v-row>
        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('actions') }}</v-toolbar-title>
      </v-toolbar>

      <v-card-actions class="d-flex flex-wrap pa-4 g-4">
        <v-btn
          depressed
          color="primary"
          class="white--text"
          @click="saveOrder"
        >
          <v-icon left>
            fa-light fa-fw fa-floppy-disk-pen
          </v-icon>
          {{ $t('save') }}
        </v-btn>

        <v-btn-delete
          :value="order"
          text
        />

        <slot />
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { refreshItemMixin } from '../mixins/refreshItemMixin'
import { useCurrentUserStore } from '../stores/currentUserStore'
import { useOrderStore } from '../stores/orderStore'
import VBtnDelete from '../components/v-btn/VBtnDelete.vue'
import { errorMixin } from '../mixins/errorMixin'
import VTextFieldCustom from '../components/v-text-field/VTextFieldCustom.vue'
import VAutocompleteOrderStatus from '../components/v-autocomplete/VAutocompleteOrderStatus.vue'
import VSpanMoney from '../components/VSpanMoney.vue'
import VAutocompleteShoppingCart from '../components/v-autocomplete/VAutocompleteShoppingCart.vue'
import VTextFieldMoney from '../components/v-text-field/VTextFieldMoney.vue'

export default {
  name: 'OrderEditation',
  components: {
    VBtnDelete,
    VTextFieldCustom,
    VAutocompleteOrderStatus,
    VSpanMoney,
    VAutocompleteShoppingCart,
    VTextFieldMoney
  },
  mixins: [
    refreshItemMixin,
    errorMixin
  ],
  data () {
    return {
      loading: false,
      tab: null
    }
  },
  computed: {
    formattedBillingAddress () {
      const parts = [this.order.billingStreet, this.order.billingCity, this.order.billingPostCode, this.order.billingCountry, this.order.billingAddressDescription]
      const nonEmptyParts = parts.filter(part => part && part.trim() !== '')
      return nonEmptyParts.join(', ')
    },
    formattedShippingAddress () {
      const parts = [this.order.shippingStreet, this.order.shippingCity, this.order.shippingPostCode, this.order.shippingCountry, this.order.shippingAddressDescription]
      const nonEmptyParts = parts.filter(part => part && part.trim() !== '')
      return nonEmptyParts.join(', ')
    },
    store () {
      return useOrderStore('/api/orders/' + window.location.pathname.split('/').pop())
    },
    order: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    admin: {
      get () {
        const currentUserStore = useCurrentUserStore()
        return currentUserStore.getAdmin
      },
      set (value) {
        const currentUserStore = useCurrentUserStore()
        currentUserStore.setAdmin(value)
      }
    },
    /**
     * Check if the order editation is disabled
     *
     * This return always true and is here for the further method implementation.
     *
     * @returns {boolean} - Returns true if the article editation is disabled, otherwise false
     */
    isEditationDisabled () {
      return false
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    async saveOrder () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('order_saved'))
      this.clearViolations()
    }
  }
}
</script>
