<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="paymentMethod">
    <v-card outlined>
      <v-toolbar flat>
        <v-tabs
          v-model="currentLocale"
          align-with-name
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            v-for="item in paymentMethod.translations"
            :key="item.locale"
            :href="'#' + item.locale"
          >
            <v-badge
              color="error"
              content="!"
              :value="!hasTranslation(paymentMethod, item.locale, 'name')"
            >
              <span v-text="item.locale" />
            </v-badge>
          </v-tab>
        </v-tabs>
        <v-spacer />

        <v-btn
          icon
          :disabled="!$_hasTranslations(paymentMethod)"
          @click="removeTranslation(paymentMethod, currentLocale)"
        >
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu
          :key="usedTranslationKeys.join('')"
          :restricted-locales="usedTranslationKeys"
          @selected="addLocale"
        />
      </v-toolbar>

      <v-tabs-items v-model="currentLocale">
        <v-tab-item
          v-for="item in paymentMethod.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              :md="4"
              :lg="4"
              class="pa-2"
            >
              <v-text-field
                v-model="item.name"
                outlined
                :label="$t('name')"
                clearable
                counter
              />
            </v-col>

            <v-col class="pa-2 flex-grow-0">
              <v-switch
                v-model="paymentMethod.enabled"
                :true-value="true"
                :false-value="false"
                :label="$t('enabled')"
              />
            </v-col>
          </v-row>

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-textarea
                v-model="item.description"
                outlined
                :label="$t('description')"
                clearable
                counter
              />
            </v-col>
          </v-row>
        </v-tab-item>
      </v-tabs-items>

      <v-row
        no-gutters
        class="px-2"
      >
        <v-col
          :cols="12"
          sm="6"
          md="3"
          lg="2"
          xl="1"
          class="pa-2"
        >
          <v-text-field-money
            v-model="paymentMethod.priceWithoutTax"
            outlined
            :label="$t('without tax')"
            :currency="paymentMethod.currency"
          />
        </v-col>

        <v-col
          :cols="12"
          sm="6"
          md="3"
          lg="2"
          xl="1"
          class="pa-2 mb-6"
        >
          <v-text-field-percent
            v-model="paymentMethod.taxRate"
            outlined
            hide-details
            :label="$t('tax rate')"
            clearable
            :currency="paymentMethod.currency"
          />
        </v-col>

        <v-col
          :cols="12"
          sm="6"
          md="3"
          lg="2"
          xl="1"
          class="pa-2"
        >
          <v-text-field-money
            v-model="paymentMethod.priceWithTax"
            outlined
            :label="$t('with tax')"
            :currency="paymentMethod.currency"
          />
        </v-col>

        <v-col
          :cols="12"
          sm="6"
          md="3"
          class="pa-2"
        >
          <v-select
            v-model="paymentMethod.provider"
            :items="[
              { name: 'bankTransfer', label: $t('bank transfer') },
              { name: 'stripe', label: $t('Stripe') },
              { name: 'stripe', label: $t('Stripe') },
              { name: 'cod', label: $t('payment_provider_cod') },
            ]"
            :label="$t('payment provider')"
            item-text="label"
            item-value="name"
            outlined
          />
        </v-col>
      </v-row>

      <v-row
        v-if="paymentMethod.provider === 'bankTransfer'"
        no-gutters
        class="pa-2"
      >
        <v-col
          :cols="12"
          :md="3"
          class="pa-2"
        >
          <v-text-field
            v-model="accountNumber"
            :label="$t('account number')"
            outlined
          />
        </v-col>

        <v-col
          :cols="12"
          :md="3"
          class="pa-2"
        >
          <v-text-field
            v-model="bankCode"
            :label="$t('bank code')"
            outlined
          />
        </v-col>

        <v-col
          :cols="12"
          :md="3"
          class="pa-2"
        >
          <v-text-field
            v-model="iban"
            :label="$t('IBAN')"
            outlined
          />
        </v-col>

        <v-col
          :cols="12"
          :md="3"
          class="pa-2"
        >
          <v-text-field
            v-model="swift"
            :label="$t('SWIFT')"
            outlined
          />
        </v-col>

        <v-col
          :cols="12"
          :md="3"
          class="pa-2"
        >
          <v-text-field
            v-model="variableNumber"
            :label="$t('variable symbol')"
            outlined
          />
        </v-col>

        <v-col
          :cols="12"
          :md="3"
          class="pa-2"
        >
          <v-text-field
            v-model="specificNumber"
            :label="$t('specific symbol')"
            outlined
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-toolbar flat>
        <v-toolbar-title>
          {{ $t("save") }}
        </v-toolbar-title>
      </v-toolbar>
      <v-row
        no-gutters
        class="pa-4"
      >
        <v-col class="flex-grow-0">
          <v-btn
            depressed
            color="primary"
            :loading="loading"
            class="mr-2"
            @click.prevent="savePaymentMethod"
          >
            <v-icon left>
              check
            </v-icon>{{ $t("save") }}
          </v-btn>
        </v-col>

        <v-col class="flex-grow-0">
          <v-btn-delete
            text
            :value="paymentMethod"
            class="mr-2"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import has from 'lodash/has'
import isNil from 'lodash/isNil'
import { handleTranslations } from '../utils/translations_helper'
import cloneDeep from 'lodash/cloneDeep'
import VBtnDelete from '../components/v-btn/VBtnDelete.vue'
import { hasTranslationMixin } from '../mixins/hasTranslationMixin'
import { removeTranslationMixin } from '../mixins/removeTranslationMixin'
import keys from 'lodash/keys'
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import isEmpty from 'lodash/isEmpty'
import forEach from 'lodash/forEach'
import Vue from 'vue'
import VTextFieldMoney from '../components/v-text-field/VTextFieldMoney.vue'
import VTextFieldPercent from '../components/v-text-field/VTextFieldPercent.vue'
import { refreshItemMixin } from '../mixins/refreshItemMixin'
import { usePaymentMethodStore } from "../stores/paymentMethodStore";

export default {
  name: 'PaymentMethodEditation',
  components: {
    VTextFieldPercent,
    VTextFieldMoney,
    VBtnDelete,
    LocalizationMenu
  },
  mixins: [
    hasTranslationMixin,
    removeTranslationMixin,
    refreshItemMixin
  ],
  props: {
    value: null
  },
  data () {
    return {
      credentialExpressions: {
        accountNumber: null,
        bankCode: null,
        iban: null,
        swift: null,
        variableNumber: null,
        specificNumber: null
      },
      loading: false,
      original: null,
      currentLocale: null
    }
  },
  computed: {
    store () {
      return usePaymentMethodStore('/api/payment-methods/' + window.location.pathname.split('/').pop());
    },
    paymentMethod: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    usedTranslationKeys () {
      return keys(this.paymentMethod.translations)
    },
    accountNumber: {
      get () {
        return has(this.paymentMethod.credentialExpressions, 'accountNumber')
          ? this.paymentMethod.credentialExpressions.accountNumber
          : null
      },
      set (val) {
        if (isNil(this.paymentMethod.credentialExpressions)) {
          this.paymentMethod.credentialExpressions = {}
        }

        this.paymentMethod.credentialExpressions.accountNumber = val
      }
    },
    bankCode: {
      get () {
        return has(this.paymentMethod.credentialExpressions, 'bankCode')
          ? this.paymentMethod.credentialExpressions.bankCode
          : null
      },
      set (val) {
        if (isNil(this.paymentMethod.credentialExpressions)) {
          this.paymentMethod.credentialExpressions = {}
        }

        this.paymentMethod.credentialExpressions.bankCode = val
      }
    },
    iban: {
      get () {
        return has(this.paymentMethod.credentialExpressions, 'iban')
          ? this.paymentMethod.credentialExpressions.iban
          : null
      },
      set (val) {
        if (isNil(this.paymentMethod.credentialExpressions)) {
          this.paymentMethod.credentialExpressions = {}
        }

        this.paymentMethod.credentialExpressions.iban = val
      }
    },
    swift: {
      get () {
        return has(this.paymentMethod.credentialExpressions, 'swift')
          ? this.paymentMethod.credentialExpressions.swift
          : null
      },
      set (val) {
        if (isNil(this.paymentMethod.credentialExpressions)) {
          this.paymentMethod.credentialExpressions = {}
        }

        this.paymentMethod.credentialExpressions.swift = val
      }
    },
    variableNumber: {
      get () {
        return has(this.paymentMethod.credentialExpressions, 'variableNumber')
          ? this.paymentMethod.credentialExpressions.variableNumber
          : null
      },
      set (val) {
        if (isNil(this.paymentMethod.credentialExpressions)) {
          this.paymentMethod.credentialExpressions = {}
        }

        this.paymentMethod.credentialExpressions.variableNumber = val
      }
    },
    specificNumber: {
      get () {
        return has(this.paymentMethod.credentialExpressions, 'specificNumber')
          ? this.paymentMethod.credentialExpressions.specificNumber
          : null
      },
      set (val) {
        if (isNil(this.paymentMethod.credentialExpressions)) {
          this.paymentMethod.credentialExpressions = {}
        }

        this.paymentMethod.credentialExpressions.specificNumber = val
      }
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    /**
     * Create bank transfer credential expressions, when required
     */
    createBankTransferCredentialExpressions () {
      this.paymentMethod.credentialExpressions = {
        accountNumber: null,
        bankCode: null,
        variableNumber: null,
        specificNumber: null
      }
    },
    /**
     * Clear credential expressions, setting them to null
     */
    clearCredentialExpressions () {
      this.paymentMethod.credentialExpressions = null
    },
    /**
     * Persist paymentMethod
     * @returns {Promise<any>}
     */
    async savePaymentMethod () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('payment_method_saved'))
      this.loading = false
    },
    /**
     * Add a payment method locale
     * @param locales
     */
    addLocale (locales) {
      if (isEmpty(this.paymentMethod.translations)) {
        this.paymentMethod.translations = {}
      }

      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale,
          headline: null,
          lead: null,
          content: null
        }
        Vue.set(this.paymentMethod.translations, locale, translations)
      })
    }
  }
}
</script>
