<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-payment-methods :loading="loading" />
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/payment-methods"
        :headers="headers"
      >
        <template #item.id="{ item }">
          <div>
            <span v-text="item.id" />
          </div>
        </template>

        <template #item.name="{ item }">
          <v-item-name
            :value="item"
            path="name"
          />
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import FilterPaymentMethods from '../components/v-filter/FilterPaymentMethods.vue'
import orderBy from 'lodash/orderBy'
import VItemName from '../components/VItemName.vue'
import { useDataTableStore } from '../stores/dataTableStore'

export default {
  name: 'PaymentMethodIndex',
  components: {
    VItemName,
    VDataTableServer,
    FilterPaymentMethods
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/payment-methods')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('name'),
          align: 'left',
          sortable: true,
          value: 'name'
        }
      ]
    }
  },
  watch: {
    dataTable: {
      handler () {
        this.fetchProducts()
      },
      deep: true
    }
  },
  methods: {
    orderBy (collection, key, order) {
      return orderBy(collection, key, order)
    }
  }
}
</script>
