<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="product">
    <v-card outlined>
      <v-toolbar flat>
        <v-tabs
          v-model="currentLocale"
          align-with-name
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            v-for="item in product.translations"
            :key="item.locale"
            :href="'#' + item.locale"
          >
            <v-badge
              color="error"
              content="!"
              :value="!hasTranslation(product, item.locale, 'name')"
            >
              <span v-text="item.locale" />
            </v-badge>
          </v-tab>
        </v-tabs>
        <v-spacer />

        <v-btn
          icon
          :disabled="!$_hasTranslations(product)"
          @click="removeTranslation(product, currentLocale)"
        >
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu
          :key="usedTranslationKeys.join('')"
          :restricted-locales="usedTranslationKeys"
          @selected="addLocale"
        />
      </v-toolbar>

      <v-tabs-items v-model="currentLocale">
        <v-tab-item
          v-for="item in product.translations"
          :key="item.locale"
          :value="item.locale"
          eager
        >
          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-text-field-custom
                v-model="item.name"
                outlined
                :label="$t('name')"
                clearable
                counter
                :disabled="isEditationDisabled"
              />

              <v-subheader class="pa-0">
                {{ $t("content") }}
              </v-subheader>

              <v-editor-wysiwyg
                v-model="item.content"
                :disabled="isEditationDisabled"
                :class="[{ disabled: isEditationDisabled }]"
              />
              <v-autocomplete-product-category
                v-model="product.categories"
                :disabled="isEditationDisabled"
                outlined
                class="pt-4"
              />
            </v-col>
          </v-row>
        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-toolbar flat>
        <v-toolbar-title>
          {{ $t("product_variants") }}
        </v-toolbar-title>
        <v-spacer />
        <v-btn
          icon
          @click="addProductVariant"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
      </v-toolbar>

      <v-tabs-items v-model="currentLocale">
        <v-tab-item
          v-for="item in product.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <v-tabs
            v-model="currentVariant"
            background-color="transparent"
          >
            <v-tab
              v-for="(variant, index) in product.variants"
              :key="'product-variant-' + index"
            >
              <span>
                {{ getVariantNameForLocale(variant, item.locale) }} ({{
                  index + 1
                }})
              </span>

              <v-btn
                v-show="variantLength > 1"
                icon
                color="red"
                class="ml-4"
                :disabled="isEditationDisabled"
                @click="removeVariant(index)"
              >
                <v-icon>fa-times</v-icon>
              </v-btn>
            </v-tab>
          </v-tabs>
        </v-tab-item>
      </v-tabs-items>

      <v-tabs-items v-model="currentLocale">
        <v-tab-item
          v-for="item in product.translations"
          :key="item.locale"
          :value="item.locale"
          eager
        >
          <v-tabs-items v-model="currentVariant">
            <v-tab-item
              v-for="(variant, index) in product.variants"
              :key="'product-variant-' + index"
            >
              <!-- wrapper for translated product variant do not delete -->
              <div
                v-if="variant.translations[currentLocale]"
                class="no-gutters pa-2"
              >
                <v-row
                  no-gutters
                  class="mb-n4"
                >
                  <v-col
                    :cols="12"
                    :md="8"
                    class="pa-2"
                  >
                    <!-- product variant name -->
                    <v-text-field-custom
                      v-model="variant.translations[currentLocale].name"
                      outlined
                      :label="$t('product_variant_name')"
                      clearable
                      counter
                      :disabled="isEditationDisabled"
                    />
                  </v-col>

                  <v-col
                    :cols="12"
                    :md="4"
                    class="pa-2"
                  >
                    <!-- general product code -->
                    <v-text-field-custom
                      v-model="variant.code"
                      outlined
                      :label="$t('product_variant_code')"
                      clearable
                      counter
                      :disabled="isEditationDisabled"
                    />
                  </v-col>
                </v-row>

                <v-row class="no-gutters">
                  <v-col
                    :cols="12"
                    class="pa-2"
                  >
                    <v-subheader
                      class="pa-0"
                      v-text="$t('product_variant_description')"
                    />
                    <v-editor-wysiwyg
                      v-model="variant.translations[currentLocale].content"
                      :disabled="isEditationDisabled"
                      :class="[{ disabled: isEditationDisabled }]"
                    />
                  </v-col>
                </v-row>
              </div>
            </v-tab-item>
          </v-tabs-items>
        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <v-row
      no-gutters
      class="pa-2 mx-n4 mb-n4"
    >
      <v-col
        :cols="12"
        :md="8"
        class="pa-2"
      >
        <v-card outlined>
          <v-tabs-items v-model="currentVariant">
            <v-tab-item
              v-for="(variant, index) in product.variants"
              :key="'product-variant-' + index"
              eager
            >
              <v-simple-table-product-variant-price
                v-model="variant.prices"
                :disabled="isEditationDisabled"
              />
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-col>

      <v-col
        :cols="12"
        :md="4"
        class="pa-2 d-flex flex-column"
      >
        <v-card
          outlined
          class="flex-grow-1"
        >
          <v-toolbar flat>
            <v-toolbar-title>
              {{ $t('EAN 13') }}
            </v-toolbar-title>
            <v-spacer />
          </v-toolbar>

          <v-tabs-items v-model="currentVariant">
            <v-tab-item
              v-for="(variant, index) in product.variants"
              :key="'product-variant-' + index"
              eager
            >
              <v-text-field-barcode
                v-model="variant.ean13"
                outlined
                :label="$t('EAN 13')"
                clearable
                counter
                :disabled="isEditationDisabled"
                class="pa-4"
              />
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-col>
    </v-row>

    <v-row
      no-gutters
      fill-height
      class="pa-2 mx-n4"
    >
      <v-col
        :cols="12"
        :md="6"
        class="pa-2 d-flex flex-column"
      >
        <v-card
          outlined
          class="flex-grow-1"
        >
          <v-tabs-items v-model="currentVariant">
            <v-tab-item
              v-for="(variant, index) in product.variants"
              :key="'product-variant-' + index"
              eager
            >
              <v-card-cover-picker
                v-model="variant.covers"
                :disabled="isEditationDisabled"
                @add="addProductVariantCover(index)"
              />
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-col>

      <v-col
        :cols="12"
        :md="6"
        class="pa-2"
      >
        <v-card outlined>
          <v-tabs-items v-model="currentVariant">
            <v-tab-item
              v-for="(variant, index) in product.variants"
              :key="'product-variant-' + index"
              eager
            >
              <v-row>
                <v-col
                  :cols="12"
                  class="pa-2"
                >
                  <v-toolbar flat>
                    <v-toolbar-title>{{ $t('parameters') }}</v-toolbar-title>
                    <v-spacer />

                    <v-btn
                      icon
                      :disabled="isEditationDisabled"
                      @click="addProductVariantParameter(index)"
                    >
                      <v-icon>fa-plus</v-icon>
                    </v-btn>
                  </v-toolbar>

                  <v-simple-table
                    fixed-header
                    height="388px"
                  >
                    <template #default>
                      <thead>
                        <tr>
                          <th class="text-left">
                            {{ $t('parameter') }}
                          </th>
                          <th class="text-left">
                            {{ $t('value') }}
                          </th>
                          <th class="text-left" />
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="(parameter, parameterIndex) in variant.parameters"
                          :key="parameter.id"
                        >
                          <td class="pa-1 pl-3">
                            <v-text-field-custom
                              v-model="parameter.name"
                              outlined
                              dense
                              hide-details
                              :disabled="isEditationDisabled"
                            />
                          </td>
                          <td class="pa-1">
                            <v-text-field-custom
                              v-model="parameter.value"
                              outlined
                              dense
                              hide-details
                              :disabled="isEditationDisabled"
                            />
                          </td>
                          <td
                            class="pa-1"
                            width="1"
                          >
                            <v-btn
                              icon
                              :disabled="!$_hasTranslations || isEditationDisabled"
                              @click="removeProductVariantParameter(index, parameterIndex)"
                            >
                              <v-icon>fa-times</v-icon>
                            </v-btn>
                          </td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-col>
              </v-row>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-col>
    </v-row>

    <v-tabs-items v-model="currentLocale">
      <v-tab-item
        v-for="item in product.translations"
        :key="item.locale"
        :value="item.locale"
        eager
      >
        <v-tabs-items v-model="currentVariant">
          <v-tab-item
            v-for="(variant, index) in product.variants"
            :key="'product-variant-' + index"
            eager
          >
            <v-card outlined>
              <!-- quantity, status -->
              <v-row class="no-gutters pa-2">
                <v-col
                  class="pa-2"
                  :cols="12"
                  :md="3"
                  :xl="2"
                >
                  <v-select-product-variant-status
                    v-model="variant.status"
                    :read-only="product.readOnly"
                    :disabled="isEditationDisabled"
                  />
                </v-col>

                <v-col
                  class="pa-2"
                  :cols="12"
                  :md="2"
                >
                  <v-text-field-custom
                    v-model="variant.quantityAvailable"
                    type="number"
                    outlined
                    :label="$t('quantity_available')"
                    clearable
                    counter
                    :disabled="isEditationDisabled"
                  />
                </v-col>
              </v-row>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-tab-item>
    </v-tabs-items>

    <v-card
      outlined
      mt-12
      class="mt-4"
    >
      <v-card-published-at
        v-model="product"
        :disabled="isEditationDisabled"
        @save="saveProduct"
      />
    </v-card>
  </div>
</template>

<script>
import Vue from 'vue'
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import VTextFieldCustom from '../components/v-text-field/VTextFieldCustom.vue'
import VTextFieldBarcode from '../components/v-text-field/VTextFieldBarcode.vue'
import VTextFieldMoney from '../components/v-text-field/VTextFieldMoney.vue'
import VAutocompleteCurrency from '../components/v-autocomplete/VAutocompleteCurrency.vue'
import VSelectProductVariantStatus from '../components/v-autocomplete/VSelectProductVariantStatus.vue'
import VCardCoverPicker from '../components/v-card/VCardCoverPicker.vue'
import VAutocompleteProductCategory from '../components/v-autocomplete/VAutocompleteProductCategory.vue'
import VCardPublishedAt from '../components/v-card/VCardPublishedAt.vue'
import { hasTranslationMixin } from '../mixins/hasTranslationMixin'
import { removeTranslationMixin } from '../mixins/removeTranslationMixin'
import { collectionsMixin } from '../mixins/collectionsMixin'
import { dateTimeMixin } from '../mixins/dateTimeMixin'
import { usedTranslationKeys } from '../composables/translations'
import { isEmpty, forEach, size, set, isNil, findIndex } from 'lodash'
import { useProductStore } from '../stores/productStore'
import { useCurrentUserStore } from '../stores/currentUserStore'
import { errorMixin } from '../mixins/errorMixin'
import VEditorWysiwyg from '../components/v-editor/VEditorWysiwyg.vue'
import VSimpleTableProductVariantPrice from '../components/v-simple-table/VSimpleTableProductVariantPrice.vue'
import { refreshItemMixin } from '../mixins/refreshItemMixin'

export default {
  name: 'ProductEditation',
  components: {
    VSimpleTableProductVariantPrice,
    LocalizationMenu,
    VTextFieldCustom,
    VTextFieldMoney,
    VTextFieldBarcode,
    VSelectProductVariantStatus,
    VAutocompleteCurrency,
    VAutocompleteProductCategory,
    VCardCoverPicker,
    VEditorWysiwyg,
    VCardPublishedAt
  },
  mixins: [
    hasTranslationMixin,
    removeTranslationMixin,
    collectionsMixin,
    dateTimeMixin,
    errorMixin,
    refreshItemMixin
  ],
  data () {
    return {
      currentLocale: null,
      currentVariant: null,
      currentPrice: null
    }
  },
  computed: {
    store () {
      return useProductStore(
        '/api/products/' + window.location.pathname.split('/').pop()
      )
    },
    usedTranslationKeys () {
      return usedTranslationKeys(this.product)
    },
    product: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    variantLength () {
      return size(this.product.variants)
    },
    admin: {
      get () {
        const currentUserStore = useCurrentUserStore()
        return currentUserStore.getAdmin
      },
      set (value) {
        const currentUserStore = useCurrentUserStore()
        currentUserStore.setAdmin(value)
      }
    },
    isEditationDisabled () {
      if (this.product.readOnly === true) {
        return true
      }

      const roles = this.admin.roles

      if (roles.includes('ROLE_ADMIN') || this.product.status === 'draft') {
        return false
      }

      return true
    }
  },
  watch: {
    usedTranslationKeys: {
      handler (locales) {
        // Loop through each locale
        locales.forEach((locale) => {
          // Ensure each product variant has translations for this locale
          this.product.variants.forEach((variant, variantIndex) => {
            if (!variant.translations[locale]) {
              this.addVariantLocale(locale, variantIndex)
            }

            // Ensure each price within the variant has translations for this locale
            variant.prices.forEach((price) => {
              if (isEmpty(price.translations)) {
                Vue.set(price, 'translations', {})
              }

              if (!price.translations[locale]) {
                Vue.set(price.translations, locale, {
                  id: null,
                  locale,
                  name: null,
                  content: null
                })
              }
            })
          })
        })
      },
      immediate: true
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    async saveProduct () {
      this.loading = true
      this.clearViolations()
      try {
        await this.store.updateItem()
        this.$eventHub.$emit('snackbar-success', this.$t('product_saved'))
      } catch (e) {
        this.buildViolations(e.response)
      }
    },
    addProductVariantParameter (index) {
      if (isNil(this.product.variants[index].parameters)) {
        this.product.variants[index].parameters = []
      }

      this.product.variants[index].parameters.push({
        id: null,
        name: null,
        value: null
      })
    },
    removeProductVariantParameter (indexVariant, index) {
      this.product.variants[indexVariant].parameters.splice(index, 1)
    },
    addProductVariantCover (index) {
      if (isNil(this.product.variants[index].covers)) {
        this.product.variants[index].covers = []
      }

      this.product.variants[index].covers.push({
        contentUrl: null
      })
    },
    removeVariant (index) {
      this.product.variants.splice(index, 1)
    },
    getVariantNameForLocale (variant, locale) {
      if (variant?.translations[locale]?.name) {
        return variant.translations[locale].name
      }

      return this.$t('product_variant')
    },
    addProductLocale (locales) {
      if (isEmpty(this.product.translations)) {
        this.product.translations = {}
      }

      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale,
          title: null,
          name: null,
          content: null
        }

        Vue.set(this.product.translations, locale, translations)

        // iterate over all product variants and add translations + default price to it
        forEach(this.product.variants, (variant, index) => {
          // product variant is not available yet in this locale, so we add this locale to it
          if (this.getTranslationIndex(variant.translations, locale) === -1) {
            this.addVariantLocale(locale, index, locale)
          }
        })
      })
    },
    getTranslationIndex (translations, locale) {
      return findIndex(translations, (el) => {
        return el.locale === locale
      })
    },
    addProductVariant () {
      const locales = this.usedTranslationKeys
      const variant = {
        covers: [],
        createdAt: null,
        id: null,
        newTranslations: {},
        prices: [
          {
            id: null,
            priceWithoutTax: null,
            taxRate: 2100,
            taxPrice: null,
            priceWithTax: null,
            currency: null,
            translations: {}
          }
        ],
        parameters: [],
        publishedAt: null,
        status: 'published',
        translations: {},
        updatedAt: null,
        ean13: null,
        code: null
      }

      forEach(locales, (locale) => {
        set(variant, 'translations.' + locale, {
          id: null,
          locale,
          name: null,
          content: null
        })

        // Add translations for each price
        forEach(variant.prices, (price) => {
          Vue.set(price.translations, locale, {
            id: null,
            locale,
            name: null,
            content: null
          })
        })
      })

      this.product.variants.push(variant)
    },
    /**
     * Add a locale to the product variant
     * @param {string} locale Locale code
     * @param {number} index Index of the product variant
     */
    addVariantLocale (locale, index) {
      const variant = this.product.variants[index]

      // Ensure the variant has a translations object
      if (isEmpty(variant.translations)) {
        variant.translations = {}
      }

      // Add the locale to variant translations
      set(variant, 'translations.' + locale, {
        id: null,
        locale,
        name: null,
        content: null
      })

      // Ensure each price has a translations object and add the locale to it
      forEach(variant.prices, (price) => {
        if (isEmpty(price.translations)) {
          price.translations = {}
        }

        Vue.set(price.translations, locale, {
          id: null,
          locale,
          name: null,
          content: null
        })
      })

      Vue.set(this.product.variants[index], variant)
    },
    addLocale (locales) {
      if (isEmpty(this.product.translations)) {
        this.product.translations = {}
      }

      forEach(locales, (locale) => {
        this.addProductLocale([locale])
      })
    }
  }
}
</script>
