<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="productCategory">
    <v-card
      outlined
      mt-12
      class="mt-4"
    >
      <v-toolbar flat>
        <v-tabs
          v-model="tab"
          align-with-title
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            v-for="(item, locale) in productCategory.translations"
            :key="item.locale"
            :href="'#' + item.locale"
          >
            <v-badge
              color="error"
              content="!"
              :value="!hasTranslation(item.locale)"
            >
              <span v-text="item.locale" />
            </v-badge>
          </v-tab>
        </v-tabs>
        <v-spacer />

        <v-btn
          icon
          :disabled="!$_hasTranslations"
          @click="removeProductCategoryLocale"
        >
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu
          :key="usedTranslationKeys.join('')"
          :restricted-locales="usedTranslationKeys"
          @selected="addProductCategoryLocale"
        />
      </v-toolbar>

      <v-tabs-items v-model="tab">
        <v-tab-item
          v-for="(item, locale) in productCategory.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <v-text-field
            v-model="item.name"
            outlined
            :label="$t('name')"
            class="pa-4 mb-n10"
            :disabled="isEditationDisabled"
          />

          <v-subheader
            class="pa-4"
            v-text="$t('lead')"
          />
          <v-editor-wysiwyg
            v-model="item.description"
            class="ma-4 mt-0"
          />

          <v-card
            outlined
            class="mx-4"
          >
            <v-expansion-panels class="filter-expansion">
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-row no-gutters>
                    <v-col
                      :cols="12"
                      class="mx-n2"
                    >
                      <v-toolbar-title>{{ $t('seo') }}</v-toolbar-title>
                    </v-col>
                  </v-row>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row
                    no-gutters
                    class="pa-2"
                  >
                    <v-col
                      :cols="12"
                      :md="6"
                      :xl="3"
                      class="pa-2"
                    >
                      <v-text-field
                        v-model="item.title"
                        outlined
                        hide-details
                        :label="$t('title')"
                        :placeholder="item.headline"
                        clearable
                        :disabled="isEditationDisabled"
                      />
                    </v-col>

                    <v-col
                      :cols="12"
                      :md="6"
                      :xl="3"
                      class="pa-2"
                    >
                      <v-text-field
                        v-model="item.slug"
                        outlined
                        hide-details
                        :label="$t('slug')"
                        clearable
                        :disabled="isEditationDisabled"
                      />
                    </v-col>

                    <v-col
                      :cols="12"
                      :md="6"
                      :xl="3"
                      class="pa-2"
                    >
                      <v-text-field
                        v-model="item.canonicalLink"
                        outlined
                        hide-details
                        :label="$t('canonical_link')"
                        clearable
                        :disabled="isEditationDisabled"
                      />
                    </v-col>

                    <v-col
                      :cols="12"
                      :md="6"
                      :xl="3"
                      class="pa-2"
                    >
                      <v-select
                        v-model="item.metaRobots"
                        outlined
                        hide-details
                        :label="$t('robots')"
                        :items="['noindex', 'index', 'follow', 'nofollow', 'noimageindex', 'none', 'noarchive', 'nosnippet']"
                        chips
                        clearable
                        multiple
                        :disabled="isEditationDisabled"
                      />
                    </v-col>

                    <v-col
                      :cols="12"
                      :xl="6"
                      class="pa-2"
                    >
                      <v-combobox
                        v-model="item.metaKeywords"
                        outlined
                        hide-details
                        :label="$t('keywords')"
                        chips
                        clearable
                        multiple
                        :disabled="isEditationDisabled"
                      />
                    </v-col>

                    <v-col
                      :cols="12"
                      :xl="6"
                      class="pa-2"
                    >
                      <v-text-field
                        v-model="item.metaDescription"
                        outlined
                        hide-details
                        :label="$t('description')"
                        clearable
                        :disabled="isEditationDisabled"
                      />
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-card>
        </v-tab-item>
      </v-tabs-items>

      <v-row
        no-gutters
        class="pa-2"
      >
        <v-col
          :cols="12"
          :md="6"
          :lg="4"
          class="pa-2"
        >
          <v-card outlined>
            <v-card-cover-picker
              v-model="productCategory.covers"
              @add="addProductCategoryCover"
            />
          </v-card>
        </v-col>
      </v-row>
    </v-card>

    <v-card
      outlined
      mt-12
      class="mt-4"
    >
      <v-card-published-at
        v-model="productCategory"
        @save="saveProductCategory"
      />
    </v-card>
  </div>
</template>

<script>
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import VEditorWysiwyg from '../components/v-editor/VEditorWysiwyg.vue'
import Breadcrumb from '../components/Breadcrumb.vue'
import VCardPublishedAt from '../components/v-card/VCardPublishedAt.vue'
import VBtnDelete from '../components/v-btn/VBtnDelete.vue'
import { keys, size, isNil, isEmpty, forEach, has } from 'lodash'
import Vue from 'vue'
import VCardCoverPicker from '../components/v-card/VCardCoverPicker.vue'
import { securityMixin } from '../mixins/securityMixin'
import { refreshItemMixin } from '../mixins/refreshItemMixin'
import { useProductCategoryStore } from "../stores/productCategoryStore";

export default {
  name: 'ProductCategoryEditation',
  components: {
    LocalizationMenu,
    VEditorWysiwyg,
    Breadcrumb,
    VCardPublishedAt,
    VBtnDelete,
    VCardCoverPicker
  },
  mixins: [
    securityMixin,
    refreshItemMixin
  ],
  data () {
    return {
      content: null,
      original: {},
      remove: {
        agree: null
      },
      loading: false,
      tab: null
    }
  },
  computed: {
    store () {
      return useProductCategoryStore('/api/product-categories/' + window.location.pathname.split('/').pop());
    },
    productCategory: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    usedTranslationKeys () {
      return keys(this.productCategory.translations)
    },
    $_hasTranslations () {
      return size(this.productCategory.translations) > 0
    },
    isEditationDisabled () {
      if (this.productCategory.readOnly === true) {
        return true
      }

      if (this.productCategory.status === 'draft') {
        return false
      }

      if (this.isGranted('ROLE_ADMIN')) {
        return false
      }

      return true
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    addProductCategoryCover () {
      if (isNil(this.productCategory.covers)) {
        this.productCategory.covers = []
      }

      this.productCategory.covers.push({
        contentUrl: null
      })
    },
    /**
     * Persist productCategory
     * @returns {Promise<any>}
     */
    async saveProductCategory () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('product_category_saved'))
      this.loading = false
    },
    addProductCategoryLocale (locales) {
      if (isEmpty(this.productCategory.translations)) {
        this.productCategory.translations = {}
      }
      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale: locale,
          name: null,
          description: null
        }

        Vue.set(this.productCategory.translations, locale, translations)
      })
    },
    removeProductCategoryLocale () {
      Vue.delete(this.productCategory.translations, this.tab)
    },
    hasTranslation (locale) {
      return has(this.productCategory.translations, locale + '.name') && !isNil(this.productCategory.translations[locale].name) && this.productCategory.translations[locale].name !== ''
    }
  }
}
</script>
