<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-products :loading="loading" />
    </v-card>

    <v-card
      outlined
      mt-12
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/products"
        :headers="headers"
      >
        <template #item.id="{ item }">
          <div>
            <span v-text="item.id" />
          </div>
        </template>

        <template #item.name="{ item }">
          <v-item-name
            :value="item"
            path="name"
          />
        </template>

        <template #item.categories="{ item }">
          <div>
            <v-chip
              v-for="(category, index) in item.categories"
              :key="'category-' + index"
              label
              outlined
              class="ma-2"
            >
              <v-icon left>
                folder
              </v-icon>
              <span
                :class="{'text__highlight': isCategoryHighLighted(category)}"
                v-text="categoryName(category)"
              />
            </v-chip>
          </div>
        </template>

        <template #item.created_at="{ item }">
          <div>
            <v-date-time
              :value="item.createdAt"
              :time="false"
            />
          </div>
        </template>

        <template #item.published_at="{ item }">
          <div>
            <v-date-time
              :value="item.publishedAt"
              :time="false"
            />
          </div>
        </template>

        <template #item.status="{ item }">
          <div>
            <v-icon
              v-if="item.status === 'published'"
              class="icon--enabled"
            >
              check
            </v-icon>
            <v-icon
              v-if="item.status !== 'published'"
              class="icon--disabled"
            >
              clear
            </v-icon>
          </div>
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import FilterProducts from '../components/v-filter/FilterProducts.vue'
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import isArray from 'lodash/isArray'
import isNil from 'lodash/isNil'
import has from 'lodash/has'
import get from 'lodash/get'
import VDateTime from '../components/v-date/VDateTime.vue'
import orderBy from 'lodash/orderBy'
import VItemName from '../components/VItemName.vue'
import { useDataTableStore } from '../stores/dataTableStore'

export default {
  name: 'ProductIndex',
  components: {
    VItemName,
    FilterProducts,
    VDataTableServer,
    VDateTime
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/products')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('name'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$t('categories'),
          align: 'left',
          sortable: false,
          value: 'categories'
        },
        {
          text: this.$t('created_at'),
          align: 'left',
          sortable: true,
          value: 'created_at'
        },
        {
          text: this.$t('published_at_date'),
          align: 'left',
          sortable: true,
          value: 'published_at'
        },
        {
          text: this.$t('enabled'),
          align: 'left',
          sortable: true,
          value: 'status',
          width: '100px'
        }
      ]
    }
  },
  methods: {
    orderBy (collection, key, order) {
      return orderBy(collection, key, order)
    },
    isCategoryHighLighted (category) {
      return !!(isArray(this.store.getFilter('categories')) && this.store.getFilter('categories').indexOf(category.id) >= 0)
    },
    categoryName (category) {
      const locale = document.documentElement.lang
      if (!isNil(locale) && has(category, 'translations.' + locale + '.name')) {
        return get(category, 'translations.' + locale + '.name')
      }

      return category.id
    }
  }
}
</script>
