<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <v-tabs v-model="tab">
        <v-tab>{{ $t('tree') }}</v-tab>
        <v-tab>{{ $t('table') }}</v-tab>
      </v-tabs>
    </v-card>

    <v-tabs-items
      v-model="tab"
      class="mt-4"
      style="background: none !important;"
    >
      <v-tab-item>
        <v-card
          outlined
          :loading="loading.tree"
        >
          <v-toolbar flat>
            <v-toolbar-title>{{ $t('product_category_tree') }}</v-toolbar-title>
            <v-spacer />
          </v-toolbar>

          <v-tree-draggable
            :value="tree"
            @move="move"
            @append="append"
          />
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card outlined>
          <filter-product-categories :loading="loading" />
        </v-card>
        <v-card
          outlined
          class="mt-4"
        >
          <v-data-table-server
            store-id="/api/product-categories"
            :headers="headers"
          >
            <template #item.id="{ item }">
              <div>
                <span v-text="item.id" />
              </div>
            </template>

            <template #item.name="{ item }">
              <v-item-name
                :value="item"
                path="name"
              />
            </template>

            <template #item.created_at="{ item }">
              <div>
                <v-date-time
                  :value="item.createdAt"
                  :time="false"
                />
              </div>
            </template>

            <template #item.published_at="{ item }">
              <div>
                <v-date-time
                  :value="item.publishedAt"
                  :time="false"
                />
              </div>
            </template>

            <template #item.enabled="{ item }">
              <div>
                <v-icon
                  v-if="item.status === 'published'"
                  class="icon--enabled"
                >
                  check
                </v-icon>
                <v-icon
                  v-if="item.status !== 'published'"
                  class="icon--disabled"
                >
                  clear
                </v-icon>
              </div>
            </template>
          </v-data-table-server>
        </v-card>
      </v-tab-item>

    </v-tabs-items>
  </div>
</template>

<script>
import FilterProductCategories from '../components/v-filter/FilterProductCategories.vue'
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import isArray from 'lodash/isArray'
import VDateTime from '../components/v-date/VDateTime.vue'
import VTreeDraggable from '../components/VTreeDraggable.vue'
import Axios from '../composables/ajax'
import VItemName from '../components/VItemName.vue'
import { useDataTableStore } from '../stores/dataTableStore'

export default {
  name: 'ProductCategoryIndex',
  components: {
    VItemName,
    FilterProductCategories,
    VDataTableServer,
    VDateTime,
    VTreeDraggable
  },
  data () {
    return {
      tab: null,
      tree: [],
      loading: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/product-categories')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('product_category_name'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$t('created_at'),
          align: 'left',
          sortable: true,
          value: 'created_at',
          width: '200px'
        },
        {
          text: this.$t('published_at_date'),
          align: 'left',
          sortable: true,
          value: 'published_at',
          width: '200px'
        },
        {
          text: this.$t('enabled'),
          align: 'left',
          sortable: true,
          value: 'enabled',
          width: '100px'
        }
      ]
    }
  },
  created () {
    Axios.get('/api/product-categories/tree').then((response) => {
      this.tree = response.data
    })
  },
  methods: {
    isProductCategoryHighLighted (productCategory) {
      return !!(isArray(this.filter.productCategories) && this.filter.productCategories.indexOf(productCategory.id) >= 0)
    },
    async move (e) {
      try {
        await this.store.moveItemTree('/api/product-categories/tree', e)
      } catch (e) {
        console.error(e)
      }
    },
    async append (e) {
      try {
        const result = await this.store.appendItem('/api/product-categories/tree', {parent: e.id})
        window.location.href = '/admin/product-categories/' + result.data.id
      } catch (e) {
        console.error(e)
      }
    }
  }
}
</script>
