<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <v-tabs v-model="tab">
        <v-tab>{{ $t('tree') }}</v-tab>
        <v-tab>{{ $t('table') }}</v-tab>
      </v-tabs>
    </v-card>

    <v-tabs-items
      v-model="tab"
      class="mt-4"
      style="background: none !important;"
    >
      <v-tab-item>
        <v-card
          outlined
          :loading="loading.tree"
        >
          <v-toolbar flat>
            <v-toolbar-title>{{ $t('section_tree') }}</v-toolbar-title>
            <v-spacer />
            <v-btn-create-item store-id="/api/sections" />
          </v-toolbar>

          <v-tree-draggable
            :value="tree"
            :append-inner="true"
            @move="move"
            @append="append"
            @inner="setinner"
          />

          <!-- dialog for inserting article directly inside section -->
          <v-dialog
            v-model="modal.inner"
            persistent
            max-width="480"
          >
            <v-card>
              <v-card-title class="headline">
                {{ $t('insert_article_into_section_title') }}
              </v-card-title>
              <v-card-text>{{ $t('insert_article_into_section_text') }}</v-card-text>
              <v-card-actions class="px-4">
                <v-btn
                  text
                  color="primary"
                  :disabled="loading.inner"
                  @click="clearinner"
                >
                  {{ $t('no') }}
                </v-btn>
                <v-btn
                  text
                  color="success"
                  :loading="loading.inner"
                  @click="createInnerItem"
                >
                  {{ $t('yes') }}
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card outlined>
          <filter-sections
            :loading="loading.sections"
          />
        </v-card>

        <v-card
          outlined
          class="mt-4"
        >
          <v-data-table-server
            store-id="/api/sections"
            :headers="headers"
          >
            <template #item.id="{ item }">
              <div>
                <span
                  class="text-caption"
                  v-text="item.id"
                />
              </div>
            </template>

            <template #item.name="{ item }">
              <v-item-name
                :value="item"
                path="name"
              />
            </template>

            <template #item.created_at="{ item }">
              <div>
                <v-date-time
                  :value="item.createdAt"
                  :time="false"
                />
              </div>
            </template>

            <template #item.published_at="{ item }">
              <div>
                <v-date-time
                  :value="item.publishedAt"
                  :time="false"
                />
              </div>
            </template>

            <template #item.enabled="{ item }">
              <div>
                <v-icon
                  v-if="item.status === 'published'"
                  class="icon--enabled"
                >
                  check
                </v-icon>
                <v-icon
                  v-if="item.status !== 'published'"
                  class="icon--disabled"
                >
                  clear
                </v-icon>
              </div>
            </template>
          </v-data-table-server>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import FilterSections from '../components/v-filter/FilterSections.vue'
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import isNil from 'lodash/isNil'
import has from 'lodash/has'
import get from 'lodash/get'
import isArray from 'lodash/isArray'
import { replace } from 'lodash'
import VTreeDraggable from '../components/VTreeDraggable.vue'
import Axios from '../composables/ajax'
import VDateTime from '../components/v-date/VDateTime.vue'
import VItemName from '../components/VItemName.vue'
import VBtnCreateItem from '../components/v-btn/VBtnCreateItem.vue'
import { useDataTableStore } from '../stores/dataTableStore'

export default {
  name: 'SectionIndex',
  components: {
    FilterSections,
    VDataTableServer,
    VTreeDraggable,
    VDateTime,
    VItemName,
    VBtnCreateItem
  },
  data () {
    return {
      tree: [],
      tab: null,
      loading: {
        sections: false,
        tree: false,
        inner: false
      },
      inner: null,
      modal: {
        inner: false
      }
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/sections')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('section_name'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$t('created_at'),
          align: 'left',
          sortable: true,
          value: 'created_at'
        },
        {
          text: this.$t('published_at_date'),
          align: 'left',
          sortable: true,
          value: 'published_at'
        },
        {
          text: this.$t('enabled'),
          align: 'left',
          sortable: true,
          value: 'enabled',
          width: '100px'
        }
      ]
    }
  },
  created () {
    Axios.get('/api/sections/tree').then((response) => {
      this.tree = response.data
    })
  },
  methods: {
    sectionName (section) {
      const locale = document.documentElement.lang
      if (!isNil(locale) && has(section, 'translations.' + locale + '.name')) {
        return get(section, 'translations.' + locale + '.name')
      }

      return section.id
    },
    isSectionHighLighted (section) {
      return !!(isArray(this.filter.sections) && this.filter.sections.indexOf(section.id) >= 0)
    },
    async move (e) {
      try {
        await this.store.moveItemTree('/api/sections/tree', e)
      } catch (e) {
        console.error(e)
      }
    },
    async append (e) {
      try {
        const result = await this.store.appendItem('/api/sections/tree', {parent: e.id})
        window.location.href = '/admin/sections/' + result.data.id
      } catch (e) {
        console.error(e)
      }
    },
    setinner (item) {
      this.inner = item
      this.modal.inner = true
    },
    clearinner () {
      this.inner = null
      this.modal.inner = false
    },
    createInnerItem () {
      this.loading.inner = true
      Axios.post(`/api/sections/${this.inner.id}/article`).then((response) => {
        const item = response.data
        const url = replace(item['@id'], '/api/', `/${document.documentElement.lang}/admin/`)
        window.location.href = url
      }).finally(() => {
        this.loading.inner = false
        this.inner = null
        this.modal.inner = false
      })
    }
  }
}
</script>
