<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="section">
    <v-card
      outlined
      mt-12
      class="mt-4"
    >
      <v-toolbar flat>
        <v-tabs
          v-model="currentLocale"
          align-with-title
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            v-for="(item, locale) in section.translations"
            :key="item.locale"
            :href="'#' + item.locale"
          >
            <v-badge
              color="error"
              content="!"
              :value="!hasTranslation(item.locale)"
            >
              <span v-text="item.locale" />
            </v-badge>
          </v-tab>
        </v-tabs>
        <v-spacer />

        <v-btn
          icon
          :disabled="!$_hasTranslations"
          @click="removeSectionLocale"
        >
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu
          :key="usedTranslationKeys.join('')"
          :restricted-locales="usedTranslationKeys"
          @selected="addSectionLocale"
        />
      </v-toolbar>

      <v-tabs-items v-model="currentLocale">
        <v-tab-item
          v-for="(item, locale) in section.translations"
          :key="item.locale"
          :value="item.locale"
          class="pa-2"
        >
          <v-text-field
            v-model="item.name"
            outlined
            :label="$t('name')"
            class="pa-2 mb-n8"
            :disabled="isEditationDisabled"
          />

          <v-subheader
            class="pa-2 pb-0"
            v-text="$t('lead')"
          />
          <div class="pa-2">
            <v-editor-wysiwyg
              v-model="item.description"
              :disabled="isEditationDisabled"
            />
          </div>
        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <!-- seo -->
    <v-card
      outlined
      class="mt-4"
    >
      <v-tabs-items v-model="currentLocale">
        <v-tab-item
          v-for="(item) in section.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <v-expansion-panels class="filter-expansion">
            <v-expansion-panel>
              <v-expansion-panel-header>
                <v-row no-gutters>
                  <v-col
                    :cols="12"
                    class="mx-n2"
                  >
                    <v-toolbar-title>{{ $t('seo') }}</v-toolbar-title>
                  </v-col>
                </v-row>
              </v-expansion-panel-header>

              <v-expansion-panel-content>
                <v-row
                  no-gutters
                  class="pa-2"
                >
                  <v-col
                    :cols="12"
                    :md="6"
                    :xl="3"
                    class="pa-2"
                  >
                    <v-text-field
                      disabled
                      :value="item.path"
                      outlined
                      hide-details
                      :label="$t('path')"
                      clearable
                    />
                  </v-col>

                  <v-col
                    :cols="12"
                    :md="6"
                    :xl="3"
                    class="pa-2"
                  >
                    <v-text-field
                      :disabled="isEditationDisabled"
                      v-model="item.slug"
                      outlined
                      hide-details
                      :label="$t('slug')"
                      clearable
                    />
                  </v-col>

                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <!-- attachments -->
    <v-row
      no-gutters
      class="pa-2 mx-n4 my-0"
    >
      <!-- section cover -->
      <v-col
        :cols="12"
        :md="6"
        :lg="4"
        class="pa-2"
      >
        <v-card outlined>
          <v-card-cover-picker
            v-model="section.covers"
            :disabled="isEditationDisabled"
            @add="addSectionCover"
          />
        </v-card>
      </v-col>

      <!-- security -->
      <v-col class="pa-2">
        <v-card-acl
          v-model="section"
          :iri="section['@id']"
          :disabled="isEditationDisabled"
        />
      </v-col>
    </v-row>
    <v-card outlined>
      <v-row class="no-gutters">
        <v-col :cols="12">
          <v-card-published-at
            v-model="section"
            @save="saveSection"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import VEditorWysiwyg from '../components/v-editor/VEditorWysiwyg.vue'
import VCardPublishedAt from '../components/v-card/VCardPublishedAt.vue'
import { keys, size, isNil, has } from 'lodash'
import isEmpty from 'lodash/isEmpty'
import forEach from 'lodash/forEach'
import Vue from 'vue'
import VCardAcl from '../components/v-card/VCardAcl.vue'
import VCardCoverPicker from '../components/v-card/VCardCoverPicker.vue'
import { useCurrentUserStore } from '../stores/currentUserStore'
import { useSectionStore } from '../stores/sectionStore'
import { refreshItemMixin } from '../mixins'

export default {
  name: 'SectionEditation',
  components: {
    LocalizationMenu,
    VEditorWysiwyg,
    VCardPublishedAt,
    VCardAcl,
    VCardCoverPicker
  },
  mixins: [
    refreshItemMixin
  ],
  data () {
    return {
      content: null,
      original: {},
      remove: {
        agree: null
      },
      loading: {
        section: false
      },
      currentLocale: null
    }
  },
  computed: {
    store () {
      return useSectionStore('/api/sections/' + window.location.pathname.split('/').pop());
    },
    admin: {
      get () {
        const currentUserStore = useCurrentUserStore()
        return currentUserStore.getAdmin
      },
      set (value) {
        const currentUserStore = useCurrentUserStore()
        currentUserStore.setAdmin(value)
      }
    },
    section: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    usedTranslationKeys () {
      return keys(this.section.translations)
    },
    $_hasTranslations () {
      return size(this.section.translations) > 0
    },
    isEditationDisabled () {
      if (this.section.readOnly === true) {
        return true
      }

      const roles = this.admin.roles

      if (roles.includes('ROLE_ADMIN') || this.section.status === 'draft') {
        return false
      }

      return true
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    /**
     * Persist section
     * @returns {Promise<any>}
     */
    async saveSection () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('section saved'))
    },
    addSectionLocale (locales) {
      if (isEmpty(this.section.translations)) {
        this.section.translations = {}
      }
      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale: locale,
          name: null,
          description: null,
          slug: null
        }

        Vue.set(this.section.translations, locale, translations)
      })
    },
    removeSectionLocale () {
      Vue.delete(this.section.translations, this.currentLocale)
    },
    hasTranslation (locale) {
      return has(this.section.translations, locale + '.name') && !isNil(this.section.translations[locale].name) && this.section.translations[locale].name !== ''
    },
    addSectionCover () {
      if (isNil(this.section.covers)) {
        this.section.covers = []
      }

      this.section.covers.push({
        contentUrl: null
      })
    }
  },
}
</script>
