<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <!-- success dialog -->
    <v-dialog-acknowledge
      v-model="dialog.success"
      @acknowledged="goToLogin"
    >
      <template #title>
        {{ $t('security_reset_password') }}
      </template>
      <template #default>
        <p>{{ $t('security_reset_password_success') }}</p>
      </template>
    </v-dialog-acknowledge>

    <!-- error dialog -->
    <v-dialog-acknowledge v-model="dialog.error">
      <template #title>
        {{ $t('security_reset_password') }}
      </template>
      <template #default>
        <p>{{ $t('security_reset_password_failure') }}</p>
      </template>
    </v-dialog-acknowledge>

    <!-- form for setting new password -->
    <v-form @submit.prevent="resetPassword">
      <v-row
        no-gutters
        class="align-center justify-end pa-2"
      >
        <v-col
          :cols="12"
          class="pa-2"
        >
          <v-text-field
            v-model="password"
            autofocus
            :label="$t('password')"
            :append-icon="password_visible ? 'visibility' : 'visibility_off'"
            :type="password_visible ? 'text': 'password'"
            :outlined="true"
            @click:append="password_visible = !password_visible"
          />
        </v-col>

        <v-col class="flex-grow-0 pa-2">
          <v-btn
            type="submit"
            color="primary"
            depressed
            :loading="loading"
            :disabled="isDisabled"
          >
            <span v-text="$t('reset_pw')" />
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>

<script>
import Axios from '../composables/ajax'
import Qs from 'qs'
import VDialogAcknowledge from '../components/v-dialog/VDialogAcknowledge.vue'

export default {
  name: 'SecurityResetPassword',
  components: { VDialogAcknowledge },
  data () {
    return {
      loading: false,
      disabled: false,
      hash: null,
      password: null,
      password_visible: false,
      dialog: {
        success: false,
        error: false
      }
    }
  },
  computed: {
    isDisabled () {
      if (this.disabled) {
        return true
      }

      return !this.password
    }
  },
  created () {
    const urlParams = new URLSearchParams(window.location.search)
    this.hash = urlParams.get('hash')
  },
  methods: {
    goToLogin () {
      window.location.href = '/admin/login'
    },
    async resetPassword () {
      this.loading = true
      this.disabled = true
      try {
        await Axios.put(this.$generateUrl('arodax_admin_security_reset_password') + '?hash=' + this.hash, Qs.stringify({
          password: this.password
        }))

        this.dialog.success = true

        this.password = null
        this.loading = false
      } catch (error) {
        this.dialog.error = true

        this.loading = false
        this.disabled = false
      }
    }
  }
}
</script>
