<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-login-link-form />
  </div>
</template>

<script>
import VLoginLinkForm from '../components/v-form/VLoginLinkForm.vue'

export default {
  name: 'SecurityLoginLink',
  components: {
    VLoginLinkForm
  }
}
</script>
