<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>

    <v-toolbar flat>
      <v-btn-theme></v-btn-theme>
      <v-menu-locale></v-menu-locale>
    </v-toolbar>

    <v-login-form></v-login-form>

  </div>
</template>

<script>
import VBtnTheme from "../components/v-btn/VBtnTheme.vue";
import VMenuLocale from "../components/v-menu/VMenuLocale.vue";
import VLoginForm from "../components/v-form/VLoginForm.vue";

export default {
  name: 'SecurityLogin',
  components: {
    VBtnTheme,
    VMenuLocale,
    VLoginForm
  },
}
</script>
