<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-shipping-methods :loading="loading" />
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/shipping-methods"
        :headers="headers"
      >
        <template #item.id="{ item }">
          <div>
            <span v-text="item.id" />
          </div>
        </template>

        <template #item.title="{ item }">
          <v-item-name
            :value="item"
            path="title"
          />
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import FilterShippingMethods from '../components/v-filter/FilterShippingMethods.vue'
import orderBy from 'lodash/orderBy'
import VItemName from '../components/VItemName.vue'
import { useDataTableStore } from '../stores/dataTableStore'

export default {
  name: 'ShippingMethodIndex',
  components: {
    VItemName,
    VDataTableServer,
    FilterShippingMethods
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/shipping-methods')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('shipping_company_name'),
          align: 'left',
          sortable: true,
          value: 'title'
        }
      ]
    }
  },
  watch: {
    dataTable: {
      handler () {
        this.fetchProducts()
      },
      deep: true
    }
  },
  methods: {
    orderBy (a, b, c) {
      return orderBy(a, b, c)
    }
  }
}
</script>
