<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="shippingMethod">
    <v-card outlined>
      <v-toolbar flat>
        <v-tabs
          v-model="tab"
          align-with-title
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            v-for="item in shippingMethod.translations"
            :key="item.locale"
            :href="'#' + item.locale"
          >
            <v-badge
              color="error"
              content="!"
              :value="!hasTranslation(item.locale)"
            >
              <span v-text="item.locale" />
            </v-badge>
          </v-tab>
        </v-tabs>
        <v-spacer />

        <v-btn
          icon
          :disabled="!$_hasTranslations || isEditationDisabled"
          @click="removeShippingMethodLocale"
        >
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu
          :key="usedTranslationKeys.join('')"
          :restricted-locales="usedTranslationKeys"
          @selected="addShippingMethodLocale"
        />
      </v-toolbar>

      <v-tabs-items v-model="tab">
        <v-tab-item
          v-for="(item) in shippingMethod.translations"
          :key="item.locale"
          :value="item.locale"
        >
          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              :md="4"
              :lg="4"
              class="pa-2"
            >
              <v-text-field
                v-model="item.title"
                outlined
                :label="$t('title')"
                clearable
                counter
                :disabled="isEditationDisabled"
              />
            </v-col>

            <v-col class="pa-2 flex-grow-0">
              <v-switch
                v-model="shippingMethod.enabled"
                :true-value="true"
                :false-value="false"
                :label="$t('enabled')"
              />
            </v-col>
          </v-row>

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-textarea
                v-model="item.description"
                outlined
                :label="$t('description')"
                clearable
                counter
                :disabled="isEditationDisabled"
              />
            </v-col>
          </v-row>

          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="4"
              class="pa-2"
            >
              <v-autocomplete-country
                v-model="shippingMethod.supportedCountries"
                outlined
                :label="$t('supported countries')"
                countries=""
                multiple
              />
            </v-col>

            <v-col
              :cols="4"
              class="pa-2"
            >
              <v-autocomplete-payment-methods v-model="shippingMethod.paymentMethods" />
            </v-col>

            <v-col
              :cols="4"
              class="pa-2"
            >
              <v-autocomplete-shipping-method-provider v-model="shippingMethod.provider" />
            </v-col>

          </v-row>
        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-price-expression-rules v-model="shippingMethod.postagePriceRules" />
    </v-card>

    <v-card outlined class="mt-4">
      <v-card-published-at
        v-model="shippingMethod"
        :disabled="isEditationDisabled"
        @save="saveShippingMethod"
        @refresh-item="refreshItem"
      />
    </v-card>
  </div>
</template>

<script>
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import VBtnDelete from '../components/v-btn/VBtnDelete.vue'
import VAutocompleteCountry from '../components/v-autocomplete/VAutocompleteCountry.vue'
import VDataTablePriceExpressionRules from '../components/v-data-table/VDataTablePriceExpressionRules.vue'
import { keys, size, cloneDeep, isEmpty, forEach, has, isNil } from 'lodash'
import { handleTranslations } from '../utils/translations_helper'
import Vue from 'vue'
import { securityMixin } from '../mixins/securityMixin'
import VAutocompletePaymentMethods from '../components/v-autocomplete/VAutocompletePaymentMethods'
import VAutocompleteShippingMethodProvider from '../components/v-autocomplete/VAutocompleteShippingMethodProvider.vue'
import { refreshItemMixin } from '../mixins/refreshItemMixin'
import { useShippingMethodStore } from "../stores/shippingMethodStore"
import VCardPublishedAt from "../components/v-card/VCardPublishedAt.vue";

export default {
  name: 'ShippingMethodEditation',
  components: {
    VCardPublishedAt,
    LocalizationMenu,
    VBtnDelete,
    VAutocompleteCountry,
    VDataTablePriceExpressionRules,
    VAutocompletePaymentMethods,
    VAutocompleteShippingMethodProvider
  },
  mixins: [
    securityMixin,
    refreshItemMixin
  ],
  data () {
    return {
      original: {},
      remove: {
        agree: null
      },
      loading: {
        shippingMethod: false,
        cover: false
      },
      tab: null
    }
  },
  computed: {
    store () {
      return useShippingMethodStore('/api/shipping-methods/' + window.location.pathname.split('/').pop());
    },
    shippingMethod: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    usedTranslationKeys () {
      return keys(this.shippingMethod.translations)
    },
    $_hasTranslations () {
      return size(this.shippingMethod.translations) > 0
    },
    /**
     * Check if the shippingMethod editation is disabled
     * Generally only admin can edit shippingMethod as soon as it has been published
     * @returns {boolean}
     */
    isEditationDisabled () {
      if (this.shippingMethod.status === 'draft') {
        return false
      }

      if (this.isGranted('ROLE_ADMIN')) {
        return false
      }

      return true
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    /**
     * Persist shippingMethod
     * @returns {Promise<any>}
     */
    async saveShippingMethod () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('shipping_method_saved'))
      this.loading = false
    },
    addShippingMethodLocale (locales) {
      if (isEmpty(this.shippingMethod.translations)) {
        this.shippingMethod.translations = {}
      }

      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale,
          headline: null,
          lead: null,
          content: null
        }
        Vue.set(this.shippingMethod.translations, locale, translations)
      })
    },
    removeShippingMethodLocale () {
      Vue.delete(this.shippingMethod.translations, this.tab)
    },
    hasTranslation (locale) {
      return has(this.shippingMethod.translations, locale + '.title') && !isNil(this.shippingMethod.translations[locale].title) && this.shippingMethod.translations[locale].title !== ''
    }
  }
}
</script>
