<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="shoppingCart">
    <v-card outlined>
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('shopping cart editation') }}</v-toolbar-title>
      </v-toolbar>

      <v-row no-gutters class="pa-2">

        <v-col :cols="12" :md="3" class="pa-2">
          <v-autocomplete-user :label="$t('user')" v-model="shoppingCart.user" outlined></v-autocomplete-user>
        </v-col>

        <v-col :cols="12" :md="3" class="pa-2">
          <v-select :items="['open', 'closed', 'abandoned']" v-model="shoppingCart.status" :label="$t('status')" outlined></v-select>
        </v-col>

        <v-col :cols="12" :md="3" class="pa-2">
          <v-text-field outlined :value="formatDateTime(shoppingCart.createdAt)" :label="$t('created_at')" disabled></v-text-field>
        </v-col>

        <v-col :cols="12" :md="3" class="pa-2">
          <v-text-field outlined :value="formatDateTime(shoppingCart.updatedAt)" :label="$t('updated_at')" disabled></v-text-field>
        </v-col>
      </v-row>

      <v-data-table :headers="shoppingCartItemsHeaders" :items="shoppingCart.items" mobile-breakpoint="750">

        <template
          v-for="header in shoppingCartItemsHeaders"
          #[colName(header)]="{ header }"
        >
          {{ $t(header.text)|upperFirst }}
        </template>


        <template v-slot:item.id="{ item }">
          {{ item.id }}
        </template>

        <template v-slot:item.name="{ item }">
          <a :href="'/admin/products/'+ item.id" target="_blank">{{ item.name }}</a>
        </template>

        <template v-slot:item.cover="{ item }">
          <v-img v-if="item.cover" :src="item.cover.contentUrl" :max-height="50" :max-width="50" :aspect-ratio="1" class="ma-1"></v-img>
        </template>

        <template v-slot:item.price_without_tax="{ item }">
          <v-span-money disabled v-model="item.priceWithoutTax" :currency="item.currency" :label="$t('item without tax')" outlined></v-span-money>
        </template>

        <template v-slot:item.tax_rate="{ item }">
          <span v-text="item.taxRate"></span>
        </template>

        <template v-slot:item.price_with_tax="{ item }">
          <v-span-money disabled v-model="item.priceWithTax" :currency="item.currency" :label="$t('item with tax')" outlined></v-span-money>
        </template>

        <template v-slot:item.quantity="{ item }">
          <v-text-field dense hide-details type="number" :min="1" outlined v-model="item.quantity" :label="$t('quantity')"></v-text-field>
        </template>

        <template v-slot:item.action="{ item }">
          <v-btn @click="removeShoppingCartItem(item)" icon color="error" class="mt-2">
            <v-icon>remove_circle_outline</v-icon>
          </v-btn>
        </template>

      </v-data-table>

      <v-row no-gutters class="pa-2">
        <v-col :cols="12" :md="3" class="pa-2">
          <v-autocomplete-currency v-model="shoppingCart.currency" :label="$t('currency')" outlined></v-autocomplete-currency>
        </v-col>

        <v-col :cols="12" :md="3" class="pa-2">
          <v-text-field-money v-model="shoppingCart.priceWithoutTax" :currency="shoppingCart.currency" :label="$t('price without tax')" outlined></v-text-field-money>
        </v-col>

        <v-col :cols="12" :md="3" class="pa-2">
          <v-text-field-money v-model="shoppingCart.priceWithTax" :currency="shoppingCart.currency" :label="$t('price without tax')" outlined></v-text-field-money>
        </v-col>
      </v-row>

      <v-row no-gutters class="pa-4">
        <v-col class="flex-grow-0">
          <v-btn depressed color="primary"  @click.prevent="saveItem" :disabled="isEditationDisabled" class="mr-2">
            <v-icon left>check</v-icon> {{ $t('save') }}
          </v-btn>
        </v-col>

        <v-col class="flex-grow-0">
          <v-btn-delete text :value="shoppingCart" class="mr-2"></v-btn-delete>
        </v-col>
      </v-row>

    </v-card>
  </div>
</template>

<script>
import Breadcrumb from '../components/Breadcrumb.vue'
import VTextFieldMoney from '../components/v-text-field/VTextFieldMoney.vue'
import VTextFieldPercent from '../components/v-text-field/VTextFieldPercent.vue'
import VAutocompleteUser from '../components/v-autocomplete/VAutocompleteUser.vue'
import VBtnDelete from '../components/v-btn/VBtnDelete.vue'
import VAutocompleteCurrency from '../components/v-autocomplete/VAutocompleteCurrency.vue'
import VSpanMoney from '../components/VSpanMoney.vue'
import { dateTimeMixin, securityMixin, errorMixin, refreshItemMixin } from "../mixins"
import { upperFirst, findIndex, keys } from 'lodash'
import { useArticleStore } from "../stores/articleStore";

export default {
  name: 'ShoppingCartEditation',
  components: {
    Breadcrumb,
    VTextFieldMoney,
    VTextFieldPercent,
    VAutocompleteUser,
    VBtnDelete,
    VAutocompleteCurrency,
    VSpanMoney
  },
  mixins: [
    dateTimeMixin,
    securityMixin,
    errorMixin,
    refreshItemMixin
  ],
  filters: {
    upperFirst (val) {
      return upperFirst(val)
    }
  },
  data () {
    return {
      original: {},
      remove: {
        agree: null
      },
      loading: {
        shoppingCart: false
      },
      shoppingCartItemsHeaders: [
        {
          align: 'start',
          sortable: false,
          value: 'action',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'start',
          sortable: false,
          value: 'id',
          width: '1px'
        },
        {
          text: this.$t('cover'),
          align: 'start',
          sortable: false,
          value: 'cover',
          width: '90px'
        },
        {
          text: this.$t('name'),
          align: 'start',
          sortable: false,
          value: 'name',
        },
        {
          text: this.$t('price without tax'),
          align: 'start',
          sortable: false,
          value: 'price_without_tax',
          width: '150px'
        },
        {
          text: this.$t('tax rate'),
          align: 'start',
          sortable: false,
          value: 'tax_rate',
          width: '100px'
        },
        {
          text: this.$t('price with tax'),
          align: 'start',
          sortable: false,
          value: 'price_with_tax',
          width: '150px'
        },
        {
          text: this.$t('quantity'),
          align: 'start',
          sortable: false,
          value: 'quantity',
          width: '100px'
        }
      ]
    }
  },
  computed: {
    store () {
      return useArticleStore('/api/shopping-carts/' + window.location.pathname.split('/').pop());
    },
    shoppingCart: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    usedTranslationKeys () {
      return keys(this.shoppingCart.translations)
    },
    /**
     * Check if the shoppingCart editation is disabled
     * Generally only admin can edit shoppingCart as soon as it has been published
     * @returns {boolean}
     */
    isEditationDisabled () {
      if (this.shoppingCart.status === 'draft') {
        return false
      }

      if (this.isGranted('ROLE_ADMIN')) {
        return false
      }

      return true
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    /**
     * Persist shoppingCart
     * @returns {Promise<any>}
     */
    async saveItem () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('shopping_cart_saved'))
    },
    addOrderItem () {
      this.shoppingCart.orderItems.push({
        description: null,
        quantity: 1,
        unitPrice: 0,
        taxRate: null,
        taxPrice: null,
        discountPrice: null,
        totalPriceWithoutTax: 0,
        totalPriceWithTax: 0
      })
    },
    removeShoppingCartItem (item) {
      const index = findIndex(this.shoppingCart.items, (o) => {
        return o.id = item.id
      })

      this.shoppingCart.items.splice(index, 1)
    },
    /**
     * Return the col name
     * @param {Object} header
     * @return {string}
     */
    colName (header) {
      return `header.${header.value}`
    },
  },
}
</script>
