<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-shopping-carts
        :loading="loading"
      />
    </v-card>

    <v-card
      outlined
      mt-12
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/shopping-carts"
        :headers="headers"
      >
        <template #item.created_at="{ item }">
          <v-date-time
            :value="item.createdAt"
            :time="true"
          />
        </template>

        <template #item.items_count="{ item }">
          {{ item.itemsCount }}
        </template>

        <template #item.items_variants_count="{ item }">
          {{ item.itemsVariantsCount }}
        </template>

        <template #item.price_without_tax="{ item }">
          <v-span-money
            :currency="item.currency"
            :value="item.priceWithoutTax"
          />
        </template>

        <template #item.price_with_tax="{ item }">
          <v-span-money
            :currency="item.currency"
            :value="item.priceWithTax"
          />
        </template>

        <template #item.order="{ item }">
          <v-icon
            v-if="item.order"
            left
          >
            check_circle
          </v-icon>
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import FilterShoppingCarts from '../components/v-filter/FilterShoppingCarts.vue'
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import VSpanMoney from '../components/VSpanMoney.vue'
import VDateTime from '../components/v-date/VDateTime.vue'
import { useDataTableStore } from '../stores/dataTableStore'

export default {
  name: 'ShoppingCartIndex',
  components: {
    FilterShoppingCarts,
    VDataTableServer,
    VSpanMoney,
    VDateTime
  },
  mixins: [

  ],
  data () {
    return {
      loading: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/shopping-carts')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('created at'),
          align: 'left',
          sortable: true,
          value: 'created_at'
        },
        {
          text: this.$t('price without tax'),
          align: 'left',
          sortable: true,
          value: 'price_without_tax'
        },
        {
          text: this.$t('price with tax'),
          align: 'left',
          sortable: true,
          value: 'price_with_tax'
        },
        {
          text: this.$t('order'),
          align: 'left',
          sortable: false,
          value: 'order'
        },
        {
          text: this.$t('items count'),
          align: 'left',
          sortable: true,
          value: 'items_count'
        },
        {
          text: this.$t('variants count'),
          align: 'left',
          sortable: true,
          value: 'items_variants_count'
        }
      ]
    }
  },
  methods: {
    statusColor (item) {
      if (!item.paidAt) {
        return 'red--text'
      }
    },
    money (amount, currency) {
      return (new Intl.NumberFormat().format(amount / 100)) + ' ' + currency
    }
  }
}
</script>
