<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="translatable">
    <v-card outlined>
      <v-toolbar flat>
        <v-tabs align-with-title background-color="transparent" v-model="tab" fixed-tab>
          <v-tab v-for="(item, locale) in translatable.translations" :key="item.locale" :href="'#' + item.locale">
            <v-badge color="error" content="!" :value="!hasTranslation(item.locale)">
              <span v-text="item.locale"></span>
            </v-badge>
          </v-tab>
        </v-tabs>
        <v-spacer></v-spacer>
        <v-btn icon @click="removeTranslatableLocale" :disabled="!$_hasTranslations">
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu @selected="addTranslatableLocale"  :restricted-locales="usedTranslationKeys" :key="usedTranslationKeys.join('')"></localization-menu>
      </v-toolbar>

      <v-row class="pa-2 ma-0">
        <v-col :cols="12" class="pa-2">
          <v-text-field outlined :label="$t('source')" v-model="translatable.source"></v-text-field>
        </v-col>
      </v-row>

      <v-tabs-items v-model="tab">
        <v-tab-item v-for="(item, locale) in translatable.translations" :key="item.locale" :value="item.locale">
          <v-row class="pa-2 ma-0">
            <v-col :cols="12" class="pa-2">
              <v-textarea outlined :label="$t('target')" v-model="item.target"></v-textarea>
            </v-col>
          </v-row>
        </v-tab-item>
      </v-tabs-items>

      <v-row no-gutters class="pa-4">
        <v-col class="flex-grow-0">
          <v-btn depressed color="primary" :loading="loading.translatable" @click.prevent="saveTranslatable" class="mr-2">
            <v-icon left>mdi-floppy</v-icon>
            {{ $t('save') }}
          </v-btn>
        </v-col>


        <v-col class="flex-grow-0">
          <v-btn
            type="button"
            depressed
            color="success"
            :loading="loading.translatable"
            @click="translateTarget"
            class="mr-2"
          >
            {{ tab }} <v-icon left class="mx-4">arrow_right_alt</v-icon> <v-icon left>translate</v-icon>
          </v-btn>
        </v-col>

        <v-col class="flex-grow-0">
          <v-btn-delete text :value="translatable" class="mr-2"></v-btn-delete>
        </v-col>

      </v-row>
    </v-card>
  </div>
</template>

<script>
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import Breadcrumb from '../components/Breadcrumb.vue'
import VBtnDelete from '../components/v-btn/VBtnDelete.vue'
import { keys, size, sortBy, has, isNil, isEmpty, forEach } from 'lodash'
import Vue from 'vue'
import Ajax from '../composables/ajax'
import QS from 'qs'
import { refreshItemMixin } from '../mixins/refreshItemMixin'
import { useGrantProjectStore } from "../stores/grantProjectStore";

export default {
  name: 'TranslatableEditation',
  components: {
    LocalizationMenu,
    Breadcrumb,
    VBtnDelete
  },
  mixins: [
    refreshItemMixin
  ],
  data () {
    return {
      original: {},
      loading: {
        translatable: false
      },
      tab: null,
    }
  },
  computed: {
    store () {
      return useGrantProjectStore('/api/translatables/' + window.location.pathname.split('/').pop())

    },
    translatable: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        this.store.setItem(val)
      }
    },
    usedTranslationKeys () {
      return keys(this.translatable.translations)
    },
    $_hasTranslations () {
      return size(this.translatable.translations) > 0
    },
    /**
     * Check if the translatable editation is disabled
     * Generally only admin can edit the translation
     * @returns {boolean}
     */
    isEditationDisabled () {
      if (this.isGranted('ROLE_ADMIN')) {
        return false
      }

      return true
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    /**
     * Persist translatable
     * @returns {Promise<any>}
     */
    async saveTranslatable () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('translatable_saved'))
      this.loading = false
    },
    addTranslatableLocale (locales) {
      if (isEmpty(this.translatable.translations)) {
        this.translatable.translations = {}
      }

      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale: locale,
          headline: null,
          lead: null,
          content: null
        }
        Vue.set(this.translatable.translations, locale, translations)
      })
    },
    removeTranslatableLocale () {
      Vue.delete(this.translatable.translations, this.tab)
    },
    hasTranslation (locale) {
      return has(this.translatable.translations, locale + '.target') && !isNil(this.translatable.translations[locale].target) && this.translatable.translations[locale].target !== ''
    },
    translateTarget () {
      const promises = []

      this.loading.translatable = true
      forEach (this.translatable.translations, (translation, locale) => {
        if (locale === this.tab) {
          return
        }

        promises.push(Ajax.post(this.$generateUrl('arodax_admin_i18ns_translate', {id: this.translatable.id}), QS.stringify({
          target: locale,
          source: this.tab,
          input: this.translatable.translations[this.tab].target
        })))

      })

      Promise.all(promises)
        .then((results) => {
          forEach(results, (result) => {
            this.translatable.translations[result.data.locale].target = result.data.result
          })
        })
        .finally(() => {
          this.loading.translatable = false
        })

    }
  }
}
</script>
