<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/translatables"
        :headers="headers"
      >
        <template #item.source="{ item }">
          <span v-text="item.source" />
        </template>
        <template #item.translations="{ item }">
          <v-chip
            :key="'translatable-' + item.id + '-translation-' + key"
            v-for="(translations, key) in item.translations"
            label
            v-text="key"
          />
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import { useDataTableStore } from '../stores/dataTableStore'

export default {
  name: 'TranslatableIndex',
  components: {
    VDataTableServer
  },
  data () {
    return {
      loading: true,
      contentLocales: []
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/articles')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '100px'
        },
        {
          text: this.$t('source'),
          align: 'left',
          sortable: true,
          value: 'source'
        }
      ]
    }
  }
}
</script>
