<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-user-groups
        :loading="loading"
      />
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/user-groups"
        :headers="headers"
      >
        <template #item.id="{ item }">
          <div>
            <span v-text="item.id" />
          </div>
        </template>

        <template #item.name="{ item }">
          <v-item-name :value="item" path="name"></v-item-name>
        </template>

        <template #item.team_leader="{ item }">
          <v-chip-team-leader v-if="item.teamLeader" :value="item.teamLeader" />
        </template>

        <template #item.score="{ item }">
          <v-chip-user-group-total-score :value="item['@id']"></v-chip-user-group-total-score>
        </template>

        <template #item.enabled="{ item }">
          <div>
            <v-icon
              v-if="item.enabled"
              class="icon--enabled"
            >
              check
            </v-icon>
            <v-icon
              v-if="!item.enabled"
              class="icon--disabled"
            >
              clear
            </v-icon>
          </div>
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import get from 'lodash/get'
import has from 'lodash/has'
import isNil from 'lodash/isNil'
import isArray from 'lodash/isArray'
import FilterUserGroups from '../components/v-filter/FilterUserGroups.vue'
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import orderBy from 'lodash/orderBy'
import VItemName from '../components/VItemName.vue'
import VChipTeamLeader from '../components/v-chip/VChipTeamLeader.vue'
import VChipUserGroupTotalScore from "../components/v-chip/VChipUserGroupTotalScore.vue";
import { useDataTableStore } from '../stores/dataTableStore'

export default {
  name: 'UserGroupIndex',
  components: {
    VItemName,
    FilterUserGroups,
    VDataTableServer,
    VChipTeamLeader,
    VChipUserGroupTotalScore
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/user-groups')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('name'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$t('table_header_team_leader'),
          align: 'left',
          sortable: false,
          value: 'team_leader'
        },
        {
          text: this.$t('table_header_score'),
          align: 'left',
          sortable: false,
          value: 'score'
        },
        {
          text: this.$t('enabled'),
          align: 'left',
          sortable: true,
          value: 'enabled',
          width: '100px'
        }
      ]
    }
  },
  methods: {
    orderBy (a, b, c) {
      return orderBy(a, b, c)
    },
    isUserGroupHighLighted (userGroup) {
      return !!(isArray(this.store.getFilter('userGroups', [])) && this.store.getFilter('userGroups', []).indexOf(userGroup.id) >= 0)
    },
    userGroupName (userGroup) {
      const locale = document.documentElement.lang
      if (!isNil(locale) && has(userGroup, 'translations.' + locale + '.name')) {
        return get(userGroup, 'translations.' + locale + '.name')
      }

      return userGroup.id
    }
  }
}

</script>
