<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div v-if="userGroup">
    <v-card
      outlined
      class="mb-4"
    >
      <v-toolbar flat>
        <v-tabs
          v-model="tab"
          align-with-title
          background-color="transparent"
          fixed-tab
        >
          <v-tab
            v-for="(item, locale) in userGroup.translations"
            :key="item.locale"
            :href="'#' + item.locale"
          >
            <v-badge
              color="error"
              content="!"
              :value="!hasTranslation(item.locale)"
            >
              <span v-text="item.locale" />
            </v-badge>
          </v-tab>
        </v-tabs>
        <v-spacer />

        <v-btn
          icon
          :disabled="!$_hasTranslations"
          @click="removeUserGroupLocale"
        >
          <v-icon>remove_circle_outline</v-icon>
        </v-btn>
        <localization-menu
          :key="usedTranslationKeys.join('')"
          :restricted-locales="usedTranslationKeys"
          @selected="addUserGroupLocale"
        />
      </v-toolbar>

      <v-row
        no-gutters
        class="pa-2"
      >
        <v-col
          :cols="12"
          class="pa-2 mb-n8"
        >
          <v-tabs-items v-model="tab">
            <v-tab-item
              v-for="(item, locale) in userGroup.translations"
              :key="item.locale"
              :value="item.locale"
              class="pt-1"
            >
              <v-text-field
                v-model="item.name"
                outlined
                :label="$t('name')"
                :disabled="isEditationDisabled"
              />
              <v-subheader class="pa-0">
                {{ $t('content') }}
              </v-subheader>

              <v-editor-wysiwyg
                v-model="item.description"
                :disabled="isEditationDisabled"
                :class="[{ disabled: isEditationDisabled }]"
              />
            </v-tab-item>
          </v-tabs-items>
        </v-col>

        <v-col
          :cols="12"
          class="pa-2 mt-4"
        />
      </v-row>

      <v-row no-gutters>
        <v-col
          :cols="6"
          class="pa-2 mt-4"
        >
          <!-- team leader -->
          <v-autocomplete-user
            v-model="userGroup.teamLeader"
            class="mx-4"
            :label="$t('user_group_editation_team_leader')"
            :disabled="isEditationDisabled"
          />
        </v-col>

        <v-col
          :cols="3"
          class="pa-2 mt-4"
        >
          <!-- enabled group -->
          <v-switch
            v-model="userGroup.enabled"
            :label="$t('enabled')"
            :disabled="isEditationDisabled"
            :error-messages="getViolation('enabled')"
            :true-value="true"
            :false-value="false"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card
      outlined
      class="mb-4"
    >
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('gamification') }}</v-toolbar-title>
        <v-spacer />
      </v-toolbar>

      <v-row
        no-gutters
        class="pa-2"
      >
        <v-col
          class="pa-2"
          :cols="12"
          :md="6"
        >
          <v-text-field-custom
            v-model="userGroup.totalScore"
            prepend-icon="fa-regular fa-hundred-points"
            outlined
            :label="$t('user_group_score')"
            :error-messages="getViolation('totalScore')"
          />
        </v-col>

        <v-col
          class="pa-2"
          :cols="12"
          :md="6"
        >
          <v-switch
            v-model="userGroup.gamification"
            :label="$t('user_group_gamification_enabled')"
            :disabled="isEditationDisabled"
            :error-messages="getViolation('gamification')"
            :true-value="true"
            :false-value="false"
          />
        </v-col>
      </v-row>
    </v-card>

    <!-- security -->
    <v-card-acl
      v-model="userGroup"
      :iri="userGroup['@id']"
      :disabled="isEditationDisabled"
      class="mb-4"
    />

    <!-- data table with users in the group -->
    <v-data-table-user-group-users
      v-if="userGroup.id"
      :user-group-id="userGroup.id"
    />

    <v-card outlined>
      <v-card-published-at
        v-model="userGroup"
        :disabled="isEditationDisabled"
        @save="saveUserGroup"
      />
    </v-card>
  </div>
</template>

<script>
import LocalizationMenu from '../components/v-menu/LocalizationMenu.vue'
import VBtnDelete from '../components/v-btn/VBtnDelete.vue'
import Vue from 'vue'
import VEditorWysiwyg from '../components/v-editor/VEditorWysiwyg.vue'
import VDataTableUserGroupUsers from '../components/v-data-table/VDataTableUserGroupUsers.vue'
import VAutocompleteUser from '../components/v-autocomplete/VAutocompleteUser.vue'
import VCardAcl from '../components/v-card/VCardAcl.vue'
import VTextFieldCustom from '../components/v-text-field/VTextFieldCustom.vue'
import { useUserGroupStore } from '../stores/userGroupStore'
import { securityMixin } from '../mixins/securityMixin'
import { errorMixin } from '../mixins/errorMixin'
import { useCurrentUserStore } from '../stores/currentUserStore'
import { has, keys, size, isNil, forEach, isEmpty } from 'lodash'
import VCardPublishedAt from '../components/v-card/VCardPublishedAt.vue'

export default {
  name: 'UserGroupEditation',
  components: {
    VCardPublishedAt,
    VEditorWysiwyg,
    LocalizationMenu,
    VBtnDelete,
    VDataTableUserGroupUsers,
    VAutocompleteUser,
    VCardAcl,
    VTextFieldCustom
  },
  mixins: [
    securityMixin,
    errorMixin
  ],
  data () {
    return {
      original: {},
      loading: {
        userGroup: false
      },
      tab: null
    }
  },
  computed: {
    store () {
      return useUserGroupStore('/api/user-groups/' + window.location.pathname.split('/').pop())
    },
    isEditationDisabled () {
      if (this.isGranted(['ROLE_ADMIN', 'ROLE_PEOPLE_ADMIN', 'ROLE_PEOPLE_USER_GROUP_ADMIN'])) {
        return false
      }

      if (this.userGroup?.teamLeader) {
        const store = useCurrentUserStore()
        const iri = '/api/users/' + store.user.id
        if (iri === this.userGroup?.teamLeader) {
          return false
        }
      }

      return true
    },
    userGroup: {
      get () {
        return this.store.getItem()
      },
      set (val) {
        console.log(val)
        this.store.setItem(val)
      }
    },
    usedTranslationKeys () {
      return keys(this.userGroup.translations)
    },
    $_hasTranslations () {
      return size(this.userGroup.translations) > 0
    }
  },
  created () {
    this.store.readItem()
  },
  methods: {
    /**
     * Persist section
     * @returns {Promise<any>}
     */
    async saveUserGroup () {
      this.loading = true
      try {
        await this.store.updateItem()
        this.$eventHub.$emit('snackbar-success', this.$t('snackbar_user_group_saved'))
      } catch (e) {
        this.buildViolations(e)
      }
    },
    addUserGroupLocale (locales) {
      if (isEmpty(this.userGroup.translations)) {
        this.userGroup.translations = {}
      }
      forEach(locales, (locale) => {
        const translations = {
          id: null,
          locale,
          name: null
        }

        Vue.set(this.userGroup.translations, locale, translations)
      })
    },
    removeUserGroupLocale: function () {
      Vue.delete(this.userGroup.translations, this.tab)
    },
    hasTranslation (locale) {
      return (
        has(this.userGroup.translations, locale + '.name') &&
        !isNil(this.userGroup.translations[locale].name) &&
        this.userGroup.translations[locale].name !== ''
      )
    }
  }
}
</script>
