<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <div v-if="user">
      <v-card
        outlined
        class="mb-4"
      >
        <v-tabs v-model="tab">
          <v-tab href="#settings">
            {{ $t('user_editation_settings') }}
          </v-tab>
          <v-tab href="#contacts">
            {{ $t('user_editation_contacts') }}
          </v-tab>
          <v-tab href="#password">
            {{ $t('user_editation_password') }}
          </v-tab>
          <v-tab
            v-if="isGranted('ROLE_PEOPLE_USER_ADMIN')"
            href="#permissions"
          >
            {{ $t('user_editation_permission') }}
          </v-tab>
          <v-tab
            v-if="isGranted('ROLE_PEOPLE_USER_ADMIN')"
            href="#credit"
          >
            {{ $t('credit') }}
          </v-tab>

          <v-tab
            v-if="isGranted('ROLE_PEOPLE_USER_ADMIN')"
            href="#score"
          >
            {{ $t('score') }}
          </v-tab>

        </v-tabs>
      </v-card>

      <v-row
        no-gutters
        class="pa-2 ma-n4"
      >
        <v-col
          :cols="12"
          :md="8"
          class="pa-2"
        >
          <v-tabs-items
            v-model="tab"
            style="background: none !important;"
          >
            <!-- form with user data -->
            <v-tab-item value="settings">
              <v-form-user-profile v-model="user" />
            </v-tab-item>

            <!-- contacts -->
            <v-tab-item value="contacts">
              <v-form-user-contacts :user-id="user.id" />
            </v-tab-item>

            <!-- password -->
            <v-tab-item value="password">
              <v-form-user-password :user-id="user.id" />
            </v-tab-item>

            <!-- permissions -->
            <v-tab-item value="permissions">
              <v-form-user-roles :user-id="user.id" />
            </v-tab-item>

            <!-- credit -->
            <v-tab-item value="credit">
              <v-form-user-credit :user-id="user.id" />
            </v-tab-item>

            <!-- score -->
            <v-tab-item value="score">
              <v-form-user-score :user-id="user.id" />
            </v-tab-item>
          </v-tabs-items>
        </v-col>

        <v-col
          :cols="12"
          :md="4"
          class="pa-2"
        >
          <v-card-user-aside :user-id="user.id" />
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import { errorMixin } from '../mixins/errorMixin'
import VTextFieldCustom from '../components/v-text-field/VTextFieldCustom.vue'
import { securityMixin } from '../mixins/securityMixin'
import VFormUserProfile from '../components/v-form/VFormUserProfile.vue'
import VFormUserRoles from '../components/v-form/VFormUserRoles.vue'
import VFormUserCredit from '../components/v-form/VFormUserCredit.vue'
import VFormUserScore from '../components/v-form/VFormUserScore.vue'
import VFormUserContacts from '../components/v-form/VFormUserContacts.vue'
import { useUserStore } from '../stores/userStore'
import VFormUserPassword from '../components/v-form/VFormUserPassword.vue'
import VCardUserAside from '../components/v-card/VCardUserAside.vue'

export default {
  name: 'UserEditation',
  components: {
    VFormUserProfile,
    VFormUserRoles,
    VTextFieldCustom,
    VFormUserCredit,
    VFormUserScore,
    VFormUserPassword,
    VCardUserAside,
    VFormUserContacts
  },
  mixins: [
    securityMixin,
    errorMixin
  ],
  data () {
    return {
      tab: null,
      userGroups: {},
      form: {
        user: {
          password_visible: false
        }
      },
      password: {
        updated: null,
        repeated: null
      },
      remove: {
        agree: null
      },
      loading: {
        user: false,
        password: false,
        remove: false,
        avatar: false
      },
    }
  },
  computed: {
    store () {
      const url = location.pathname.split('#')[0]
      const iri = `/api/users/${url.split('/').pop()}`
      return useUserStore(iri)
    },
    user: {
      get () {
        return this.store.item
      },
      set (value) {
        this.store.item = value
      }
    }
  },
  watch: {
    tab (newValue) {
      // Update the URL without reloading the page
      const url = new URL(window.location)
      url.hash = newValue
      window.history.pushState({}, '', url)
    }
  },
  created () {
    this.store.readItem()
  }
}
</script>
