<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <filter-users :loading="loading" />
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-data-table-server
        store-id="/api/users"
        :headers="headers"
      >
        <template #item.enabled="{ item }">
          <div>
            <span v-text="item.id" />
          </div>
        </template>

        <template #item.avatar="{ item }">
          <div>
            <v-avatar
              :size="24"
              :color="item.color"
              :class="{ avatar__highlight: isAvatarHighLighted(item) }"
            >
              <img
                v-if="item.avatar"
                :src="item.avatar"
                alt="avatar"
              >
              <span
                v-else
                v-text="
                  item.displayName ? item.displayName.substring(0, 1) : ''
                "
              />
            </v-avatar>
          </div>
        </template>

        <template #item.email="{ item }">
          <div>
            <span
              v-if="!store.getFilter('email')"
              v-text="item.email"
            />
            <text-highlight
              v-else
              :queries="[store.getFilter('email')]"
            >
              {{ item.email }}
            </text-highlight>
          </div>
        </template>

        <template #item.display_name="{ item }">
          <div>
            <span
              v-if="!store.getFilter('displayName')"
              v-text="item.displayName"
            />
            <text-highlight
              v-else
              :queries="[store.getFilter('displayName')]"
            >
              {{ item.displayName }}
            </text-highlight>
          </div>
        </template>

        <template #item.user_groups="{ item }">
          <div>
            <v-chip-user-group
              v-for="(userGroup, index) in item.userGroups"
              :key="'user-group-chip-' + index"
              :user-group-object="userGroup"
            />
          </div>
        </template>

        <!-- user roles column -->
        <template #item.roles="{ item }">
          <v-chip-user-role :user-object="item" />
        </template>

        <!-- score column -->
        <template #item.score="{ item }">
          <div>
            <v-chip-user-total-score :user-object="item" />
          </div>
        </template>

        <!-- last activity column -->
        <template #item.last_activity_at="{ item }">
          <div>
            <v-date-time
              :value="item.lastActivityAt"
              :time="false"
            />
          </div>
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import TextHighlight from 'vue-text-highlight'
import VDataTableServer from '../components/v-data-table/VDataTableServer.vue'
import FilterUsers from '../components/v-filter/FilterUsers.vue'
import VDateTime from '../components/v-date/VDateTime.vue'
import VChipUserGroup from '../components/v-chip/VChipUserGroup.vue'
import VChipUserTotalScore from '../components/v-chip/VChipUserTotalScore.vue'
import VChipUserRole from '../components/v-chip/VChipUserRole.vue'
import { get, has, isNil, isArray } from 'lodash'
import { useDataTableStore } from '../stores/dataTableStore'

export default {
  name: 'UserIndex',
  components: {
    VChipUserTotalScore,
    FilterUsers,
    VDataTableServer,
    TextHighlight,
    VDateTime,
    VChipUserGroup,
    VChipUserRole
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/users')
    },
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('avatar'),
          align: 'left',
          sortable: false,
          value: 'avatar',
          width: '1px'
        },
        {
          text: this.$t('email'),
          align: 'left',
          sortable: false,
          value: 'email'
        },
        {
          text: this.$t('name'),
          align: 'left',
          sortable: false,
          value: 'display_name'
        },
        {
          text: this.$t('user_roles'),
          align: 'left',
          sortable: false,
          value: 'roles'
        },
        {
          text: this.$t('user_groups'),
          align: 'left',
          sortable: false,
          value: 'user_groups'
        },
        {
          text: this.$t('score'),
          align: 'center',
          sortable: true,
          value: 'score'
        },
        {
          text: this.$t('last activity'),
          align: 'left',
          sortable: true,
          value: 'last_activity_at'
        }
      ]
    }
  },
  methods: {
    isAvatarHighLighted (user) {
      const store = useDataTableStore('/api/users')
      return !!(
        isArray(store.getFilter('users')) &&
        store.getFilter('users').indexOf(user.id) >= 0
      )
    },
    isUserGroupHighLighted (userGroup) {
      const store = useDataTableStore('/api/users')
      return !!(
        isArray(store.getFilter('userGroups')) &&
        store.getFilter('userGroups').indexOf(userGroup.id) >= 0
      )
    },
    userGroupName (userGroup) {
      const locale = document.documentElement.lang
      if (
        !isNil(locale) &&
        has(userGroup, 'translations.' + locale + '.name')
      ) {
        return get(userGroup, 'translations.' + locale + '.name')
      }

      return userGroup.id
    }
  }
}
</script>
