<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-title>{{ $t('product_variant_prices') }}</v-toolbar-title>
      <v-btn
        icon
        :disabled="disabled"
        @click="addPrice"
      >
        <v-icon>fa-plus</v-icon>
      </v-btn>
    </v-toolbar>
    <v-simple-table
      fixed-header
      height="300px"
    >
      <template #default>
        <thead>
          <tr>
            <th class="text-left">
              {{ $t('name') }}
            </th>

            <th
              v-show="showWithVat"
              class="text-left"
            >
              {{ $t('price_with_vat') }}
            </th>

            <th
              v-show="!showWithVat"
              class="text-left"
            >
              {{ $t('price_without_vat') }}
            </th>

            <th class="text-left">
              {{ $t('currency') }}
            </th>
            <th class="text-left">
              {{ $t('price_vat_rate') }}
            </th>
            <th class="text-left">
              {{ $t('action') }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            v-for="(price, index) in prices"
            :key="index"
            class="table-variant-price-row"
          >
            <td
              class="pa-1"
              width="1"
            >
              <v-dialog-product-variant-price-translation v-model="price.translations" />
            </td>
            <td
              v-show="showWithVat"
              class="pa-1"
            >
              <v-text-field-money
                v-model="price.priceWithTax"
                dense
                outlined
                hide-details
                :label="$t('price_with_vat')"
                :disabled="disabled"
                :currency="price.currency"
              />
            </td>

            <td
              v-show="!showWithVat"
              class="pa-1"
            >
              <v-text-field-money
                v-model="price.priceWithoutTax"
                dense
                outlined
                hide-details
                :label="$t('price_without_vat')"
                :disabled="disabled"
                :currency="price.currency"
              />
            </td>

            <td class="pa-1">
              <v-autocomplete-currency
                v-model="price.currency"
                dense
                outlined
                hide-details
                :label="$t('currency')"
                :disabled="disabled"
              />
            </td>
            <td class="pa-1">
              <v-text-field-percent
                v-model="price.taxRate"
                dense
                outlined
                hide-details
                :label="$t('rate')"
                :disabled="disabled"
                :currency="price.currency"
              />
            </td>
            <td
              class="pa-1"
              width="1"
            >
              <v-btn
                icon
                :disabled="disabled"
                @click="removePrice(index)"
              >
                <v-icon>fa-times</v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <v-toolbar flat>
      <v-spacer />
      <v-switch
        :label="vatSwitchLabel"
        v-model="showWithVat"
        :true-value="true"
        :false-value="false"
      />
    </v-toolbar>
  </div>
</template>

<script>
import VTextFieldPercent from '../v-text-field/VTextFieldPercent.vue'
import VAutocompleteCurrency from '../v-autocomplete/VAutocompleteCurrency.vue'
import VTextFieldMoney from '../v-text-field/VTextFieldMoney.vue'
import { useProductStore } from '../../stores/productStore'
import { usedTranslationKeys } from '../../composables/translations'
import { useLocalStorage } from '../../composables/useLocalStorage'
import VDialogProductVariantPriceTranslation from '../v-dialog/VDialogProductVariantPriceTranslation.vue'

export default {
  name: 'VSimpleTableProductVariantPrice',
  components: {
    VAutocompleteCurrency,
    VTextFieldPercent,
    VTextFieldMoney,
    VDialogProductVariantPriceTranslation
  },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    value: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      showWithVat: true,
      dialog: {
        translations: false
      }
    }
  },
  computed: {
    store () {
      return useProductStore(
        '/api/products/' + window.location.pathname.split('/').pop()
      )
    },
    usedTranslationKeys () {
      return usedTranslationKeys(this.store.item)
    },
    prices: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    vatSwitchLabel () {
      if (this.showWithVat) {
        return this.$t('price_show_with_vat')
      }

      return this.$t('price_show_without_vat')
    }
  },
  watch: {
    // Watch the prices array for changes
    prices: {
      handler: 'calculatePrices',
      deep: true,
      immediate: true
    },
    showWithVat (val) {
      const preferredDisplay = useLocalStorage('preferredDisplayPrice', true)
      preferredDisplay.value = val
      console.log(val)
    }
  },
  methods: {
    removePrice (index) {
      this.prices.splice(index, 1)
    },
    addPrice () {
      const newPrice = {
        id: null,
        priceWithoutTax: null,
        taxRate: 2100,
        taxPrice: null,
        priceWithTax: null,
        currency: 'CZK',
        translations: {}
      }

      // Add translations for each locale in usedTranslationKeys
      this.usedTranslationKeys.forEach((locale) => {
        newPrice.translations[locale] = {
          // Initialize the structure of the price translation
          // You can add additional fields as needed
          id: null,
          locale,
          name: null,
          content: null
        }
      })

      // Add the new price with translations to the prices array
      this.prices.push(newPrice)
    },
    calculatePrices () {
      this.prices.forEach(price => {
        if (price.priceWithTax !== null && this.showWithVat) {
          const taxRate = price.taxRate / 10000
          const rawPriceWithoutTax = price.priceWithTax / (1 + taxRate)

          // Round priceWithoutTax to the nearest integer
          price.priceWithoutTax = Math.round(rawPriceWithoutTax)

          // Calculate taxPrice by subtracting priceWithoutTax from priceWithTax
          price.taxPrice = price.priceWithTax - price.priceWithoutTax;
        }

        if (price.priceWithoutTax !== null && !this.showWithVat) {
          const taxRate = price.taxRate / 10000
          const rawPriceWithTax = price.priceWithoutTax * (1 + taxRate)

          // Round priceWithTax to the nearest integer
          price.priceWithTax = Math.round(rawPriceWithTax)

          // Calculate taxPrice by subtracting priceWithoutTax from priceWithTax
          price.taxPrice = price.priceWithTax - price.priceWithoutTax
        }
      })
    },
  },
  created() {
    // Initialize preferredDisplay with the value from localStorage
    const preferredDisplay = useLocalStorage('preferredDisplayPrice', true)
    this.showWithVat = preferredDisplay.value
  },
}
</script>
