<!doctype html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<style>
    body {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    }

    .header {
        width: 100%;
        margin-bottom: 10px;
        border-spacing: 0;
        vertical-align: middle;
    }

    .header .logo {
        padding-right: 20px;
    }

    .header .logo img {
        display: block;
        float: left;
        max-width: 150px;
        height: auto;
    }

    .header .invoice-number {
        width: 100%;
        padding: 20px;
        font-size: 25px;
        text-align: center;
    }

    .header .barcode {
        padding-left: 20px;
    }

    .header .barcode img {
        display: block;
        float: right;
        max-width: 150px;
        height: auto;
    }

    .subjects {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }

    .subjects strong {
        display: block;
        margin-bottom: 5px;
    }

    .subjects td {
        width: 50%;
        font-size: 12px;
    }

    .subjects .supplier {
        padding-right: 10px;
        vertical-align: top;
    }

    .subjects .subscriber {
        padding: 0 10px;
        vertical-align: top;
    }

    .subjects .order {
        padding-left: 10px;
        vertical-align: top;
    }

    .dates {
        width: 100%;
        margin: 20px 0;
        border-spacing: 0;
        border-collapse: collapse;
        vertical-align: middle;
        border-width: 1px 0;
        border-style: solid;
        border-color: #ccc;
    }

    .dates td {
        width: 25%;
        padding: 10px;
        font-size: 12px;
    }

    .dates td:nth-child(1) {
        padding-left: 0;
    }

    .dates td:nth-child(4) {
        padding-right: 0;
    }

    .infotext {
        margin: 20px 0;
        font-size: 12px;
    }

    .payment-wrap {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }

    .payment-type td {
        padding-bottom: 10px;
    }

    .payment td {
        width: 15%;
        padding: 10px 5px;
        font-size: 12px;
        background: #eee;
        vertical-align: top;
        height: 102px;
    }

    .payment td:nth-child(1) {
        width: 45%;
    }

    .payment td:nth-child(5) {
        max-width: 120px;
        padding: 0 0 0 20px;
        background: #fff;
    }

    .payment .qrcode img {
        display: block;
    }

    .payment td div:nth-child(1) {
        margin-bottom: 5px;
    }

    .products {
        width: 100%;
        margin: 20px 0;
        border-spacing: 0;
        border-collapse: collapse;
        font-size: 12px;
        text-align: left;
    }

    .products th,
    .products td {
        padding: 5px;
        text-align: right;
        border-bottom: 1px solid #ccc;
    }

    .products th {
        min-width: 60px;
        padding: 10px 5px;
        font-size: 10px;
        background: #eee;
    }

    .products th:nth-child(1),
    .products td:nth-child(1) {
        text-align: left;
    }

    .recap-wrap {
        width: 100%;
        margin: 20px 0;
        border-spacing: 0;
        border-collapse: collapse;
        font-size: 12px;
        vertical-align: top;
    }

    .recap-wrap:after {
        content: "";
        display: table;
        clear: both;
    }

    .recap-wrap div {
        width: 50%;
        float: right;
    }

    .recap-wrap div:nth-child(1) {
        padding-right: 10px;
        box-sizing: border-box;
    }

    .recap-wrap div:nth-child(2) {
        padding-left: 10px;
        box-sizing: border-box;
    }

    .recap {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        font-size: 12px;
        text-align: left;
    }

    .recap th,
    .recap tbody td {
        padding: 5px;
        text-align: right;
        border-bottom: 1px solid #ccc;
    }

    .recap th {
        min-width: 60px;
        padding: 10px 5px;
        font-size: 10px;
        background: #eee;
    }

    .recap th:nth-child(1),
    .recap tbody td:nth-child(1) {
        min-width: 140px;
    }

    .recap tfoot td {
        padding: 5px;
        font-weight: bold;
        text-align: right;
    }

    .recap .final-price {
        font-size: 20px;
    }

    .eet {
        color: #ccc;
        font-size: 9px;
    }

    .footer {
        width: 100%;
        margin: 10px 0;
        border-spacing: 0;
        border-collapse: collapse;
        font-size: 10px;
        border-top: 1px solid #ccc;
    }

    .footer td {
        padding-top: 10px;
    }

    .footer td:nth-child(1) span {
        padding-right: 10px;
    }

    .footer td:nth-child(2) {
        text-align: right;
    }
    </style>
</head>
<body>

<table class="header">
	<tbody>
		<tr>
			<td width="150px" class="logo">
				<img src="{{ logo }}" alt width="150px">
			</td>
			<td width="500px" class="invoice-number">
				<div>{{ 'invoice'|trans({}, 'arodax_admin')|upper }} - {{ 'tax document'|trans({}, 'arodax_admin') }}</div>
				<div>
					<strong>{{ invoice.invoiceNumber }}</strong>
				</div>
			</td>
			<td width="150px" class="barcode">
                <barcode code="{{ invoice.invoiceNumber }}" type="EAN13" size="0.8" height="0.5" />
            </td>
		</tr>
	</tbody>
</table>

<table class="subjects">
	<tbody>
		<tr>
			<td class="supplier">
                <strong>{{ 'invoice supplier'|trans({}, 'arodax_admin')|capitalize }}</strong>
                <br><br>
                {{ invoice.supplier|nl2br }}
			</td>
			<td class="subscriber">
                <strong>{{ 'invoice customer'|trans({}, 'arodax_admin')|capitalize }}</strong>
                <br><br>
                {{ invoice.customer|nl2br }}
			</td>
            <td class="order">
                <strong>{{ 'order number'|trans({} , 'arodax_admin')|capitalize }}</strong>
                <br><br>
                {% if invoice.orderNumber %}{{  invoice.orderNumber }}{% else %}<br><br>{% endif %}
            </td>
		</tr>
	</tbody>
</table>

<table class="dates">
	<tbody>
		<tr>
			<td>
				<div>{{ 'issued at'|trans({}, 'arodax_admin')|capitalize }}:</div>
                {% if invoice.issuedAt %}<strong>{{ invoice.issuedAt|date('d.m.Y') }}</strong>{% else %}<br><br>{% endif %}
			</td>
			<td>
				<div>{{ 'taxable supply at'|trans({}, 'arodax_admin')|capitalize }}:</div>
                {% if  invoice.taxableSupplyAt %}<strong>{{ invoice.taxableSupplyAt|date('d.m.Y') }}</strong>{% else %}<br><br>{% endif %}
			</td>
			<td>
				<div>{{ 'due at'|trans({}, 'arodax_admin')|capitalize }}:</div>
                {% if invoice.dueAt %}<strong>{{ invoice.dueAt|date('d.m.Y') }}</strong>{% else %}<br><br>{% endif %}
			</td>
			<td>
				<div>{{ 'paid at'|trans({}, 'arodax_admin')|capitalize }}:</div>
                {% if invoice.paidAt %}<strong>{{ invoice.paidAt|date('d.m.Y') }}</strong>{% else %}<br><br>{% endif %}
			</td>
		</tr>
	</tbody>
</table>

<table class="payment-wrap">
	<tbody>
		<tr class="payment-type">
			<td>Způsob platby: <strong>Bankovní převod</strong></td>
		</tr>

        <tr class="payment">
			<td>
                {% if invoice.bankAccountNumber %}
				<div>{{ 'bank account number'|trans({}, 'arodax_admin')|capitalize }}: <strong>{{ invoice.bankAccountNumber }}</strong></div>
                {% endif %}

                {% if invoice.iban %}
                <div>{{ 'IBAN'|trans({}, 'arodax_admin') }}: <strong>{{ invoice.iban }}</strong></div>
                {% endif %}

                {% if invoice.swift %}
                <div>{{ 'SWIFT'|trans({}, 'arodax_admin') }}: <strong>{{ invoice.swift }}</strong></div>
                {% endif %}
			</td>
			<td>
				<div>{{ 'variable number'|trans({}, 'arodax_admin')|capitalize }}:</div>
				{% if invoice.variableNumber %}<strong>{{ invoice.variableNumber }}</strong>{% else %}<br>{% endif %}
			</td>
			<td>
				<div>{{ 'constant number'|trans({}, 'arodax_admin')|capitalize }}:</div>
                {% if invoice.constantNumber %}<strong>{{ invoice.constantNumber }}</strong>{% else %}<br>{% endif %}
            </td>
            <td>
				<div>{{ 'specific number'|trans({}, 'arodax_admin')|capitalize }}:</div>
                {% if invoice.specificNumber %}<strong>{{ invoice.specificNumber }}</strong>{% else %}<br>{% endif %}
			</td>
			<td class="qrcode">
                <barcode code="{{ 'SPD*1.0*ACC:'~invoice.iban~'*AM:'~invoice.totalPrice~'*CC:CZK*X-VS:'~invoice.variableNumber~'*X-KS:'~invoice.constantNumber~'*X-SS:'~invoice.specificNumber }}" size="1" type="QR" />
            </td>
		</tr>

	</tbody>
</table>

{% if invoice.paymentInfo %}
<div class="infotext">{{ invoice.paymentInfo }}</div>
{% endif %}

<table class="products">
	<thead>
		<tr>
			<th>{{ 'description'|trans({}, 'arodax_admin')|capitalize }}</th>
			<th>{{ 'quantity'|trans({}, 'arodax_admin')|capitalize }}</th>
			<th>{{ 'unit price'|trans({}, 'arodax_admin')|capitalize }}</th>
			{%  if invoice.vatInvoice %}
            <th>{{ 'tax rate'|trans({}, 'arodax_admin')|capitalize }}</th>
			<th>{{ 'tax price'|trans({}, 'arodax_admin')|capitalize }}</th>
            {% endif %}
			<th>{{ 'discount price'|trans({}, 'arodax_admin')|capitalize }}</th>
            {%  if invoice.vatInvoice %}
            <th>{{ 'without tax'|trans({}, 'arodax_admin')|capitalize }}</th>
            {% endif %}
            <th>{{ 'with tax'|trans({}, 'arodax_admin')|capitalize }}</th>
		</tr>
	</thead>
	<tbody>
        {% for orderItem in invoice.orderItems %}
		<tr>
			<td>{{ orderItem.description }}</td>
			<td>{{ orderItem.quantity }}</td>
			<td>{{ orderItem.unitPrice|money(invoice.currency) }}</td>
            {%  if invoice.vatInvoice %}
            <td>{{ orderItem.taxRate / 100 }} %</td>
			<td>{{ orderItem.taxPrice|money(invoice.currency) }}</td>
            {% endif %}
			<td>{{ orderItem.discountPrice|money(invoice.currency) }}</td>
            {%  if invoice.vatInvoice %}
            <td><strong>{{ orderItem.totalPriceWithoutTax|money(invoice.currency) }}</strong></td>
            {% endif %}
            <td><strong>{{ orderItem.totalPriceWithTax|money(invoice.currency) }}</strong></td>
		</tr>
        {% endfor %}
	</tbody>
</table>


{% if invoice.vatInvoice %}
<div class="recap-wrap">
    <div>
        <table class="recap">
            <thead>
                <tr>
                    <th>{{ 'tax rate'|trans({}, 'arodax_admin') }}</th>
                    <th>Bez DPH</th>
                    <th>DPH</th>
                    <th>Celkem</th>
                </tr>
            </thead>
            <tbody>
                {% for tax in invoice.subtotalTax %}
                    <tr>
                    <td>{{ tax.taxRate / 100}} %</td>
                    <td>{{ tax.totalPriceWithoutTax|money(invoice.currency) }}</td>
                    <td>{{ tax.taxPrice|money(invoice.currency) }}</td>
                    <td><strong>{{ tax.totalPriceWithTax|money(invoice.currency) }}</strong></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="final-price">{{ 'total price'|trans({}, 'arodax_admin')|capitalize }}: {{ invoice.totalPrice|money(invoice.currency) }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% else %}
<div class="recap-wrap">
    <div>
        <table class="recap">
            <tfoot>
                <tr>
                    <td colspan="4" class="final-price">{{ 'total price'|trans({}, 'arodax_admin')|capitalize }}: {{ invoice.totalPrice|money(invoice.currency) }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endif %}

<table class="footer">
	<tbody>
		<tr>
			<td>
                {#
				<span>{{ 'phone number'|trans({}, 'arodax_admin') }}: +420 123 456 789</span>
				<span>{{ 'email address'|trans({}, 'arodax_admin') }}: info@domena.cz</span>
				#}
			</td>
			<td>
				<span>{{ 'created by ARODAX admin - www.arodax.com'|trans({}, 'arodax_admin') }}</span>
			</td>
		</tr>
	</tbody>
</table>

</body>
</html>
