<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-dialog-confirm
      v-model="dialog"
      :loading="loading"
      @cancel="dialog = false"
      @confirm="addUserToGroup"
    >
      {{ $t('btn_user_group_add_user_confirm') }}

      <v-autocomplete-user
        v-model="selectedUser"
        :return-object="true"
      />
    </v-dialog-confirm>

    <v-btn
      color="success"
      depressed
      class="ma-1"
      @click="dialog = true"
    >
      <v-icon class="d-flex d-sm-none">
        add
      </v-icon>
      <v-icon
        class="d-none d-sm-flex"
        left
      >
        add
      </v-icon>
      <span class="d-none d-sm-flex">{{ $t('btn_user_group_add_user') }}</span>
    </v-btn>
  </div>
</template>

<script>
import Axios from '../../composables/ajax'
import VDialogConfirm from '../v-dialog/VDialogConfirm.vue'
import VAutocompleteUser from '../v-autocomplete/VAutocompleteUser.vue'

export default {
  name: 'VBtnUserGroupAddUser',
  components: {
    VDialogConfirm,
    VAutocompleteUser
  },
  props: {
    userGroupId: {
      type: Number,
      required: true
    }
  },
  emits: [
    'user-added'
  ],
  data () {
    return {
      dialog: false,
      loading: false,
      selectedUser: null
    }
  },
  methods: {
    async addUserToGroup () {
      this.loading = true
      await Axios.post(`/api/user-groups/${this.userGroupId}/user/${this.selectedUser.id}`)
      this.dialog = false
      this.loading = false
      this.selectedUser = null
      this.$eventHub.$emit('snackbar-success', this.$t('snackbar_user_added_to_user_group'))
      this.$emit('user-added')
    }
  }
}
</script>
