<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <div
      v-if="user"
      class="user-logged-in"
    >
      <div>
        <v-icon
          small
          left
        >
          mdi-account-circle-outline
        </v-icon><span class="text-body-2">{{ user.displayName }}</span>
        <v-btn
          v-if="user"
          icon
          @click="logout"
        >
          <v-icon>mdi-logout</v-icon>
        </v-btn>
      </div>
    </div>

    <v-dialog
      v-if="!user"
      v-model="dialog"
      max-width="350"
    >
      <template #activator="{ on, attrs }">
        <v-btn
          text
          small
          v-on="on"
        >
          <v-icon
            small
            left
          >
            mdi-account-circle-outline
          </v-icon> přihlášení
        </v-btn>
      </template>
      <v-card>
        <v-toolbar flat>
          <v-toolbar-title>Přihlášení</v-toolbar-title>
        </v-toolbar>
        <v-form @submit.prevent="login">
          <p class="text-body-2 px-4">
            Pro rychlejší vyplnění objednávkového formuláře se přihlaste.
          </p>
          <v-row
            no-gutters
            class="pa-4"
          >
            <!-- email -->
            <v-col :cols="12">
              <v-text-field
                v-model="email"
                label="Login"
                autofocus
                outlined
              />
            </v-col>

            <!-- password -->
            <v-col :cols="12">
              <v-text-field-password
                v-model="password"
                label="Heslo"
                outlined
              />
            </v-col>
          </v-row>

          <!-- action buttons -->
          <v-row
            no-gutters
            class="px-4 justify-space-between"
          >
            <v-col>
              <v-checkbox
                v-model="remember_me"
                label="Zapamatovat"
                class="mt-1"
              />
            </v-col>

            <v-col class="flex-grow-0">
              <v-btn
                type="submit"
                color="primary"
                depressed
                :disabled="disabled"
                :loading="loading"
              >
                <span>Přihlásit</span>
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import VTextFieldPassword from '../v-text-field/VTextFieldPassword.vue'
import QS from 'qs'
import Axios from '../../composables/ajax'
import { mapGetters, mapMutations } from 'vuex'
import forEach from 'lodash/forEach'
import has from 'lodash/has'

export default {
  name: 'VBtnLoginEshop',
  components: {
    VTextFieldPassword
  },
  props: {
    value: {
      default: null
    }
  },
  data () {
    return {
      email: null,
      password: null,
      remember_me: true,
      loading: false,
      dialog: false
    }
  },
  computed: {
    ...mapGetters(['user', 'order']),
    disabled () {
      return !this.email || !this.password
    }
  },
  mounted () {
    this.fetchUser()
    setInterval(this.fetchUser, 60000)
  },
  methods: {
    ...mapMutations(['setUser', 'setOrder']),
    fetchUser () {
      Axios.get('/api/auth').then((response) => {
        this.setUser(response.data)
        this.fillUserAddress()
      })
    },
    login () {
      this.loading = true
      Axios.post('/api/auth', QS.stringify({
        email: this.email,
        password: this.password,
        _remember_me: this.remember_me,
        _token: document.querySelector('[data-csrf]').dataset.csrf
      })).then((response) => {
        this.setUser(response.data)
        this.fillUserAddress()
        this.dialog = false
      }).catch(() => {
        this.errorDialog = true
      })
        .finally(() => {
          this.loading = false
        })
    },
    logout () {
      Axios.delete('/api/auth').then(() => {
        this.setUser(null)
      })
    },
    fillUserAddress () {
      if (!this.user) {
        return
      }

      // auto set user contact data
      const order = this.order
      forEach(this.user.userContacts, (userContact) => {
        if (userContact.items) {
          forEach(userContact.items, (item) => {
            if (has(order, item.type)) {
              order[item.type] = item.value
            }
          })
        }
      })

      this.setOrder(order)
    }
  }
}
</script>
