<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-btn
      :loading="loading"
      color="primary"
      depressed
      type="button"
      @click="submit"
    >
      <v-icon left>
        search
      </v-icon>
      {{ $t('search') }}
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'VBtnFilterSearch',
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    submit () {
      this.$emit('submit')
    }
  }
}
</script>
