<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-btn
    v-bind="$attrs"
    :loading="loading"
    @click="createOrder"
  >
    vytvořit objednávku
  </v-btn>
</template>

<script>
import Axios from '../../composables/ajax'
import QS from 'qs'
import clone from 'lodash/has'

export default {
  name: 'VBtnOrderCreate',
  props: {
    value: {
      default: null,
      required: true
    }
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    order: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    createOrder () {
      this.$emit('update', 'progress')
      this.loading = true

      let order = {}
      order = clone(this.order)

      order.shippingMethod = this.order.shippingMethod.id

      Axios.post('/api/order', QS.stringify(order))
        .then((response) => this.handleSuccess(response.data))
        .catch((err) => this.handleError(err))
    },
    handleError (err) {
      this.$emit('error', err)
    },
    handleSuccess (data) {
      this.$emit('success')
    }
  }
}
</script>
