<template>
  <div>
    <!-- dialog -->
    <v-dialog
      v-model="dialog"
      :min-width="280"
      :max-width="560"
      persistent
    >
      <v-card>
        <v-card-text>
          <div class="text-h6 mb-1">
            {{ $t('user_group_dialog_roles_title') }}
          </div>

          <v-switch
            v-model="rolesSwitchState[teamLeaderDeputyRoleName]"
            :label="$t('user_group_role_team_deputy')"
            @change="() => handleRoleSwitchChange(teamLeaderDeputyRoleName)"
          />
        </v-card-text>

        <v-card-actions class="justify-end">
          <v-btn
            v-show="!loading"
            text
            @click="dialog = false"
          >
            {{ $t('button_close') }}
          </v-btn>

          <v-btn
            text
            :loading="loading"
            @click="submit"
          >
            {{ $t('button_save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- button -->
    <v-btn
      icon
      @click="dialog = true"
    >
      <v-icon
        v-if="!disabled"
        color="primary"
        small
      >
        fa-fw fa-light fa-gears
      </v-icon>

      <v-icon
        v-if="disabled"
        color="primary"
        small
      >
        fa-fw fa-light fa-eye
      </v-icon>
    </v-btn>
  </div>
</template>

<script>
import { useUserStore } from '../../stores/userStore'
import { crud } from '../../composables/crud'

export default {
  name: 'VBtnUserUserGroupAcl',
  props: {
    userObject: {
      type: Object,
      required: true,
      default: null
    },
    userGroupId: {
      type: Number,
      required: true,
      default: null
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      dialog: false,
      loading: false,
      rolesSwitchState: {}
    }
  },
  computed: {
    user () {
      return this.userObject
    },
    userRoles () {
      return this.user?.roles
    },
    teamLeaderDeputyRoleName () {
      return `ROLE_TEAM_LEADER_DEPUTY_${this.userGroupId}`
    }
  },
  watch: {
    userObject: {
      handler (newVal, oldVal) {
        this.initializeRoleSwitchState()
      },
      deep: true
    },
    userGroupId (newVal, oldVal) {
      this.initializeRoleSwitchState()
    }
  },
  methods: {
    handleRoleSwitchChange (roleName) {
      if (this.rolesSwitchState[roleName]) {
        this.addRole(roleName)
      } else {
        this.removeRole(roleName)
      }
    },
    addRole (roleName) {
      if (!this.userObject.roles.includes(roleName)) {
        this.userObject.roles.push(roleName)
      }
    },
    removeRole (roleName) {
      const index = this.userObject.roles.indexOf(roleName)
      if (index > -1) {
        this.userObject.roles.splice(index, 1)
      }
    },
    async submit () {
      this.loading = true
      try {
        await crud.updateItem(`/api/users/${this.userObject.id}`, this.userObject)
      } catch (e) {
        console.error(e)
      }

      this.loading = false
    },
    initializeRoleSwitchState () {
      this.rolesSwitchState[this.teamLeaderDeputyRoleName] = this.userRoles.includes(this.teamLeaderDeputyRoleName)
    }
  }
}
</script>
