<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-btn
      :color="color"
      :loading="loading"
      depressed
      text
      @click="$refs.uploadInput.click()"
    >
      <v-icon
        :left="$vuetify.breakpoint.smAndUp"
      >
        fw fa-light fa-cloud-arrow-up fa-fw
      </v-icon>
      <span class="d-none d-sm-flex">{{ $t('upload') }}</span>
    </v-btn>
    <input
      v-show="false"
      ref="uploadInput"
      type="file"
      @change="handleUpload"
    >
  </div>
</template>

<script>
import Axios from 'axios'
import { forEach, without, first } from 'lodash'

export default {
  name: 'VBtnUpload',
  props: {
    hover: {
      type: Boolean,
      default: false
    },
    multiple: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      queue: [],
      loading: false
    }
  },
  methods: {
    handleUpload () {
      let files = this.$refs.uploadInput.files

      if (!this.multiple) {
        const file = first(files)
        files = []
        files.push(file)
      }

      forEach(files, (file) => {
        file.id = Math.random().toString(36).substr(2, 9)
        this.queue.push(file)
      })

      this.processQueue()
    },
    async processQueue () {
      if (!this.queue.length) {
        return
      }

      this.loading = true

      forEach(this.queue, async (file) => {
        const formData = new FormData()
        formData.append('file', file)

        try {
          const response = await Axios.post('/api/media-objects.json', formData, {
            headers: {
              'Content-Type': 'multipart/form-data',
              Accept: 'application/json'
            },
            onUploadProgress: progressEvent => {
              const percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total)
              // Emit an event with the upload progress
              this.$emit('upload-progress', {
                file,
                percentCompleted,
                loaded: progressEvent.loaded,
                total: progressEvent.total
              })
            }
          })
          this.$emit('success', response.data)
        } catch (error) {
          console.error('Upload failed:', error)
          this.$emit('error', error) // Consider emitting an error event
        } finally {
          this.$set(this, 'queue', without(this.queue, n => n.id === file.id))
        }
      })

      this.loading = false
    }
  }
}
</script>
