<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-menu
    :key="'menu-theme-' + theme"
    :max-width="430"
    offset-y
  >
    <template #activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        icon
        v-on="on"
      >
        <v-icon small>
          {{ themeIcons[theme] }}
        </v-icon>
      </v-btn>
    </template>
    <v-list>
      <v-radio-group
        :value="theme"
        @change="setTheme"
      >
        <v-list-item
          v-for="(theme, index) in themes"
          :key="index"
        >
          <v-list-item-icon>
            <v-icon>
              {{ themeIcons[theme.name] }}
            </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ $t(theme.title) }}</v-list-item-title>
          </v-list-item-content>
          <v-list-item-action>
            <v-radio :value="theme.name" />
          </v-list-item-action>
        </v-list-item>
      </v-radio-group>
    </v-list>
  </v-menu>
</template>
<script lang="ts">
import { vuetifyTheme } from '../../composables/vuetifyTheme'

export default {
  name: 'VBtnTheme',
  setup () {
    const { setTheme, themeName, theme } = vuetifyTheme()

    const themes = [
      { name: 'system', title: 'theme_system_title' },
      { name: 'dark', title: 'theme_dark_title' },
      { name: 'light', title: 'theme_light_title' },
      { name: 'adaptive', title: 'theme_adaptive_title' }
    ]

    const themeIcons = {
      system: 'fa-fw fa-light fa-eclipse',
      dark: 'fa-fw fa-light fa-moon-stars',
      light: 'fa-fw fa-light fa-brightness',
      adaptive: 'fa-fw fa-light fa-moon-over-sun'
    }

    return {
      setTheme,
      themeName,
      themes,
      themeIcons,
      theme
    }
  }
}
</script>
