<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-tooltip top>
      <template #activator="{ on }">
        <v-btn
          :color="editor.isActive('underline') ? 'primary': ''"
          icon
          :disabled="!editor.can().chain().focus().toggleOrderedList().run()"
          v-on="on"
          @click="editor.chain().focus().toggleOrderedList().run()"
        >
          <v-icon>
            fa fa-fw fa-regular fa-list-ol
          </v-icon>
        </v-btn>
      </template>
      <span>{{ $t('tooltip_wysiwyg_ordered_list') }}</span>
    </v-tooltip>
  </div>
</template>

<script>
export default {
  name: 'VBtnEditorOrderedList',
  props: {
    editor: {
      type: Object,
      required: true
    }
  }
}
</script>
