<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <v-menu
    :key="'menu-width-' + width"
    :max-width="430"
    offset-y
  >
    <template #activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        icon
        v-on="on"
      >
        <v-icon small>
          {{ widthIcons[width] }}
        </v-icon>
      </v-btn>
    </template>
    <v-list>
      <v-radio-group
        :value="width"
        @change="setWidth"
      >
        <v-list-item
          v-for="(widthOption, index) in widths"
          :key="index"
        >
          <v-list-item-icon>
            <v-icon>
              {{ widthIcons[widthOption.name] }}
            </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ $t(widthOption.title) }}</v-list-item-title>
          </v-list-item-content>
          <v-list-item-action>
            <v-radio :value="widthOption.name" />
          </v-list-item-action>
        </v-list-item>
      </v-radio-group>
    </v-list>
  </v-menu>
</template>

<script lang="ts">
import { useContainerWidthStore } from '../../stores/containerWidthStore'

export default {
  name: 'VBtnWidth',
  setup () {
    const layoutWidthStore = useContainerWidthStore()

    const widths = [
      { name: 'fluid', title: 'width_fluid_title' },
      { name: 'fixed', title: 'width_fixed_title' }
    ]

    const widthIcons = {
      fluid: 'fa-fw fa-light fa-arrows-left-right',
      fixed: 'fa-fw fa-light fa-arrows-left-right-to-line'
    }

    return {
      setWidth: layoutWidthStore.setWidth,
      widths,
      widthIcons,
      width: layoutWidthStore.width
    }
  }
}
</script>
