<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-btn
      icon
      @click="dialog = true"
    >
      <v-icon>
        fa fa-fw fa-light fa-pen-to-square
      </v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      max-width="480"
    >
      <v-card>
        <v-card-title class="headline">
          {{ $t('gallery_media_object_editation') }}
        </v-card-title>
        <v-card-text class="pb-0">
          <div class="mb-1">
            <v-text-field
              v-model="galleryMediaObject.link"
              outlined
              :label="$t('link')"
            />
          </div>
        </v-card-text>
        <v-card-actions class="px-4">
          <v-btn
            text
            color="primary"
            :loading="loading"
            @click="saveAndClose"
          >
            {{ $t('close_and_save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { ref, computed, defineComponent, PropType } from 'vue'
import Axios from '../../composables/ajax'

export default defineComponent({
  name: 'VBtnDialogGalleryMediaObject',
  props: {
    value: {
      type: Object as PropType<Record<string, unknown>>,
      required: true,
      default: () => ({})
    }
  },
  setup (props, { emit }) {
    const dialog = ref(false)
    const loading = ref(false)

    const galleryMediaObject = computed({
      get: () => props.value,
      set: (val) => emit('input', val)
    })

    const saveAndClose = async () => {
      loading.value = true

      try {
        const response = await Axios.put(`/api/gallery-media-objects/${galleryMediaObject.value.id}`, galleryMediaObject.value, { headers: { 'Content-Type': 'application/ld+json' } })
        if (response && response.status === 200) {
          console.log('Updated successfully', response.data)
        } else {
          console.error('Error updating object', response.data)
        }
      } catch (error) {
        console.error('Error during API call', error)
      }

      dialog.value = false
      loading.value = false
    }

    return {
      dialog,
      galleryMediaObject,
      saveAndClose,
      loading
    }
  }
})
</script>
