<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-tooltip top>
      <template #activator="{ on }">
        <v-btn
          :color="isHtmlMode ? 'primary': ''"
          icon
          v-on="on"
          @click="toggleHtmlMode"
        >
          <v-icon>
            fa fa-fw fa-regular fa-display-code
          </v-icon>
        </v-btn>
      </template>
      <span>{{ $t('tooltip_wysiwyg_toggle_html') }}</span>
    </v-tooltip>
  </div>
</template>

<script>
export default {
  name: 'VBtnEditorToggleHtmlMode',
  props: {
    value: {
      type: Boolean,
      default: false,
      required: true
    }
  },
  computed: {
    isHtmlMode: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    toggleHtmlMode () {
      this.isHtmlMode = !this.isHtmlMode
    }
  }
}
</script>
