<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="480"
    >
      <v-card>
        <v-card-title class="headline">
          {{ $t('user_score_edit') }}
        </v-card-title>
        <v-card-text class="pb-0">
          <p>{{ $t('user_score_edit_description') }}</p>
          <v-text-field-custom
            v-model="item.type"
            :label="$t('type')"
          />
          <v-text-field-custom
            v-model.number="item.value"
            type="number"
            :label="$t('value')"
          />
          <v-text-field-custom
            v-model="item.reason"
            :label="$t('note')"
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn
            v-show="!loading"
            text
            color="primary"
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :loading="loading"
            text
            color="green darken-1"
            @click="updateScore"
          >
            {{ $t('save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-btn
      depressed
      @click="openDialog"
    >
      <v-icon
        color="primary"
        small
      >
        fa-fw fa-light fa-pen-to-square
      </v-icon>
    </v-btn>
  </div>
</template>
<script>
import { crud } from '../../composables/crud'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'

export default {
  name: 'VBtnEditUserScore',
  components: {
    VTextFieldCustom
  },
  mixins: [
    crud
  ],
  props: {
    value: {
      type: Object,
      required: true,
      default: null
    }
  },
  data () {
    return {
      dialog: false,
      loading: false
    }
  },
  computed: {
    item () {
      return this.value
    }
  },
  methods: {
    openDialog () {
      this.dialog = true
    },
    async updateScore () {
      this.loading = true
      await crud.updateItem(this.item['@id'], this.item)
      this.loading = false
      this.$eventHub.$emit('snackbar-success', this.$t('score_updated'))
    }
  }
}
</script>
