<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <!-- create item dialog -->
    <v-dialog
      v-model="modal"
      persistent
      max-width="480"
    >
      <v-card>
        <v-card-title class="headline">
          {{ $t('create new item') }}
        </v-card-title>
        <v-card-text>{{ $t('Are you sure you want to create a new item?') }}</v-card-text>
        <v-card-actions class="px-4">
          <v-btn
            text
            color="primary"
            :disabled="loading"
            @click="modal = false"
          >
            {{ $t('no') }}
          </v-btn>
          <v-btn
            text
            color="success"
            :loading="loading"
            @click="createItem"
          >
            {{ $t('yes') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- create item button -->
    <v-btn
      color="success"
      depressed
      class="ma-1"
      @click="modal = true"
    >
      <v-icon class="d-flex d-sm-none">
        add
      </v-icon>
      <v-icon
        class="d-none d-sm-flex"
        left
      >
        add
      </v-icon>
      <span class="d-none d-sm-flex">{{ $t('create') }}</span>
    </v-btn>
  </div>
</template>

<script>

import { replace } from 'lodash'
import { useDataTableStore } from '../../stores/dataTableStore'

export default {
  name: 'VBtnCreateItem',
  props: {
    storeId: {
      type: String,
      required: true,
      default: null
    }
  },
  data () {
    return {
      loading: false,
      modal: false,
      store: null
    }
  },
  created () {
    this.store = useDataTableStore(this.storeId)
  },
  methods: {
    async createItem () {
      this.loading = true
      const response = await this.store.createItem(this.storeId)
      window.location.href = this.editItem(response.data)
    },
    editItem (item) {
      return replace(item['@id'], '/api/', `/${document.documentElement.lang}/admin/`)
    }
  }
}
</script>
