<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-tooltip top>
      <template #activator="{ on }">
        <v-btn
          icon
          v-on="on"
          @click.stop="openDialog"
        >
          <v-icon>
            fa fa-fw fa-regular fa-link
          </v-icon>
        </v-btn>
      </template>
      <span>{{ $t('tooltip_wysiwyg_link') }}</span>
    </v-tooltip>

    <v-dialog
      v-model="dialog"
      :retain-focus="false"
      max-width="800"
      eager
    >
      <v-card>
        <v-toolbar
          flat
          dense
          :color="toolbarColor"
        >
          <v-toolbar-title>{{ $t('insert link') }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-row>
            <v-col
              :cols="12"
              :md="6"
            >
              <v-text-field-custom
                v-model="selectedNodeHref"
                autofocus
                hide-details
                :label="$t('link_url_address')"
                outlined
                clearable
              />
            </v-col>

            <v-col
              :cols="12"
              :md="6"
            >
              <v-text-field-custom
                v-model="selectedNodeText"
                autofocus
                hide-details
                :label="$t('link_node_text')"
                outlined
                clearable
              />
            </v-col>
          </v-row>

          <v-switch
            v-model="openInExternalWindow"
            :label="$t('link_target_blank')"
            :true-value="true"
            :false-value="false"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            depressed
            color="primary"
            class="mb-2"
            @click="insertOrUpdateNode"
          >
            {{ $t('ok') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'
import { isTextSelection } from '@tiptap/core'

export default {
  name: 'VBtnEditorLink',
  components: {
    VTextFieldCustom
  },
  props: {
    editor: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      dialog: false,
      url: null,
      openInExternalWindow: false,
      addNoReferrer: false,
      selectedNodeText: null,
      selectedNodeHref: null
    }
  },
  computed: {
    toolbarColor () {
      // set colors for dark and light theme
      return this.$vuetify.theme.dark ? 'grey darken-4' : 'grey lighten-4'
    },
    selectedNodeTarget: {
      get () {
        const node = this.selectedLinkNode()
        return node ? this.getTargetFromNode(node) : false
      },
      set (value) {
        this.openInExternalWindow = value
      }
    }
  },
  methods: {
    getTargetFromNode (node) {
      if (!node) return false

      // Search for a link mark in the node's marks array
      const linkMark = node.marks.find(mark => mark.type.name === 'link')
      // Check if the link mark has a target attribute set to '_blank'
      return linkMark ? linkMark.attrs.target === '_blank' : false
    },
    /**
     * Get href from the given node
     * @return {string|null}
     */
    getHrefFromNode (node) {
      if (!node) return null

      // Search for a link mark in the node's marks array
      const linkMark = node.marks.find(mark => mark.type.name === 'link')
      // Return the href attribute if the link mark is found
      return linkMark ? linkMark.attrs.href : null
    },
    /**
     * Find currently selected image node
     * @return {Object|null} Return Node or null if no image node is found
     */
    selectedLinkNode () {
      const { state } = this.editor
      const { from, to } = state.selection
      let linkNode = null

      state.doc.nodesBetween(from, to, (node, pos) => {
        if (!linkNode) { // Only proceed if we haven't found a link node yet
          const isLink = node.marks.find(mark => mark.type.name === 'link')
          if (isLink) {
            linkNode = { node, pos }
          }
        }
      })

      // also set current selection text to the selectedNodeText, this is called here because we need
      // a reference to the selected node to get the text from it
      this.selectedNodeText = this.selectedTextFromNode()
      this.selectedNodeHref = this.getHrefFromNode(linkNode ? linkNode.node : null)

      return linkNode ? linkNode.node : null
    },
    selectedTextFromNode () {
      const { view, state } = this.editor
      const { from, to } = view.state.selection
      const { selection } = state

      if (isTextSelection(selection) === false) {
        return null
      }

      const text = state.doc.textBetween(from, to, '')

      if (text === '') {
        return null
      }

      return text
    },
    /**
     * Open EditorMedia dialog
     */
    openDialog () {
      this.dialog = true
      this.openInExternalWindow = this.selectedNodeTarget
    },
    /**
     * Close EditorMedia dialog
     */
    closeDialog () {
      this.dialog = false
      this.selectedNodeHref = null
    },
    /**
     * Insert or update selected node with the new attributes
     */
    insertOrUpdateNode () {
      let href = this.selectedNodeHref
      const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
      const phonePattern = /^\+\d{3} \d{3} \d{3} \d{3}$/ // Pattern for telephone numbers +xxx xxx xxx xxx

      if (href) {
        // Check for email and format with mailto: if not already present
        if (emailPattern.test(href) && !href.startsWith('mailto:')) {
          href = `mailto:${href}`
        } else if (phonePattern.test(href) && !href.startsWith('tel:')) {
          // Check for telephone number and format with tel: if not already present
          href = `tel:${href.replace(/\s/g, '')}` // Remove spaces for the tel URI
        } else if (!href.startsWith('#') && !href.startsWith('http://') && !href.startsWith('https://') && !href.startsWith('mailto:') && !href.startsWith('tel:')) {
          // If the href is neither an email nor a telephone number, an anchor link, and does not start with http:// or https://, prepend http://
          href = `http://${href}`
        }
      }

      const target = this.openInExternalWindow ? '_blank' : null
      const content = this.selectedNodeText // Text to potentially replace within the link

      // Retrieve link attributes from the current selection
      const linkNode = this.editor.getAttributes('link')

      if (Object.keys(linkNode).length === 0) {
        // Insert a new link node if there is no link
        if (content) {
          // If content is provided, wrap it in a link
          this.editor.chain().focus().insertContent({ type: 'text', text: content, marks: [{ type: 'link', attrs: { href, target } }] }).run()
        } else {
          // If no content, just set the link on the current selection or insert placeholder
          this.editor.chain().focus().extendMarkRange('link').setLink({ href, target }).run()
        }
      } else {
        // Update existing link node
        this.editor.chain().command(({ tr, dispatch }) => {
          const { from, to } = this.editor.state.selection
          // Update the link mark
          tr.addMark(from, to, this.editor.schema.marks.link.create({ href, target }))

          tr.insertText(content, from, to)

          dispatch(tr)
          return true // Indicates that the transaction has been successfully applied
        }).run()
      }

      this.closeDialog() // Close the modal/dialog for link insertion
    }
  }
}
</script>
