<template>
  <div class="d-inline-flex align-center justify-end">
    <!-- Display based on the mode -->
    <template v-if="simpleMode">
      {{ formatNumber(charsCount) }}
    </template>
    <template v-else>
      <div class="slide-out">
        {{ $t('tooltip_wysiwyg_chars_count') }}: {{ formatNumber(charsCount) }},
        {{ $t('tooltip_wysiwyg_words_count') }}: {{ formatNumber(wordsCount) }},
        {{ $t('tooltip_wysiwyg_pages_count') }}: {{ formatNumber(pagesCount) }}
      </div>
    </template>

    <v-btn
      :color="!simpleMode ? 'primary' : ''"
      icon
      @click="toggleMode"
    >
      <v-icon>
        fa fa-fw fa-light fa-memo-circle-info
      </v-icon>
    </v-btn>
  </div>
</template>

<script>
import { useEditorCounterStore } from '../../stores/editorCounterStore' // Adjust the path as necessary

export default {
  name: 'VBtnEditorWordCount',
  props: {
    charsCount: {
      type: Number,
      required: true
    },
    wordsCount: {
      type: Number,
      required: true
    }
  },
  computed: {
    // Use a computed property to always fetch the current state directly from the store
    simpleMode () {
      const editorCounterStore = useEditorCounterStore()
      return editorCounterStore.simpleMode
    },
    pagesCount () {
      const charsPerPage = 1800
      return Math.ceil(this.charsCount / charsPerPage)
    }
  },
  mounted () {
    const editorCounterStore = useEditorCounterStore()
    // Ensure the store is initialized upon mounting
    editorCounterStore.initializeMode()
  },
  methods: {
    toggleMode () {
      const editorCounterStore = useEditorCounterStore()
      editorCounterStore.toggleMode()
    },
    formatNumber (number) {
      return new Intl.NumberFormat(document.documentElement.lang).format(number)
    }
  }
}
</script>
