<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-dialog-confirm
      v-model="dialog.confirm"
      :loading="loading"
      @confirm="confirm"
      @cancel="cancel"
    />

    <v-btn
      depressed
      :loading="loading"
      @click="dialog.confirm = true"
    >
      {{ $t('save') }}
    </v-btn>
  </div>
</template>

<script>
import { useCreditStore } from '../../stores/creditStore'
import VDialogConfirm from '../v-dialog/VDialogConfirm.vue'

export default {
  name: 'VBtnSaveCredit',
  components: {
    VDialogConfirm
  },
  props: {
    value: {
      type: Object,
      required: true,
      default: null
    }
  },
  data () {
    return {
      loading: false,
      dialog: {
        confirm: false
      }
    }
  },
  methods: {
    async confirm () {
      this.loading = true
      const store = useCreditStore('/api/credits/' + this.value.id)
      store.setItem(this.value)
      await store.updateItem()
      this.loading = false
      this.dialog.confirm = false
      this.$eventHub.$emit('snackbar-success', this.$t('credit_updated'))
    },
    cancel () {
      this.loading = false
      this.dialog.confirm = false
    }
  }
}
</script>
