<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <!-- delete button -->
    <v-btn
      v-bind="$attrs"
      :loading="loading"
      color="red"
      @click="confirmationModal = true"
    >
      <v-icon :left="left">
        fa-fw fa-light fa-xmark
      </v-icon>
      <span v-if="left">{{ $t('delete') }}</span>
    </v-btn>

    <!-- delete confirmation dialog  -->
    <v-dialog
      v-model="confirmationModal"
      persistent
      max-width="480"
    >
      <v-card>
        <v-card-title class="headline">
          {{ $t('confirm item deletion') | upperFirst }}
        </v-card-title>
        <v-card-text class="pb-0">
          <div class="mb-1">
            {{ $t('confirm_item_deletion_question') }}
          </div>
          <!-- double check when required -->
          <v-row
            v-if="isDoubleCheckRequired"
            align="center"
            class="no-gutters"
          >
            <v-col class="flex-grow-0">
              <v-checkbox
                v-model="confirmationCheck"
                color="red"
              />
            </v-col>
            <v-col>
              <strong class="red--text">{{ $t('confirm_item_deletion_understand_consequences') }}</strong>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions class="px-4">
          <v-btn
            text
            color="primary"
            @click="confirmationModal = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            text
            color="red"
            :disabled="confirmationDisabled"
            @click="deleteItem"
          >
            {{ $t('delete item') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :timeout="3000"
      absolute
      centered
    >
      {{ $t('The item has been deleted.') }}

      <template #action="{ attrs }">
        <v-btn
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          {{ $t('ok') }}
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { has, upperFirst, split } from 'lodash'
import { crudMixin } from '../../mixins/crudMixin'

export default {
  name: 'VBtnDelete',
  /**
   * @default Filters are deprecated since Vue 3.0.0
   */
  filters: {
    upperFirst (val) {
      return upperFirst(val)
    }
  },
  mixins: [
    crudMixin
  ],
  props: {
    value: {
      type: Object,
      default: null
    },
    action: {
      default: null
    },
    doubleCheck: {
      type: Boolean,
      default: false
    },
    autoRedirect: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      confirmationModal: false,
      loading: false,
      confirmationCheck: false,
      snackbar: false
    }
  },
  computed: {
    /**
       * Return the item.
       */
    item () {
      return this.value
    },
    /**
     * Return true if icon should be left aligned (when the button contains text)
     */
    left () {
      return !has(this.$attrs, 'icon')
    },
    isDoubleCheckRequired () {
      if (this.doubleCheck) {
        return true
      }

      if (has(this.item, 'publishedAt') && this.item.publishedAt) {
        return true
      }

      if (has(this.item, 'enabled') && this.item.enabled) {
        return true
      }

      return false
    },
    /**
       * Whether is the confirmation modal window button disabled
       */
    confirmationDisabled () {
      return this.isDoubleCheckRequired && !this.confirmationCheck
    }
  },
  methods: {
    /**
       * Delete item by calling the function specified in the action property or try to guess the action
       * from the store by finding out the store module name and dispatching deleteItem action.
       * @return {null}
       */
    deleteItem () {
      // we split api resource id, to get the resource na in the 2nd part of the id (i.e. /api/articles/1)
      const parts = split(this.item['@id'], '/')

      if (this.action !== null) {
        this.action.call()
        if (this.autoRedirect) {
          window.location.href = `/admin/${parts[2]}`
        }
      } else {
        if (!has(this.item, '@id')) {
          return null
        }

        this.loading = true
        this.confirmationModal = false

        this.$_deleteItem(`/api/${parts[2]}/${parts[3]}`)
          .then(() => {
            this.snackbar = true
            this.$emit('delete', this.item['@id'])

            // auto redirect to the items listing
            if (this.autoRedirect) {
              window.location.href = `/admin/${parts[2]}`
            }
          })
      }
    }
  }
}
</script>
