<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <!-- translate button -->
    <v-btn
      v-bind="$attrs"
      :loading="loading"
      text
      @click="confirmationModal = true"
    >
      <v-icon>
        translate
      </v-icon>
      <span>{{ $t('button_translate') }}</span>
    </v-btn>

    <!-- translate confirmation dialog  -->
    <v-dialog
      v-model="confirmationModal"
      persistent
      max-width="480"
    >
      <v-card>
        <v-card-title class="headline">
          {{ $t('dialog_translate_title') }}
        </v-card-title>
        <v-card-text class="pb-0">
          <div class="mb-1">
            {{ $t('dialog_translate_text') }}

            <v-select
              v-model="locale"
              outlined
              hide-details
              class="mt-4"
              :label="$t('dialog_translate_select')"
              :items="availableLocales"
            />
          </div>
        </v-card-text>
        <v-card-actions class="px-4">
          <v-btn
            text
            color="primary"
            @click="confirmationModal = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :loading="loading"
            :disabled="!locale"
            text
            color="red"
            @click="translateItem"
          >
            {{ $t('yes') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import has from 'lodash/has'
import Axios from '../../composables/ajax'
import Qs from 'qs'

export default {
  name: 'VBtnTranslate',
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      loading: false,
      confirmationModal: false,
      locale: null
    }
  },
  computed: {
    availableLocales () {
      if (has(this.value, 'translations')) {
        return Object.keys(this.value.translations)
      }

      return []
    }
  },
  methods: {
    translateItem () {
      this.loading = true
      Axios.post('/api/intl/translate', Qs.stringify({
        iri: this.value['@id'],
        locale: this.locale
      })).then(() => {
        this.confirmationModal = false
        this.$eventHub.$emit('snackbar-success', this.$t('item_translations_translated'))
        this.$eventHub.$emit('item-translated', this.value['@id'])
      }).catch((err) => {
        console.error(err)
      }).finally(() => {
        this.loading = false
      })
    }
  }

}
</script>
