<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-dialog-confirm
      v-model="dialog"
      :loading="loading"
      @cancel="dialog = false"
      @confirm="removeUserFromUserGroup"
    >
      {{ $t('dialog_remove_user_from_group_description') }}
    </v-dialog-confirm>

    <v-btn
      v-bind="$attrs"
      :loading="loading"
      color="red"
      icon
      @click="dialog = true"
    >
      <v-icon>
        fa-fw fa-light fa-xmark
      </v-icon>
    </v-btn>
  </div>
</template>

<script>
import Axios from '../../composables/ajax'

import VDialogConfirm from '../v-dialog/VDialogConfirm.vue'

export default {
  name: 'VBtnUserGroupDeleteUser',
  components: {
    VDialogConfirm
  },
  props: {
    userGroupId: {
      type: Number,
      required: true
    },
    userId: {
      type: Number,
      required: true
    }
  },
  emits: [
    'user-removed'
  ],
  data () {
    return {
      dialog: false,
      loading: false
    }
  },
  methods: {
    async removeUserFromUserGroup () {
      this.loading = true
      await Axios.delete(`/api/user-groups/${this.userGroupId}/user/${this.userId}`)
      this.dialog = false
      this.loading = false
      this.$eventHub.$emit('snackbar-success', this.$t('snackbar_user_removed_from_user_group'))
      this.$emit('user-removed')
    }
  }
}
</script>
