<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div class="mx-4">
    <v-divider vertical />
  </div>
</template>

<script>
export default {
  name: 'VBtnEditorDivider'
}
</script>
