<template>
  <div>
    <v-dialog
      v-model="modal"
      persistent
      max-width="480"
    >
      <v-card>
        <v-card-title class="headline">
          {{ $t('confirm deletion') }}
        </v-card-title>
        <v-card-text>{{ $t('grantys_upload_processing') }}</v-card-text>
        <v-card-actions class="px-4">
          <v-btn
            text
            @click="modal = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-btn
      :loading="loading"
      color="primary"
      depressed
      class="ml-2"
      @click="$refs.uploadInput.click()"
    >
      <v-icon class="d-flex d-sm-none">
        fw fa-light fa-cloud-arrow-up
      </v-icon>
      <v-icon
        class="d-none d-sm-flex"
        left
      >
        fw fa-light fa-cloud-arrow-up
      </v-icon>
      <span class="d-none d-sm-flex">{{ $t('upload') }}</span>
    </v-btn>

    <!-- hidden upload button -->
    <input
      v-show="false"
      ref="uploadInput"
      type="file"
      @change="handleUpload"
    >
  </div>
</template>

<script>
import first from 'lodash/first'
import forEach from 'lodash/forEach'
import Axios from 'axios'
import without from 'lodash/without'

export default {
  name: 'VBtnUploadGrantys',
  emits: ['success'],
  data () {
    return {
      modal: false,
      queue: [],
      loading: false
    }
  },
  methods: {
    handleUpload (event) {
      let files = this.$refs.uploadInput.files

      if (!this.multiple) {
        const file = first(files)
        files = []
        files.push(file)
      }

      forEach(files, (file) => {
        file.id = Math.random().toString(36).substr(2, 9)
        this.queue.push(file)
      })

      this.processQueue()
    },
    processQueue () {
      this.loading = true
      forEach(this.queue, (file) => {
        const formData = new FormData()
        formData.append('file', file)

        Axios.post('/api/media-objects.json', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
            Accept: 'application/json'
          }
        })
          .then((response) => {
            this.$emit('success', response.data)
            Axios.post(`/api/grantys/process/${response.data.id}`).then(() => {
              this.modal = true
              this.loading = false
            })
          })
          .catch(() => {
            this.loading = false
          })
          .finally(() => {
            this.$set(this, 'queue', without(this.files, n => n.id === file.id))
          })
      })
    }
  }
}
</script>
