<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-tooltip top>
      <template #activator="{ on }">
        <v-btn
          icon
          v-on="on"
          @click.stop="openDialog"
        >
          <v-icon>
            fa fa-fw fa-regular fa-image
          </v-icon>
        </v-btn>
      </template>
      <span>{{ $t('tooltip_wysiwyg_image') }}</span>
    </v-tooltip>

    <v-dialog
      v-model="dialog"
      :retain-focus="false"
      max-width="800"
      eager
    >
      <v-card style="position: relative;">
        <v-toolbar
          flat
          dense
          :color="toolbarColor"
        >
          <v-toolbar-title>{{ $t('insert_media') }}</v-toolbar-title>
        </v-toolbar>

        <v-card-text
          @dragover.prevent="handleFileDragOver"
          @dragleave.prevent="handleFileDragLeave"
          @drop.prevent="handleFileDrop"
        >
          <!-- this is content of dialog when drag is active -->
          <v-sheet
            v-show="drag"
            class="pa-5 flex-row align-center"
            style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 1;"
          >
            <p class="text-center mb-5">
              <strong>{{ $t('v_btn_editor_image_drag_drop_help') }}</strong>
            </p>
            <div class="d-flex justify-center">
              <v-icon x-large>
                fa fa-fw fa-regular fa-cloud-plus
              </v-icon>
            </div>
          </v-sheet>

          <!-- this is content of dialog when drag is not active -->
          <div v-show="!drag">
            <v-row no-gutters>
              <v-col xs="12">
                {{ $t('v_btn_editor_image_help') }}
              </v-col>
            </v-row>
            <v-row
              no-gutters
              class="mx-n2"
            >
              <v-col
                cols="12"
                sm="6"
                class="pa-2"
              >
                <v-card
                  outlined
                  class="d-flex align-center justify-center pa-5"
                  :color="toolbarColor"
                  :min-height="250"
                >
                  <!-- YouTube video embed -->
                  <div v-if="isYoutubeUrl">
                    <iframe
                      class="d-block"
                      style="width: 100%; max-width: 100%; aspect-ratio: 16/9; border: 0;"
                      :src="'https://www.youtube.com/embed/' + getYoutubeVideoId(selectedImageNodeSrc)"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    />
                  </div>

                  <div v-if="!isYoutubeUrl">
                    <img
                      v-if="selectedImageNodeSrc && isValidImageUrl"
                      alt=""
                      :src="selectedImageNodeSrc"
                      class="d-block"
                      style="width: 100%; height: 100%; max-width: 100%; max-height: 100%;"
                    >
                  </div>
                </v-card>
              </v-col>
              <v-col
                cols="12"
                sm="6"
                class="pa-2"
              >
                <v-tabs v-model="tab">
                  <v-tab href="#tab-pick">
                    <v-icon
                      x-small
                      class="mr-4"
                    >
                      fa fa-fw fa-regular fa-browser
                    </v-icon>
                    <span>{{ $t('url') }}</span>
                  </v-tab>

                  <v-tab
                    v-if="!isYoutubeUrl"
                    href="#tab-description"
                  >
                    <v-icon
                      x-small
                      class="mr-4"
                    >
                      fa fa-fw fa-regular fa-subtitles
                    </v-icon>
                    <span>{{ $t('description') }}</span>
                  </v-tab>

                  <v-tab
                    v-if="selectedMediaObject && !isYoutubeUrl"
                    href="#tab-info"
                  >
                    <v-icon
                      x-small
                      class="mr-4"
                    >
                      fa fa-fw fa-regular fa-circle-info
                    </v-icon>
                    <span>{{ $t('info') }}</span>
                  </v-tab>

                  <v-tab-item
                    key="tab-item-pick"
                    value="tab-pick"
                    :transition="false"
                  >
                    <v-row class="mt-2">
                      <v-col xs="12">
                        <v-text-field-custom
                          v-model="selectedImageNodeSrc"
                          autofocus
                          :loading="urlLoading"
                          :label="$t('url')"
                          outlined
                          clearable
                          :rules="[validateUrl]"
                        />
                      </v-col>
                    </v-row>
                  </v-tab-item>

                  <v-tab-item
                    key="tab-item-description"
                    value="tab-description"
                    :transition="false"
                  >
                    <v-row>
                      <v-col xs="12">
                        <v-text-field-custom
                          v-model="selectedImageNodeAlt"
                          hide-details
                          :label="$t('alt')"
                          outlined
                          clearable
                        />
                      </v-col>
                    </v-row>

                    <v-row>
                      <v-col xs="12">
                        <v-text-field-custom
                          v-model="selectedImageNodeTitle"
                          hide-details
                          :label="$t('title')"
                          outlined
                          clearable
                        />
                      </v-col>
                    </v-row>
                  </v-tab-item>

                  <v-tab-item
                    key="tab-item-info"
                    :transition="false"
                    value="tab-info"
                  >
                    <v-row v-if="selectedMediaObject">
                      <v-col xs="12">
                        <ul class="list-style-none caption ma-2 pa-0">
                          <li>
                            <strong>{{ $t('id') }}:</strong> {{ selectedMediaObject.id }}
                          </li>
                          <li>
                            <strong> {{ $t('file name') }}:</strong> {{ selectedMediaObject.originalName }}
                          </li>
                          <li>
                            <strong> {{ $t('original file name') }}:</strong> {{ selectedMediaObject.originalFileName }}
                          </li>
                          <li v-if="selectedMediaObject.metadata && selectedMediaObject.metadata.height && selectedMediaObject.metadata.width">
                            <strong> {{ $t('dimensions') }}:</strong> {{ selectedMediaObject.metadata.width }} x {{ selectedMediaObject.metadata.height }}
                          </li>
                          <li v-if="selectedMediaObject.metadata && selectedMediaObject.metadata.filesize">
                            <strong>{{ $t('size') }}:</strong> {{ prettySize(selectedMediaObject.metadata.filesize) }}
                          </li>
                          <li>
                            <v-chip
                              v-for="({ locale }) in filteredTranslations"
                              :key="`${selectedMediaObject['@id']}-${locale}`"
                              class="ma-1"
                              label
                              x-small
                            >
                              {{ locale }}
                            </v-chip>
                          </li>
                        </ul>
                      </v-col>
                    </v-row>
                  </v-tab-item>
                </v-tabs>
              </v-col>
            </v-row>
          </div>
        </v-card-text>
        <v-card-actions class="d-flex justify-end">
          <v-btn
            text
            @click="openFileBrowser"
          >
            <v-icon left>
              image_search
            </v-icon>
            {{ $t('browse') }}
          </v-btn>
          <v-btn-upload @success="fileUploaded" />
          <v-btn
            depressed
            color="primary"
            @click="insertOrUpdateNode"
          >
            {{ $t('ok') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <modal-file-browser
      v-model="fileBrowser"
      :single-pick="true"
      @close="closeFileBrowser"
      @use="pickMediaFromFileBrowser"
    />
  </div>
</template>

<script>
import Axios from '../../composables/ajax'
import ModalFileBrowser from '../v-dialog/ModalFileBrowser.vue'
import prettysize from 'prettysize'
import VBtnUpload from './VBtnUpload.vue'
import isString from 'lodash/isString'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'

export default {
  name: 'VBtnEditorMedia',
  components: {
    ModalFileBrowser,
    VBtnUpload,
    VTextFieldCustom
  },
  props: {
    editor: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      dialog: false,
      fileBrowser: false,
      tab: 'tab-pick',
      url: null,
      urlLoading: false,
      mediaObject: null,
      alt: null,
      title: null,
      drag: false
    }
  },

  computed: {
    isYoutubeUrl () {
      const pattern = /^(https?:\/\/)?(www\.)?(youtube\.com|youtu\.be)\/.+$/
      return pattern.test(this.selectedImageNodeSrc)
    },
    toolbarColor () {
      // set colors for dark and light theme
      return this.$vuetify.theme.dark ? 'grey darken-4' : 'grey lighten-4'
    },
    filteredTranslations () {
      if (!this.selectedMediaObject || !this.selectedMediaObject.translations) {
        return []
      }
      return Object.entries(this.selectedMediaObject.translations)
        .filter(([locale, translations]) => translations.description)
        .map(([locale, translations]) => ({ locale, translations }))
    },
    /**
     * Get and set src (url) of the selected image node
     */
    selectedImageNodeSrc: {
      get () {
        const selectedNode = this.selectedMediaNode()

        if (selectedNode && selectedNode.node.type.name === 'image') {
          return selectedNode.node.attrs.src
        }

        if (selectedNode && selectedNode.node.type.name === 'youtube') {
          return selectedNode.node.attrs.src
        }

        return this.url // Fallback or default URL
      },
      set (value) {
        // Debouncing is not shown here but should be implemented if necessary
        this.url = value
        // Immediately check if the URL is from a MediaObject and update accordingly
        this.checkMediaObject(value)
      }
    },
    /**
     * Get title attribute of the selected node
     */
    selectedImageNodeTitle: {
      get () {
        const selectedNode = this.selectedMediaNode()
        if (selectedNode && selectedNode.node.type.name === 'image') {
          return selectedNode.node.attrs.title || '' // Provide a fallback if no title exists
        }
        return '' // Return empty string if no node is selected or if it's not an image node
      },
      set (value) {
        this.title = value // Update the component's title data property
      }
    },
    /**
     * Get alt attribute of the selected node
     */
    selectedImageNodeAlt: {
      get () {
        const selectedNode = this.selectedMediaNode()
        if (selectedNode && selectedNode.node.type.name === 'image') {
          return selectedNode.node.attrs.alt || '' // Provide a fallback if no alt text exists
        }
        return '' // Return empty string if no node is selected or if it's not an image node
      },
      set (value) {
        this.alt = value // Update the component's alt data property
      }
    },
    isValidImageUrl () {
      // Execute validateUrl and check if the result is exactly true
      const validationResult = this.validateUrl(this.selectedImageNodeSrc)
      return validationResult === true // Only consider the URL valid if the result is strictly true
    },
    /**
     * Get selected media object
     * @return {Object|null}
     */
    selectedMediaObject () {
      return this.mediaObject
    }
  },
  watch: {
    url: {
      immediate: true,
      handler (value) {
        this.mediaObject = null
        this.checkMediaObject(value)
      }
    },
    dialog: {
      handler (value) {
        if (value === false) {
          this.clearDialog()
        }
      }
    }
  },
  methods: {
    getYoutubeVideoId (url) {
      const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/
      const match = url.match(regExp)

      if (match && match[2].length === 11) {
        return match[2]
      } else {
        return null
      }
    },
    /**
     * Find currently selected image node
     * @return {Object|null} Return Node or null if no image node is found
     */
    selectedMediaNode () {
      const { state } = this.editor
      const { selection } = state
      const { from, to } = selection
      let selectedNode = null

      state.doc.nodesBetween(from, to, (node, pos) => {
        if (node.type.name === 'image' || node.type.name === 'youtube') {
          selectedNode = { node, pos }
          return selectedNode
        }
      })

      return selectedNode
    },

    /**
     * Open EditorMedia dialog
     */
    openDialog () {
      this.dialog = true
      this.checkMediaObject(this.selectedImageNodeSrc)
    },
    /**
     * Close EditorMedia dialog
     */
    closeDialog () {
      this.dialog = false
      this.clearDialog()
    },
    clearDialog () {
      this.dialog = false
      this.mediaObject = null
      this.url = null
      this.alt = null
      this.title = null
      this.drag = false
    },
    /**
     * Open File browser dialog
     */
    openFileBrowser () {
      this.fileBrowser = true
    },
    /**
     * Close File browser dialog
     */
    closeFileBrowser () {
      this.fileBrowser = false
    },
    /**
     * Pick media object from the file browser
     */
    pickMediaFromFileBrowser (mediaObject) {
      this.mediaObject = mediaObject
      this.url = mediaObject.contentUrl
      this.closeFileBrowser()
    },
    /**
     * Check if the url belongs to the MediaObject and optionally set component data
     * @param {String} url of the potential media object
     */
    async checkMediaObject (url) {
      if (isString(url) && url.match(/^\/media\//)) {
        this.urlLoading = true
        try {
          const response = await Axios.get('/api/media-objects?filePath=' + url.replace('/media/', ''))
          if (response.data['hydra:totalItems'] !== 1) {
            this.mediaObject = null
          } else {
            this.mediaObject = response.data['hydra:member'][0]
          }
        } catch (error) {
          this.mediaObject = null
        } finally {
          this.urlLoading = false
        }
      }
    },
    /**
     * Insert or update selected node with the new attributes
     */
    insertOrUpdateNode () {
      const src = this.selectedImageNodeSrc

      // Validate the URL before proceeding
      const isValidUrl = this.validateUrl(src)
      if (isValidUrl !== true) {
        // If URL is not valid, just close the dialog and do nothing
        this.closeDialog()
        return // Exit the function early
      }

      // Check if the source URL is a YouTube URL
      if (this.isYoutubeUrl) {
        // Extract the video ID for embedding
        const videoId = this.getYoutubeVideoId(src)
        const youtubeEmbedUrl = `https://www.youtube.com/watch?v=${videoId}`

        // Check if there's a selected YouTube video node
        const selectedNode = this.selectedMediaNode()
        if (selectedNode && selectedNode.node.type.name === 'youtubeVideo') {
          // Update the selected YouTube video node
          this.editor.commands.setYoutubeVideo({
            src: youtubeEmbedUrl,
            width: 640,
            height: 480
          })
        } else {
          // Insert a new YouTube video node at the current selection
          this.editor.chain().focus().setYoutubeVideo({
            src: youtubeEmbedUrl,
            width: 640,
            height: 480
          }).run()
        }
      } else {
        // Existing logic for handling non-YouTube URLs (images)
        const alt = this.alt ? this.alt : this.selectedImageNodeAlt
        const title = this.title ? this.title : this.selectedImageNodeTitle
        const selectedNode = this.selectedMediaNode()
        if (selectedNode) {
          // Update the selected image node
          this.editor.chain().command(({ tr }) => {
            tr.setNodeMarkup(selectedNode.pos, null, { src, alt, title })
            return true
          }).run()
        } else {
          // Insert a new image node
          this.editor.chain().focus().setImage({ src, alt, title }).run()
        }
      }

      this.closeDialog()
    },
    /**
     * Format bytes to better units
     * @param value {Number|string} Bytes to format
     * @returns {String} formatted value for the bytes
     */
    prettySize (value) {
      return prettysize(value)
    },
    /**
     * Set url when media object is created from the upload component
     * @param mediaObject
     */
    fileUploaded (mediaObject) {
      this.url = mediaObject.contentUrl
    },
    validateUrl (value) {
      if (value === '' || value === null) {
        return true
      }

      // Regular expression for specific image file extensions
      const imagePattern = /\.(jpg|jpeg|png|gif|avif|webp)$/i

      // Regular expression for YouTube URLs
      const youtubePattern = /^(https?:\/\/)?(www\.)?(youtube\.com\/watch\?v=|youtu\.be\/)/

      // Test the URL against both patterns
      if (imagePattern.test(value) || youtubePattern.test(value)) {
        return true
      }

      return this.$t('v_btn_editor_image_invalid_url')
    },
    async handleFileDrop (event) {
      // Prevent the default behavior to stop the browser from opening the file
      event.preventDefault()

      // Get the first file from the dropped files
      const file = event.dataTransfer.files[0]

      // If there's a file, proceed with the upload
      if (file) {
        await this.uploadFile(file)
      }

      // Regardless of the upload outcome, hide the drag overlay
      this.drag = false
    },
    async uploadFile (file) {
      const formData = new FormData()
      formData.append('file', file)

      try {
        const response = await Axios.post('/api/media-objects.json', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
            Accept: 'application/json'
          }
        })

        if (response.data && response.data.contentUrl) {
          console.log('Upload successful', response.data)
          this.url = response.data.contentUrl
        } else {
          console.error('Unexpected response structure:', response.data)
        }
      } catch (error) {
        console.error('Upload error', error)
      }
    },
    handleFileDragOver (event) {
      event.preventDefault()
      // Check if the drag event contains files
      this.drag = event.dataTransfer && event.dataTransfer.types && event.dataTransfer.types.includes('Files')
    },
    handleFileDragLeave (event) {
      // Prevent the default behavior
      event.preventDefault()
      // Check if the dragleave event is from the container and not bubbling from children
      if (event.currentTarget === event.target) {
        this.drag = false
      }
    }

  }
}
</script>
