<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-dialog-confirm
      v-model="dialog.confirm"
      :loading="loading"
      @confirm="confirm"
      @cancel="cancel"
    />

    <v-btn
      depressed
      :loading="loading"
      @click="dialog.confirm = true"
    >
      {{ $t('save') }}
    </v-btn>
  </div>
</template>

<script>
import { useSettingsStore } from '../../stores/settingsStore'
import VDialogConfirm from '../v-dialog/VDialogConfirm.vue'

export default {
  name: 'VBtnSaveSetting',
  components: {
    VDialogConfirm
  },
  props: {
    value: {
      type: Object,
      required: true,
      default: null
    }
  },
  data () {
    return {
      loading: false,
      dialog: {
        confirm: false
      }
    }
  },
  methods: {
    async confirm () {
      this.loading = true
      const store = useSettingsStore()
      console.log(this.value)
      await store.updateItem(this.value)
      this.loading = false
      this.dialog.confirm = false
    },
    cancel () {
      this.loading = false
      this.dialog.confirm = false
    }
  }
}
</script>
