<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card
      outlined
      class="mb-4"
    >
      <v-data-table-server
        v-if="store"
        :pinia-store="store"
        type="users"
        :headers="headers"
        :show-create="false"
        :show-delete="false"
        :store-id="'/api/user-groups/' + userGroupId + '/users'"
        @change="fetchUsers"
      >

        <template #extra-buttons>
          <v-btn-user-group-add-user
            :user-group-id="userGroupId"
            @user-added="fetchUsers"
          />
        </template>

        <template #item.id="{ item }">
          <div :class="{ 'row--enabled': item.enabled }">
            <span v-text="item.id" />
          </div>
        </template>

        <template #item.avatar="{ item }">
          <div :class="{ 'row--enabled': item.enabled }">
            <v-avatar
              :size="24"
              :color="item.color"
            >
              <img
                v-if="item.avatar"
                :src="item.avatar"
                alt="avatar"
              >
              <span
                v-else
                v-text="item.displayName ? item.displayName.substring(0, 1) : ''"
              />
            </v-avatar>
          </div>
        </template>

        <template #item.name_email="{ item }">
          <div :class="{ 'row--enabled': item.enabled }">
            <div>
              {{ item.displayName }}
            </div>

            <span
              v-if="!filter.email"
              v-text="item.email"
            />
            <text-highlight
              v-else
              :queries="[filter.email]"
            >
              {{ item.email }}
            </text-highlight>
          </div>
        </template>

        <template #item.roles="{ item }">
          <v-btn-user-user-group-acl
            :user-group-id="userGroupId"
            :disabled="disabled"
            :user-object="item"
          ></v-btn-user-user-group-acl>
        </template>

        <template #item.user_groups="{ item }">
          <div :class="{ 'row--enabled': item.enabled }">
            <v-chip
              v-for="(userGroup, index) in item.userGroups"
              :key="'userGroup-' + index"
              label
              outlined
              class="ma-2"
            >
              <v-icon left>
                group
              </v-icon>
              <span :class="{ text__highlight: isUserGroupHighLighted(userGroup) }">
                <span v-text="userGroupName(userGroup)" />
              </span>
            </v-chip>
          </div>
        </template>

        <template #item.last_activity_at="{ item }">
          <div :class="{ 'row--enabled': item.enabled }">
            <v-date-time
              :value="item.lastActivityAt"
              :time="false"
            />
          </div>
        </template>

        <template #item.kick="{ item }">
          <v-btn-user-group-delete-user
            @user-removed="fetchUsers"
            :user-id="item.id"
            :user-group-id="userGroupId"
          />
        </template>
      </v-data-table-server>
    </v-card>
  </div>
</template>

<script>
import VDateTime from '../v-date/VDateTime.vue'
import VBtnUserGroupDeleteUser from '../v-btn/VBtnUserGroupDeleteUser.vue'
import VBtnUserGroupAddUser from '../v-btn/VBtnUserGroupAddUser.vue'
import VBtnUserUserGroupAcl from '../v-btn/VBtnUserUserGroupAcl.vue'
import VDataTableServer from './VDataTableServer.vue'
import { useDataTableStore } from '../../stores/dataTableStore'

export default {
  name: 'VDatatableUserGroupUsers',
  components: {
    VDataTableServer,
    VBtnUserGroupDeleteUser,
    VBtnUserGroupAddUser,
    VBtnUserUserGroupAcl,
    VDateTime
  },
  props: {
    userGroupId: {
      type: Number,
      required: true,
      default: null
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      store: null,
      loading: false,
      filter: {}
    }
  },
  computed: {
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('kick'),
          align: 'left',
          sortable: false,
          value: 'kick',
          width: '100px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id'
        },
        {
          text: this.$t('avatar'),
          align: 'left',
          sortable: false,
          value: 'avatar',
          width: '1px'
        },
        {
          text: this.$t('name_email'),
          align: 'left',
          sortable: false,
          value: 'name_email'
        },
        {
          text: this.$t('user_roles'),
          align: 'left',
          sortable: false,
          value: 'roles'
        },
        {
          text: this.$t('last activity'),
          align: 'left',
          sortable: true,
          value: 'last_activity_at'
        },
      ]
    }
  },
  created () {
    this.store = useDataTableStore('/api/users', { id: '/api/user-groups/' + this.userGroupId + '/users' })
    this.fetchUsers()
  },
  methods: {
    async fetchUsers () {
      this.store.params['userGroups.id[]'] = this.userGroupId
      this.store.readCollection()
    }
  }
}
</script>
