<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-data-table-server
      v-if="store"
      :pinia-store="store"
      :headers="headers"
      :show-create="false"
      :show-delete="false"
      :show-edit="false"
      :store-id="'/api/scores/' + userId"
      :items-per-page="10"
      @change="fetchScores"
    >
      <template #item.id="{ item }">
        <div :class="{ 'row--enabled': item.enabled }">
          <span v-text="item.id" />
        </div>
      </template>

      <template #item.createdAt="{ item }">
        <div :class="{ 'row--enabled': item.enabled }">
          <v-date-time
            :value="item.createdAt"
            :time="true"
          />
        </div>
      </template>

      <template #item.type="{ item }">
        <div :class="{ 'row--enabled': item.enabled }">
          <span v-text="item.type" />
        </div>
      </template>

      <template #item.value="{ item }">
        <div :class="{ 'row--enabled': item.enabled }">
          <span v-text="item.value" />
        </div>
      </template>

      <template #item.note="{ item }">
        <div :class="{ 'row--enabled': item.enabled }">
          <span v-text="item.reason" />
        </div>
      </template>

      <template #actions.extra="{ item }">
        <v-btn-edit-user-score :value="item" />

        <v-btn-delete
          icon
          :value="item"
          :auto-redirect="false"
          @delete="fetchScores"
        />
      </template>
    </v-data-table-server>
  </div>
</template>

<script>
import VDateTime from '../v-date/VDateTime.vue'
import VDataTableServer from './VDataTableServer.vue'
import { useDataTableStore } from '../../stores'
import VBtnDelete from '../v-btn/VBtnDelete.vue'
import VBtnEditUserScore from '../v-btn/VBtnEditUserScore.vue'

export default {
  name: 'VDataTableUserScore',
  components: {
    VBtnDelete,
    VDataTableServer,
    VDateTime,
    VBtnEditUserScore
  },
  props: {
    userId: {
      type: Number,
      required: true,
      default: null
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      store: null,
      loading: false,
      filter: {}
    }
  },
  computed: {
    headers () {
      return [
        {
          align: 'left',
          sortable: false,
          value: 'actions',
          width: '1px'
        },
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id'
        },
        {
          text: this.$t('created_at'),
          align: 'left',
          sortable: true,
          value: 'createdAt'
        },
        {
          text: this.$t('type'),
          align: 'left',
          sortable: true,
          value: 'type'
        },
        {
          text: this.$t('value'),
          align: 'left',
          sortable: true,
          value: 'value'
        },
        {
          text: this.$t('note'),
          align: 'left',
          sortable: true,
          value: 'note'
        }
      ]
    }
  },
  created () {
    this.store = useDataTableStore('/api/scores', { id: '/api/scores/' + this.userId })
    this.fetchScores()
  },
  methods: {
    async fetchScores () {
      this.store.params['user.id[]'] = this.userId
      this.store.params['order[id]'] = 'desc'
      this.store.readCollection()
    }
  }
}
</script>
