<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-toolbar flat>
      <v-spacer />

      <slot name="extra-buttons" />

      <!-- csv serializer -->
      <v-btn
        text
        class="ml-2"
        @click="download"
      >
        <span class="d-flex">{{ $t('csv') }}</span>
      </v-btn>

      <!-- delete selected -->
      <v-btn
        v-if="showDelete"
        color="red"
        text
        :disabled="selectedRowsCount < 1"
        class="ml-2"
        @click="openDeleteItemModal(null)"
      >
        <v-icon class="d-flex d-sm-none">
          fa-fw fa-light fa-xmark
        </v-icon>
        <v-icon
          class="d-none d-sm-flex"
          left
        >
          fa-fw fa-light fa-xmark
        </v-icon>
        <span class="d-none d-sm-flex">{{ $t('delete') }}</span>
      </v-btn>

      <!-- multiple items deletion confirmation dialog  -->
      <v-dialog
        v-model="modal.deleteItems"
        persistent
        max-width="480"
      >
        <v-card>
          <v-card-title class="headline">
            {{ $t('confirm multiple items deletion') | upperFirst }}
          </v-card-title>
          <v-card-text>{{ $t('confirm_item_deletion_question_multiple', { count: selectedRowsCount }) }}</v-card-text>
          <v-card-actions class="px-4">
            <v-btn
              text
              color="primary"
              @click="modal.deleteItems = false"
            >
              {{ $t('cancel') }}
            </v-btn>
            <v-btn
              text
              color="red"
              @click="deleteItems"
            >
              {{ $t('delete {count} items', { count: selectedRowsCount }) }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- delete item confirmation dialog  -->
      <v-dialog
        v-model="modal.deleteItem"
        persistent
        max-width="480"
      >
        <v-card>
          <v-card-title class="headline">
            {{ $t('confirm item deletion') | upperFirst }}
          </v-card-title>
          <v-card-text>{{ $t('confirm_item_deletion_question') }}</v-card-text>
          <v-card-actions class="px-4">
            <v-btn
              text
              color="primary"
              @click="modal.deleteItem = false"
            >
              {{ $t('cancel') }}
            </v-btn>
            <v-btn
              text
              color="red"
              @click="deleteItem(selectedItem)"
            >
              {{ $t('delete item') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- delete item progress dialog  -->
      <v-dialog
        v-model="modal.deleteProgress"
        persistent
        max-width="480"
      >
        <v-card>
          <v-row no-gutters>
            <v-col class="flex-grow-0 pa-4">
              <v-progress-circular
                indeterminate
                color="red"
                :size="70"
              >
                <v-icon>fw fa-light fa-xmark</v-icon>
              </v-progress-circular>
            </v-col>
            <v-col
              class="pa-4"
              align-self="center"
            >
              {{ $t('please wait') | upperFirst }}
            </v-col>
          </v-row>
        </v-card>
      </v-dialog>

      <!-- add new buttons to this slot -->
      <slot name="buttons" />

      <!-- create item -->
      <v-btn
        v-if="showCreate"
        color="success"
        depressed
        class="ml-2"
        @click="modal.createItem = true"
      >
        <v-icon class="d-flex d-sm-none">
          add
        </v-icon>
        <v-icon
          class="d-none d-sm-flex"
          left
        >
          add
        </v-icon>
        <span class="d-none d-sm-flex">{{ $t('create') }}</span>
      </v-btn>

      <!-- create item dialog -->
      <v-dialog
        v-model="modal.createItem"
        persistent
        max-width="480"
      >
        <v-card>
          <v-card-title class="headline">
            {{ $t('create new item') | upperFirst }}
          </v-card-title>
          <v-card-text>{{ $t('Are you sure you want to create a new item?') }}</v-card-text>
          <v-card-actions class="px-4">
            <v-btn
              text
              color="primary"
              :disabled="loading.createItem"
              @click="modal.createItem = false"
            >
              {{ $t('no') }}
            </v-btn>
            <v-btn
              text
              color="success"
              :loading="loading.createItem"
              @click="createItem"
            >
              {{ $t('yes') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>

    <v-data-table
      v-model="selectedRows"
      :options.sync="options"
      :footer-props="{ itemsPerPageOptions: [10, 25, 50, 100] }"
      :headers="getHeaders"
      :items="getItems"
      :items-per-page="itemsPerPage"
      :mobile-breakpoint="950"
      :must-sort="true"
      :multi-sort="false"
      :server-items-length="getTotal"
      show-select
      :item-class="itemClass"
    >
      <template
        v-for="header in headers"
        #[colName(header)]="{ header }"
      >
        {{ header.text | upperFirst }}
      </template>

      <template
        v-for="header in headers"
        #[cellName(header)]="{ item }"
      >
        <slot
          :name="[cellName(header)]"
          :item="item"
        >
          {{ item[camelCase(header.value)] }}
        </slot>
      </template>

      <template #item.actions="{ item }">
        <v-row class="flex-nowrap no-gutters">

          <!-- edit button -->
          <v-col
            v-if="showEdit"
            class="flex-grow-0 pa-2"
          >
            <v-btn
              depressed
              :href="editItem(item)"
            >
              <v-icon
                v-if="!isReadonly(item)"
                color="primary"
                small
              >
                fa-fw fa-light fa-pen-to-square
              </v-icon>

              <v-icon
                v-if="isReadonly(item)"
                color="primary"
                small
              >
                fa-fw fa-light fa-eye
              </v-icon>
            </v-btn>
          </v-col>

          <!-- delete button -->
          <v-col
            v-if="showDelete"
            class="flex-grow-0 pa-2"
          >
            <v-btn-delete
              icon
              :value="item"
              :disabled="!isDeletable(item)"
            />
          </v-col>

          <!-- extra action buttons -->
          <slot name="actions.extra" :item="item" />
        </v-row>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import QS from 'qs'
import VBtnDelete from '../v-btn/VBtnDelete.vue'
import has from 'lodash/has'
import camelCase from 'lodash/camelCase'
import kebabCase from 'lodash/kebabCase'
import forEach from 'lodash/forEach'
import upperFirst from 'lodash/upperFirst'
import replace from 'lodash/replace'
import size from 'lodash/size'
import { useDataTableStore } from '../../stores/dataTableStore'

export default {
  name: 'VDataTableServer',
  components: {
    VBtnDelete
  },
  filters: {
    upperFirst (val) {
      return upperFirst(val)
    }
  },
  props: {
    storeId: {
      type: String,
      required: true,
      default: null
    },
    headers: {
      type: Array,
      default: () => {
        return []
      },
      required: true
    },
    showCreate: {
      type: Boolean,
      default: true,
      required: false
    },
    showDelete: {
      type: Boolean,
      default: true,
      required: false
    },
    showEdit: {
      type: Boolean,
      default: true,
      required: false
    },
    itemsPerPage: {
      type: Number,
      default: 50,
      required: false
    },
    orderBy: {
      type: String,
      default: 'id',
      required: false
    },
    sortBy: {
      type: String,
      default: 'asc',
      required: false
    },
  },
  data () {
    return {
      store: null,
      selectedRows: [],
      loading: {
        deleteItem: false,
        createItem: false
      },
      options: {
        sortBy: ['id'],
        sortDesc: ['false']
      },
      modal: {
        deleteItem: false,
        deleteItems: false,
        deleteProgress: false,
        createItem: false,
        csvExport: false
      }
    }
  },
  computed: {
    /**
     * Get items from the store
     * @return {array}
     */
    getItems () {
      return this.store.items
    },
    /**
     * Get table headers defined as the property
     * @return {array}
     */
    getHeaders () {
      return this.headers
    },
    /**
     * Get total items from server
     * @return {Number}
     */
    getTotal () {
      return this.store.totalItems
    },
    /**
     * Get number of selected rows
     * @return {Number}
     */
    selectedRowsCount () {
      return size(this.selectedRows)
    },
    selectedItem () {
      return size(this.selectedRows) === 1 ? this.selectedRows[0] : null
    }
  },
  watch: {
    options: {
      handler () {
        this.store.setOrder(camelCase(this.options.sortBy[0]), this.options.sortDesc[0] === true ? 'desc' : 'asc')
        this.store.setPage(this.options.page)
        this.store.setItemsPerPage(this.options.itemsPerPage)
        this.store.readCollection()
      },
      deep: true
    }
  },
  created () {
    this.store = useDataTableStore(this.storeId)

    if (this.orderBy && this.sortBy) {
      this.store.setOrder(this.orderBy, this.sortBy)
    }

    // Get the order, page, and itemsPerPage from store
    const order = this.store.getOrder()

    const page = this.store.getPage()
    const itemsPerPage = this.store.getItemsPerPage()

    // Convert the order object back to original format
    const sortBy = [Object.keys(order)[0]]
    const sortDesc = [order[sortBy[0]] === 'desc']

    // Assign back to options
    this.options = {
      ...this.options,
      sortBy,
      sortDesc,
      page,
      itemsPerPage
    }

    // Now log the translated values and read the collection
    this.store.readCollection()
  },
  methods: {
    /**
     * Return the cell name
     * @param {Object} header
     * @return {string}
     */
    cellName (header) {
      return `item.${header.value}`
    },
    /**
     * Return the col name
     * @param {Object} header
     * @return {string}
     */
    colName (header) {
      return `header.${header.value}`
    },
    /**
     * Covert string to camel case
     * @param {string} str
     * @return {string}
     */
    camelCase (str) {
      return camelCase(str)
    },
    /**
     * Create a new item by emitting create event
     */
    async createItem () {
      this.loading.createItem = true
      const response = await this.store.createItem(this.storeId)
      window.location.href = this.editItem(response.data)
    },
    openDeleteItemModal (item = null) {
      if (item !== null) {
        this.selectedRows = []
        this.selectedRows.push(item)
      }

      if (this.selectedRowsCount > 1) {
        this.modal.deleteItems = true
        this.modal.deleteItem = false
      } else {
        this.modal.deleteItem = true
        this.modal.deleteItems = false
      }
    },
    /**
     * Delete the item by dispatching the action into store
     */
    deleteItem (item) {
      this.modal.deleteItem = false
      this.modal.deleteProgress = true
      this.store.deleteItem(item['@id'])
      window.location.reload()
    },
    /**
     * Delete multiple items
     */
    deleteItems () {
      this.modal.deleteItems = false
      this.modal.deleteProgress = true
      const promises = []
      forEach(this.selectedRows, (item) => {
        promises.push(this.store.deleteItem(item['@id']))
      })

      Promise.all(promises)
        .then(() => {
          window.location.reload()
        })
        .finally(() => {
          this.modal.deleteProgress = false
        })
    },
    isDeletable (item) {
      if (has(item, 'deletable')) {
        return item.deletable
      }

      return true
    },
    isReadonly (item) {
      if (has(item, 'readOnly')) {
        return item.readOnly
      }

      return false
    },
    /**
     * Generate editation link from given item IRI
     * @param item
     * @return {string}
     */
    editItem (item) {
      return replace(item['@id'], '/api/', `/${document.documentElement.lang}/admin/`)
    },
    download () {
      window.location.href = `/api/${kebabCase(this.type)}?_download=1`
    },
    itemClass (item) {
      if (has(item, 'status')) {
        return item.status === 'draft' ? 'row--disabled' : 'row--enabled'
      }

      if (has(item, 'enabled')) {
        return item.enabled ? 'row--enabled' : 'row--disabled'
      }
    }
  }
}
</script>
