<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-data-table-server
      store-id="/api/logs"
      :headers="headers"
      order-by="id"
      sort-by="desc"
      :items-per-page="10"
    >
      <template #item.level_name="{ item }">
        <v-chip
          :color="logLeveColor(item.levelName)"
          small
          label
        >
          <span v-text="item.levelName" />
        </v-chip>
      </template>

      <template #item.created_at="{ item }">
        <v-date-time :value="item.createdAt" />
      </template>

      <template #item.message="{ item }">
        <span v-html="formatMessage(item.formattedMessage)" />
      </template>

      <template #item.user="{ item }">
        <div v-if="item.user">
          <v-user :user="item.user" />
        </div>
      </template>
    </v-data-table-server>
  </div>
</template>

<script>
import VDateTime from '../v-date/VDateTime.vue'
import VUser from '../v-menu/VUser.vue'
import VDataTableServer from './VDataTableServer.vue'
import linkifyHtml from 'linkifyjs/html'

export default {
  name: 'VDataTableLog',
  components: {
    VDataTableServer,
    VUser,
    VDateTime
  },
  computed: {
    headers () {
      return [
        {
          text: this.$t('log_level'),
          align: 'left',
          sortable: false,
          value: 'level_name',
          width: '1px'
        },
        {
          text: this.$t('created_at'),
          align: 'left',
          sortable: true,
          value: 'created_at',
          width: '180px'
        },
        {
          text: this.$t('message'),
          align: 'left',
          sortable: false,
          value: 'message'
        },
        {
          text: this.$t('user'),
          align: 'left',
          sortable: false,
          value: 'user',
          width: '240px'
        }
      ]
    }
  },
  methods: {
    logLeveColor (level) {
      level = level.toLowerCase()
      if (level === 'debug') {
        return ''
      }

      if (level === 'info') {
        return ''
      }

      if (level === 'notice') {
        return ''
      }

      if (level === 'warning') {
        return 'orange'
      }

      if (level === 'error') {
        return 'red'
      }

      if (level === 'critical') {
        return 'red'
      }

      if (level === 'alert') {
        return 'red'
      }

      if (level === 'emergency') {
        return 'red'
      }
    },
    formatMessage (message) {
      return linkifyHtml(message, {
        format (value) {
          return new URL(value).pathname
        },
        className: null
      })
    }
  }
}
</script>
