<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-title>
        {{ $t('price expression rules') }}
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        class="ma-4 mr-0"
        depressed
        color="success"
        @click="addRule"
      >
        <v-icon left>
          add
        </v-icon>{{ $t('add a rule') }}
      </v-btn>
    </v-toolbar>

    <v-data-table
      :headers="headers"
      :items="expressionRules"
      :items-per-page="100"
    >
      <template #item.expression="{ item }">
        <v-text-field
          v-model="item.expression"
          outlined
          dense
          hide-details
          clearable
          :label="$t('expression')"
          class="pa-2"
          @input="updateRule(item)"
        />
      </template>

      <template #item.priceWithoutTax="{ item }">
        <v-text-field-money
          v-model="item.priceWithoutTax"
          outlined
          dense
          hide-details
          :label="$t('without tax')"
          clearable
          currency="CZK"
          class="pa-2"
          @input="updateRule(item)"
        />
      </template>

      <template #item.priceWithTax="{ item }">
        <v-text-field-money
          v-model="item.priceWithTax"
          outlined
          dense
          hide-details
          :label="$t('with tax')"
          clearable
          currency="CZK"
          class="pa-2"
          @input="updateRule(item)"
        />
      </template>

      <template #item.action="{ item }">
        <v-btn
          icon
          color="error"
          @click="removeRule(item)"
        >
          <v-icon>fa-fw fa-light fa-xmark</v-icon>
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import VTextFieldMoney from '../v-text-field/VTextFieldMoney.vue'
import isNil from 'lodash/isNil'
import filter from 'lodash/filter'

export default {
  name: 'VDataTablePriceExpressionRules',
  components: {
    VTextFieldMoney
  },
  props: {
    value: {
    }
  },
  data () {
    return {

    }
  },
  computed: {
    expressionRules: {
      get () {
        if (isNil(this.value)) {
          return []
        }

        return this.value.map((item, index) => ({
          id: index,
          ...item
        }))
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    headers () {
      return [
        {
          text: this.$t('expression'),
          align: 'left',
          sortable: false,
          value: 'expression'
        },
        {
          text: this.$t('without tax'),
          align: 'left',
          sortable: false,
          value: 'priceWithoutTax',
          width: '300px'
        },
        {
          text: this.$t('with tax'),
          align: 'left',
          sortable: false,
          value: 'priceWithTax',
          width: '300px'
        },
        {
          text: null,
          align: 'left',
          sortable: false,
          value: 'action',
          width: '100px'
        }
      ]
    }
  },
  methods: {
    updateRule (item) {
      const rules = this.expressionRules
      const index = rules.findIndex(rule => rule.id === item.id)
      rules[index] = item
      this.expressionRules = rules
    },
    /**
     * Remove the rule by the index
     * @param {Object} rule The index of the rule, to be removed
     */
    removeRule (rule) {
      this.expressionRules = filter(this.expressionRules, item => item.id !== rule.id)
    },
    /**
     * Add a new price rule expression
     */
    addRule () {
      const rule = {
        expression: null,
        currency: null,
        priceWithoutTax: null,
        priceWithTax: null
      }

      if (isNil(this.expressionRules)) {
        this.expressionRules = []
      }

      const rules = this.expressionRules
      rules.push(rule)
      this.expressionRules = rules
    }
  }
}
</script>
