<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>

    <v-sheet
        tile
        height="54"
        class="d-flex"
    >
      <v-btn
          icon
          class="ma-2"
          @click="$refs.calendar.prev()"
      >
        <v-icon>mdi-chevron-left</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      {{ currentMonthTitle }}
      <v-spacer></v-spacer>
      <v-btn
          icon
          class="ma-2"
          @click="$refs.calendar.next()"
      >
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </v-sheet>

    <v-sheet height="600">
      <v-calendar
        ref="calendar"
        v-model="value"
        :type="type"
        :events="events"
        :event-overlap-threshold="30"
        :event-height="20"
        :event-color="getEventColor"
        :weekdays="[1, 2, 3, 4, 5, 6, 0]"
        event-overlap-mode="column"
        @change="fetch"
      >
        <template #event="{ event }">
          <div class="v-event-article d-flex justify-space-between">
            <div>
              <span v-if="event.publishedAt">{{ publishedAtTime(event.publishedAt) }}</span>
              <span>#{{ event.id }}</span>
              <strong>{{ event.name }}</strong>
            </div>
            <v-avatar-user
              v-if="author(event.authors)"
              :size="18"
              :value="author(event.authors)"
            />
          </div>
        </template>
      </v-calendar>
    </v-sheet>
  </div>
</template>

<script>
import VAvatarUser from '../VAvatarUser.vue'
import { crudMixin } from '../../mixins/crudMixin'
import { DateTime } from 'luxon'

export default {
  name: 'VCalendarArticles',
  components: {
    VAvatarUser
  },
  mixins: [
    crudMixin
  ],
  data () {
    return {
      value: DateTime.local().toFormat('yyyy-MM-dd'),
      type: 'month',
      events: []
    }
  },
  computed: {
    currentMonthTitle () {
      return DateTime.fromISO(this.value).toFormat('MM/yyyy')
    }
  },
  methods: {
    fetch ({ start, end }) {
      const events = []
      const min = new Date(`${start.date}T00:00:00`)
      const max = new Date(`${end.date}T23:59:59`)

      this.$_readCollection('/api/articles', {'publishedAt[after]': min, 'publishedAt[before]': max }).then((articles) => {
        articles.map((article) => {
          events.push({
            id: article.id,
            name: article.headline,
            start: article.publishedAt ? new Date(article.publishedAt) : new Date(),
            end: article.publishedAt ? new Date(article.publishedAt) : new Date(),
            timed: !!article.publishedAt,
            authors: article.authors,
            status: article.status,
            publishedAt: article.publishedAt
          })
        })

        this.events = events
      })
    },
    /**
     * Get the event background color.
     *
     * @param {Object} event The event object
     * @return {string} Return the article color based on the status
     */
    getEventColor (event) {
      return event.status === 'published' ? 'accent' : 'grey'
    },
    publishedAtTime (publishedAt) {
      if (!publishedAt) {
        return
      }

      return (new DateTime.fromISO(publishedAt)).toFormat('T')
    },
    author (authors) {
      if (!authors || authors.length === 0) {
        return null
      }

      return authors[0]
    }
  }

}
</script>
