<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <v-toolbar flat>
        <v-toolbar-title>
          {{ $t('calendar') }}: {{ startDate.toFormat('dd. MM. yyyy') }} - {{ endDate.toFormat('dd. MM. yyyy') }}
        </v-toolbar-title>

        <v-spacer />

        <v-btn
          fab
          text
          small
          @click="prev"
        >
          <v-icon small>
            fa-light fa-fw fa-chevron-left fa-2xs
          </v-icon>
        </v-btn>
        <v-btn
          fab
          text
          small
          @click="next"
        >
          <v-icon small>
            fa-light fa-fw fa-chevron-right fa-2xs
          </v-icon>
        </v-btn>
      </v-toolbar>
      <div class="px-3 d-flex flex-wrap justify-end">
        <v-btn-create-item store-id="/api/events" />

        <v-spacer />

        <div class="d-flex flex-wrap justify-end">
          <v-btn
            color="primary"
            depressed
            class="ma-1"
            @click="setToday"
          >
            {{ $t('today') }}
          </v-btn>
          <v-btn
            :color="mode === 'day' ? 'primary' : ''"
            depressed
            class="ma-1"
            @click="setMode('day')"
          >
            {{ $t('day') }}
          </v-btn>
          <v-btn
            :color="mode === 'week' ? 'primary' : ''"
            depressed
            class="ma-1"
            @click="setMode('week')"
          >
            {{ $t('week') }}
          </v-btn>
          <v-btn
            :color="mode === 'month' ? 'primary' : ''"
            depressed
            class="ma-1"
            @click="setMode('month')"
          >
            {{ $t('month') }}
          </v-btn>
        </div>
      </div>

      <v-checkbox
        v-for="eventType in eventTypes"
        :key="'event-type-' + eventType.id"
        v-if="eventType.enabled"
        v-model="filter.eventTypes"
        :label="eventType.title"
        :value="eventType.id"
        class="ma-4 d-inline-flex flex-wrap"
        :color="eventType.color"
        hide-details
      />
      <v-sheet class="ma-4">
        <v-calendar
          ref="calendar"
          v-model="focus"
          :type="mode"
          :now="today"
          :events="filteredCalendarEvents"
          :weekdays="[1, 2, 3, 4, 5, 6, 0]"
          :event-height="35"
          :event-color="getEventColor"
          :event-margin-bottom="5"
          :event-more="false"
          @click:date="selectDay"
          @click:more="selectDay"
        >
          <template #event="item">
            <div class="d-flex align-center">
              <v-menu-event-calendar
                :mode="mode"
                :value="item"
                class="flex-shrink-0"
              />
              <a
                :href="'/admin/events/' + item.event.id"
                :class="['pa-2', 'flex-grow-1', 'white--text', 'text-decoration-none', { 'd-none': mode !== 'day' }, mode === 'day' ? 'd-inline-block' : 'd-md-inline-block']"
              >
                <strong>{{ getEventTimeLabel(item) }}</strong>
                <span :class="[{ 'd-none': mode !== 'day' }, mode === 'day' ? 'd-inline-block' : 'd-md-inline-block']">{{ getItemLabel(item) }}</span>
              </a>
            </div>
          </template>
        </v-calendar>
      </v-sheet>
    </v-card>

    <v-card
      outlined
      class="mt-4"
    >
      <v-banner-calendar-url />
    </v-card>
  </div>
</template>

<script>
import { forEach, isNil, debounce, has, get, upperFirst, replace } from 'lodash'
import { DateTime } from 'luxon'
import Axios from '../../composables/ajax'
import VMenuEventCalendar from '../v-menu/VMenuEventCalendar.vue'
import VBannerCalendarUrl from '../VBannerCalendarUrl.vue'
import VBtnCreateItem from '../v-btn/VBtnCreateItem.vue'
import { useLocalStorage } from '../../composables/useLocalStorage'

export default {
  name: 'VEventCalendar',
  components: {
    VMenuEventCalendar,
    VBannerCalendarUrl,
    VBtnCreateItem
  },
  filters: {
    upperFirst (val) {
      return upperFirst(val)
    }
  },
  data () {
    return {
      events: [],
      eventTypes: [],
      mode: 'month',
      today: null,
      focus: null
    }
  },
  computed: {
    startDate() {
      const focusedDate = DateTime.fromISO(this.focus);
      switch (this.mode) {
        case 'day':
          return focusedDate;
        case 'week':
          return focusedDate.startOf('week');
        case 'month':
          return focusedDate.startOf('month');
        default:
          return focusedDate;
      }
    },
    endDate() {
      const focusedDate = DateTime.fromISO(this.focus);
      switch (this.mode) {
        case 'day':
          return focusedDate;
        case 'week':
          return focusedDate.endOf('week');
        case 'month':
          return focusedDate.endOf('month');
        default:
          return focusedDate;
      }
    },
    filter: {
      get () {
        const savedFilter = useLocalStorage('eventCalendarFilter', {
          eventTypes: []
        })

        return savedFilter.value
      },
      set (newValue) {
        const savedFilter = useLocalStorage('eventCalendarFilter', {
          eventTypes: []
        })
        savedFilter.value = newValue
      }
    },
    filteredCalendarEvents () {
      const s = []
      forEach(this.events, (event) => {
        if (!isNil(event.startAt)) {
          if (event.allDay) {
            s.push({
              id: event.id,
              name: this.eventName(event),
              start: (DateTime.fromISO(event.startAt).toFormat('yyyy-LL-dd')),
              color: event.color,
              types: event.eventTypes
            })
          } else {
            s.push({
              id: event.id,
              name: this.eventName(event),
              start: (DateTime.fromISO(event.startAt).toFormat('yyyy-LL-dd HH:mm:ss')),
              end: !event.endAt ? null : (DateTime.fromISO(event.endAt).toFormat('yyyy-LL-dd HH:mm:ss')),
              color: event.color,
              types: event.eventTypes
            })
          }
        }
      })
      return s
    }
  },
  watch: {
    filter: {
      handler () {
        this.loadData()

        // Check if no event type is set
        if (!this.filter.eventTypes.length) {
          // Automatically set all event types in filter
          for (const eventType of this.eventTypes) {
            this.filter.eventTypes.push(eventType.id)
          }
        }
      },
      deep: true
    }
  },
  beforeMount () {
    const today = DateTime.local()
    this.today = today.toISODate()
    this.focus = today.toISODate()
  },
  mounted () {
    this.loadData()
    this.loadEventTypes()
  },
  methods: {
    setToday () {
      this.focus = this.today
    },
    prev: debounce(function () {
      this.$refs.calendar.prev()
      this.loadData('minus')
    }, 200),
    next: debounce(function () {
      this.$refs.calendar.next()
      this.loadData('plus')
    }, 200),
    setMode (mode) {
      this.mode = mode
    },
    selectDay (day) {
      this.focus = day.date
      this.mode = 'week'
    },
    loadData (type = '') {
      let from = DateTime.fromFormat(this.$refs.calendar.lastStart.date, 'y-LL-dd')
      let to = DateTime.fromFormat(this.$refs.calendar.lastEnd.date, 'y-LL-dd')

      if (type === 'plus') {
        if (this.mode === 'month') {
          from = from.plus({ month: 1 })
          to = to.plus({ month: 1 })
        }

        if (this.mode === 'week') {
          from = from.plus({ week: 1 })
          to = to.plus({ week: 1 })
        }

        if (this.mode === 'day') {
          from = from.plus({ day: 1 })
          to = to.plus({ day: 1 })
        }
      }

      if (type === 'minus') {
        if (this.mode === 'month') {
          from = from.minus({ month: 1 })
          to = to.minus({ month: 1 })
        }

        if (this.mode === 'week') {
          from = from.minus({ week: 1 })
          to = to.minus({ week: 1 })
        }

        if (this.mode === 'day') {
          from = from.minus({ day: 1 })
          to = to.minus({ day: 1 })
        }
      }

      const eventTypesQuery = this.filter.eventTypes.join(',')
      Axios.get(`/api/events/calendar?from=${from.toFormat('y-LL-dd')}&to=${to.toFormat('y-LL-dd')}&eventTypes=${eventTypesQuery}`).then((response) => {
        this.events = response.data
      })
    },
    loadEventTypes () {
      Axios.get('/api/event-types').then((response) => {
        this.eventTypes = response.data['hydra:member']

        const savedFilter = useLocalStorage('eventCalendarFilter', {
          eventTypes: []
        })

        if (!savedFilter.value.eventTypes.length) {
          for (const eventType of this.eventTypes) {
            this.filter.eventTypes.push(eventType.id)
          }
        }
      })
    },
    eventName (event) {
      const locale = document.documentElement.lang
      if (!isNil(locale) && has(event, 'translations.' + locale + '.headline')) {
        if (isNil(get(event, 'translations.' + locale + '.headline'))) {
          return this.$t('event')
        } else {
          return get(event, 'translations.' + locale + '.headline')
        }
      }

      return this.$t('event')
    },
    getEventColor (event) {
      if (typeof event.color !== 'undefined' && event.color !== null) {
        return event.color
      }

      return 'primary'
    },
    editItem (item) {
      return replace(item['@id'], '/api/', `/${document.documentElement.lang}/admin/`)
    },
    getEventTimeLabel (event) {
      if (event.eventParsed.allDay) {
        return '00:00 - 24:00'
      }

      let label = event.eventParsed.start.time
      if (event.eventParsed.end.time) {
        label = `${label} - ${event.eventParsed.end.time}`
      }
      return label
    },
    getItemLabel (event) {
      if (event.event.name) {
        return event.event.name
      }

      return this.$t('unknown_event')
    }
  }
}
</script>
