<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-dialog
    v-model="isOpen"
    :max-width="600"
    persistent
  >
    <v-card color="red darken-1">
      <v-app-bar
        color="red darken-2"
        dense
        flat
      >
        <v-toolbar-title>{{ $t('confirm deletion') }}</v-toolbar-title>
      </v-app-bar>

      <v-card-text>
        <v-row
          no-gutters
          class="flex-wrap"
        >
          <v-col
            :cols="12"
            :sm="2"
            class="d-none d-sm-flex"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="trash"
              class="svg-inline--fa fa-trash fa-w-14"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            ><path
              fill="currentColor"
              d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"
            /></svg>
          </v-col>
          <v-col
            :cols="12"
            :sm="10"
            class="pa-4 text-body-1"
          >
            <strong class="font-weight-black">{{ $t('Are you sure you want to delete this item?') }}</strong>
            <br>
            <span v-for="item in getItems">
              {{ getItemTitle(item) }}
            </span>
          </v-col>
        </v-row>
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn
          v-if="!processing"
          text
          @click="confirmClose"
        >
          {{ $t('no') }}
        </v-btn>
        <v-btn
          depressed
          color="red darken-4"
          :loading="processing"
          :disabled="processing"
          @click="confirmDelete"
        >
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="trash"
            class="svg-inline--fa fa-trash fa-w-14"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          ><path
            fill="currentColor"
            d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"
          /></svg>
          {{ $t('yes') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Axios from 'axios'
import isArray from 'lodash/isArray'
import forEach from 'lodash/forEach'
import isNil from 'lodash/isNil'

export default {
  name: 'DialogRemoveConfirm',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    items: {
      default: null
    }
  },
  data () {
    return {
      processing: false
    }
  },
  computed: {
    /**
       * Handling the dialog open/close state
       */
    isOpen: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    getItems () {
      return !isArray(this.items) ? [this.items] : this.items
    }
  },
  methods: {
    /**
       * Handling "delete" action.
       * @return {void}
       */
    confirmDelete () {
      this.processing = true
      const promises = []

      forEach(this.getItems, (item) => {
        if (!isNil(item['@id'])) {
          promises.push(Axios.delete(item['@id']))
        } else {
          console.warn('Requeted to delete an object, but this object does not contain valid IRI in @id property; skipping.', item)
        }
      })

      Axios.all(promises).finally(() => {
        this.processing = false
        this.$emit('input', false)
        this.$emit('delete', this.items)
      })
    },
    /**
       * Handling "do not delete" action.
       * @return {void}
       */
    confirmClose () {
      this.$emit('input', false)
    },
    getItemTitle (item) {
      return item['@id']
    }
  }
}
</script>
