<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
    <v-dialog no-click-animation fullscreen hide-overlay :persistent="true" v-model="isOpened">
        <v-card flat>
            <v-app-bar flat extended fixed>
                <v-row no-gutters align-content="center">
                    <!-- use selected media object -->
                    <v-col cols="auto">
                        <v-btn depressed :text="!isAnySelected" :disabled="!isAnySelected" color="primary" @click.prevent="use">
                            <v-icon class="d-flex" :left="$vuetify.breakpoint.smAndUp">check</v-icon>
                            <span class="d-none d-sm-flex">{{ $t('use') }}</span>
                        </v-btn>
                    </v-col>

                    <!-- upload button -->
                    <v-col cols="auto">
                        <v-btn-upload color="success" @success="refresh" />
                    </v-col>

                    <!-- delete button -->
                    <v-col cols="auto">
                        <v-btn depressed text :disabled="!isAnySelected" color="red" @click.stop.prevent="removeOpen = true">
                            <v-icon class="d-flex" :left="$vuetify.breakpoint.smAndUp">delete</v-icon>
                            <span class="d-none d-sm-flex">{{ $t('delete') }}</span>
                        </v-btn>
                    </v-col>

                    <!-- refetch media objects -->
                    <v-col cols="auto" class="hidden-sm-and-down">
                        <v-btn depressed text @click.prevent="refresh">
                            <v-icon class="d-flex" :left="$vuetify.breakpoint.smAndUp">refresh</v-icon>
                            <span class="d-none d-sm-flex">{{ $t('refresh') }}</span>
                        </v-btn>
                    </v-col>

                    <!-- close file browser -->
                    <v-col cols="auto" class="hidden-sm-and-down">
                        <v-btn depressed text color="primary" @click.prevent="close">
                            <v-icon class="d-flex" :left="$vuetify.breakpoint.smAndUp">close</v-icon>
                            <span class="d-none d-sm-flex">{{ $t('close') }}</span>
                        </v-btn>
                    </v-col>

                    <v-spacer/>

                    <!-- toggle display view or list -->
                    <v-col cols="auto" class="d-none d-sm-none d-md-flex justify-end">
                        <v-btn depressed text @click.prevent="view = 'list'" :color="view === 'list' ? 'green' : null">
                            <v-icon>view_list</v-icon>
                        </v-btn>

                        <v-btn depressed text @click.prevent="view = 'grid'" :color="view === 'grid' ? 'green' : null">
                            <v-icon>view_module</v-icon>
                        </v-btn>
                    </v-col>

                    <!-- on mobile devides display extra menu -->
                    <v-col cols="auto" class="d-sm-flex d-md-none">
                        <v-menu bottom left :close-on-content-click="false">
                            <!-- menu button -->
                            <template v-slot:activator="{ on }">
                                <v-btn depressed text v-on="on">
                                    <v-icon>menu</v-icon>
                                </v-btn>
                            </template>

                            <!-- menu content -->
                            <v-card>
                                <v-list>

                                    <v-list-item>
                                        <v-row>
                                            <v-col :cols="12" class="d-flex justify-end align-self-center">
                                                <v-btn depressed text @click.prevent="view = 'list'" :color="view === 'list' ? 'green' : null">
                                                    <v-icon>view_list</v-icon>
                                                </v-btn>

                                                <v-btn depressed text @click.prevent="view = 'grid'" :color="view === 'grid' ? 'green' : null">
                                                    <v-icon>view_module</v-icon>
                                                </v-btn>
                                            </v-col>
                                        </v-row>
                                    </v-list-item>

                                    <v-list-item>
                                        <v-btn depressed text color="primary" @click.prevent="close">
                                            <v-icon class="d-flex" left>close</v-icon>
                                            <span>{{ $t('close') }}</span>
                                        </v-btn>
                                    </v-list-item>

                                    <v-list-item>
                                        <v-btn depressed text color="primary" @click.prevent="refresh">
                                            <v-icon class="d-flex" left>refresh</v-icon>
                                            <span>{{ $t('refresh') }}</span>
                                        </v-btn>
                                    </v-list-item>
                                </v-list>
                                </v-card>
                        </v-menu>
                    </v-col>
                </v-row>

                <template v-slot:extension>
                    <v-autocomplete-media-object class="mb-3" v-model="selectedMediaObjects" :multiple="!isSinglePick" :items="mediaObjects" />
                </template>
            </v-app-bar>
            <div style="padding-top: 118px;">
                <!-- dropzone overlay -->
                <upload-dropzone :hover="drag" @success="refresh" :multiple="true" />

                <!-- files listing -->
                <v-row justify="start" no-gutters>
                    <v-col :cols="12">

                        <!-- table view -->
                        <v-data-table
                                v-if="view === 'list'"
                                :headers="dataTableHeaders"
                                :items="mediaObjects"
                                show-select
                                show-expand
                                :single-select="isSinglePick"
                                :items-per-page="100"
                                @item-selected="toggleRow"
                                @click:row="toggleRow" :value="selectedMediaObjectsAsArray"
                                @toggle-select-all="toggleAllRows"
                                class="pa-4"
                        >
                            <template v-slot:item.preview="{ item }">
                                <v-media-object-preview :value="item" @preview="openLightbox" />
                            </template>

                            <template v-slot:item.name="{ item }">
                                {{ item.originalName }}
                            </template>

                            <template v-slot:item.size="{ item }">
                                {{ $_mediaObjectFileSize(item) }}
                            </template>
                        </v-data-table>

                        <!-- grid view -->
                        <v-row v-else class="d-flex flex-wrap pa-4">
                            <v-col :cols="12" :sm="6" :md="4" :lg="2" :xl="1" v-for="(mediaObject) in mediaObjects" :key="mediaObject.id" class="d-flex flex-grow-0">
                                <v-card :min-height="200" min-width="100%" outlined class="flex-grow-0">
                                    <v-row no-gutters class="grey lighten-2 square justify-content-center">
                                        <v-col class="d-flex justify-center align-center">
                                            <v-media-object-preview :max-height="null" :max-width="null" :value="mediaObject" :contain="true" @preview="openLightbox" />
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col>
                                            <v-checkbox @click.prevent.stop="toggleSelect(mediaObject)" :input-value="isSelected(mediaObject)" hide-details class="ma-2"/>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col class="pa-2">
                                            {{ $_mediaObjectFileName(mediaObject, 32) }}
                                        </v-col>
                                    </v-row>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </div>
        </v-card>

        <!-- dialog used for the delete confirmation -->
        <dialog-remove-confirm v-model="removeOpen" :items="selected" @delete="refresh" />

        <!-- lightbox -->
        <v-lightbox :value="preview" :items="mediaObjects" @close="preview = false" />

    </v-dialog>
</template>

<script>
import Axios from 'axios'
import UploadDropzone from '../v-upload/UploadDropzone.vue'
import VBtnUpload from '../v-btn/VBtnUpload.vue'
import VMediaObjectThumb from '../v-media/VMediaObjectThumb.vue'
import VLightbox from '../VLightbox.vue'
import VMediaObjectPreview from '../v-media/VMediaObjectPreview.vue'
import DialogRemoveConfirm from './DialogRemoveConfirm.vue'
import VAutocompleteMediaObject from '../v-autocomplete/VAutocompleteMediaObject.vue'
import without from 'lodash/without'
import size from 'lodash/size'
import isArray from 'lodash/isArray'
import isNil from 'lodash/isNil'
import { collectionsMixin } from '../../mixins/collectionsMixin'
import { mediaObjectMixin } from '../../mixins/mediaObjectMixin'
import { mediaMixin } from '../../mixins/mediaMixin'

export default {
    name: 'modal-file-browser',
    mixins: [
      mediaObjectMixin,
      collectionsMixin,
      mediaMixin
    ],
    components: {
      VLightbox,
      VMediaObjectThumb,
      VMediaObjectPreview,
      UploadDropzone,
      VBtnUpload,
      DialogRemoveConfirm,
      VAutocompleteMediaObject,
    },
    data () {
      return {
        mediaObjects: [],
        showExtra: false,
        selected: [],
        drag: false,
        removeOpen: false,
        preview: false,
        lightBoxStartIndex: 0,
        view: 'list',
        dataTableHeaders: [,
          {
            text: this.$t('preview'),
            value: 'preview',
            width: '70px'
          },
          {
            text: this.$t('name'),
            value: 'name'
          },
          {
            text: this.$t('size'),
            value: 'size',
            width: '120px'
          },
          {
            text: this.$t('metadata'),
            value: 'data-table-expand'
          }
        ]
      }
    },
    computed: {
      /**
       * Handle selected media objects
       */
      selectedMediaObjects: {
        get ()  {
          return this.selected
        },
        set (value) {
          this.selected = value
        }
      },
      /**
       * VDataTable expects :value as array even on single picked element
       * @return { Array } Array of picked elements, even on the single pick
       */
      selectedMediaObjectsAsArray () {
        return isArray(this.selected) ? this.selected : [this.selected]
      },
      /**
       * Check if dialog is opened
       */
      isOpened: {
        get () {
          return this.value
        },
        set (value) {
          this.$emit('input', value)
        }
      },
      /**
       * Whether the file browser alllows to pick single
       * or multiple media items.
       * @return boolean
       */
      isSinglePick () {
        return this.singlePick
      },
      /**
       * Check if any image is selected
       * @return boolean
       */
      isAnySelected () {
        return (isArray(this.selected) && size(this.selected) > 0) || (!isArray(this.selected) && this.selected)
      }
    },
    created () {
      this.$eventHub.$on('dragenter', (e) => {
        this.drag = true
      })

      this.$eventHub.$on('drop', (e) => {
        this.drag = false
      })
    },
    beforeMount () {
        this.refresh()
    },
    methods: {
      /**
       * Toggle v-data-table row
       * @param {Object} row Wrapped row with mediaObject in item property, or mediaObject itself.
       */
      toggleRow (row) {
        isNil(row.item) ? this.toggleSelect(row) : this.toggleSelect(row.item)
      },
      /**
       * Toggle all data table rows
       * @raram {Object} toggle The toggle object contains all selected rows and boolean value of the toggle state.
       */
      toggleAllRows (toggle) {
        toggle.value ? this.selected = this.mediaObjects : this.selected = []
      },
      /**
       * Check if the mediaObject selected
       * @param {Object} mediaObject
       * @return boolean
       */
      isSelected (mediaObject) {
        return !this.isSinglePick ? this.selected.includes(mediaObject) : this.selected === mediaObject
      },
      /**
       * Toggle select state of the mediaObject
       * @param {Object} mediaObject
       */
      toggleSelect (mediaObject) {
        this.isSelected(mediaObject) ? this.unselect(mediaObject) : this.select(mediaObject)
      },
      /**
       * Call API for the new items
       */
      refresh () {
        Axios.get('/api/media-objects?itemsPerPage=999999999')
          .then((response) => {
            this.mediaObjects = response.data['hydra:member']
          })
          .catch(() => {

          })
      },
      openLightbox (mediaObject) {
        this.preview = mediaObject
      },
      /**
       * Close the fileBrowser
       */
      close () {
        this.$emit('close')
      },
      /**
       * Select sleected media items
       * @param {Object} mediaObject MediaObject to select
       */
      select (mediaObject) {
        if (!this.isSinglePick) {
          this.selected.push(mediaObject)
        } else {
         this.selected = mediaObject
        }
      },
      /**
       * Unselect selected media items
       * @param {Object} mediaObject MediaObject to select
       */
      unselect (mediaObject) {
        if (!this.isSinglePick) {
          this.selected = without(this.selected, mediaObject)
        } else {
          this.selected = null
        }
      },
      /**
       * Emit "use" event with array of selected media items
       */
      use () {
        this.$emit('use', this.selected)
        this.selected = []
      }
    },
    props: {
      value: {
        type: Boolean,
        default: false
      },
      singlePick: {
        type: Boolean,
        default: false
      }
    },
  }
</script>
