<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-dialog
    v-model="isOpen"
    :min-width="280"
    :max-width="560"
    persistent
  >
    <v-card>
      <v-card-text>
        <div class="text-h6 mb-1">
          <slot name="title">{{ $t('acknowledge_dialog_title') }}</slot>
        </div>
        <slot>{{ $t('acknowledge_dialog_slot_default') }}</slot>
      </v-card-text>
      <v-card-actions class="justify-end">
        <v-btn
          depressed
          color="primary"
          @click="acknowledge"
        >
          {{ $t('button_ok') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
/**
 * Use this component as a universal acknowledge modal dialog.
 *
 * This dialog will return an "acknowledged" event when clicking
 * on the button. Note that this dialog won't close automatically; you have
 * to handle the closing yourself by passing a boolean value into the "value",
 * and handle the logic on your own when the "acknowledged" event
 * is fired.
 *
 * @example Here is the example of how to use this component:
 *
 *  <v-dialog-acknowledge
 *    v-model="dialog"
 *    @acknowledged="handleAcknowledged"
 *  >
 *    <template #title>
 *      Custom Title
 *    </template>
 *    Add your customized content for the dialog here; if not
 *    provided, the default acknowledgment message will be used.
 *  </v-dialog-acknowledge>
 *
 *  In your Vue <script> you can then handle the logic like this:
 *
 *  methods: {
 *    handleAcknowledged () {
 *      this.dialog = false
 *    }
 *  }
 */

export default {
  name: 'VDialogAcknowledge',
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  emits: [
    'acknowledged'
  ],
  computed: {
    isOpen: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    acknowledge () {
      this.$emit('acknowledged')
      this.isOpen = false
    }
  }
}
</script>
