<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card outlined>
        <v-toolbar flat>
          <v-toolbar-title>{{ $t('edit_gallery_item') }}</v-toolbar-title>

          <template #extension>
            <v-tabs
              v-model="tabs"
              align-with-title
              background-color="transparent"
              fixed-tab
            >
              <v-tab
                v-for="(translations, locale) in galleryMediaObject.translations"
                :key="galleryMediaObject['@id'] + '-' + locale"
              >
                {{ locale }}
              </v-tab>
            </v-tabs>
          </template>
        </v-toolbar>

        <v-tabs-items v-model="tabs">
          <v-tab-item
            v-for="(translations, locale) in galleryMediaObject.translations"
            :key="galleryMediaObject['@id'] + '-' + locale"
          >
            <v-row
              no-gutters
              class="pa-2"
            >
              <v-col
                :cols="12"
                class="pa-2"
              >
                <v-text-field
                  v-model="translations.link"
                  :label="$t('link')"
                  outlined
                  clearable
                />
              </v-col>
            </v-row>
          </v-tab-item>
        </v-tabs-items>

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>

    <v-btn
      x-small
      fab
      @click.stop="dialog = true"
    >
      <v-icon>fa-light fa-pen-to-square</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'VDialogGalleryMediaObject',
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      dialog: false,
      tabs: null
    }
  },
  computed: {
    galleryMediaObject: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  mounted () {

  }
}
</script>
