<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-dialog
    v-model="isOpen"
    :min-width="280"
    :max-width="560"
    persistent
  >
    <v-card>
      <v-card-text>

        <div class="text-h6 mb-1">
          {{ $t('confirm_dialog_title') }}
        </div>

        <slot>{{ $t('confirm_dialog_slot_default') }}</slot>
      </v-card-text>

      <v-card-actions class="justify-end">
        <v-btn
          v-show="!loading"
          text
          @click="cancel"
        >
          {{ $t('button_no') }}
        </v-btn>

        <v-btn
          text
          :loading="loading"
          @click="confirm"
        >
          {{ $t('button_yes') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
/**
 * Use this component as universal confirm modal dialog.
 *
 * This dialog will return either event "confirm" or "cancel", when clicking
 * on the buttons. Note that this dialog won't close automatically, you have
 * to handle the closing yourself by passing boolean value into the "value",
 * and handle the logic on your own when either "confirm" or "cancel" event
 * is fired.
 *
 * @example Here is the example how to use this component:
 *
 *  <v-dialog-confirm
 *    v-model="dialog"
 *    :loading="loading"
 *    @confirm="handleConfirm"
 *    @cancel="handleCancel"
 *    >
 *      Add here your customized content of the dialog, if it's not
 *      passed the default confirmation message will be used.
 *    </v-dialog>
 *
 *    In your Vue <script> you can then handle the logic like this:
 *
 *    methods: {
 *      handleConfirm () {
 *      this.loading = true
 *      // do some calculations or whatever you want
 *      this.loading = false
 *      this.dialog = false
 *    },
 *    handleCancel () {
 *      this.dialog = false
 *    }
 */

export default {
  name: 'VDialogConfirm',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  emits: [
    'confirm',
    'cancel'
  ],
  computed: {
    isOpen: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    confirm () {
      this.$emit('confirm')
    },
    cancel () {
      this.$emit('cancel')
    }
  }
}
</script>
