<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <v-dialog
    v-model="show"
    max-width="400"
    :elevation="24"
    persistent
  >
    <v-card :color="dialog.color">
      <v-card-title class="headline">
        <v-icon left>
          {{ dialog.icon }}
        </v-icon>
        <span>{{ message }}</span>
      </v-card-title>

      <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          text
          @click="show = false"
        >
          OK
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'VDialogBus',
  data () {
    return {
      show: false,
      message: null,
      dialog: {
        color: 'success',
        icon: 'fa fa-fw fa-solid fa-check-circle'
      }
    }
  },
  created () {
    this.$eventHub.$on('dialog-success', message => {
      this.displayDialog(message, 'success')
    })
    this.$eventHub.$on('dialog-error', message => {
      this.displayDialog(message, 'error')
    })
  },
  methods: {
    displayDialog (message, type) {
      this.message = message
      this.show = true

      switch (type) {
      case 'success':
        this.dialog.color = 'success'
        this.dialog.icon = 'fa fa-fw fa-solid fa-check-circle'
        break
      case 'error':
        this.dialog.color = 'error'
        this.dialog.icon = 'fa fa-fw fa-solid fa-triangle-exclamation'
        break
      default:
        this.dialog.color = 'info'
        this.dialog.icon = 'fa fa-fw fa-solid fa-info-circle'
      }
    }
  }
}
</script>
