<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>

    <v-dialog
      v-model="dialog"
      :min-width="280"
      :max-width="560"
      persistent
    >
      <v-card>
        <v-card-text>

          <div class="text-h6 mb-1">
            {{ $t('price_translations') }}
          </div>

          <v-tabs
            v-model="currentLocale"
            align-with-name
            background-color="transparent"
            fixed-tab
          >
            <v-tab
              v-for="item in translations"
              :key="item.locale"
              :href="'#' + item.locale"
            >
              <v-badge
                color="error"
                content="!"
                :value="!hasTranslation(translations, item.locale, 'name')"
              >
                <span v-text="item.locale" />
              </v-badge>
            </v-tab>
          </v-tabs>

          <v-tabs-items v-model="currentLocale">
            <v-tab-item
              v-for="item in translations"
              :key="'translations-' + item.locale"
              :value="item.locale"
              eager
            >

              <v-text-field-custom
                v-model="item.name"
                :label="$t('name')"
                class="my-4"
              />

              <v-textarea
                outlined
                v-model="item.content"
                :label="$t('content')"
              >
              </v-textarea>

            </v-tab-item>
          </v-tabs-items>

        </v-card-text>

        <v-card-actions class="justify-end">
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-btn
      @click="dialog = true"
      depressed
      small
    >
      <v-icon small>
        translate
      </v-icon>
    </v-btn>
  </div>
</template>

<script>
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'
import { hasTranslationMixin } from '../../mixins/hasTranslationMixin'

export default {
  name: 'VDialogProductVariantPriceTranslation',
  components: {
    VTextFieldCustom
  },
  mixins: [
    hasTranslationMixin
  ],
  data () {
    return {
      currentLocale: null,
      dialog: false,
    }
  },
  props: {
    value: {
      type: Object,
      required: true,
    }
  },
  computed: {
    translations: {
      get () {
        return this.value
      },
      set (val) {
        console.log('setter')
        this.$emit('input', val)
      }
    }
  }
}
</script>
