<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-expansion-panels
    v-model="menu"
    class="filter-expansion"
  >
    <v-expansion-panel>
      <v-expansion-panel-header>
        <v-row no-gutters>
          <v-col
            :cols="12"
            class="mx-n2"
          >
            <v-toolbar-title>{{ $t('filter_and_search') }}</v-toolbar-title>
          </v-col>
        </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-row
          class="pa-2"
          no-gutters
        >
          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="id"
              :hide-details="true"
              :label="$t('id')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="email"
              :hide-details="true"
              :label="$t('email')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="displayName"
              :hide-details="true"
              :label="$t('name')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-autocomplete-user-group
              v-model="userGroups"
              multiple
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-autocomplete-user-role v-model="roles" />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-total-score
              v-model="totalScore"
              :hide-details="true"
              clearable
              outlined
            />
          </v-col>
          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-date-picker
              v-model="lastActivityAt"
              :label="$t('last activity')"
              outlined
            />
          </v-col>

          <v-col class="flex-grow-0 ma-0 pa-2">
            <v-radio-group
              v-model="enabled"
              class="ma-0 mt-3"
              hide-details
              row
            >
              <v-radio
                :key="0"
                :label="$t('any')"
                :value="-1"
              />
              <v-radio
                :key="1"
                :label="$t('enabled')"
                :value="1"
              />
              <v-radio
                :key="2"
                :label="$t('disabled')"
                :value="0"
              />
            </v-radio-group>
          </v-col>

          <v-col class="mt-3 pa-2 justify-end d-flex">
            <v-btn-filter-reset
              :loading="loading"
              @submit="reset"
            />

            <v-btn-filter-search
              :loading="loading"
              @submit="submit"
            />
          </v-col>
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import isNil from 'lodash/isNil'
import has from 'lodash/has'
import get from 'lodash/get'
import { useDataTableStore } from '../../stores/dataTableStore'
import { DateTime } from 'luxon'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'
import VAutocompleteUserGroup from '../v-autocomplete/VAutocompleteUserGroup.vue'
import VAutocompleteUserRole from '../v-autocomplete/VAutocompleteUserRole.vue'
import VTextFieldDatePicker from '../v-text-field/VTextFieldDatePicker.vue'
import VTextFieldTotalScore from '../v-text-field/VTextFieldTotalScore.vue'
import { restoreDataTableFiltersMixin } from '../../mixins/restoreDataTableFiltersMixin'
import VBtnFilterSearch from '../v-btn/VBtnFilterSearch.vue'
import VBtnFilterReset from '../v-btn/VBtnFilterReset.vue'

export default {
  name: 'FilterUsers',
  components: {
    VTextFieldDatePicker,
    VTextFieldCustom,
    VAutocompleteUserGroup,
    VAutocompleteUserRole,
    VTextFieldTotalScore,
    VBtnFilterSearch,
    VBtnFilterReset
  },
  mixins: [
    restoreDataTableFiltersMixin
  ],
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/users')
    },
    menu: {
      get () {
        return this.store.isMenuOpened('filters')
      },
      set (value) {
        this.store.setMenu('filters', value)
      }
    },

    id: {
      get () {
        return this.store.getFilter('id')
      },
      set (value) {
        this.store.setFilter('id', value)
        this.store.setParam('id', value)
      }
    },

    email: {
      get () {
        return this.store.getFilter('email')
      },
      set (value) {
        this.store.setFilter('email', value)
        this.store.setParam('email', value)
      }
    },

    displayName: {
      get () {
        return this.store.getFilter('displayName')
      },
      set (value) {
        this.store.setFilter('displayName', value)
        this.store.setParam('displayName', value)
      }
    },

    userGroups: {
      get () {
        return this.store.getFilter('userGroups')
      },
      set (value) {
        this.store.setFilter('userGroups', value)
        this.store.setParam('userGroups.id', value)
      }
    },

    createdAt: {
      get () {
        return this.store.getFilter('createdAt')
      },
      set (value) {
        this.store.setFilter('createdAt', value)
        this.store.setParam(
          'createdAt[before]',
          DateTime.fromISO(value).plus({ days: 1 }).toISODate()
        )
        this.store.setParam('createdAt[after]', value)
      }
    },
    roles: {
      get () {
        return this.store.getFilter('roles')
      },
      set (value) {
        this.store.setFilter('roles', value)
        this.store.setParam('roles', value)
      }
    },
    enabled: {
      get () {
        return this.store.getFilter('enabled', -1)
      },
      set (value) {
        this.store.setFilter('enabled', value)
        this.store.setParam('enabled', value === -1 ? null : value)
      }
    },
    totalScore: {
      get () {
        return this.store.getFilter('totalScore')
      },
      set (value) {
        this.store.setFilter('totalScore', value)
        this.store.setParam('totalScore', value)
      }
    },
    lastActivityAt: {
      get () {
        return this.store.getFilter('lastActivityAt')
      },
      set (value) {
        this.store.setFilter('lastActivityAt', value)
        this.store.setParam(
          'lastActivityAt[before]',
          DateTime.fromISO(value).plus({ days: 1 }).toISODate()
        )
        this.store.setParam('lastActivityAt[after]', value)
      }
    }
  },
  methods: {
    userGroupName (userGroup) {
      const locale = document.documentElement.lang
      if (
        !isNil(locale) &&
        has(userGroup, 'translations.' + locale + '.name')
      ) {
        return get(userGroup, 'translations.' + locale + '.name')
      }

      return userGroup.id
    },
    submit () {
      this.store.readCollection()
    }
  }
}
</script>
