<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-expansion-panels
    v-model="menu"
    class="filter-expansion"
  >
    <v-expansion-panel>
      <v-expansion-panel-header>
        <v-row no-gutters>
          <v-col
            :cols="12"
            class="mx-n2"
          >
            <v-toolbar-title>{{ $t('filter_and_search') }}</v-toolbar-title>
          </v-col>
        </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-row
          class="pa-2"
          no-gutters
        >
          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="id"
              :hide-details="true"
              :label="$t('id')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="number"
              :hide-details="true"
              :label="$t('number')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="headline"
              :hide-details="true"
              :label="$t('label')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="applicant"
              :hide-details="true"
              :label="$t('applicant')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="projectStatus"
              :hide-details="true"
              :label="$t('status')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="focus"
              :hide-details="true"
              :label="$t('focus_name')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="callNumber"
              :hide-details="true"
              :label="$t('call_number')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="approvedAmount"
              :hide-details="true"
              :label="$t('approved_amount')"
              clearable
              outlined
            />
          </v-col>

          <v-col class="mt-3 pa-2 justify-end d-flex">
            <v-btn-filter-reset
              :loading="loading"
              @submit="reset"
            />

            <v-btn-filter-search
              :loading="loading"
              @submit="submit"
            />
          </v-col>
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import { useDataTableStore } from '../../stores/dataTableStore'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'
import { restoreDataTableFiltersMixin } from '../../mixins/restoreDataTableFiltersMixin'
import VBtnFilterSearch from '../v-btn/VBtnFilterSearch.vue'
import VBtnFilterReset from '../v-btn/VBtnFilterReset.vue'
export default {
  name: 'FilterGrantProjects',
  components: {
    VTextFieldCustom,
    VBtnFilterSearch,
    VBtnFilterReset
  },
  mixins: [
    restoreDataTableFiltersMixin
  ],
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      popover: {
        createdAt: false,
        publishedAt: false,
        paidAt: false
      }
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/grant-projects')
    },
    menu: {
      get () {
        return this.store.isMenuOpened('filters')
      },
      set (value) {
        this.store.setMenu('filters', value)
      }
    },

    id: {
      get () {
        return this.store.getFilter('id')
      },
      set (value) {
        this.store.setFilter('id', value)
        this.store.setParam('id', value)
      }
    },

    number: {
      get () {
        return this.store.getFilter('number')
      },
      set (value) {
        this.store.setFilter('number', value)
        this.store.setParam('number', value)
      }
    },

    headline: {
      get () {
        return this.store.getFilter('headline')
      },
      set (value) {
        this.store.setFilter('headline', value)
        this.store.setParam('translations.*.name[partial]', value)
      }
    },

    applicant: {
      get () {
        return this.store.getFilter('applicant')
      },
      set (value) {
        this.store.setFilter('applicant', value)
        this.store.setParam('applicant', value)
      }
    },

    projectStatus: {
      get () {
        return this.store.getFilter('projectStatus')
      },
      set (value) {
        this.store.setFilter('projectStatus', value)
        this.store.setParam('projectStatus', value)
      }
    },

    focus: {
      get () {
        return this.store.getFilter('focus')
      },
      set (value) {
        this.store.setFilter('focus', value)
        this.store.setParam('translations.*.focus[partial]', value)
      }
    },

    callNumber: {
      get () {
        return this.store.getFilter('callNumber')
      },
      set (value) {
        this.store.setFilter('callNumber', value)
        this.store.setParam('callNumber', value)
      }
    },

    approvedAmount: {
      get () {
        return this.store.getFilter('approvedAmount')
      },
      set (value) {
        this.store.setFilter('approvedAmount', value)
        this.store.setParam('approvedAmount', value !== null ? value * 100 : null)
      }
    }
  },
  methods: {
    submit () {
      this.store.readCollection()
    }
  }
}
</script>
