<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-expansion-panels
    v-model="menu"
    class="filter-expansion"
  >
    <v-expansion-panel>
      <v-expansion-panel-header>
        <v-row no-gutters>
          <v-col
            :cols="12"
            class="mx-n2"
          >
            <v-toolbar-title>{{ $t('filter_and_search') }}</v-toolbar-title>
          </v-col>
        </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-row
          class="pa-2"
          no-gutters
        >
          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="id"
              :hide-details="true"
              :label="$t('id')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="name"
              :hide-details="true"
              :label="$t('gallery_name')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-date-picker
              v-model="createdAt"
              :label="$t('created_at')"
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-date-picker
              v-model="publishedAt"
              :label="$t('published_at_date')"
              outlined
            />
          </v-col>

          <v-col class="flex-grow-0 pa-2">
            <v-radio-group
              v-model="status"
              class="ma-0 mt-3"
              hide-details
              row
            >
              <v-radio
                :key="0"
                :label="$t('any')"
                :value="-1"
              />
              <v-radio
                :key="1"
                :label="$t('enabled')"
                value="published"
              />
              <v-radio
                :key="2"
                :label="$t('disabled')"
                value="draft"
              />
            </v-radio-group>
          </v-col>

          <v-col class="mt-3 pa-2 justify-end d-flex">
            <v-btn-filter-reset
              :loading="loading"
              @submit="reset"
            />

            <v-btn-filter-search
              :loading="loading"
              @submit="submit"
            />
          </v-col>
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import VTextFieldDatePicker from '../v-text-field/VTextFieldDatePicker.vue'
import { useDataTableStore } from '../../stores/dataTableStore'
import { DateTime } from 'luxon'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'
import { restoreDataTableFiltersMixin } from '../../mixins/restoreDataTableFiltersMixin'
import VBtnFilterSearch from '../v-btn/VBtnFilterSearch.vue'
import VBtnFilterReset from '../v-btn/VBtnFilterReset.vue'
export default {
  name: 'FilterGalleries',
  components: {
    VTextFieldDatePicker,
    VTextFieldCustom,
    VBtnFilterSearch,
    VBtnFilterReset
  },
  mixins: [
    restoreDataTableFiltersMixin
  ],
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      filter: {
        createdAt: null,
        publishedAt: null,
        status: null
      }
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/galleries')
    },
    menu: {
      get () {
        return this.store.isMenuOpened('filters')
      },
      set (value) {
        this.store.setMenu('filters', value)
      }
    },

    id: {
      get () {
        return this.store.getFilter('id')
      },
      set (value) {
        this.store.setFilter('id', value)
        this.store.setParam('id', value)
      }
    },

    name: {
      get () {
        return this.store.getFilter('name')
      },
      set (value) {
        this.store.setFilter('name', value)
        this.store.setParam('translations.*.name[partial]', value)
      }
    },

    sections: {
      get () {
        return this.store.getFilter('sections')
      },
      set (value) {
        this.store.setFilter('sections', value)
        this.store.setParam('sections.id', value)
      }
    },

    createdAt: {
      get () {
        return this.store.getFilter('createdAt')
      },
      set (value) {
        this.store.setFilter('createdAt', value)
        this.store.setParam(
          'createdAt[before]',
          DateTime.fromISO(value).plus({ days: 1 }).toISODate()
        )
        this.store.setParam('createdAt[after]', value)
      }
    },

    publishedAt: {
      get () {
        return this.store.getFilter('createdAt')
      },
      set (value) {
        this.store.setFilter('publishedAt', value)
        this.store.setParam(
          'publishedAt[before]',
          DateTime.fromISO(value).plus({ days: 1 }).toISODate()
        )
        this.store.setParam('publishedAt[after]', value)
      }
    },

    status: {
      get () {
        return this.store.getFilter('status', -1)
      },
      set (value) {
        this.store.setFilter('status', value)
        this.store.setParam(
          'status',
          value === -1 ? null : value === 1 ? 'published' : 'draft'
        )
      }
    }
  },
  methods: {
    submit () {
      this.store.readCollection()
    }
  }
}
</script>
