<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-expansion-panels
    v-model="menu"
    class="filter-expansion"
  >
    <v-expansion-panel>
      <v-expansion-panel-header>
        <v-row no-gutters>
          <v-col
            :cols="12"
            class="mx-n2"
          >
            <v-toolbar-title>{{ $t("newsletter") }}</v-toolbar-title>
          </v-col>
        </v-row>
      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import { useDataTableStore } from '../../stores/dataTableStore'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'
import { restoreDataTableFiltersMixin } from '../../mixins/restoreDataTableFiltersMixin'
import VBtnFilterSearch from '../v-btn/VBtnFilterSearch.vue'
import VBtnFilterReset from '../v-btn/VBtnFilterReset.vue'
export default {
  name: 'FilterNewsletters',
  components: {
    VTextFieldCustom,
    VBtnFilterSearch,
    VBtnFilterReset
  },
  mixins: [
    restoreDataTableFiltersMixin
  ],
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      popover: {
        createdAt: false,
        publishedAt: false,
        paidAt: false
      }
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/email-messages')
    },
    menu: {
      get () {
        return this.store.isMenuOpened('filters')
      },
      set (value) {
        this.store.setMenu('filters', value)
      }
    },

    id: {
      get () {
        return this.store.getFilter('id')
      },
      set (value) {
        this.store.setFilter('id', value)
        this.store.setParam('id', value)
      }
    }
  },
  methods: {
    submit () {
      this.store.readCollection()
    }
  }
}
</script>
