<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-expansion-panels
    v-model="menu"
    class="filter-expansion"
  >
    <v-expansion-panel>
      <v-expansion-panel-header>
        <v-row no-gutters>
          <v-col
            :cols="12"
            class="mx-n2"
          >
            <v-toolbar-title>{{ $t('filter_and_search') }}</v-toolbar-title>
          </v-col>
        </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-row
          class="pa-2"
          no-gutters
        >
          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="id"
              :hide-details="true"
              :label="$t('id')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="orderNumber"
              :hide-details="true"
              :label="$t('order_number')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-date-picker
              v-model="createdAt"
              :label="$t('created_at')"
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-autocomplete-order-status
              v-model="status"
              outlined
              :label="$t('v_order_index_status')"
              clearable
            />
          </v-col>

          <v-col class="mt-3 pa-2 justify-end d-flex">
            <v-btn-filter-reset
              :loading="loading"
              @submit="reset"
            />

            <v-btn-filter-search
              :loading="loading"
              @submit="submit"
            />
          </v-col>
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import { useDataTableStore } from '../../stores/dataTableStore'
import { DateTime } from 'luxon'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'
import VTextFieldDatePicker from '../v-text-field/VTextFieldDatePicker.vue'
import VAutocompleteOrderStatus from '../v-autocomplete/VAutocompleteOrderStatus.vue'
import { restoreDataTableFiltersMixin } from '../../mixins/restoreDataTableFiltersMixin'
import VBtnFilterSearch from '../v-btn/VBtnFilterSearch.vue'
import VBtnFilterReset from '../v-btn/VBtnFilterReset.vue'
export default {
  name: 'FilterOrders',
  components: {
    VTextFieldCustom,
    VTextFieldDatePicker,
    VAutocompleteOrderStatus,
    VBtnFilterSearch,
    VBtnFilterReset
  },
  mixins: [
    restoreDataTableFiltersMixin
  ],
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/orders')
    },
    menu: {
      get () {
        return this.store.isMenuOpened('filters')
      },
      set (value) {
        this.store.setMenu('filters', value)
      }
    },

    id: {
      get () {
        return this.store.getFilter('id')
      },
      set (value) {
        this.store.setFilter('id', value)
        this.store.setParam('id', value)
      }
    },

    orderNumber: {
      get () {
        return this.store.getFilter('orderNumber')
      },
      set (value) {
        this.store.setFilter('orderNumber', value)
        this.store.setParam('orderNumber', value)
      }
    },

    status: {
      get () {
        return this.store.getFilter('status')
      },
      set (value) {
        this.store.setFilter('status', value)
        this.store.setParam('status', value)
      }
    },

    createdAt: {
      get () {
        return this.store.getFilter('createdAt')
      },
      set (value) {
        this.store.setFilter('createdAt', value)
        this.store.setParam(
          'createdAt[before]',
          DateTime.fromISO(value).plus({ days: 1 }).toISODate()
        )
        this.store.setParam('createdAt[after]', value)
      }
    }
  },
  methods: {
    submit () {
      this.store.readCollection()
    }
  }
}
</script>
