<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-expansion-panels
    v-model="menu"
    class="filter-expansion"
  >
    <v-expansion-panel>
      <v-expansion-panel-header>
        <v-row no-gutters>
          <v-col
            :cols="12"
            class="mx-n2"
          >
            <v-toolbar-title>{{ $t('filter_and_search') }}</v-toolbar-title>
          </v-col>
        </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-row
          no-gutters
          class="pa-2"
        >
          <v-col
            :cols="12"
            :sm="6"
            :md="4"
            :lg="3"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="id"
              outlined
              :hide-details="true"
              :label="$t('id')"
              clearable
            />
          </v-col>
          <v-col
            :cols="12"
            :sm="6"
            :md="4"
            :lg="3"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-date-picker
              v-model="createdAt"
              :label="$t('createdAt')"
              outlined
            />
          </v-col>
          <v-col class="flex-grow-0 mt-3 pa-2">
            <v-switch
              v-model="items"
              hide-details
              class="mt-0"
              :label="$t('with items')"
            />
          </v-col>
          <v-col class="flex-grow-0 mt-3 pa-2">
            <v-switch
              v-model="order"
              hide-details
              class="mt-0"
              :label="$t('with order')"
            />
          </v-col>
          <v-col class="mt-3 pa-2 justify-end d-flex">
            <v-btn-filter-reset
              :loading="loading"
              @submit="reset"
            />

            <v-btn-filter-search
              :loading="loading"
              @submit="submit"
            />
          </v-col>
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import { useDataTableStore } from '../../stores/dataTableStore'
import { DateTime } from 'luxon'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'
import VTextFieldDatePicker from '../v-text-field/VTextFieldDatePicker.vue'
import { restoreDataTableFiltersMixin } from '../../mixins/restoreDataTableFiltersMixin'
import VBtnFilterSearch from '../v-btn/VBtnFilterSearch.vue'
import VBtnFilterReset from '../v-btn/VBtnFilterReset.vue'
export default {
  name: 'FilterShoppingCarts',
  components: {
    VTextFieldCustom,
    VTextFieldDatePicker,
    VBtnFilterSearch,
    VBtnFilterReset
  },
  mixins: [
    restoreDataTableFiltersMixin
  ],
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      popover: {
        createdAt: false,
        publishedAt: false
      }
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/shopping-carts')
    },
    menu: {
      get () {
        return this.store.isMenuOpened('filters')
      },
      set (value) {
        this.store.setMenu('filters', value)
      }
    },

    id: {
      get () {
        return this.store.getFilter('id')
      },
      set (value) {
        this.store.setFilter('id', value)
        this.store.setParam('id', value)
      }
    },

    createdAt: {
      get () {
        return this.store.getFilter('createdAt')
      },
      set (value) {
        this.store.setFilter('createdAt', value)
        this.store.setParam(
          'createdAt[before]',
          DateTime.fromISO(value).plus({ days: 1 }).toISODate()
        )
        this.store.setParam('createdAt[after]', value)
      }
    },

    items: {
      get () {
        return this.store.getFilter('items')
      },
      set (value) {
        this.store.setFilter('items', value)
        this.store.setParam('items', value)
      }
    },

    order: {
      get () {
        return this.store.getFilter('order')
      },
      set (value) {
        this.store.setFilter('order', value)
        this.store.setParam('order', value)
      }
    }
  },
  methods: {
    submit () {
      this.store.readCollection()
    }
  }
}
</script>
