<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-expansion-panels
    v-model="menu"
    class="filter-expansion"
  >
    <v-expansion-panel>
      <v-expansion-panel-header>
        <v-row no-gutters>
          <v-col
            :cols="12"
            class="mx-n2"
          >
            <v-toolbar-title>{{ $t('filter_and_search') }}</v-toolbar-title>
          </v-col>
        </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-row
          no-gutters
          class="pa-2"
        >
          <v-col
            :cols="12"
            :sm="6"
            :md="4"
            :lg="3"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="id"
              outlined
              :label="$t('id')"
              :hide-details="true"
              clearable
            />
          </v-col>

          <v-col
            :cols="12"
            :sm="6"
            :md="4"
            :lg="3"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="headline"
              outlined
              :hide-details="true"
              :label="$t('headline')"
              clearable
            />
          </v-col>

          <v-col
            :cols="12"
            :sm="6"
            :md="4"
            :lg="3"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-date-picker
              v-model="startAt"
              :label="$t('start_at')"
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :sm="6"
            :md="4"
            :lg="3"
            :xl="2"
            class="pa-2"
          >
            <v-text-field-date-picker
              v-model="createdAt"
              :label="$t('created_at')"
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :lg="3"
            :md="4"
            :sm="6"
            :xl="2"
            class="pa-2"
          >
            <v-autocomplete-user
              v-model="authors"
              :hide-details="true"
              :label="$t('authors')"
              :multiple="true"
            />
          </v-col>

          <v-col class="flex-grow-0 pa-2">
            <v-radio-group
              v-model="enabled"
              hide-details
              row
              class="ma-0 mt-3"
            >
              <v-radio
                :key="0"
                :label="$t('any')"
                :value="-1"
              />
              <v-radio
                :key="1"
                :label="$t('enabled')"
                :value="1"
              />
              <v-radio
                :key="2"
                :label="$t('disabled')"
                :value="0"
              />
            </v-radio-group>
          </v-col>

          <v-col class="mt-3 pa-2 justify-end d-flex">
            <v-btn-filter-reset
              :loading="loading"
              @submit="reset"
            />

            <v-btn-filter-search
              :loading="loading"
              @submit="submit"
            />
          </v-col>
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import { useDataTableStore } from '../../stores/dataTableStore'
import { DateTime } from 'luxon'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'
import VTextFieldDatePicker from '../v-text-field/VTextFieldDatePicker.vue'
import { restoreDataTableFiltersMixin } from '../../mixins/restoreDataTableFiltersMixin'
import VBtnFilterSearch from '../v-btn/VBtnFilterSearch.vue'
import VBtnFilterReset from '../v-btn/VBtnFilterReset.vue'
import VAutocompleteUser from "../v-autocomplete/VAutocompleteUser.vue";

export default {
  name: 'FilterEvents',
  components: {
    VAutocompleteUser,
    VTextFieldCustom,
    VTextFieldDatePicker,
    VBtnFilterSearch,
    VBtnFilterReset
  },
  mixins: [
    restoreDataTableFiltersMixin
  ],
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      popover: {
        startAt: false,
        createdAt: false
      }
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/events')
    },
    menu: {
      get () {
        return this.store.isMenuOpened('filters')
      },
      set (value) {
        this.store.setMenu('filters', value)
      }
    },

    id: {
      get () {
        return this.store.getFilter('id')
      },
      set (value) {
        this.store.setFilter('id', value)
        this.store.setParam('id', value)
      }
    },

    headline: {
      get () {
        return this.store.getFilter('headline')
      },
      set (value) {
        this.store.setFilter('headline', value)
        this.store.setParam('translations.*.headline[partial]', value)
      }
    },

    startAt: {
      get () {
        return this.store.getFilter('startAt')
      },
      set (value) {
        this.store.setFilter('startAt', value)
        this.store.setParam(
          'createdAt[before]',
          DateTime.fromISO(value).plus({ days: 1 }).toISODate()
        )
        this.store.setParam('createdAt[after]', value)
      }
    },

    createdAt: {
      get () {
        return this.store.getFilter('createdAt')
      },
      set (value) {
        this.store.setFilter('createdAt', value)
        this.store.setParam(
          'createdAt[before]',
          DateTime.fromISO(value).plus({ days: 1 }).toISODate()
        )
        this.store.setParam('createdAt[after]', value)
      }
    },

    enabled: {
      get () {
        return this.store.getFilter('enabled', -1)
      },
      set (value) {
        this.store.setFilter('enabled', value)
        this.store.setParam(
          'status',
          value === -1 ? null : value === 1 ? 'published' : 'draft'
        )
      }
    },

    authors: {
      get () {
        return this.store.getFilter('authors')
      },
      set (value) {
        this.store.setFilter('authors', value)
        this.store.setParam('authors.id', value)
      }
    },
  },
  methods: {
    submit () {
      this.store.readCollection()
    }
  }
}
</script>
