<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-expansion-panels
    v-model="menu"
    class="filter-expansion"
  >
    <v-expansion-panel>
      <v-expansion-panel-header>
        <v-row no-gutters>
          <v-col
            :cols="12"
            class="mx-n2"
          >
            <v-toolbar-title>{{ $t('filter_and_search') }}</v-toolbar-title>
          </v-col>
        </v-row>
      </v-expansion-panel-header>

      <v-expansion-panel-content>
        <v-row
          no-gutters
          class="pa-2"
        >
          <v-col
            :cols="12"
            :sm="6"
            :md="3"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="id"
              outlined
              :hide-details="true"
              :label="$t('id')"
              clearable
            />
          </v-col>

          <v-col
            :cols="12"
            :sm="6"
            :md="3"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="personalName"
              :hide-details="true"
              :label="$t('inquiry_personal_name')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :sm="6"
            :md="3"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="companyName"
              :hide-details="true"
              :label="$t('inquiry_company_name')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :sm="6"
            :md="3"
            class="pa-2"
          >
            <v-text-field-custom
              v-model="subject"
              :hide-details="true"
              :label="$t('subject')"
              clearable
              outlined
            />
          </v-col>

          <v-col
            :cols="12"
            :sm="6"
            :md="3"
            class="pa-2"
          >
            <v-autocomplete-inquiry-status v-model="status" />
          </v-col>

          <v-col
            :cols="12"
            :sm="6"
            :md="3"
            class="pa-2"
          >
            <v-text-field-date-picker
              v-model="createdAt"
              :label="$t('created_at')"
              outlined
            />
          </v-col>

          <v-col class="flex-grow-0 pa-2">
            <v-radio-group
              v-model="conversion"
              hide-details
              row
              class="ma-0 mt-3"
            >
              <v-radio
                :key="0"
                :label="$t('any')"
                :value="-1"
              />
              <v-radio
                :key="1"
                :label="$t('with conversion')"
                :value="1"
              />
              <v-radio
                :key="2"
                :label="$t('without conversion')"
                :value="0"
              />
            </v-radio-group>
          </v-col>

          <v-col class="mt-3 pa-2 justify-end d-flex">
            <v-btn-filter-reset
              :loading="loading"
              @submit="reset"
            />

            <v-btn-filter-search
              :loading="loading"
              @submit="submit"
            />
          </v-col>
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import { useDataTableStore } from '../../stores/dataTableStore'
import { DateTime } from 'luxon'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'
import VAutocompleteInquiryStatus from '../v-autocomplete/VAutocompleteInquiryStatus.vue'
import VTextFieldDatePicker from '../v-text-field/VTextFieldDatePicker.vue'
import { restoreDataTableFiltersMixin } from '../../mixins/restoreDataTableFiltersMixin'
import VBtnFilterSearch from '../v-btn/VBtnFilterSearch.vue'
import VBtnFilterReset from '../v-btn/VBtnFilterReset.vue'
export default {
  name: 'FilterInquiries',
  components: {
    VTextFieldCustom,
    VAutocompleteInquiryStatus,
    VTextFieldDatePicker,
    VBtnFilterSearch,
    VBtnFilterReset
  },
  mixins: [
    restoreDataTableFiltersMixin
  ],
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      popover: {
        createdAt: false,
        publishedAt: false
      }
    }
  },
  computed: {
    store () {
      return useDataTableStore('/api/inquiries')
    },
    menu: {
      get () {
        return this.store.isMenuOpened('filters')
      },
      set (value) {
        this.store.setMenu('filters', value)
      }
    },

    id: {
      get () {
        return this.store.getFilter('id')
      },
      set (value) {
        this.store.setFilter('id', value)
        this.store.setParam('id', value)
      }
    },

    createdAt: {
      get () {
        return this.store.getFilter('createdAt')
      },
      set (value) {
        this.store.setFilter('createdAt', value)
        this.store.setParam(
          'createdAt[before]',
          DateTime.fromISO(value).plus({ days: 1 }).toISODate()
        )
        this.store.setParam('createdAt[after]', value)
      }
    },

    conversion: {
      get () {
        return this.store.getFilter('conversion')
      },
      set (value) {
        this.store.setFilter('conversion', value)
        this.store.setParam(
          'conversion',
          value === -1 ? null : value ? 'true' : 'false'
        )
      }
    },

    subject: {
      get () {
        return this.store.getFilter('subject')
      },
      set (value) {
        this.store.setFilter('subject', value)
        this.store.setParam('subject', value)
      }
    },

    personalName: {
      get () {
        return this.store.getFilter('personalName')
      },
      set (value) {
        this.store.setFilter('personalName', value)
        this.store.setParam('personalName[partial]', value)
      }
    },

    companyName: {
      get () {
        return this.store.getFilter('companyName')
      },
      set (value) {
        this.store.setFilter('companyName', value)
        this.store.setParam('companyName[partial]', value)
      }
    },

    status: {
      get () {
        return this.store.getFilter('status')
      },
      set (value) {
        this.store.setFilter('status', value)
        this.store.setParam('status', value)
      }
    }

  },
  methods: {
    submit () {
      this.store.readCollection()
    }
  }
}
</script>
