<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-breadcrumbs :items="items">
    <template #divider>
      <i class="fa fa-fw fa-regular fa-xs fa-chevron-right" />
    </template>
  </v-breadcrumbs>
</template>

<script>
import { attempt, map, isError } from 'lodash'

export default {
  name: 'Breadcrumb',
  data: function () {
    return {
      items: []
    }
  },
  mounted () {
    const el = document.querySelector('#breadcrumb')

    // if element does not exist, we can't do much more
    if (el === null) {
      console.error('Component breadcrumb requested element matching [data-breadcrumb] but this element has not been found')
      return false
    }

    const data = el.getAttribute('data-breadcrumb')
    const json = attempt(JSON.parse.bind(null, data))

    // validate JSON
    if (isError(json)) {
      console.error('Component breadcrumb tried to parse JSON data from [data-breadcrumb] but JSON is invalid')
      return false
    }

    this.items = map(json, (value) => {
      return {
        href: value.uri,
        disabled: false,
        link: true,
        text: value.label
      }
    })
  }
}
</script>
