<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-avatar
    left
    :size="size"
    :color="color"
  >
    <img
      v-if="value.avatar"
      :src="src"
      :alt="alt"
    >
    <span
      v-else
      v-text="letter"
    />
  </v-avatar>
</template>

<script>
import isNil from 'lodash/isNil'
import isString from 'lodash/isString'

export default {
  name: 'VAvatarUser',
  props: {
    value: {
      required: true
    },
    colorBadge: {
      type: Boolean,
      default: true
    },
    size: {
      type: Number,
      default: 24
    }
  },
  computed: {
    src () {
      return this.value.avatar
    },
    /**
       * Calculate "alt" attribute for the user avatar.
       * The displayName, email property is used, if empty the empty string is returned.
       * @returns {string}
       */
    alt () {
      if (!isNil(this.value.displayName)) {
        return this.value.displayName
      }

      if (!isNil(this.value.email)) {
        return this.value.email
      }

      return ''
    },

    /**
       * Return the first letter of the user's display name.
       * @returns {string}
       */
    letter () {
      if (!isNil(this.value.displayName) && isString(this.value.displayName)) {
        return this.value.displayName.substring(0, 1)
      }

      return ''
    },
    /**
       * Return user controll or default the default color if not color is set.
       * @returns {string}
       */
    color () {
      if (!isNil(this.value.color)) {
        return this.value.color
      }

      return '#cacaca'
    }
  }
}
</script>
