<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div v-show="url">
    <v-banner
      two-line
      shaped
    >
      <v-avatar
        slot="icon"
        color="deep-purple accent-4"
        size="40"
      >
        <v-icon
          icon="mdi-lock"
          color="white"
        >
          mdi-calendar-sync
        </v-icon>
      </v-avatar>

      <p class="mb-4">{{ $t('export_calendar_url') }}</p>
      <p><small>{{ $t('export_calendar_note')}}</small></p>

      <template #actions>
        <div class="d-flex justify-end">
          <!-- copy button-->
          <v-btn
            text
            :loading="loading"
            depressed
            @click="copy"
          >
            <v-icon
              left
            >
              mdi-content-copy
            </v-icon>{{ $t('copy_link') }}
          </v-btn>

          <!-- download button -->
          <v-btn
            text
            depressed
            :href="url"
          >
            <v-icon
              left
            >
              mdi-calendar-cursor
            </v-icon>{{ $t('subscribe') }}
          </v-btn>
        </div>
      </template>
    </v-banner>
  </div>
</template>

<script>
import Axios from '../composables/ajax'

export default {
  name: 'VBannerCalendarUrl',
  data () {
    return {
      url: null,
      loading: false
    }
  },
  created () {
    Axios.get('/api/events/calendar/url').then((response) => {
      this.url = response.data.url
    }).catch(() => {
      this.url = null
    })
  },
  methods: {
    copy () {
      navigator.clipboard.writeText(this.url)
      this.loading = true
      window.setTimeout(() => {
        this.loading = false
      }, 500)
    }
  }
}
</script>
