<template>
  <div :ref="ref + '-wrapper'">
    <v-card class="elevation-0">
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('galleries') }}</v-toolbar-title>
        <v-spacer />

        <v-tooltip bottom>
          <template #activator="{ on, attrs }">
            <v-btn
              icon
              :disabled="disabled"
              v-bind="attrs"
              @click.prevent="browse"
              v-on="on"
            >
              <v-icon>upload</v-icon>
            </v-btn>
          </template>
          <span>{{ $t('upload_file') }}</span>
        </v-tooltip>

        <v-tooltip bottom>
          <template #activator="{ on, attrs }">
            <v-btn
              icon
              :disabled="disabled"
              v-bind="attrs"
              @click.prevent="addGallery"
              v-on="on"
            >
              <v-icon>add</v-icon>
            </v-btn>
          </template>
          <span>{{ $t('add_another_gallery') }}</span>
        </v-tooltip>

        <!-- tabs extension for the toolbar -->
        <template v-if="hasGalleries" #extension>
          <v-tabs v-model="currentGallery" align-with-title>
            <v-tab
              v-for="(gallery, index) in galleries"
              :key="'v-tab-' + index"
              :value="index"
            >
              <v-icon>fa-light fa-icons fa-fw</v-icon>
            </v-tab>
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-if="hasGalleries" v-model="currentGallery">
        <v-tab-item
          v-for="(gallery, index) in galleries"
          :key="'v-tab-item-' + index"
          align-with-title
          :value="index"
        >
          <v-row no-gutters class="pa-2">
            <!-- finished items (icon only) -->
            <v-col
              v-for="(galleryMediaObject, index) in gallery.galleryMediaObjects"
              :key="galleryMediaObject.id"
              :cols="6"
              :sm="4"
              :xl="2"
              class="pa-2"
            >
              <v-card
                outlined
                height="100%"
                class="pa-2 pb-14 text-body-2 text-center"
              >
                <v-media-object-thumb :value="galleryMediaObject.mediaObject" />

                <div class="my-2">
                  {{ galleryMediaObject.mediaObject.originalName }}
                </div>

                <div class="d-flex justify-center">
                  <div class="pa-2">
                    <v-btn-delete
                      :auto-redirect="false"
                      icon
                      :value="galleryMediaObject"
                      :disabled="disabled"
                      @delete="removeItem"
                    />
                  </div>
                  <div class="pa-2">
                    <v-btn-dialog-gallery-media-object :value="galleryMediaObject" />
                  </div>
                </div>
              </v-card>
            </v-col>

            <!-- in progress (with progress bar) -->
            <v-col
              v-for="(file, index) in queue.progress"
              :key="file.uid"
              :cols="6"
              :sm="4"
              :xl="2"
              class="pa-2"
            >
              <v-card
                outlined
                height="100%"
                class="pa-2 text-body-2 text-center"
              >
                <v-progress-circular
                  :width="5"
                  color="green"
                  size="50"
                  :value="file.progress"
                  class="d-flex ma-auto mb-2"
                >
                  {{ file.progress }} %
                </v-progress-circular>
                <div class="my-2">
                  {{ file.name }}
                </div>
              </v-card>
            </v-col>

            <!-- pending files (empty progress bar) -->
            <v-col
              v-for="(file, index) in queue.pending"
              :key="file.uid"
              :cols="6"
              :sm="4"
              :xl="2"
              class="pa-2"
            >
              <v-card
                outlined
                height="100%"
                class="pa-2 text-body-2 text-center"
              >
                <v-progress-circular
                  :width="5"
                  color="grey"
                  size="50"
                  indeterminate
                  class="d-flex ma-auto mb-2"
                >
                  {{ file.progress }}
                </v-progress-circular>
                <div class="my-2">
                  {{ file.name }}
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
    <!-- hidden input for handling the file uploads -->
    <input :ref="ref + '-input'" type="file" multiple style="display: none" />
  </div>
</template>

<script>
import { uniqueId, findIndex, size } from 'lodash'
import Axios from '../composables/ajax'
import { convertToIri } from '../utils/iri_converter'
import VBtnDelete from './v-btn/VBtnDelete.vue'
import VMediaObjectThumb from './v-media/VMediaObjectThumb.vue'
import VBtnDialogGalleryMediaObject from './v-btn/VBtnDialogGalleryMediaObject.vue'
import { crud } from '../composables'
import { useGalleryStore } from '../stores'

export default {
  name: 'VGalleries',
  components: {
    VBtnDialogGalleryMediaObject,
    VBtnDelete,
    VMediaObjectThumb
  },
  props: {
    value: {
      type: Array,
      default: null
    },
    maxParallel: {
      type: Number,
      default: 5
    },
    autoUpload: {
      type: Boolean,
      default: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      ref: null,
      wrapperEl: null,
      inputEl: null,
      queue: {
        pending: [],
        progress: [],
        finished: []
      },
      interval: null,
      currentGallery: null
    }
  },
  computed: {
    galleries: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    hasGalleries () {
      return size(this.galleries) > 0
    }
  },
  created () {
    this.ref = 'v-upload' + uniqueId()
  },
  mounted () {
    this.inputEl = this.$refs[this.ref + '-input']
    this.inputEl.addEventListener('change', () => this.fillQueueFromInputEl())
  },
  methods: {
    /**
     * Simulate click on the hidden file input.
     */
    browse () {
      this.inputEl.click()
    },
    /**
     * Fill files ready for upload into the upload queue.
     */
    fillQueueFromInputEl () {
      for (let i = 0; i < this.inputEl.files.length; i++) {
        this.queue.pending.push({
          uid: 'file-' + uniqueId(),
          name: this.inputEl.files[i].name,
          file: this.inputEl.files[i],
          progress: 0,
          error: null
        })
      }

      if (this.autoUpload) {
        this.upload()
      }
    },
    async upload() {
      try {
        if (this.currentGallery === null) {
          const response = await crud.createItem('/api/galleries', {})
          this.galleries.push(response.data)
          this.currentGallery = 0
        }

        const currentGallery = this.galleries[this.currentGallery]
        const store = useGalleryStore(currentGallery['@id'])
        await store.readItem()

        this.interval = setInterval(async () => {
          const freeSpots = this.maxParallel - this.queue.progress.length < 0 ? 0 : this.maxParallel - this.queue.progress.length

          if (freeSpots > 0) {
            const files = this.queue.pending.splice(0, freeSpots)

            for (let i = 0; i < files.length; i++) {
              this.queue.progress.push(files[i])

              const formData = new FormData()
              formData.append('file', files[i].file)

              try {
                const response = await Axios.post('/api/media-objects.json', formData, {
                  headers: {
                    'Content-Type': 'multipart/form-data',
                    Accept: 'application/json'
                  },
                  onUploadProgress: (progressEvent) => {
                    files[i].progress = (progressEvent.loaded / progressEvent.total) * 100
                  }
                })

                const finishedFile = this.queue.progress.splice(findIndex(this.queue.progress, (o) => o.uid === files[i].uid), 1)
                this.queue.finished.push(finishedFile[0])

                const gallery = store.getItem()
                gallery.galleryMediaObjects.push({
                  mediaObject: {
                    '@id': null,
                    id: null,
                    contentUrl: null,
                    translations: []
                  },
                  priority: gallery.galleryMediaObjects.length + 1
                })

                const index = gallery.galleryMediaObjects.length - 1
                const mediaObject = gallery.galleryMediaObjects[index].mediaObject

                mediaObject.contentUrl = response.data.contentUrl
                mediaObject['@id'] = convertToIri(response.data.id, 'media-objects')
                mediaObject.id = response.data.id
                mediaObject.mime = response.data.mime
                mediaObject.metadata = response.data.metadata
                mediaObject.originalName = response.data.originalName
                mediaObject.originalFileName = response.data.originalFileName

                await store.updateItem()
                await store.readItem()

                // Force reactivity
                this.$set(this.galleries, this.currentGallery, { ...store.getItem() })
              } catch (err) {
                files[i].error = err.data.detail
              }
            }
          }

          // Stop queue checker, when there is nothing in the pending queue
          if (this.queue.pending.length === 0 && this.queue.progress.length === 0) {
            clearInterval(this.interval)
          }
        }, 1000)
      } catch (error) {
        console.error('Failed to upload:', error)
      }
    },
    async addGallery() {
      try {
        const response = await crud.createItem('/api/galleries', {})
        this.galleries.push(response.data)
        this.currentGallery = this.galleries.length - 1
      } catch (error) {
        console.error('Failed to add gallery:', error)
      }
    },
    removeItem(iri) {
      const gallery = this.galleries[this.currentGallery]
      const index = findIndex(gallery.galleryMediaObjects, (o) => o.id === iri)

      if (index !== -1) {
        gallery.galleryMediaObjects.splice(index, 1)
        this.$set(this.galleries, this.currentGallery, { ...gallery }) // Ensure reactivity
      }
    }
  }
}
</script>
