<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-menu>
      <!-- menu -->

      <v-card
        class="mx-auto"
        max-width="600"
        tile
      >
        <v-card-title>
          {{ $t('multiple_languages_title') }}
        </v-card-title>

        <v-card-subtitle>
          {{ $t('multiple_languages_subtitle', { locale: currentLocale }) }}
        </v-card-subtitle>

        <v-list-item
          v-for="availableLocale in availableLocales"
          :key="`locale-${availableLocale}`"
          two-line
        >
          <v-list-item-action>
            <v-chip
              small
              label
            >
              {{ availableLocale }}
            </v-chip>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>{{ getTranslationForLocale(availableLocale) }}</v-list-item-title>
            <v-list-item-subtitle>{{ getLocaleName(availableLocale) }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>

      <!-- button  which opens menu -->
      <template #activator="{ on }">
        <!-- badge is visible only when translations > 1 -->
        <v-badge
          class="pt-2 pb-2 pr-2"
          :value="countAvailableLocales > 1"
          bordered
          :content="countAvailableLocales"
          overlap
          color="green accent-4"
          top
          right
        >
          <v-btn
            depressed
            :disabled="countAvailableLocales < 2"
            small
            v-on="on"
          >
            <v-icon small>
              translate
            </v-icon>
          </v-btn>
        </v-badge>
      </template>
    </v-menu>

    <!-- missing required translation -->
    <v-menu v-if="!isMatchingLocale(itemName.locale)">
      <!-- menu -->

      <v-card
        class="mx-auto"
        max-width="600"
        tile
      >
        <v-card-title>
          {{ $t('locale_fallback_title') }}
        </v-card-title>

        <v-card-subtitle v-if="itemName.locale !== null">
          {{ $t('locale_fallback_subtitle', { fallback: getLocaleName(itemName.locale), locale: getLocaleName(currentLocale) }) }}
        </v-card-subtitle>

        <v-card-subtitle v-if="itemName.locale === null">
          {{ $t('locale_fallback_subtitle_null') }}
        </v-card-subtitle>

      </v-card>

      <!-- button  which opens menu -->
      <template #activator="{ on }">
        <v-btn
          icon
          small
          v-on="on"
        >
          <v-icon
            color="orange darken-4"
            small
          >
            mdi-alert
          </v-icon>
        </v-btn>
      </template>
    </v-menu>

    <!-- when link is true display a !-->
    <a
      v-if="link"
      class="text-caption"
      :href="editItem"
    >
      <template v-if="!highlight">
        {{ itemName.value }}
      </template>

      <text-highlight
        v-else
        :queries="[highlight]"
      >
        {{ itemName.value }}
      </text-highlight>
    </a>

    <!-- otherwise display span instead -->
    <span
      v-if="!link"
      class="text-caption"
    >
      <template v-if="!highlight">
        {{ itemName.value }}
      </template>

      <text-highlight
        v-else
        :queries="[highlight]"
      >
        {{ itemName.value }}
      </text-highlight>
    </span>

  </div>
</template>

<script>
import TextHighlight from 'vue-text-highlight'
import replace from 'lodash/replace'
import get from 'lodash/get'
import forEach from 'lodash/forEach'

export default {
  name: 'VItemName',
  components: {
    TextHighlight
  },
  props: {
    value: {
      type: Object,
      required: true
    },
    path: {
      type: String,
      required: true
    },
    highlight: {
      type: String,
      required: false,
      default: null
    },
    link: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  emits: [
    'input'
  ],
  computed: {
    item: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    availableLocales () {
      if (typeof this.value.translations === 'undefined') {
        return []
      }

      return Object.keys(this.item.translations)
    },
    countAvailableLocales () {
      return this.availableLocales.length
    },
    itemName () {
      // fist of all try to get the current locale
      let translated = get(this.item.translations, `${this.$i18n.locale}.${this.path}`)
      if (translated) {
        return {
          locale: this.$i18n.locale,
          value: translated
        }
      }

      let t = null

      // if current translation does not exist try any other first alternative
      forEach(this.item.translations, (translation, locale) => {
        translated = get(translation, `${this.path}`)
        if (translated) {
          console.dir(translated)
          t = {
            locale: locale,
            value: translated
          }

          return false
        }
      })

      if (t) {
        return t
      }

      return {
        locale: null,
        value: this.$t('unnamed_item')
      }
    },
    /**
     * Generate editation link from given item IRI
     * @return {string|null}
     */
    editItem () {
      if (true === this.link) {
        return replace(this.item['@id'], '/api/', `/${document.documentElement.lang}/admin/`)
      }

      return null
    },
    currentLocale () {
      return this.$i18n.locale
    }
  },
  methods: {
    /**
     * Get the locale name for the locale code, localized for the current selected locale
     * @param code
     * @returns {string}
     */
    getLocaleName (code) {
      if (typeof code === 'undefined') {
        return code
      }

      const languageNames = new Intl.DisplayNames([this.$i18n.locale], {
        type: 'language'
      })

      return languageNames.of(code)
    },
    /**
     * Get the translation for the locale.
     * @param code
     * @returns {*}
     */
    getTranslationForLocale (code) {
      const translations = this.item.translations[code]
      return translations[this.path]
    },
    isMatchingLocale (locale) {
      return locale === this.$i18n.locale
    }
  }
}
</script>
