<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-dialog
    :value="open"
    fullscreen
    dark
  >
    <v-row class="lightbox no-gutters fill-height">
      <v-col class="d-flex flex-column">
        <v-app-bar
          flat
          dense
          dark
          color="transparent"
        >
          <span class="d-flex justify-space-between">
            <span v-if="mediaObject">{{ $_mediaObjectFileName(mediaObject) }}</span>
            <span>{{ $_mediaType(mediaObject) }}</span>
          </span>
          <v-spacer />
          <v-btn
            text
            icon
            @click="close"
          >
            <v-icon class="d-flex">
              close
            </v-icon>
          </v-btn>
        </v-app-bar>

        <v-row
          class="no-gutters fill-height"
          style="flex-direction: row !important"
        >
          <v-col class="d-flex">
            <v-row class="fill-height no-gutters">
              <v-col
                :cols="1"
                class="d-flex align-center justify-start"
              >
                <v-btn
                  text
                  @click="prev"
                >
                  <v-icon>mdi-chevron-left</v-icon>
                </v-btn>
              </v-col>
              <v-col
                :cols="10"
                class="d-flex justify-center align-center"
              >
                <v-window v-model="current">
                  <v-window-item
                    v-for="(mediaObject, index) in mediaObjects"
                    :key="`media-object-${index}`"
                    transition="slide-x-transition"
                    reverse-transition="slide-x-transition"
                    style="height: calc(100vh - 50px);"
                  >
                    <div class="d-flex justify-center align-center fill-height">
                      <img
                        v-if="$_mediaType(mediaObject) === 'image'"
                        :key="`media-object-img-${index}`"
                        :src="mediaObject.contentUrl"
                        style="max-height: calc(100vh - 50px); max-width: 100%; display: block; float: none; width: auto; height: auto; min-width: 200px;"
                      >
                      <audio
                        v-else-if="$_mediaType(mediaObject) === 'audio'"
                        class="js-player"
                      >
                        <source
                          :src="mediaObject.contentUrl"
                          :type="mediaObject.mime"
                        >
                      </audio>
                      <span
                        v-else
                        :key="`media-object-span-${index}`"
                      >no preview available</span>
                    </div>
                  </v-window-item>
                </v-window>
              </v-col>
              <v-col
                :cols="1"
                class="d-flex align-center justify-end"
              >
                <v-btn
                  text
                  @click="next"
                >
                  <v-icon>mdi-chevron-right</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-dialog>
</template>

<script>
import Plyr from 'plyr'
import { mediaObjectMixin } from '../mixins'
import isArray from 'lodash/isArray'
import size from 'lodash/size'
import findIndex from 'lodash/findIndex'
import isNil from 'lodash/isNil'

export default {
  name: 'VLightbox',
  mixins: [
    mediaObjectMixin
  ],
  props: {
    items: {
      default: []
    },
    value: {
      value: false
    }
  },
  data () {
    return {
      current: 0,
      player: null
    }
  },
  computed: {
    mediaObject () {
      return isNil(this.mediaObjects[this.current]) ? null : this.mediaObjects[this.current]
    },
    /**
       * Return media objects bound to the lighbox, if single item is bound, cast it into array.
       * @return {array}
       */
    mediaObjects () {
      return isArray(this.items) ? this.items : [this.items]
    },
    /**
       * Return if the lighbox is open
       * @return {boolean}
       */
    open () {
      return this.value
    }
  },
  watch: {
    open (val) {
      val ? document.addEventListener('keydown', this.keyDown) : document.removeEventListener('keydown', this.keyDown)
      if (open) {
        this.current = findIndex(this.mediaObjects, (o) => o['@id'] === this.open['@id'])
      }
    },
    current () {
      this.$nextTick(() => {
        if (this.player) {
          this.player.destroy()
        }

        this.player = new Plyr('.js-player', {

        })
      })
    }
  },
  methods: {
    /**
       * Close the lighbox and emit the event to the parent element
       */
    close (e) {
      this.$emit('close', e)
    },
    /**
       * Check if the media object has preview available
       * @return {boolean}
       */
    hasPreview (mediaObject) {
      return this.$_mediaType(mediaObject) === 'image' || this.$_mediaType(mediaObject) === 'video'
    },
    /**
       * Handle keydown event
       * @param {Object} e Keydown event
       */
    keyDown (e) {
      e.preventDefault()
      e.stopPropagation()

      if (e.keyCode === 27) {
        this.close()
      }

      if (e.keyCode === 37) {
        this.prev()
      }

      if (e.keyCode === 39) {
        this.next()
      }
    },
    next () {
      this.current = this.current + 1 === size(this.mediaObjects) ? 0 : this.current + 1
    },
    prev () {
      this.current = this.current - 1 < 0 ? size(this.mediaObjects) - 1 : this.current - 1
    }
  }
}
</script>
