<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <div
      :id="mapId"
      style="height: 500px"
    />
  </div>
</template>

<script>
import uniqueId from 'lodash/uniqueId'
import isNil from 'lodash/isNil'
import forEach from 'lodash/forEach'

export default {
  name: 'VMap',
  props: {
    value: null,
    center: null,
    markers: null
  },
  data () {
    return {
      map: null
    }
  },
  computed: {
    /**
       * Return unique generated map id
       * @return {string}
       */
    mapId () {
      return 'google_map_' + uniqueId()
    },
    /**
       * Return map center as google maps LatLng element
       * @return {Object}
       */
    mapCenter () {
      let center = new window.google.maps.LatLng(0, 0)

      if (!isNil(this.center.lat) && !isNil(this.center.lng)) {
        center = new window.google.maps.LatLng(Number.parseFloat(this.center.lat), Number.parseFloat(this.center.lng))
      }

      return center
    }
  },
  watch: {
    center () {
      if (this.map) {
        this.map.setCenter(this.mapCenter)
      }
    },
    markers: {
      deep: true,
      handler (markers) {
        forEach(markers, (value) => {
          const marker = new google.maps.Marker({
            position: new window.google.maps.LatLng(Number.parseFloat(value.point.latitude), Number.parseFloat(value.point.longitude)),
            map: this.map,
            title: value.address
          })

          marker.info = new google.maps.InfoWindow({
            content: '<div>' + value.address + '</div>'
          })

          window.google.maps.event.addListener(marker, 'click', function () {
            marker.info.open(this.map, marker)
          })
        })
      }
    }
  },
  mounted () {
    this.initialize()
  },
  methods: {
    initialize () {
      const el = document.getElementById(this.mapId)

      const options = {
        zoom: 14,
        center: this.mapCenter
      }

      this.map = new google.maps.Map(el, options)
    }
  }
}
</script>
