<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <draggable
    tag="ul"
    :list="children"
    :group="{ name: 'g1' }"
    :class="['tree-draggable pa-0', theme]"
    ghost-class="tree-draggable-ghost"
    chosen-class="tree-draggable-chosen"
    drag-class="tree-draggable-drag"
    @end="onEnd"
    @append="emitAppend"
    @inner="emitInner"
  >
    <li
      v-for="el in children"
      :key="el.title"
      :data-id="el.id"
      :class="[el.children.length === 0 ? 'tree-leaf-node py-1' : 'tree-has-children', 'tree-node ma-2', itemClass(el)]"
    >
      <div class="d-flex flex-wrap align-center px-2">
        <div class="d-flex">
          <!-- edit button -->
          <v-btn
            depressed
            :href="editItem(el)"
          >
            <v-icon v-if="!isReadonly(el)" small color="primary">
              fa-light fa-pen-to-square
            </v-icon>
            <v-icon v-if="isReadonly(el)" small color="primary">
              fa-light fa-eye
            </v-icon>
          </v-btn>

          <!-- delete button -->
          <v-btn-delete
            icon
            :value="el"
            :disabled="!isDeletable(el)"
            class="mx-sm-2"
          />

          <!-- append button -->
          <v-btn
            color="amber darken-2"
            icon
            @click="emitAppend(el)"
            class="mx-sm-2"
          >
            <v-icon>fa-fw fa-light fa-list-tree</v-icon>
          </v-btn>

          <!-- append inner button -->
          <v-btn
            v-if="appendInner"
            color="green"
            icon
            @click="emitInner(el)"
            class="mx-sm-2"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </div>
        <div class="ml-2 mr-14 text-caption">
          {{ el.id }}
        </div>
        <v-item-name
          :value="el"
          path="headline"
        />
      </div>

      <v-nested-draggable
        :children="el.children"
        :append-inner="appendInner"
        @id="onId"
        @append="onAppend"
        @inner="onInner"
      />
    </li>
  </draggable>
</template>

<script>
import draggable from 'vuedraggable'
import VBtnDelete from './v-btn/VBtnDelete.vue'
import replace from 'lodash/replace'
import has from 'lodash/has'
import VItemName from './VItemName.vue'

export default {
  name: 'VNestedDraggable',
  components: {
    draggable,
    VBtnDelete,
    VItemName
  },
  props: {
    children: {
      required: true,
      type: Array
    },
    appendInner: {
      type: Boolean,
      required: false,
      default: () => { return false }
    }
  },
  emits: [
    'id',
    'append',
    'inner'
  ],
  computed: {
    theme () {
      return this.$vuetify.theme.dark ? 'theme--dark' : 'theme--light'
    }
  },
  methods: {
    onEnd (e) {
      // get the item we currently moved
      if (e.item && e.item.dataset) {
        const id = e.item.dataset.id
        if (id) {
          this.$emit('id', id)
        }
      }
    },
    /**
     * Emits the current id of the item to the top-level of this tree.
     * @param id
     */
    onId (id) {
      if (id) {
        this.$emit('id', id)
      }
    },
    onAppend (item) {
      this.$emit('append', item)
    },
    onInner (item) {
      this.$emit('inner', item)
    },
    /**
     * Generate editation link from given item IRI
     * @param item
     * @return {string}
     */
    editItem (item) {
      return replace(item['@id'], '/api/', `/${document.documentElement.lang}/admin/`)
    },
    /**
     * Emit the "append" event to the top level of the tree so the parent (final) component can listen on @append event.
     * @param item
     */
    emitAppend (item) {
      this.$emit('append', item)
    },
    /**
     * Emmit the "append-inner" event. This is helpful for creating function "add article to the section".
     * @param item
     */
    emitInner (item) {
      this.$emit('inner', item)
    },
    /**
     * Get the row class, mainly for disabled items
     * @param item
     * @returns {string}
     */
    itemClass (item) {
      if (has(item, 'status')) {
        return item.status === 'published' ? 'row--enabled' : 'row--disabled'
      }

      if (has(item, 'enabled')) {
        return item.enabled ? 'row--enabled' : 'row--disabled'
      }
    },
    /**
     * Check if item is deletable
     * @param item
     * @returns {boolean|*}
     */
    isDeletable (item) {
      if (has(item, 'deletable')) {
        return item.deletable
      }

      return true
    },
    /**
     * Check if item is read-only
     * @param item
     * @returns {boolean}
     */
    isReadonly (item) {
      if (has(item, 'readOnly')) {
        return item.readOnly
      }

      return false
    }
  }
}
</script>
