<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div v-html="svg" />
</template>

<script>
import QRCodeImpl from 'qr.js/lib/QRCode'
import ErrorCorrectLevel from 'qr.js/lib/ErrorCorrectLevel'

export default {
  name: 'VQrCode',
  props: {
    value: null,
    size: null,
    level: {
      type: String,
      default: 'L'
    },
    bgColor: {
      type: String,
      default: '#FFFFFF'
    },
    fgColor: {
      type: String,
      default: '#000000'
    },
    cellClassPrefix: null
  },
  computed: {
    svg () {
      const qrcode = new QRCodeImpl(-1, ErrorCorrectLevel[this.level])
      qrcode.addData(this.value)
      qrcode.make()

      const cells = qrcode.modules

      const cellClassName = this.cellClassPrefix && `${this.cellClassPrefix}-cell`
      const emptyCellClassName =
        this.cellClassPrefix && `${cellClassName} ${this.cellClassPrefix}-cell-empty`
      const filledCellClassName =
        this.cellClassPrefix && `${cellClassName} ${this.cellClassPrefix}-cell-filled`

      let cellIndex = 0 // we use simple order as a key just to avoid the key warning here

      let svg = '<svg shape-rendering="crispEdges" '
      svg += 'viewBox="' + [0, 0, cells.length, cells.length].join(' ') + '" '
      svg += '>'

      svg += cells.map((row, rowIndex) => {
        return row.map((cell, colIndex) => {
          const className = cell ? filledCellClassName : emptyCellClassName
          const classNameProp = className ? { className } : null

          // Only use the fill if no cellClassPrefix was set. See https://github.com/no23reason/react-qr-svg/issues/136 for reasoning.
          const fill = !classNameProp && (cell ? this.fgColor : this.bgColor)
          const styleProp = fill || null
          return '<rect height="1" key="' + (cellIndex++) + '" style="fill: ' + styleProp + '" width="1" x="' + colIndex + '" y="' + rowIndex + '"></rect>'
        })
      })

      svg += '</svg>'

      return svg
    }
  }
}

</script>
