<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div :key="key">
    <v-nested-draggable
      :append-inner="appendInner"
      :children="data"
      @id="onId"
      @append="onAppend"
      @inner="onInner"
    />

    <v-dialog
      v-model="confirmation"
      max-width="290"
    >
      <v-card>
        <v-card-text>
          {{ $t('confirm_item_move') }}
        </v-card-text>

        <v-card-actions>
          <v-spacer />

          <v-btn
            color="green darken-1"
            text
            @click="resetPosition"
          >
            {{ $t('no') }}
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="applyPosition"
          >
            {{ $t('yes') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import VNestedDraggable from './VNestedDraggable.vue'
import uniqueId from 'lodash/uniqueId'
import findIndex from 'lodash/findIndex'

export default {
  name: 'VTreeDraggable',
  components: {
    VNestedDraggable
  },
  props: {
    value: {
      required: true
    },
    appendInner: {
      type: Boolean,
      required: false,
      default: () => { return false }
    }
  },
  emits: [
    'append',
    'inner',
    'move',
    'input'
  ],
  data () {
    return {
      key: 'tree-draggable_',
      confirmation: false,
      revertValue: null,
      move: {
        id: null,
        parent: null,
        position: null
      }
    }
  },
  computed: {
    pre () {
      return JSON.stringify(this.value, null, 2)
    },
    data: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  watch: {
    data: {
      handler: function (val) {
        if (this.revertValue === null) {
          this.revertValue = JSON.parse(JSON.stringify(val))
        }
      },
      deep: true
    }
  },
  created () {
    this.key = uniqueId('tree-draggable_')
  },
  methods: {
    applyPosition () {
      this.confirmation = false
      this.$emit('move', this.move)
    },
    resetPosition () {
      this.$nextTick(() => {
        this.confirmation = false
        this.data = this.revertValue
        this.revertValue = null
        this.key = uniqueId('tree-draggable_')
      })
    },
    onId (id) {
      function findParent (items, id, parent = null) {
        for (const item of items) {
          // nonstrict == must be used
          const res = item.id == id ? parent
            : item.children && findParent(item.children, id, item)
          if (res) {
            return res
          }
        }
      }

      let parent = findParent(this.data, id)
      if (!parent) {
        parent = { id: 0 }
      }

      let index = 0

      if (parent.id !== 0) {
        index = findIndex(parent.children, (o) => {
          return o.id == id
        })
      }

      this.move.id = id
      this.move.parent = parent.id
      this.move.position = index
      this.confirmation = true
    },
    onAppend (item) {
      this.$emit('append', item)
    },
    onInner (item) {
      this.$emit('inner', item)
    }
  }
}
</script>
