<template>
  <div>
    <v-card
      v-if="user"
      outlined
      class="mb-4"
    >
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('user_manage_score') }}</v-toolbar-title>
      </v-toolbar>

      <div class="pa-4">
        <v-text-field-custom
          v-model.number="user.totalScore"
          :label="$t('user_total_score')"
          type="number"
        />
        <v-btn-save-score :value="user" />
      </div>

      <v-data-table-user-score :user-id="userId" />
    </v-card>
  </div>
</template>

<script>
import { useUserStore } from '../../stores'
import VDataTableUserScore from '../v-data-table/VDataTableUserScore.vue'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'
import VBtnSaveScore from '../v-btn/VBtnSaveScore.vue'

export default {
  name: 'VFormUserScore',
  components: {
    VDataTableUserScore,
    VTextFieldCustom,
    VBtnSaveScore
  },
  props: {
    userId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {

    }
  },
  computed: {
    headers () {
      return [
        {
          text: this.$t('id'),
          align: 'left',
          sortable: true,
          value: 'id',
          width: '70px'
        },
        {
          text: this.$t('created_at'),
          align: 'left',
          sortable: true,
          value: 'createdAt',
          width: '70px'
        }
      ]
    },
    userStore () {
      return useUserStore(`/api/users/${this.userId}`)
    },
    user () {
      return this.userStore.getItem()
    }
  },
  created () {
    if (this.userStore.getItem() === null) {
      this.userStore.readItem()
    }
  }
}
</script>
