<template>
  <div>
    <v-card outlined>
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('user_manage_credit') }}</v-toolbar-title>
      </v-toolbar>
      <v-row class="no-gutters">
        <v-col
          :cols="12"
        >
          <v-simple-table>
            <thead>
              <tr>
                <th width="10%">
                  {{ $t('credit_type' ) }}
                </th>
                <th>
                  {{ $t('credit_value' ) }}
                </th>
                <th width="1%">
                  {{ $t('actions' ) }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(credit, index) in credits"
                :key="'credit-' + credit.id"
              >
                <td class="pa-4">
                  #{{ credit.creditType.id }}
                  {{ credit.creditType.title }}
                </td>
                <td class="pa-4">
                  <v-text-field-custom
                    v-model="credit.value"
                    dense
                    type="number"
                  />
                </td>
                <td class="pa-4">
                  <v-btn-save-credit v-model="credits[index]" />
                </td>
              </tr>
            </tbody>
          </v-simple-table>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import { useUserStore } from '../../stores/userStore'
import { useCreditsStore } from '../../stores/creditsStore'
import VBtnSaveCredit from '../v-btn/VBtnSaveCredit.vue'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'

export default {
  name: 'VFormUserCredit',
  components: {
    VBtnSaveCredit,
    VTextFieldCustom
  },
  props: {
    userId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {

    }
  },
  computed: {
    userStore () {
      return useUserStore(`/api/users/${this.userId}`)
    },
    creditsStore () {
      return useCreditsStore()
    },
    user () {
      return this.userStore.getItem()
    },
    credits () {
      return this.creditsStore.items
    }
  },
  created () {
    if (null === this.userStore.getItem()) {
      this.userStore.readItem()
    }

    this.creditsStore.readCollection({
      'user.id': this.userId
    })
  }
}
</script>
