<template>
  <v-row
    no-gutters
    class="pa-2 ma-n4"
  >
    <v-col
      :cols="12"
      :md="6"
      class="pa-2"
    >
      <v-card
        outlined
        height="100%"
      >
        <v-toolbar flat>
          <v-toolbar-title>{{ $t('password settings') }}</v-toolbar-title>
        </v-toolbar>

        <v-row
          no-gutters
          class="pa-2"
        >
          <v-col
            :cols="12"
            class="pa-2"
          >
            <p class="body-2">
              {{ $t('password_change_type_new_password') }}
            </p>
          </v-col>

          <v-col
            :xs="12"
            :xl="6"
            class="pa-2"
          >
            <v-text-field-password
              v-model="password.updated"
              outlined
              :error-messages="getViolation('plainPassword')"
              :label="$t('password')"
              :type="password_visible ? 'text' : 'password'"
              :append-icon="password_visible ? 'visibility' : 'visibility_off'"
              @click:append="password_visible = !password_visible"
            />
          </v-col>

          <v-col
            :cols="12"
            :xl="6"
            class="pa-2"
          >
            <v-text-field-password
              v-model="password.repeated"
              outlined
              :label="$t('password_repeat')"
              :type="password_visible ? 'text' : 'password'"
              :append-icon="password_visible ? 'visibility' : 'visibility_off'"
              @click:append="password_visible = !password_visible"
            />
          </v-col>

          <v-col
            :xs="12"
            class="pa-2 mt-n4"
          >
            <v-btn
              :disabled="(!password.updated || !password.repeated) || (password.updated !== password.repeated)"
              color="primary"
              :loading="loading.password"
              depressed
              class="mt-2"
              @click="updatePassword"
            >
              <v-icon left>
                check
              </v-icon> {{ $t('edit_password') }}
            </v-btn>

            <v-btn
              :disabled="!user.enabled || !user.email"
              :loading="loading.password"
              depressed
              class="mt-2"
              @click="lostPassword"
            >
              <v-icon left>
                send
              </v-icon> {{ $t('send_pw') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
    <v-col
      :cols="12"
      :md="6"
      class="pa-2"
    >
      <v-card
        flat
        outlined
        height="100%"
      >
        <v-toolbar
          flat
          color="grey-lighten-1"
        >
          <v-toolbar-title>{{ $t('password_generator') }}</v-toolbar-title>
        </v-toolbar>

        <v-row
          no-gutters
          class="pa-2"
        >
          <v-col
            :cols="12"
            class="pa-2"
          >
            <p class="body-2">
              {{ $t('password_generator_description') }}
            </p>
            <div
              class="display-password"
              v-text="generatedPassword"
            />
            <v-btn
              depressed
              color="primary"
              class="mt-10"
              @click="generatePassword"
            >
              <v-icon left>
                autorenew
              </v-icon>
              {{ $t('generate_new_password') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { useUserStore } from '../../stores/userStore'
import VTextFieldPassword from '../v-text-field/VTextFieldPassword.vue'
import Axios from '../../composables/ajax'
import { errorMixin } from '../../mixins/errorMixin'

export default {
  name: 'VFormUserPassword',
  components: {
    VTextFieldPassword
  },
  mixins: [
    errorMixin
  ],
  props: {
    userId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      generatedPassword: '',
      password: {
        updated: '',
        repeated: ''
      },
      loading: {
        password: false
      },
      password_visible: false
    }
  },
  computed: {
    user () {
      return this.userStore.getItem()
    },
    userStore () {
      return useUserStore(`/api/users/${this.userId}`)
    }
  },
  created () {
    if (this.userStore.getItem() === null) {
      this.userStore.readItem()
    }

    this.generatePassword()
  },
  methods: {
    generatePassword () {
      const chars = {
        numbers: '0123456789',
        letters: 'abcdefghijklmnopqrstuvwxyz',
        lettersUpper: 'ABCDEFGHIJKLMNOPQRSTUVWXYZ',
        symbols: '!@#$%^&*()_+-=[]{}|;:",.<>?'
      }
      const passwordArray = []
      passwordArray.push(this.sample(chars.numbers))
      passwordArray.push(this.sample(chars.letters))
      passwordArray.push(this.sample(chars.lettersUpper))
      passwordArray.push(this.sample(chars.symbols))

      for (let i = 4; i < 12; i++) {
        const allChars = chars.numbers + chars.letters + chars.lettersUpper + chars.symbols
        passwordArray.push(this.sample(allChars))
      }

      this.generatedPassword = this.shuffle(passwordArray).join('')
    },
    sample (str) {
      return str[Math.floor(Math.random() * str.length)]
    },
    shuffle (arr) {
      for (let i = arr.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [arr[i], arr[j]] = [arr[j], arr[i]]
      }
      return arr
    },
    async updatePassword () {
      this.clearViolations()
      try {
        this.user.plainPassword = this.password.updated
        this.loading.password = true
        await Axios.patch('/api/users/' + this.user.id + '/update-password', {
          plainPassword: this.password.updated
        }, { headers: { 'Content-Type': 'application/merge-patch+json' } })
        this.$eventHub.$emit('snackbar-success', this.$t('password_changed'))
      } catch (err) {
        this.buildViolations(err)
        this.$eventHub.$emit('snackbar-error', this.$t('error_general_form_error'))
      } finally {
        this.loading.password = false
      }
    },
    async lostPassword () {
      this.clearViolations()
      this.loading.password = true
      try {
        this.loading.password = true
        await Axios.get('/api/users/' + this.user.id + '/lost-password', { headers: { 'Content-Type': 'application/ld+json' } })
        this.$eventHub.$emit('snackbar-success', this.$t('password_sent'))
      } catch (err) {
        this.$eventHub.$emit('snackbar-error', this.$t('error_general_form_error'))
        this.buildViolations(err.response)
      } finally {
        this.loading.password = false
      }
    }
  }
}
</script>
