<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('basic information') }}</v-toolbar-title>
      </v-toolbar>
      <v-alert
        v-if="user.id === admin.id"
        icon="info"
        prominent
        text
        tile
        type="info"
      >
        <span v-text="$t('user_you_edit_yourself_alert')" />
      </v-alert>

      <v-alert
        v-if="!user.enabled"
        icon="warning"
        prominent
        text
        tile
        type="warning"
      >
        <v-row align="center">
          <v-col
            class="grow"
            v-text="$t('user_not_enabled')"
          />
          <v-col class="">
            <v-btn
              color="warning"
              outlined
              :disabled="user.id === admin.id"
              depressed
              @click="user.enabled = true"
            >
              {{ $t('activate') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-alert>

      <v-row
        no-gutters
        class="pa-2"
      >
        <v-col
          :cols="12"
          :md="6"
          :xl="4"
          class="pa-2"
        >
          <v-text-field-custom
            v-model="user.firstName"
            outlined
            :error-messages="getViolation('firstName')"
            :label="$t('first name')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="6"
          :xl="4"
          class="pa-2"
        >
          <v-text-field-custom
            v-model="user.lastName"
            outlined
            :error-messages="getViolation('lastName')"
            :label="$t('last name')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="6"
          :xl="4"
          class="pa-2"
        >
          <v-text-field-custom
            v-model="user.displayName"
            outlined
            :error-messages="getViolation('displayName')"
            :label="$t('input_label_display_name')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="6"
          :xl="4"
          class="pa-2"
        >
          <v-text-field-custom
            v-model="user.email"
            :disabled="!isGranted('ROLE_PEOPLE_USER_ADMIN')"
            outlined
            :error-messages="getViolation('email')"
            :label="$t('email')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="6"
          :xl="4"
          class="pa-2"
        >
          <v-autocomplete-user-group
            v-model="user.userGroups"
            :disabled="!isGranted('ROLE_PEOPLE_USER_ADMIN')"
            outlined
            :error-messages="getViolation('userGroups')"
          />
        </v-col>
      </v-row>

      <v-row
        no-gutters
        class="pa-2 mt-n4"
      >
        <v-col
          :cols="12"
          :md="6"
          :xl="2"
          class="pa-2"
        >
          <v-select
            v-model="user.preferredDateFormat"
            :items="dateFormats"
            outlined
            :error-messages="getViolation('preferredDateFormat')"
            :label="$t('preferred_date_format')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="6"
          :xl="2"
          class="pa-2"
        >
          <v-select
            v-model="user.preferredTimeFormat"
            :items="timeFormats"
            outlined
            :error-messages="getViolation('preferredTimeFormat')"
            :label="$t('preferred_time_format')"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="6"
          :xl="3"
          class="pa-2"
        >
          <v-autocomplete-timezone
            v-model="user.timezone"
            outlined
            :error-messages="getViolation('timezone')"
            :label="$t('timezone')"
            item-text="name"
            item-value="code"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="6"
          :xl="2"
          class="pa-2"
        >
          <v-autocomplete-locale
            v-model="user.preferredLocale"
            outlined
            :error-messages="getViolation('preferredLocale')"
            :label="$t('preferred_locale')"
            item-text="name"
            item-value="code"
            :available="['cs', 'en']"
          />
        </v-col>

        <v-col
          :cols="12"
          :md="6"
          :xl="3"
          class="pa-2"
        >
          <v-autocomplete-home
            v-model="user.preferredHome"
            outlined
            :error-messages="getViolation('preferredHome')"
            :label="$t('preferred_home')"
          />
        </v-col>
      </v-row>

      <v-row
        no-gutters
        class="pa-2 mt-n4"
      >
        <v-col
          :cols="12"
          :md="6"
          :lg="4"
          :xl="2"
          class="pa-2"
        >
          <v-text-field-color-picker
            v-model="user.color"
            outlined
            :error-messages="getViolation('color')"
            :label="$t('color')"
          />
        </v-col>
        <v-col
          :cols="12"
          :md="6"
          :lg="4"
          class="pa-2"
        >
          <v-text-field-custom
            v-model="user.avatar"
            outlined
            :error-messages="getViolation('avatar')"
            :label="$t('avatar')"
            clearable
          />
        </v-col>

        <v-col
          :cols="12"
          :md="6"
          :lg="4"
          class="pa-2 mt-1"
        >
          <v-avatar :color="user.color">
            <img
              v-if="user.avatar"
              :key="user.avatar"
              :src="user.avatar"
              alt="avatar"
            >
            <span
              v-else
              v-text="typeof user.displayName === 'string'
                ? user.displayName.substring(0, 1)
                : ''
              "
            />
          </v-avatar>

          <v-btn
            v-if="typeof user.displayName === 'string' &&
              (!user.avatar || user.avatar.indexOf('gravatar.com') === -1)
            "
            text
            color="primary"
            small
            @click="avatarFromGravatar"
          >
            <v-icon left>
              fw fa-light fa-cloud-arrow-up
            </v-icon>
            {{ $t('from_gravatar') }}
          </v-btn>

          <v-btn
            color="primary"
            text
            :loading="loading.avatar"
            small
            @click="$refs.avatarUpload.click()"
          >
            <v-icon left>
              image
            </v-icon> {{ $t('from_file') }}
          </v-btn>
          <input
            v-show="false"
            ref="avatarUpload"
            type="file"
            accept="image/png, image/jpeg"
            @change="avatarFromFile"
          >
        </v-col>
      </v-row>

      <v-switch
        v-model="user.enabled"
        outlined
        :error-messages="getViolation('enabled')"
        :disabled="user.id === admin.id"
        :label="$t('enabled')"
        class="ma-4"
      />

      <v-row
        no-gutters
        class="pa-2"
      >
        <v-col
          :cols="12"
          class="pa-2"
        >
          <v-btn
            color="primary"
            :loading="loading.user"
            depressed
            @click="saveUser"
          >
            <v-icon left>
              check
            </v-icon> {{ $t('save') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import VAutocompleteTimezone from '../v-autocomplete/VAutocompleteTimezone.vue'
import VTextFieldColorPicker from '../v-text-field/VTextFieldColorPicker.vue'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'
import VAutocompleteUserGroup from '../v-autocomplete/VAutocompleteUserGroup.vue'
import VAutocompleteLocale from '../v-autocomplete/VAutocompleteLocale.vue'
import VAutocompleteHome from '../v-autocomplete/VAutocompleteHome.vue'
import { securityMixin, errorMixin } from '../../mixins'
import Axios from '../../composables/ajax'
import { useCurrentUserStore, useUserStore } from '../../stores'
import { DateTime } from 'luxon'

export default {
  name: 'VFormUserProfile',
  components: {
    VAutocompleteHome,
    VAutocompleteLocale,
    VAutocompleteUserGroup,
    VTextFieldColorPicker,
    VAutocompleteTimezone,
    VTextFieldCustom
  },
  mixins: [
    securityMixin,
    errorMixin
  ],
  props: {
    value: {
      type: Object,
      required: true,
      default: null
    }
  },
  data () {
    return {
      tab: null,
      userGroups: {},
      form: {
        user: {
          password_visible: false
        }
      },
      remove: {
        agree: null
      },
      loading: {
        user: false,
        password: false,
        remove: false,
        avatar: false
      },
      roles: [],
      loginMethods: ['password', 'loginlink']
    }
  },
  computed: {
    store () {
      return useUserStore('/api/users/' + window.location.pathname.split('/').pop())
    },
    user: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    admin: {
      get () {
        const currentUserStore = useCurrentUserStore()
        return currentUserStore.getAdmin
      },
      set (value) {
        const currentUserStore = useCurrentUserStore()
        currentUserStore.setAdmin(value)
      }
    },
    timeFormats () {
      return [
        { text: DateTime.local().setLocale(document.documentElement.lang).toFormat('HH:mm'), value: 'HH:mm' },
        { text: DateTime.local().setLocale(document.documentElement.lang).toFormat('hh:mma'), value: 'hh:mma' }
      ]
    },
    dateFormats () {
      return [
        { text: DateTime.local().setLocale(document.documentElement.lang).toFormat('d.M.yyyy'), value: 'd.M.yyyy' },
        { text: DateTime.local().setLocale(document.documentElement.lang).toFormat('M.d.yyyy'), value: 'M.d.yyyy' },
        { text: DateTime.local().setLocale(document.documentElement.lang).toFormat('yyyy-MM-dd'), value: 'yyyy-M-dd' }
      ]
    }
  },
  methods: {
    /**
     * Set avatar from gravatar.com
     */
    avatarFromGravatar () {
      if (!this.user.email) {
        return
      }

      this.user.avatar = 'https://secure.gravatar.com/avatar/' + this.md5(this.user.email.trim().toLowerCase())
    },

    avatarFromFile () {
      const file = this.$refs.avatarUpload.files[0]
      if (!file) {
        return
      }

      this.loading.avatar = true

      const formData = new window.FormData()
      formData.append('file', file)

      Axios.post('/api/media-objects.json', formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.clearViolation('avatar')
          this.user.avatar = response.data.contentUrl
        })
        .catch((err) => {
          this.setViolation(err, 'avatar')
        })
        .finally(() => {
          this.loading.avatar = false
        })
    },
    /**
     * Persist user
     * @returns {Promise<any>}
     */
    async saveUser () {
      this.loading = true
      await this.store.updateItem()
      this.$eventHub.$emit('snackbar-success', this.$t('user_saved'))
      this.loading = false
    },
    md5 (inputString) {
      const hc = '0123456789abcdef'
      function rh (n) { let j; let s = ''; for (j = 0; j <= 3; j++) s += hc.charAt((n >> (j * 8 + 4)) & 0x0F) + hc.charAt((n >> (j * 8)) & 0x0F); return s }
      function ad (x, y) { const l = (x & 0xFFFF) + (y & 0xFFFF); const m = (x >> 16) + (y >> 16) + (l >> 16); return (m << 16) | (l & 0xFFFF) }
      function rl (n, c) { return (n << c) | (n >>> (32 - c)) }
      function cm (q, a, b, x, s, t) { return ad(rl(ad(ad(a, q), ad(x, t)), s), b) }
      function ff (a, b, c, d, x, s, t) { return cm((b & c) | ((~b) & d), a, b, x, s, t) }
      function gg (a, b, c, d, x, s, t) { return cm((b & d) | (c & (~d)), a, b, x, s, t) }
      function hh (a, b, c, d, x, s, t) { return cm(b ^ c ^ d, a, b, x, s, t) }
      function ii (a, b, c, d, x, s, t) { return cm(c ^ (b | (~d)), a, b, x, s, t) }
      function sb (x) {
        let i; const nblk = ((x.length + 8) >> 6) + 1; const blks = new Array(nblk * 16); for (i = 0; i < nblk * 16; i++) blks[i] = 0
        for (i = 0; i < x.length; i++) blks[i >> 2] |= x.charCodeAt(i) << ((i % 4) * 8)
        blks[i >> 2] |= 0x80 << ((i % 4) * 8); blks[nblk * 16 - 2] = x.length * 8; return blks
      }
      let i; const x = sb('' + inputString); let a = 1732584193; let b = -271733879; let c = -1732584194; let d = 271733878; let olda; let oldb; let oldc; let oldd
      for (i = 0; i < x.length; i += 16) {
        olda = a; oldb = b; oldc = c; oldd = d
        a = ff(a, b, c, d, x[i + 0], 7, -680876936); d = ff(d, a, b, c, x[i + 1], 12, -389564586); c = ff(c, d, a, b, x[i + 2], 17, 606105819)
        b = ff(b, c, d, a, x[i + 3], 22, -1044525330); a = ff(a, b, c, d, x[i + 4], 7, -176418897); d = ff(d, a, b, c, x[i + 5], 12, 1200080426)
        c = ff(c, d, a, b, x[i + 6], 17, -1473231341); b = ff(b, c, d, a, x[i + 7], 22, -45705983); a = ff(a, b, c, d, x[i + 8], 7, 1770035416)
        d = ff(d, a, b, c, x[i + 9], 12, -1958414417); c = ff(c, d, a, b, x[i + 10], 17, -42063); b = ff(b, c, d, a, x[i + 11], 22, -1990404162)
        a = ff(a, b, c, d, x[i + 12], 7, 1804603682); d = ff(d, a, b, c, x[i + 13], 12, -40341101); c = ff(c, d, a, b, x[i + 14], 17, -1502002290)
        b = ff(b, c, d, a, x[i + 15], 22, 1236535329); a = gg(a, b, c, d, x[i + 1], 5, -165796510); d = gg(d, a, b, c, x[i + 6], 9, -1069501632)
        c = gg(c, d, a, b, x[i + 11], 14, 643717713); b = gg(b, c, d, a, x[i + 0], 20, -373897302); a = gg(a, b, c, d, x[i + 5], 5, -701558691)
        d = gg(d, a, b, c, x[i + 10], 9, 38016083); c = gg(c, d, a, b, x[i + 15], 14, -660478335); b = gg(b, c, d, a, x[i + 4], 20, -405537848)
        a = gg(a, b, c, d, x[i + 9], 5, 568446438); d = gg(d, a, b, c, x[i + 14], 9, -1019803690); c = gg(c, d, a, b, x[i + 3], 14, -187363961)
        b = gg(b, c, d, a, x[i + 8], 20, 1163531501); a = gg(a, b, c, d, x[i + 13], 5, -1444681467); d = gg(d, a, b, c, x[i + 2], 9, -51403784)
        c = gg(c, d, a, b, x[i + 7], 14, 1735328473); b = gg(b, c, d, a, x[i + 12], 20, -1926607734); a = hh(a, b, c, d, x[i + 5], 4, -378558)
        d = hh(d, a, b, c, x[i + 8], 11, -2022574463); c = hh(c, d, a, b, x[i + 11], 16, 1839030562); b = hh(b, c, d, a, x[i + 14], 23, -35309556)
        a = hh(a, b, c, d, x[i + 1], 4, -1530992060); d = hh(d, a, b, c, x[i + 4], 11, 1272893353); c = hh(c, d, a, b, x[i + 7], 16, -155497632)
        b = hh(b, c, d, a, x[i + 10], 23, -1094730640); a = hh(a, b, c, d, x[i + 13], 4, 681279174); d = hh(d, a, b, c, x[i + 0], 11, -358537222)
        c = hh(c, d, a, b, x[i + 3], 16, -722521979); b = hh(b, c, d, a, x[i + 6], 23, 76029189); a = hh(a, b, c, d, x[i + 9], 4, -640364487)
        d = hh(d, a, b, c, x[i + 12], 11, -421815835); c = hh(c, d, a, b, x[i + 15], 16, 530742520); b = hh(b, c, d, a, x[i + 2], 23, -995338651)
        a = ii(a, b, c, d, x[i + 0], 6, -198630844); d = ii(d, a, b, c, x[i + 7], 10, 1126891415); c = ii(c, d, a, b, x[i + 14], 15, -1416354905)
        b = ii(b, c, d, a, x[i + 5], 21, -57434055); a = ii(a, b, c, d, x[i + 12], 6, 1700485571); d = ii(d, a, b, c, x[i + 3], 10, -1894986606)
        c = ii(c, d, a, b, x[i + 10], 15, -1051523); b = ii(b, c, d, a, x[i + 1], 21, -2054922799); a = ii(a, b, c, d, x[i + 8], 6, 1873313359)
        d = ii(d, a, b, c, x[i + 15], 10, -30611744); c = ii(c, d, a, b, x[i + 6], 15, -1560198380); b = ii(b, c, d, a, x[i + 13], 21, 1309151649)
        a = ii(a, b, c, d, x[i + 4], 6, -145523070); d = ii(d, a, b, c, x[i + 11], 10, -1120210379); c = ii(c, d, a, b, x[i + 2], 15, 718787259)
        b = ii(b, c, d, a, x[i + 9], 21, -343485551); a = ad(a, olda); b = ad(b, oldb); c = ad(c, oldc); d = ad(d, oldd)
      }
      return rh(a) + rh(b) + rh(c) + rh(d)
    }
  }
}
</script>
