<template>
  <div>
    <v-card outlined>
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('permissions') }}</v-toolbar-title>
      </v-toolbar>
      <v-row class="no-gutters">
        <v-col
          :cols="12"
        >
          <v-treeview
            v-if="user && roles.length > 0"
            v-model="user.roles"
            selectable
            :items="roles"
            item-key="name"
            item-text="label"
            open-all
            hoverable
            selection-type="independent"
          />
        </v-col>
      </v-row>

      <v-row
        no-gutters
        class="pa-2"
      >
        <v-col
          :cols="12"
          class="pa-2"
        >
          <v-btn
            :loading="loading"
            color="primary"
            depressed
            @click="saveUser"
          >
            <v-icon left>
              check
            </v-icon> {{ $t('save') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import { useUserStore } from '../../stores/userStore'
import { useRolesStore } from '../../stores/rolesStore'

export default {
  name: 'VFormUserRoles',
  props: {
    userId: {
      type: Number,
      required: false,
      default: null,
      validator: function (value) {
        return value !== null || this.userObject !== null
      }
    }
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    userStore () {
      return useUserStore(`/api/users/${this.userId}`)
    },
    roles () {
      const store = useRolesStore()
      return store.roles
    },
    user () {
      return this.userStore.getItem()
    }
  },
  created () {
    this.loadRoles()
  },
  methods: {
    async loadRoles () {
      const store = useRolesStore()
      await store.readRoles()
    },
    async saveUser () {
      await this.userStore.updateItem()
    }
  }
}
</script>
