<template>
  <div>
    <v-card outlined>
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('user_contact') }}</v-toolbar-title>
        <v-spacer />

        <v-btn
          color="success"
          depressed
          @click.prevent="addUserContact(0)"
        >
          <v-icon class="d-flex d-sm-none">
            add
          </v-icon>
          <v-icon
            class="d-none d-sm-flex"
            left
          >
            add
          </v-icon>
          <span
            class="d-none d-sm-flex"
            v-text="$t('create')"
          />
        </v-btn>
      </v-toolbar>

      <v-tabs
        v-model="contactTab"
        align-with-title
        background-color="transparent"
        fixed-tab
      >
        <v-tab
          v-for="(contact, contactIndex) in user.userContacts"
          :key="'contact-' + contact.id"
          :href="'#contact-' + contact.id"
        >
          <span v-text="contact.type" />
        </v-tab>
      </v-tabs>

      <v-tabs-items v-model="contactTab">
        <v-tab-item
          v-for="(contact, contactIndex) in user.userContacts"
          :key="'contact-' + contact.id"
          :value="'contact-' + contact.id"
        >
          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              v-for="item in contact.items"
              :key="item.id"
              :cols="12"
              :sm="6"
              :lg="4"
              class="pa-2"
            >
              <v-card
                outlined
                class="pa-2"
              >
                <v-text-field-custom
                  v-model="item.type"
                  outlined
                  hide-details
                  :label="$t('user_contact_type')"
                  class="pa-2"
                />

                <v-text-field-custom
                  v-model="item.value"
                  outlined
                  hide-details
                  :label="$t('value')"
                  class="pa-2"
                />
              </v-card>
            </v-col>
          </v-row>
        </v-tab-item>
      </v-tabs-items>

      <v-row
        no-gutters
        class="pa-2"
      >
        <v-col
          :cols="12"
          class="pa-2"
        >
          <v-btn
            color="primary"
            :loading="loading"
            depressed
            @click="saveUser"
          >
            <v-icon left>
              check
            </v-icon> {{ $t('save') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import { useUserStore } from '../../stores/userStore'
import { errorMixin } from '../../mixins/errorMixin'
import VTextFieldCustom from '../v-text-field/VTextFieldCustom.vue'

export default {
  name: 'VFomUserContacts',
  components: {
    VTextFieldCustom
  },
  mixins: [
    errorMixin
  ],
  props: {
    userId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      contactTab: null,
      loading: false
    }
  },
  computed: {
    userStore () {
      return useUserStore(`/api/users/${this.userId}`)
    },
    user: {
      get () {
        return this.userStore.getItem()
      },
      set (value) {
        this.userStore.item = value
      }
    }
  },
  created () {
    if (this.userStore.getItem() === null) {
      this.userStore.readItem()
    }
  },
  methods: {
    async saveUser () {
      try {
        this.loading = true
        await this.userStore.updateItem()
        this.$eventHub.$emit('snackbar-success', this.$t('user_saved'))
      } catch (error) {
        console.log(error)
        this.buildViolations(error)
        this.$eventHub.$emit('snackbar-error', this.$t('error_general_form_error'))
      } finally {
        this.loading = false
      }
    },
    /**
     * Add a new user contact to this user
     */
    addUserContact (index) {
      const userContact = {
        type: null,
        value: null
      }

      if (!this.user.userContacts[index]) {
        this.$set(this.user.userContacts, index, { items: [] })
      }

      this.user.userContacts[index].items.push(userContact)
    }
  }
}
</script>
