<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-form @submit.prevent="login">
    <v-row
      no-gutters
      class="pa-4 pb-0"
    >
      <!-- email -->
      <v-col :cols="12">
        <v-text-field
          id="username-field"
          v-model="email"
          :label="$t('email')"
          autofocus
          outlined
        />
      </v-col>

      <!-- password -->
      <v-col :cols="12">
        <v-text-field-password
          id="password-field"
          v-model="password"
          :label="$t('password')"
          outlined
        />
      </v-col>
    </v-row>

    <!-- action buttons -->
    <v-row
      no-gutters
      class="px-4 justify-space-between"
    >
      <v-col
        :cols="6"
        class="my-n2"
      >
        <v-checkbox
          v-model="remember_me"
          :label="$t('remember')"
          class="mt-2"
        />
      </v-col>
      <v-col
        :cols="6"
        class="d-flex justify-end"
      >
        <v-btn
          type="submit"
          color="primary"
          depressed
          :disabled="disabledLoginForm"
          :loading="loading"
        >
          <span v-text="$t('login')" />
        </v-btn>
      </v-col>
    </v-row>

    <v-row
      no-gutters
      class="pa-4 justify-space-between"
    >
      <v-col
        :cols="12"
        class="d-flex justify-center"
      >
        <v-btn
          class="flex-grow-1"
          color="primary"
          depressed
          :disabled="disabledLoginLink"
          :loading="loading"
          @click="sendLoginLink"
        >
          {{ $t('send login link') }}
        </v-btn>
      </v-col>
    </v-row>

    <v-divider />

    <v-row
      no-gutters
      class="pa-2 justify-space-between body-2"
    >
      <v-col class="pa-2">
        <v-btn
          x-small
          text
          @click="lostPassword"
        >
          {{ $t('lost password') }}
        </v-btn>
      </v-col>
      <v-col class="pa-2 flex-grow-0">
        <v-btn
          x-small
          text
          href="mailto:info@arodax.com"
        >
          {{ $t('support') }}
        </v-btn>
      </v-col>
    </v-row>

    <!-- error dialog -->
    <v-dialog
      v-model="errorDialog"
      persistent
      max-width="480"
    >
      <v-card>
        <v-card-title class="headline">
          {{ $t('login_error_title') }}
        </v-card-title>
        <v-card-text class="pb-0">
          <div class="mb-1">
            {{ $t('login_error_text') }}
          </div>
        </v-card-text>
        <v-card-actions class="px-4">
          <v-btn
            text
            color="primary"
            @click="lostPassword"
          >
            {{ $t('lost_pw') }}
          </v-btn>
          <v-spacer />
          <v-btn
            text
            color="primary"
            @click="errorDialog = false"
          >
            {{ $t('ok') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- login link dialog -->
    <v-dialog
      v-model="loginLinkDialog"
      persistent
      max-width="480"
    >
      <v-card>
        <v-card-title class="headline">
          {{ $t('login link') }}
        </v-card-title>
        <v-card-text class="pb-0">
          <div class="mb-1">
            {{ $t('Login link has been sent. Follow instructions in your email.') }}
          </div>
        </v-card-text>
        <v-card-actions class="px-4">
          <v-btn
            text
            color="primary"
            @click="loginLinkDialog = false"
          >
            {{ $t('ok') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- lost password dialog -->
    <v-dialog
      v-model="lostPasswordDialog"
      max-width="480"
    >
      <v-card>
        <v-card-title class="headline">
          {{ $t('lost password') }}
        </v-card-title>

        <v-form
          v-if="!lostPasswordRequested"
          @submit.prevent="lostPassword"
        >
          <v-row
            no-gutters
            class="pa-2"
          >
            <v-col
              :cols="12"
              class="pa-2"
            >
              <v-text-field
                v-model="email"
                autofocus
                outlined
                :label="$t('email')"
              />
            </v-col>
          </v-row>
        </v-form>

        <v-card-text
          v-if="lostPasswordRequested"
          class="pb-0"
        >
          <div class="mb-1">
            {{ $t('reset_pw_request') }}
          </div>
        </v-card-text>

        <v-card-actions class="px-4">
          <v-btn
            text
            color="primary"
            @click="lostPasswordDialog = false; lostPasswordRequested = false"
          >
            {{ $t('close') }}
          </v-btn>

          <v-btn
            v-if="!lostPasswordRequested"
            type="submit"
            color="primary"
            depressed
            :loading="loading"
            :disabled="disabledLostPassword"
            @click.prevent="sendLostPassword"
          >
            <span v-text="$t('reset_pw')" />
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import VTextFieldPassword from '../v-text-field/VTextFieldPassword.vue'
import QS from 'qs'
import isNil from 'lodash/isNil'
import Axios from '../../composables/ajax'

export default {
  name: 'VLoginForm',
  components: {
    VTextFieldPassword
  },
  data () {
    return {
      email: null,
      password: null,
      remember_me: true,
      loading: false,
      errorDialog: false,
      loginLinkDialog: false,
      lostPasswordDialog: false,
      lostPasswordRequested: false
    }
  },
  computed: {
    disabledLoginForm () {
      return !this.email || !this.password
    },
    disabledLoginLink () {
      return !(this.email && !this.password)
    },
    disabledLostPassword () {
      return !this.email
    }
  },
  methods: {
    /**
     * Submit credentials to the login form
     */
    login () {
      this.loading = true
      Axios.post('/admin/login', QS.stringify({
        email: this.email,
        password: this.password,
        _remember_me: this.remember_me,
        _token: document.querySelector('[data-csrf]').dataset.csrf
      })).then((response) => {
        const urlParams = new URLSearchParams(window.location.search)
        window.location.href = isNil(urlParams.get('_target_path')) ? response.data.url : urlParams.get('_target_path')
      }).catch(() => {
        this.loading = false
        this.errorDialog = true
      })
    },
    /**
     * Open lost password dialog
     */
    lostPassword () {
      this.lostPasswordDialog = true
    },
    sendLostPassword () {
      this.loading = true
      Axios.post('/admin/lost-password', QS.stringify({
        email: this.email
      }))
        .then(() => {
          this.email = null
          this.lostPasswordRequested = true
        })
        .finally(() => {
          this.loading = false
        })
    },
    /**
     * Send the "magic" login link to the user
     */
    sendLoginLink () {
      this.loading = true
      Axios.post('/admin/login-link', QS.stringify({
        email: this.email,
        _token: document.querySelector('[data-csrf]').dataset.csrf
      })).then(() => {
        this.loginLinkDialog = true
      }).catch(() => {
        this.errorDialog = true
      }).finally(() => {
        this.loading = false
      })
    }
  }
}
</script>
