<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-form @submit.prevent="login">
    <v-toolbar flat>
      <v-toolbar-title>{{ $t('confirm login') }}</v-toolbar-title>
    </v-toolbar>
    <v-row
      no-gutters
      class="pa-4"
    >
      <v-col :cols="12">
        <div class="body-2 mb-4">
          {{ $t('Click on the button to confirm the log in.') }}
        </div>
        <div class="text-right">
          <v-btn
            depressed
            color="primary"
            @click="login"
          >
            {{ $t('continue') }}
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
import Axios from '../../composables/ajax'
import QS from 'qs'

export default {
  name: 'VLoginLinkForm',
  data () {
    return {
      loading: false
    }
  },
  methods: {
    login () {
      const urlParams = new URLSearchParams(window.location.search)

      Axios.post(this.$generateUrl('arodax_admin_security_check_login_link'), QS.stringify({
        expires: urlParams.get('expires'),
        user: urlParams.get('user'),
        hash: urlParams.get('hash')
      })).finally(() => {
        window.location.href = this.$generateUrl('arodax_admin_default_index')
      })
    }
  }
}
</script>
