<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-row
    no-gutters
    @drop.prevent="drop"
  >
    <v-col>
      <v-overlay
        :value="isDropOverlayVisible"
        :absolute="true"
        opacity="0.95"
        z-index="99"
      >
        {{ $t('drop_file_for_upload') }}
      </v-overlay>

      <v-overlay
        :value="isUploadingOverlayVisible"
        :absolute="true"
        opacity="0.95"
        z-index="98"
      >
        {{ $t('upload_in_progress') }}
      </v-overlay>
    </v-col>
  </v-row>
</template>

<script>
import Axios from 'axios'
import isEmpty from 'lodash/isEmpty'
import forEach from 'lodash/forEach'
import without from 'lodash/without'
import first from 'lodash/first'

export default {
  name: 'UploadDropzone',
  props: {
    hover: {
      type: Boolean,
      default: false
    },
    multiple: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      queue: []
    }
  },
  computed: {
    /**
       * Whether display drop overlay or not
       * @return boolean
       */
    isDropOverlayVisible () {
      return this.hover
    },
    /**
       * Whether display uploading overlay or not
       * @return boolean
       */
    isUploadingOverlayVisible () {
      return !isEmpty(this.queue) && !this.hover
    }
  },
  methods: {
    /**
       * Handle drop event for the drag & drop uploader
       * @param { Object } event The event
       */
    drop (event) {
      const dt = event.dataTransfer
      let files = dt.files

      if (!this.multiple) {
        const file = first(files)
        files = []
        files.push(file)
      }

      forEach(files, (file) => {
        file.id = Math.random().toString(36).substr(2, 9)
        this.queue.push(file)
      })

      this.processQueue()
    },
    /**
       * Process upload queue and emit success with media object item
       */
    processQueue () {
      forEach(this.queue, (file) => {
        const formData = new FormData()
        formData.append('file', file)

        Axios.post('/api/media-objects.json', formData, { headers: { 'Content-Type': 'multipart/form-data', Accept: 'application/json' } })
          .then((response) => {
            this.$emit('success', response.data)
          })
          .finally(() => {
            this.$set(this, 'queue', without(this.files, n => n.id === file.id))
          })
      })
    }
  }
}
</script>
