<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-row
    no-gutters
    class="pa-2 mx-n4"
  >
    <v-col
      :cols="12"
      :md="6"
      class="pa-2"
    >
      <v-text-field
        v-model="objectKey"
        outlined
        hide-details
        :label="$t('key')"
      />
    </v-col>
    <v-col
      :cols="12"
      :md="6"
      class="pa-2"
    >
      <v-text-field
        v-model="objectValue"
        outlined
        hide-details
        :label="$t('value')"
        clearable
      />
    </v-col>
  </v-row>
</template>


<script>
import keys from 'lodash/keys'
import values from 'lodash/values'
import head from 'lodash/head'

export default {
  name: 'VJsonField',
  props: {
    value: {
      default: null
    }
  },
  data () {
    return {

    }
  },
  computed: {
    objectKey: {
      get () {
        return head(keys(this.value))
      },
      set (val) {
        this.$emit('input', { [val]: this.objectValue })
      }
    },
    objectValue: {
      get () {
        return head(values(this.value))
      },
      set (val) {
        this.$emit('input', { [this.objectKey]: val })
      }
    }
  }
}
</script>
