<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-text-field
    prepend-icon="mdi-select-color"
    v-model="color"
    v-bind="$attrs"
  >
    <template #append>
      <v-menu
        v-model="menu"
        bottom
        origin="center center"
        transition="scale-transition"
        :close-on-content-click="false"
        :close-on-click="false"
        :offset-x="true"
      >
        <template #activator="{ on }">
          <v-btn
            class="pr-2"
            icon
            x-small
            color="color"
          >
            <v-chip
              small
              label
              :color="color"
            >
              <v-icon v-on="on">
                mdi-menu
              </v-icon>
            </v-chip>
          </v-btn>
        </template>

        <v-card
          flat
          outlined
        >
          <v-color-picker
            v-model="color"
            flat
            class="ma-2"
            mode="hexa"
            :show-swatches="true"
          />
          <v-card-actions>
            <v-btn
              text
              @click="menu = false"
            >
              {{ $t('close') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </template>
  </v-text-field>
</template>

<script>
export default {
  name: 'VTextFieldColorPicker',
  props: {
    value: null
  },
  data () {
    return {
      menu: false
    }
  },
  computed: {
    color: {
      get () {
        return this.value
      },
      set (val) {
        if (typeof val === 'object') {
          val = val.hex
        }

        this.$emit('input', val)
      }
    }
  }
}
</script>
