<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-text-field
    v-model="password"
    :type="passwordVisible ? 'text' : 'password'"
    v-bind="$attrs"
  >
    <template #append>
      <v-btn
        :key="icon"
        small
        icon
        @click="togglePasswordVisibility"
      >
        <v-icon>{{ icon }}</v-icon>
      </v-btn>
    </template>
  </v-text-field>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
  name: 'VTextFieldPassword',
  props: {
    value: {
      type: String as PropType<string | null>,
      default: null
    }
  },
  data () {
    return {
      passwordVisible: false
    }
  },
  computed: {
    password: {
      get (this: { value: string | null }): string | null {
        return this.value
      },
      set (this: Vue, val: string) {
        this.$emit('input', val)
      }
    },
    icon () {
      return this.passwordVisible ? 'fa-fw fa fa-light fa-eye' : 'fa-fw fa fa-light fa-eye-slash'
    }
  },
  methods: {
    togglePasswordVisibility (this: { passwordVisible: boolean, $forceUpdate: () => void }) {
      this.passwordVisible = !this.passwordVisible
    }
  }
})
</script>
