<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-text-field
    v-model="percent"
    v-bind="$attrs"
    type="number"
  >
    <template #append>
      %
    </template>
  </v-text-field>
</template>

<script>
export default {
  name: 'VTextFieldPercent',
  props: {
    value: null
  },
  computed: {
    percent: {
      get () {
        return isNaN(this.value) || this.value === '' || this.value === null ? null : this.value / 100
      },
      set (val) {
        val = isNaN(val) || val === '' || val === null ? null : val * 100
        this.$emit('input', val)
      }
    }
  }
}
</script>
