
<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-text-field
      v-model="modelValue"
      outlined
      :hide-details="hideDetails"
      clearable
      v-bind="$attrs"
    />
  </div>
</template>

<script>
/**
 * IMPORTANT: This component is used to wrap VTextField and make it work with
 * string values it provides abstraction layer for VTextField used in
 * Vuetify 2.7, to provided better migration path to Vuetify 3.x and Vue 3.x.
 *
 * Use this component as drop-in replacement for original VTextField.
 *
 * Note that this component always return null instead of empty string, if
 * the string is empty and all numeric values returned by this component are
 * returned as string as well if type is not "number".
 *
 * @example How to prepare the code for migration to Vuetify 3.x
 *
 *  <v-text-field v-model="value"> is now <v-text-field-custom v-model="value">
 */
export default {
  name: 'VTextFieldCustom',
  props: {
    value: {
      type: [String, Number],
      required: false,
      default: null
    },
    type: {
      type: String,
      required: false,
      default: 'text'
    },
    hideDetails: {
      type: Boolean,
      required: false,
      default: false
    },
  },
  emits: [
    'input'
  ],
  computed: {
    modelValue: {
      get () {
        return this.value
      },
      set (val) {
        if (val === '') {
          this.$emit('input', null)
        } else if (this.type === 'number' && val !== null) {
          this.$emit('input', Number(val))
        } else if (typeof val === 'string') {
          this.$emit('input', val.trim())
        } else {
          this.$emit('input', val)
        }
      }
    }
  }
}
</script>
