<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-text-field
    ref="number"
    v-model="phoneNumber"
    v-bind="$attrs"
    type="number"
  >
    <template #prepend-inner>
      <v-menu :close-on-content-click="false">
        <template #activator="{ on }">
          <v-btn
            text
            x-small
            v-on="on"
          >
            <span v-if="phonePrefix">{{ phonePrefix }}</span>
            <span v-else>+420</span>
          </v-btn>
        </template>
        <v-card>
          <v-row class="no-gutters">
            <v-col class="pa-4">
              <v-select
                v-model="phonePrefix"
                :outlined="$attrs.outlined"
                hide-details
                :items="['+421', '+420']"
              />
            </v-col>
          </v-row>
        </v-card>
      </v-menu>
    </template>
  </v-text-field>
</template>

<script>
export default {
  name: 'VTextFieldPhone',
  props: {
    value: null
  },
  data () {
    return {
      prefix: '+420'
    }
  },
  computed: {
    phonePrefix: {
      get () {
        if (!this.value) {
          return null
        }

        const parts = this.value.split('.')

        if (parts[0] && parts[1]) {
          return parts[0] === 'null' ? null : parts[0]
        }

        return null
      },
      set (val) {
        this.prefix = val
        this.$emit('input', val + '.' + this.phoneNumber)
      }
    },
    phoneNumber: {
      get () {
        if (!this.value) {
          return null
        }

        const parts = this.value.split('.')

        if (parts[0] && parts[1]) {
          return parts[1]
        }

        return this.value
      },
      set (val) {
        this.$emit('input', this.prefix ? this.prefix + '.' + val : val)
      }
    }
  }
}
</script>
