<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <!-- valid barcode -->
    <div class="d-flex justify-center">
      <svg
        id="product-barcode"
        format="EAN13"
        jsbarcode-format="upc"
        :jsbarcode-value="barcode"
        jsbarcode-textmargin="0"
        jsbarcode-fontoptions="bold"
        class="mb-15"
      />
    </div>
    <v-text-field-custom
      v-model="barcode"
      outlined
      :label="$t('EAN 13')"
      clearable
      :disabled="disabled"
    />
  </div>
</template>

<script>
import * as JsBarcode from 'jsbarcode'
import VTextFieldCustom from './VTextFieldCustom.vue'

export default {
  name: 'VTextFieldBarcode',
  components: {
    VTextFieldCustom
  },
  props: {
    value: {
      type: String,
      required: false,
      default: () => { return null }
    },
    disabled: {
      type: Boolean,
      required: false
    }
  },
  data () {
    return {
      invalid: true
    }
  },
  computed: {
    barcodeForDisplay () {
      return this.barcode && !this.invalid ? this.barcode : '0000000000000'
    },
    barcode: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  watch: {
    barcode () {
      this.renderBarcode()
    }
  },
  mounted () {
    this.renderBarcode()
  },
  methods: {
    renderBarcode () {
      this.invalid = false
      this.$nextTick(() => {
        try {
          JsBarcode('#product-barcode', this.barcodeForDisplay, { format: 'EAN13' }).init()
          this.invalid = false
        } catch (e) {
          this.invalid = true
        }
      })
    }
  }
}
</script>
