<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-text-field
    outlined
    v-model="dateFormatted"
    v-bind="$attrs"
  >
    <template #append>
      <v-menu
        v-model="menu"
        bottom
        origin="center center"
        transition="scale-transition"
        :close-on-content-click="false"
        :close-on-click="false"
        :offset-x="true"
      >
        <template #activator="{ on }">
          <v-btn
            icon
            x-small
            v-on="on"
            @click="toggleMenu"
          >
            <v-icon>
              fa fa-fw fa-calendar-lines-pen fa-regular
            </v-icon>
          </v-btn>
        </template>

        <v-card
          flat
          outlined
        >
          <v-date-picker
            v-model="date"
            scrollable
          />
          <v-card-actions>
            <v-btn
              text
              @click="menu = false"
            >
              {{ $t('close') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </template>
  </v-text-field>
</template>

<script>
import { DateTime } from 'luxon'
import isEmpty from 'lodash/isEmpty'
import { useCurrentUserStore } from '../../stores/currentUserStore'

export default {
  name: 'VTextFieldDatePicker',
  props: {
    value: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      menu: false
    }
  },
  computed: {
    admin: {
      get () {
        const currentUserStore = useCurrentUserStore()
        return currentUserStore.getAdmin
      },
      set (value) {
        const currentUserStore = useCurrentUserStore()
        currentUserStore.setAdmin(value)
      }
    },
    date: {
      get () {
        // v-date-picker component expected date in ISO format
        return this.parseDateTime(this.value, this.getDateFormat('yyyy-MM-dd'))
      },
      set (value) {
        // v-date-picker always return yyyy-MM-dd ISO date format
        const userTimeZone = this.getTimeZone()
        const date = DateTime.fromFormat(value, 'yyyy-MM-dd').setZone(userTimeZone, { keepLocalTime: true })
        this.$emit('input', !date.invalid ? date.toISO() : null)
      }
    },
    dateFormatted: {
      get () {
        return this.parseDateTime(this.value, this.getDateFormat(), this.getTimeZone())
      },
      set (value) {
        // parse date in preferred user format to ISO date format YYYY-MM-dd
        const date = DateTime.fromFormat(value, this.getDateFormat(), { locale: 'cs-CZ' })
        this.$emit('input', !date.invalid ? date.toISO() : null)
      }
    }
  },
  methods: {
    toggleMenu () {
      this.menu = !this.menu
    },
    /**
       * Try to parse dateTime string and return the formatted string
       * @param {String} dateTime ISO formatted dateTime string
       * @param {String|null} tokens for the date output, if empty token is given full ISO date will be returned
       * @param {String|null} timezone
       */
    parseDateTime (dateTime, tokens = null, timezone = null) {
      let dt = DateTime.fromISO(dateTime)

      // check for dt validity, if no valid date found return null and log error
      if (dt.invalid) {
        return null
      }

      dt = dt.setZone(this.getTimeZone(timezone))
      dt = dt.setLocale(this.locale)

      return tokens ? dt.toFormat(tokens) : dt.toISO()
    },
    /**
       * Decide which timezone to use
       * @param {String|null} timezone override
       * @return {String} timezone
       *
       */
    getTimeZone (timezone = null) {
      const defaultZone = 'Europe/Prague'

      if (isEmpty(this.admin.timezone) && isEmpty(timezone)) {
        return defaultZone
      }

      if (isEmpty(this.admin.timezone) && !isEmpty(timezone)) {
        return timezone
      }

      if (!isEmpty(this.admin.timezone) && isEmpty(timezone)) {
        return this.admin.timezone
      }

      if (!isEmpty(this.admin.timezone) && !isEmpty(timezone)) {
        return timezone
      }

      return defaultZone
    },
    /**
       * Decide which date format to use
       * @param {String|null} format override
       * @return {String} format
       */
    getDateFormat (format = null) {
      const iso = 'yyyy-MM-dd'

      if (isEmpty(this.admin.preferredDateFormat) && isEmpty(format)) {
        return iso
      }

      if (isEmpty(this.admin.preferredDateFormat) && !isEmpty(format)) {
        return format
      }

      if (!isEmpty(this.admin.preferredDateFormat) && isEmpty(format)) {
        return this.admin.preferredDateFormat
      }

      if (!isEmpty(this.admin.preferredDateFormat) && !isEmpty(format)) {
        return format
      }

      return iso
    }
  }
}
</script>
