<template>
  <div>
    <v-text-field-custom prepend-icon="fa-light fa-fw fa-trophy" v-bind="$attrs" :label="$t('score')" v-model="totalScore"></v-text-field-custom>
  </div>
</template>

<script>
import VTextFieldCustom from './VTextFieldCustom.vue'

export default {
  name: 'VTextFieldTotalScore',
  props: {
    value: {
      type: Number,
      default: null
    }
  },
  components: {
    VTextFieldCustom
  },
  computed: {
    totalScore: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>
