@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons");
@import url("~vuetify/dist/vuetify.min.css");
@import url("~@mdi/font/css/materialdesignicons.css");


.logo--stripe {
  height: 20px;
}

.theme--light.v-application {
  background: #f5f5f5 !important;
}

/* loading START */
[v-cloak] > * {
  display: none;
}

[v-cloak] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

[v-cloak]::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid;
  border-color: #2196f3 transparent;
  animation: loading 1.2s linear infinite;
}

[v-cloak].initial_theme--dark {
  background: #303030;
}

[v-cloak].initial_theme--light {
  background: #fafafa;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* loading END */
.checkout-logos .col {
  border: 1px solid #cecece;
}

.checkout-footer svg,
.checkout-logos svg,
.stripe-logo svg {
  display: block;
  width: auto;
  height: 30px;
}

.checkout-footer {
  display: flex;
  align-items: center;
}

.user-logged-in,
.shop-info {
  white-space: nowrap;
}

.v-input--selection-controls .v-input__slot,
.v-input--selection-controls .v-radio {
  cursor: auto;
}

.v-radio {
  display: inline-flex;
  cursor: pointer;
}

.v-radio + small {
  display: block;
  padding-left: 32px;
}

/* label inside flex-grow-0 fix START */
.flex-grow-0 .v-input--selection-controls__input + .v-label {
  white-space: nowrap;
}

/* label inside flex-grow-0 fix END */
.checkout-wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.checkout-aside {
  width: 400px;
}

.checkout-aside > div {
  width: 384px;
  position: static;
}

.discount-code {
  max-width: 300px;
}

.recap-products > div {
  overflow-y: auto;
}

.product-image-placeholder {
  width: 50px;
  height: 50px;
}

.qrcode {
  max-width: 300px;
  margin: auto;
}

@media (width <= 959px) {
  .checkout-aside {
    width: 100%;
  }

  .checkout-aside > div {
    width: 100%;
    height: auto;
    position: static;
  }
}
