/*
 * This file is part of the ARODAX Admin package.
 *
 * (c) ARODAX a.s.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import url('~codemirror/lib/codemirror.css');

.ProseMirror.ProseMirror-focused {
  outline: 0
}

.ProseMirror {
  max-height: 500px;
  padding: 10px;
  overflow-y: scroll;
}

.CodeMirror-vscrollbar {
  z-index: 1;
}

.ProseMirror img {
  max-width: 100%;
  border: 3px dashed transparent;
}

.ProseMirror blockquote {
  padding: 10px;
  border: 1px solid;
  border-left-width: 10px;
}

.ProseMirror table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.theme--light .ProseMirror th,
.theme--light .ProseMirror td {
  border: 1px solid rgb(0 0 0 / 12%);
  padding: 5px;
}

.theme--dark .ProseMirror th,
.theme--dark .ProseMirror td {
  border: 1px solid hsl(0deg 0% 100% / 12%);
  padding: 5px;
}

.theme--light .ProseMirror[contenteditable="false"] {
  color: rgb(0 0 0 / 38%);
}

.theme--dark .ProseMirror[contenteditable="false"] {
  color: hsl(0deg 0% 100% / 50%);
}

.theme--light .ProseMirror blockquote {
  border-color: rgb(0 0 0 / 12%);
}

.theme--dark .ProseMirror blockquote {
  border-color: hsl(0deg 0% 100% / 12%);
}

.ProseMirror blockquote > *:last-child {
  margin-bottom: 0;
}

.theme--dark .ProseMirror .ProseMirror-selectednode {
  border: dashed 3px hsl(0deg 0% 100% / 12%);
  opacity: .25;
}

.theme--light .ProseMirror .ProseMirror-selectednode {
  border: dashed 3px rgb(0 0 0 / 12%);
  opacity: .25;
}

.theme--dark .ProseMirror a > img {
  border: 1px solid hsl(0deg 0% 100% / 12%);
}

.CodeMirror,
.CodeMirror-gutters {
  background: none;
}

.theme--dark .CodeMirror-gutters {
  border-right-color: hsl(0deg 0% 100% / 12%);
}

.theme--light .cm-s-vuetify span.cm-keyword { line-height: 1em; font-weight: bold; color: #5A5CAD; }
.theme--light .cm-s-vuetify span.cm-atom { color: #6C8CD5; }
.theme--light .cm-s-vuetify span.cm-number { color: #164; }
.theme--light .cm-s-vuetify span.cm-def { text-decoration:underline; }
.theme--light .cm-s-vuetify span.cm-variable { color: black; }
.theme--light .cm-s-vuetify span.cm-variable-2 { color:black; }
.theme--light .cm-s-vuetify span.cm-variable-3, .theme--light .cm-s-vuetify span.cm-type { color: black; }
.theme--light .cm-s-vuetify span.cm-property {}
.theme--light .cm-s-vuetify span.cm-operator {}
.theme--light .cm-s-vuetify span.cm-comment { color: #0080FF; font-style: italic; }
.theme--light .cm-s-vuetify span.cm-string { color: red; }
.theme--light .cm-s-vuetify span.cm-meta { color: yellow; }
.theme--light .cm-s-vuetify span.cm-qualifier { color: grey; }
.theme--light .cm-s-vuetify span.cm-builtin { color: #7EA656; }
.theme--light .cm-s-vuetify span.cm-bracket { color: #cc7; }
.theme--light .cm-s-vuetify span.cm-tag { color: #3F7F7F; }
.theme--light .cm-s-vuetify span.cm-attribute { color: #7F007F; }
.theme--light .cm-s-vuetify span.cm-error { color: #f00; }
.theme--light .cm-s-vuetify .CodeMirror-activeline-background { background: #e8f2ff; }
.theme--light .cm-s-vuetify .CodeMirror-matchingbracket { outline:1px solid grey;color:black !important;background:yellow; }

.theme--dark .cm-s-vuetify.CodeMirror { color: #f8f8f2; }
.theme--dark .cm-s-vuetify div.CodeMirror-selected { background: #49483E; }
.theme--dark .cm-s-vuetify .CodeMirror-line::selection, .theme--dark .cm-s-vuetify .CodeMirror-line > span::selection, .theme--dark .cm-s-vuetify .CodeMirror-line > span > span::selection { background: rgb(73 72 62 / 99%); }
.theme--dark .cmvuetify .CodeMirror-line::selection, .theme--dark .cmvuetify .CodeMirror-line > span::selection, .theme--dark .cmvuetify .CodeMirror-line > span > span::selection { background: rgb(73 72 62 / 99%); }
.theme--dark .cm-s-vuetify .CodeMirror-guttermarker { color: white; }
.theme--dark .cm-s-vuetify .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.theme--dark .cm-s-vuetify .CodeMirror-linenumber { color: #d0d0d0; }
.theme--dark .cm-s-vuetify .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
.theme--dark .cm-s-vuetify span.cm-comment { color: #75715e; }
.theme--dark .cm-s-vuetify span.cm-atom { color: #ae81ff; }
.theme--dark .cm-s-vuetify span.cm-number { color: #ae81ff; }
.theme--dark .cm-s-vuetify span.cm-comment.cm-attribute { color: #97b757; }
.theme--dark .cm-s-vuetify span.cm-comment.cm-def { color: #bc9262; }
.theme--dark .cm-s-vuetify span.cm-comment.cm-tag { color: #bc6283; }
.theme--dark .cm-s-vuetify span.cm-comment.cm-type { color: #5998a6; }
.theme--dark .cm-s-vuetify span.cm-property, .theme--dark .cm-s-vuetify span.cm-attribute { color: #a6e22e; }
.theme--dark .cm-s-vuetify span.cm-keyword { color: #f92672; }
.theme--dark .cm-s-vuetify span.cm-builtin { color: #66d9ef; }
.theme--dark .cm-s-vuetify span.cm-string { color: #e6db74; }
.theme--dark .cm-s-vuetify span.cm-variable { color: #f8f8f2; }
.theme--dark .cm-s-vuetify span.cm-variable-2 { color: #9effff; }
.theme--dark .cm-s-vuetify span.cm-variable-3, .theme--dark .cm-s-vuetify span.cm-type { color: #66d9ef; }
.theme--dark .cm-s-vuetify span.cm-def { color: #fd971f; }
.theme--dark .cm-s-vuetify span.cm-bracket { color: #f8f8f2; }
.theme--dark .cm-s-vuetify span.cm-tag { color: #f92672; }
.theme--dark .cm-s-vuetify span.cm-header { color: #ae81ff; }
.theme--dark .cm-s-vuetify span.cm-link { color: #ae81ff; }
.theme--dark .cm-s-vuetify span.cm-error { background: #f92672; color: #f8f8f0; }
.theme--dark .cm-s-vuetify .CodeMirror-activeline-background { background: #303030; }

.theme--dark .cm-s-vuetify .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
