/*
 * This file is part of the ARODAX Admin package.
 *
 * (c) ARODAX a.s.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.background-light {
    background: #e7e7e7;
    background-color: #e7e7e7;
}

.background-primary {
    background: #0a1265;
    background-color: #0a1265;
    color: #fff;
}

.background-secondary {
    background: #cb1b21;
    background-color: #cb1b21;
    color: #fff;
}

.color-dark {
    color: #212b35;
}

.color-darker {
    color: #637381;
}
