@import url("vuetify.css");
@import url("editor.css");
@import url("~glightbox/dist/css/glightbox.css");
@import url("plyr.css");

/* loading START */
[v-cloak] > * {
  display: none;
}

[v-cloak] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

[v-cloak]::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid;
  border-color: #2196f3 transparent;
  animation: loading 1.2s linear infinite;
}

[v-cloak].initial_theme--dark {
  background: #303030;
}

[v-cloak].initial_theme--light {
  background: #fafafa;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* loading END */

/* lang-chip START */
.lang-chip {
  display: block;
  width: 40px;
  text-align: center;
  pointer-events: none;
}

/* lang-chip END */

/* header logo START */
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.header-logo img {
  width: 100%;
  max-width: 180px;
  height: 100%;
  max-height: 35px;
}

.theme--light .header-logo * {
  fill: #cb1b21;
}

.theme--dark .header-logo * {
  fill: #fff;
}

img.logo-small {
  display: none;
}

/* header logo END */

/* login hexagon START */
.login-hexa {
  display: none;
  width: 650px;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 0;
}

@media (width >=750px) and (height >=750px) {
  .login-hexa {
    display: block;
  }
}

svg.arodax {
  overflow: visible;
}

.theme--light svg.arodax g {
  fill: #00000007;
}

.theme--dark svg.arodax g {
  fill: #ffffff07;
}

svg.arodax .left,
svg.arodax .right {
  animation-duration: 1s;
  animation-fill-mode: both;
}

svg.arodax .left {
  animation-name: left;
  animation-delay: .25s;
}

svg.arodax .right {
  animation-name: right;
  animation-delay: .25s;
}

@keyframes left {
  from {
    opacity: 0;
    transform: translateX(-5px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right {
  from {
    opacity: 0;
    transform: translateX(5px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* login hexagon END */

/* index hexagon START */
.index-hexa {
  display: block;
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 0;
}

.index-hexa {
  overflow: visible;
}

.theme--light .index-hexa g {
  fill: #00000007;
}

.theme--dark .index-hexa g {
  fill: #ffffff07;
}

/* index hexagon END */

/* square block START */
.square::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.square.absolute {
  width: 100%;
  position: absolute;
  z-index: 1;
}

/* user status START */
.user-status {
  position: relative;
}

.user-status::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.theme--light .user-status::before {
  border-color: #fff;
}

.theme--dark .user-status::before {
  border-color: #424242;
}

.user-status.online::before {
  background: #4caf50;
}

.user-status.offline::before {
  background: #ff5252;
}

/* user status END */

/* avatar highlight START */
.avatar__highlight {
  box-shadow: 0 0 0 3px #fc0;
}

/* avatar highlight END */

/* extra counter START */
.counter {
  padding: 8px 12px 0 0;
  font-size: 12px;
  text-align: right;
}

.theme--light .counter {
  color: rgb(0 0 0 / 54%);
}

.theme--dark .counter {
  color: hsl(0deg 0% 100% / 70%);
}

/* extra counter END */

/* list style none START */
.list-style-none {
  list-style: none;
}

/* list style none END */

/* lightbox font-family START */
.lg-outer {
  font-family: roboto;
}

/* lightbox font-family END */

/* video START */
.square video {
  display: block;
  max-width: 100%;
}

/* video END */

/* table no-data START */
.table-error {
  max-width: 300px;
  text-align: center;
}

/* table no-data END */

/* video block START */
video {
  display: block;
}

/* video block END */

/* video preview START */
.video-preview {
  position: relative;
}

.video-preview video {
  margin: auto;
  position: absolute;
  inset: 0;
}

/* video preview END */

/* z-index START */
.z-index-2 {
  z-index: 2;
}

/* z-index END */

/* system header left START */
.system-header-left {
  width: 256px;
  flex-grow: 0;
  margin-right: -4px;
}

/* system header left END */

/* system search mobile width START */
.system-search-mobile .v-overlay__content {
  width: 100%;
}

/* system search mobile width END */

/* system search desktop width START */
.system-search-desktop {
  width: 475px;
  max-width: 475px;
  min-width: 475px;
}

/* system search desktop width END */

/* logo text on extremely small displays hidden START */
@media (width <=450px) {
  img.logo-big {
    display: none;
  }

  img.logo-small {
    display: block;
  }
}

/* logo text on extremely small displays hidden END */

/* textinput  append START */
.text-append .v-input__append-inner {
  margin-top: 20px;
}

.text-append .v-input__append-inner svg {
  margin-top: -7px;
}

/* textinput  append END */

/* attachments button position START */
.attachment-remove {
  margin: auto;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
}

/* attachments button position END */

/* style the paragraph tag */
.gm-style .gm-style-iw div {
  color: red;
}

.theme--light.v-application {
  background: #f5f5f5 !important;
}

/* tree start */
ul.tree-draggable {
  list-style: none;
}

ul.tree-draggable li {
  border: thin solid;
  border-radius: 4px;
}

.theme--light ul.tree-draggable li {
  border-color: rgb(0 0 0 / 12%);
}

.theme--dark ul.tree-draggable li {
  border-color: rgb(255 255 255 / 12%);
}

.theme--light ul.tree-draggable .tree-draggable-ghost {
  background: rgb(0 0 0 / 12%);
}

.theme--dark ul.tree-draggable .tree-draggable-ghost {
  background: rgb(255 255 255 / 12%);
}

/* tree end */

/* priority icon start */
.priority-icon svg {
  width: 15px;
  height: 15px;
}

/* priority icon end */

/* overflow-y auto start */
.overflow-y-auto {
  overflow-y: auto;
}

/* overflow-y auto end */

.menuitem-shallow a {
  text-decoration: none;
}

/* login logo start */
.login-logo {
  max-width: 200px;
  max-height: 60px;
  margin: auto;
  position: absolute;
  top: -70px;
  right: 0;
  left: 0;
}

/* login logo end */

.relative {
  position: relative;
}

/* product variant price start */
.table-variant-price-row td:nth-child(2) {
  min-width: 250px;
}

.table-variant-price-row td:nth-child(3) {
  min-width: 150px;
  max-width: 150px;
}

.table-variant-price-row td:nth-child(4) {
  min-width: 150px;
  max-width: 150px;
}

/* product variant price end */

.w-100 {
  max-width: 150px;
}

/* code highlight start */

pre {
  font-family: monospace;
  padding: 0.75rem 1rem;
}

.v-application code {
  background: none;
}

code {
  color: inherit;
  padding: 0;
  background: none;
}

.hljs {
  display: block;
  padding: 0.5em;
  background: #f5f5f5;
  color: #333;
}

.hljs-comment,
.hljs-quote {
  color: #777;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name {
  color: #007acc;
}

.hljs-attribute,
.hljs-meta {
  color: #f08d49;
}

.hljs-number,
.hljs-regexp,
.hljs-link {
  color: #d36363;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-subst {
  color: #50a14f;
}

.hljs-title,
.hljs-section {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* code highlight end */

.cover-controls {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
}

.cover-controls .v-input .v-input__control {
  flex-grow: 0;
  width: auto;
}

@media (max-width: 1650px) {
  .cover-controls {
    grid-template-columns: repeat(2, auto);
    justify-items: space-between;
  }

  .cover-controls .main-actions {
    grid-area: 1/1/1/3;
  }
}

.display-password {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  border-radius: 4px;
}

.theme--dark .display-password {
  background: #363636;
  color: #fff;
}

.theme--light .display-password {
  background: #f5f5f5;
  color: rgba(0, 0, 0, 0.87);
}

.tiptap.ProseMirror .svg-placeholder {
  display: block;
  width: 50px;
  height: 50px;
}

.tiptap.ProseMirror div,
.tiptap.ProseMirror section,
.tiptap.ProseMirror article,
.tiptap.ProseMirror .svg-placeholder {
  position: relative;
  border-radius: 4px;
  padding: 5px;
  margin: 10px 0 0 0;
}

.tiptap.ProseMirror div::before,
.tiptap.ProseMirror section::before,
.tiptap.ProseMirror article::before,
.tiptap.ProseMirror span::before,
.tiptap.ProseMirror .svg-placeholder::before {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 0 5px;
  font-size: 12px;
}

.tiptap.ProseMirror div::before {
  content: "div";
}

.tiptap.ProseMirror section::before {
  content: "section";
}

.tiptap.ProseMirror article::before {
  content: "article";
}

.tiptap.ProseMirror span::before {
  content: "span";
}

.tiptap.ProseMirror .svg-placeholder::before {
  content: "svg";
}

/**/
.theme--light .tiptap.ProseMirror div,
.theme--light .tiptap.ProseMirror section,
.theme--light .tiptap.ProseMirror article,
.theme--light .tiptap.ProseMirror span,
.theme--light .tiptap.ProseMirror .svg-placeholder {
  border: 2px dashed #f5f5f5;
}

.theme--light .tiptap.ProseMirror div:hover,
.theme--light .tiptap.ProseMirror section:hover,
.theme--light .tiptap.ProseMirror article:hover,
.theme--light .tiptap.ProseMirror span:hover,
.theme--light .tiptap.ProseMirror .svg-placeholder:hover {
  border-color: #9e9e9e;
}

.theme--light .tiptap.ProseMirror div::before,
.theme--light .tiptap.ProseMirror section::before,
.theme--light .tiptap.ProseMirror article::before,
.theme--light .tiptap.ProseMirror span::before,
.theme--light .tiptap.ProseMirror .svg-placeholder::before {
  background: #f5f5f5;
  color: #9e9e9e;
}

/**/
.theme--dark .tiptap.ProseMirror div,
.theme--dark .tiptap.ProseMirror section,
.theme--dark .tiptap.ProseMirror article,
.theme--dark .tiptap.ProseMirror span,
.theme--dark .tiptap.ProseMirror .svg-placeholder {
  border: 2px dashed #000;
}

.theme--dark .tiptap.ProseMirror div:hover,
.theme--dark .tiptap.ProseMirror section:hover,
.theme--dark .tiptap.ProseMirror article:hover,
.theme--dark .tiptap.ProseMirror span:hover,
.theme--dark .tiptap.ProseMirror .svg-placeholder:hover {
  border-color: #363636;
}

.theme--dark .tiptap.ProseMirror div::before,
.theme--dark .tiptap.ProseMirror section::before,
.theme--dark .tiptap.ProseMirror article::before,
.theme--dark .tiptap.ProseMirror span::before,
.theme--dark .tiptap.ProseMirror .svg-placeholder::before {
  background: #000;
  color: #fff;
}
