@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons");
@import url("~vuetify/dist/vuetify.css");
@import url("~@mdi/font/css/materialdesignicons.css");

.d-grid {
    display: grid !important;
}

.g-0 {
    gap: 0;
}

.g-1 {
    gap: 4px;
}

.g-2 {
    gap: 8px;
}

.g-3 {
    gap: 12px;
}

.g-4 {
    gap: 16px;
}

.g-5 {
    gap: 20px;
}

.g-6 {
    gap: 24px;
}

.g-7 {
    gap: 28px;
}

.g-8 {
    gap: 32px;
}

.g-9 {
    gap: 36px;
}

.g-10 {
    gap: 40px;
}

.g-11 {
    gap: 44px;
}

.g-12 {
    gap: 48px;
}

.g-13 {
    gap: 52px;
}

.g-14 {
    gap: 56px;
}

.g-15 {
    gap: 60px;
}

.g-16 {
    gap: 64px;
}

/* login form START */
.login-form {
    max-width: 350px;
}

.login-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* login form END */

/* header border & shadow START */
.theme--light .v-application--wrap > header {
    background: #fff !important;
}

.theme--dark .v-application--wrap > header {
    background: #363636 !important;
    border-bottom: 1px solid #595959;
}

.theme--dark .v-application--wrap > header.v-app-bar--is-scrolled,
.theme--light .v-application--wrap > header.v-app-bar--is-scrolled {
    border-bottom: 0;
}

/* header border & shadow END */

/* navigation margins & paddings START */
.v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 16px;
}

.v-navigation-drawer__content .v-list-item__avatar:first-child {
    margin: 0 8px 0 -8px !important;
}

.v-list-group--no-action > .v-list-group__items > div > .v-list-item {
    padding-left: 56px;
}

/* navigation margins & paddings END */

/* navigation itemts links as Google START */
.v-list-group__items > .v-list-item,
.v-list-group__items > .v-list-item > .v-list-item__content {
    padding: 0 !important;
}

.v-list-group__items > .v-list-item a {
    display: block;
    padding: 10px 16px 10px 56px;
    text-decoration: none;
    border-radius: 0 50px 50px 0;
}

.theme--light .v-list-group__items > .v-list-item a:hover {
    background: #E8EAF6;
}

.theme--dark .v-list-group__items > .v-list-item a:hover {
    color: #1976d2;
    background: #3a566c;
}

.v-list--dense .v-list-item,
.v-list-item--dense {
    min-height: 32px;
}

.v-list-group__items > .v-list-item.submenuitem-active a,
.v-list-group__items > .v-list-item.submenuitem-active a:hover {
    background: #C5CAE9;
}

/* navigation itemts links as Google END */

/* tree START */
.tree {
    font-size: 14px;
    user-select: none;
}

.tree .tree-node-toggle {
    cursor: pointer;
}

.tree .v-chip,
.tree .v-card {
    cursor: move;
}

.theme--light .tree .v-card:hover {
    background: #eee;
}

.theme--dark .tree .v-card:hover {
    background: #616161;
}

.rotate-180 {
    transform: rotate(-180deg);
}

/* tree END */

/* table row disabled START */
.theme--light .row--disabled,
.theme--light .chip--disabled {
    background: #fbf0f0;
}

.theme--dark .row--disabled,
.theme--dark .chip--disabled {
    background: #7c1a1a;
}

.theme--light .row--enabled,
.theme--light .chip--enabled {
    background: #bae5ba;
}

.theme--dark .row--enabled,
.theme--dark .chip--enabled {
    background: #0f7655;
}

/* table row disabled END */

/* dialog close button bugfix START */
.vuedl-layout__closeBtn {
    display: none;
}

/* dialog close button bugfix END */

/* dialog padding bugfix START */
.v-dialog > .v-card > .v-card__text {
    padding: 20px 24px;
}

/* dialog padding bugfix END */

/* dialog icon bugfix START */

/* .v-dialog header .v-icon {
    margin-right: 8px;
} */

/* dialog icon bugfix END */

/* multiselect height START */
.v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--box .v-select__selections,
.v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--enclosed .v-select__selections {
    min-height: 56px;
}

/* multiselect height END */

/* collapsible filter START */
.filter-expansion .v-expansion-panel::before {
    box-shadow: none;
}

.filter-expansion .v-expansion-panel-header {
    min-height: 64px;
}

.filter-expansion .v-expansion-panel-header__icon {
    margin-right: -8px;
}

.filter-expansion .v-expansion-panel-content__wrap {
    padding: 0;
}

.filter-expansion .v-input--radio-group--row .v-input--radio-group__input {
    display: flex;
    flex-wrap: nowrap;
}

/* collapsible filter END */

/* tabs margin bugfix START */
.v-application--is-ltr .v-tabs--align-with-title > .v-tabs-bar:not(.v-tabs-bar--show-arrows, .v-slide-group--is-overflowing) > .v-slide-group__wrapper > .v-tabs-bar__content > .v-tab:first-child,
.v-application--is-ltr .v-tabs--align-with-title > .v-tabs-bar:not(.v-tabs-bar--show-arrows, .v-slide-group--is-overflowing) > .v-slide-group__wrapper > .v-tabs-bar__content > .v-tabs-slider-wrapper + .v-tab,
.v-application--is-ltr .v-tabs--align-with-title > .v-tabs-bar:not(.v-tabs-bar--show-arrows) > .v-slide-group__wrapper > .v-tabs-bar__content > .v-tab:first-child,
.v-application--is-ltr .v-tabs--align-with-title > .v-tabs-bar:not(.v-tabs-bar--show-arrows) > .v-slide-group__wrapper > .v-tabs-bar__content > .v-tabs-slider-wrapper + .v-tab {
    margin-left: 0;
}

/* tabs margin bugfix END */

/* data-table grid justify-content to end START */
.v-data-table__mobile-row .mobile-end {
    justify-content: flex-end !important;
    margin-left: 16px !important;
}

/* data-table grid justify-content to end END */

/* chip text wrap bugfix START */
.v-chip {
    white-space: nowrap;
}

/* chip text wrap bugfix END */

/* lightbox START */
.lightbox {
    background: rgb(0 0 0 / 95%);
}

/* lightbox END */

/* progresbarr overflow to prevent resizing due to rotation START */
.v-progress-circular {
    overflow: hidden;
}

/* progresbarr overflow to prevent resizing due to rotation END */

/* label inside flex-grow-0 fix START */
.flex-grow-0 .v-input--selection-controls .v-input__slot > .v-label,
.flex-grow-0 .v-input--selection-controls .v-radio > .v-label {
    white-space: nowrap;
}

/* label inside flex-grow-0 fix END */

/* fileBrowser image size bugfix START */
.v-responsive__content {
    width: auto !important;
}

/* fileBrowser image size bugfix END */

/* editor code switch START */
.editor-code-switch {
    display: flex;
    justify-content: flex-end;
}

.editor-code-switch .v-input--selection-controls .v-input__control {
    flex-grow: 0;
    width: auto;
}

/* editor code switch END */

.v-treeview-node--leaf .v-treeview-node__label {
    padding-left: 10px;
}

.v-treeview-node__label {
    text-transform: lowercase;
}

.v-treeview-node__label::first-letter {
    text-transform: uppercase;
}

.v-treeview-node .sortable-chosen .v-treeview-node__root {
    color: #1976d2;
    background: #e4effa;
}

.item-sub {
    margin: 0 0 0 1rem;
}

.v-toolbar__title::first-letter {
    text-transform: uppercase;
}

.v-label {
    text-transform: lowercase;
}

.v-dialog > .v-card > .v-card__title::first-letter {
    text-transform: uppercase !important;
}

.v-btn--icon.v-size--default .v-icon,
.v-btn--fab.v-size--default .v-icon {
    height: 18px;
}

/* preview wrap height START */
.preview-wrap {
    height: 200px;
}

.theme--dark .preview-wrap {
    background: #000000;
}

.theme--light .preview-wrap {
    background: #F5F5F5;
}

.v-application .text-h4 {
    font-size: 2.125rem !important;
    font-weight: 680;
    line-height: 2.5rem;
}

.v-tab {
    text-transform: lowercase;
    letter-spacing: normal;
}

.theme--dark .gradient-text {
    background: #0C0B7A;
    background: -webkit-linear-gradient(to right, #0C0B7A, #704914);
    background: linear-gradient(271deg, #0C0B7A, #704914);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.theme--light .gradient-text {
    background: #704914;
    background: -webkit-linear-gradient(to right, #704914, #0C0B7A);
    background: linear-gradient(271deg, #704914, #0C0B7A);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.v-application .primary {
    background: #704914 !important;
    background: -webkit-linear-gradient(to right, #704914, #0C0B7A) !important;
    background: linear-gradient(271deg, #704914, #0C0B7A) !important;
    border-color: transparent !important;
}

/* preview wrap height END */