{% trans_default_domain 'arodax_admin' %}
{# This snippet can be included anywhere in the admin, to display breadcrumb for admin_drawer menu #}
{{ menu_render(
    menu_get('menu', [], {
        'id': 'arodax_admin'
    }),
    {'template': '@ArodaxAdmin/ux/breadcrumb.html.twig'})
}}
