<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-card
    outlined
    class="fill-height"
  >
    <v-toolbar flat>
      <v-toolbar-title>{{ $t('user') }}</v-toolbar-title>
      <v-spacer />
      <v-btn
        icon
        :href="'/admin/users/' + currentUser.id"
      >
        <v-icon>fa-fw fa-light fa-pen-to-square</v-icon>
      </v-btn>
    </v-toolbar>

    <v-row
      no-gutters
      align-content="center"
    >
      <v-col>
        <v-card-title class="headline">
          {{ currentUser.displayName }}
        </v-card-title>
        <v-card-subtitle>{{ currentUser.email }}</v-card-subtitle>
      </v-col>

      <v-col class="flex-grow-0 pa-4">
        <v-avatar
          :size="48"
          :color="currentUser.color"
        >
          <img
            v-if="currentUser.avatar"
            :src="currentUser.avatar"
            :alt="alt"
          >
          <span
            v-else
            v-text="letter"
          />
        </v-avatar>
      </v-col>
    </v-row>

    <v-card-actions>
      <v-col
        :cols="12"
        class="pa-2 pt-0"
      >
        <v-chip
          v-for="role in roleChips"
          :key="role"
          label
          class="ma-1"
          small
        >
          {{ $t(role) }}
        </v-chip>
      </v-col>
    </v-card-actions>
  </v-card>
</template>

<script>
import { isNil, isString } from 'lodash'
import { useCurrentUserStore } from '../../stores/currentUserStore'

export default {
  name: 'VCardCurrentUser',
  computed: {
    currentUser () {
      const store = useCurrentUserStore()
      return store.user
    },
    /**
       * Calculate "alt" attribute for the user avatar.
       * The displayName, email property is used, if empty the empty string is returned.
       * @returns {string}
       */
    alt () {
      if (!isNil(this.currentUser.displayName)) {
        return this.currentUser.displayName
      }

      if (!isNil(this.currentUser.email)) {
        return this.currentUser.email
      }

      return ''
    },
    /**
       * Return the first letter of the user's display name.
       * @returns {string}
       */
    letter () {
      if (!isNil(this.currentUser.displayName) && isString(this.currentUser.displayName)) {
        return this.currentUser.displayName.substring(0, 1)
      }

      return ''
    },
    roleChips () {
      const roles = this.currentUser.roles;
      if (roles.includes('ROLE_SUPER_ADMIN')) {
        return ['ROLE_SUPER_ADMIN'];
      } else if (roles.includes('ROLE_ADMIN')) {
        return ['ROLE_ADMIN'];
      } else {
        return roles; // Default to all roles if neither super admin nor admin
      }
    }
  },
}
</script>
