<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card
      class="pa-3"
      outlined
    >
      <div v-if="user">
        <v-row justify="center">
          <v-col
            cols="12"
            class="text-center"
          >
            <v-avatar-user
              :value="user"
              :size="60"
            />
          </v-col>
          <v-col
            cols="12"
            class="text-center"
          >
            <div
              v-if="user.displayName"
              class="subtitle-1"
            >
              {{ user.displayName }}
            </div>
            <div
              v-if="!user.displayName"
              class="subtitle-1"
            >
              {{ user.displayName }}
            </div>
            <div v-if="user.email">
              <v-btn
                text
                :href="`mailto:${user.email}`"
              >
                {{ user.email }}
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </div>
    </v-card>
  </div>
</template>

<script>
import VAvatarUser from '../VAvatarUser.vue'
import { useUserStore } from '../../stores/userStore'
import VChipUserRole from '../v-chip/VChipUserRole.vue'
import VChipUserTotalScore from '../v-chip/VChipUserTotalScore.vue'
import VChipUserGroup from '../v-chip/VChipUserGroup.vue'

export default {
  name: 'VCardUserAside',
  components: {
    VChipUserGroup,
    VChipUserTotalScore,
    VChipUserRole,
    VAvatarUser
  },
  props: {
    userId: {
      type: Number,
      required: true
    }
  },
  computed: {
    userStore () {
      return useUserStore(`/api/users/${this.userId}`)
    },
    user () {
      return this.userStore.getItem()
    }
  },
  created () {
    if (null === this.userStore.getItem()) {
      this.userStore.readItem()
    }
  }
}
</script>
