<template>
  <v-card
    outlined
    class="mt-4"
  >
    <v-toolbar
      dense
      flat
      class="mb-4"
    >
      <v-toolbar-title>{{ $t('authors') }}</v-toolbar-title>
    </v-toolbar>

    <v-row
      no-gutters
      class="pa-2 mt-n2"
    >
      <v-col
        :cols="12"
        :sm="6"
        :xl="3"
        class="pa-2"
      >
        <v-autocomplete-user
          v-model="item.authors"
          :multiple="true"
        />
      </v-col>

      <v-col
        :cols="12"
        :sm="6"
        :xl="2"
        class="pa-2"
      >
        <v-text-field
          outlined
          :value="formatDateTime(item.createdAt)"
          :label="$t('created_at')"
          disabled
          prepend-icon="event"
        />
      </v-col>

      <v-col
        :cols="12"
        :sm="6"
        :xl="2"
        class="pa-2"
      >
        <v-text-field
          outlined
          :value="formatDateTime(item.updatedAt)"
          :label="$t('updated_at')"
          disabled
          prepend-icon="event"
        />
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import VAutocompleteUser from '../v-autocomplete/VAutocompleteUser.vue'
import { dateTimeMixin } from '../../mixins/dateTimeMixin'

export default {
  name: 'VCardAuthors',
  components: {
    VAutocompleteUser
  },
  mixins: [
    dateTimeMixin
  ],
  props: {
    value: {
      type: Object,
      required: true,
      default: () => { return null }
    }
  },
  computed: {
    item: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>
