<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-speed-dial
      v-model="fab"
      style="position: fixed"
      :bottom="true"
      :right="true"
      direction="top"
      :open-on-hover="true"
      class="z-index-2"
    >
      <template #activator>
        <v-btn
          v-show="!isIntersecting"
          v-if="!isReadOnly"
          v-model="fab"
          color="primary"
          class="white--text"
          dark
          fab
          @click="save"
        >
          <v-icon>
            fa-light fa-fw fa-floppy-disk-pen
          </v-icon>
        </v-btn>
      </template>
    </v-speed-dial>
    <v-card flat>
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('actions') }}</v-toolbar-title>
      </v-toolbar>

      <v-row
        no-gutters
        class="pa-2"
      >
        <v-col
          v-if="hasStatus"
          :cols="12"
          :md="3"
          class="pa-2"
        >
          <v-select
            :key="statusName"
            v-model="status"
            :items="statuses"
            item-value="name"
            item-text="label"
            outlined
            hide-details
            :label="$t('status')"
            :disabled="isReadOnly"
          >
            <template #prepend>
              <v-icon
                v-if="status"
                :color="statusColor"
              >
                {{ statusIcon }}
              </v-icon>
            </template>

            <template #selection="{ item }">
              {{ $t(item.label) }}
            </template>

            <template #item="{ active, item, attrs, on }">
              <v-list-item
                v-slot="{ active }"
                v-bind="attrs"
                v-on="on"
              >
                <v-list-item-action>
                  <v-icon :color="item.color">
                    {{ item.icon }}
                  </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  {{ $t(item.label) }}
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-select>
        </v-col>

        <v-col
          v-if="hasPublishedAt"
          :cols="12"
          :md="6"
          class="pa-2"
        >
          <v-date-time-pickers
            v-model="dateTime"
            :label-time="$t('published_at_time')"
            :label-date="$t('published_at_date')"
            :disabled="isReadOnly"
          />
        </v-col>

        <v-col
          v-if="hasPublishedAt"
          :cols="12"
          :md="3"
          class="pa-2"
        >
          <v-autocomplete-priority
            v-if="hasPriority"
            v-model="value.priority"
            :label="$t('priority')"
            outlined
          />
        </v-col>
      </v-row>

      <v-card-actions
        v-intersect="{ handler: onIntersect, options: { threshold: [0, 0.1, 1.0] } }"
        class="d-flex flex-wrap justify-space-between"
      >
        <div class="d-flex flex-wrap pa-4 g-4">
          <v-btn
            v-if="!isReadOnly"
            depressed
            color="primary"
            class="white--text"
            @click="save"
          >
            <v-icon left>
              fa-light fa-fw fa-floppy-disk-pen
            </v-icon>
            {{ $t('save') }}
          </v-btn>

          <v-btn-delete
            v-if="isDeletable"
            :value="value"
            text
          />

          <v-btn-translate
            v-if="!isReadOnly"
            :value="value"
          />

          <slot />
        </div>

        <div class="d-flex flex-wrap">
          <small v-if="hasCreatedAt" class="pa-4">{{ $t('created_at') }} {{ createdAt }}</small>
          <small v-if="hasUpdatedAt" class="pa-4">{{ $t('updated_at') }} {{ updatedAt }}</small>
        </div>

      </v-card-actions>

    </v-card>

  </div>
</template>

<script>
import VDateTimePickers from '../v-date/VDateTimePickers.vue'
import VBtnDelete from '../v-btn/VBtnDelete.vue'
import { find, has, isNil } from 'lodash'
import VAutocompletePriority from '../v-autocomplete/VAutocompletePriority.vue'
import VBtnTranslate from '../v-btn/VBtnTranslate.vue'
import { DateTime } from 'luxon'
import { useCurrentUserStore } from '../../stores/currentUserStore'
import { dateTimeMixin } from "../../mixins/dateTimeMixin";

export default {
  name: 'VCardPublishedAt',
  components: {
    VAutocompletePriority,
    VDateTimePickers,
    VBtnDelete,
    VBtnTranslate
  },
  props: {
    value: {
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  mixins: [
    dateTimeMixin
  ],
  data () {
    return {
      isIntersecting: false,
      fab: false,
      statuses: [
        {
          name: 'published',
          label: 'item published',
          icon: 'fa-light fa-fw fa-circle-check',
          color: 'green accent-4'
        },
        {
          name: 'draft',
          label: 'item not published',
          icon: 'fa-light fa-fw fa-circle-exclamation',
          color: 'red accent-4'
        }
      ]
    }
  },
  computed: {
    admin () {
      const store = useCurrentUserStore()
      return store.user
    },
    dateTime: {
      get () {
        return this.value.publishedAt
      },
      set (value) {
        const item = this.value
        item.publishedAt = value
        this.$emit('input', item)
      }
    },
    status: {
      get () {
        return this.value.status
      },
      set (value) {
        const item = this.value
        item.status = value
        this.$emit('input', item)
      }
    },
    statusIcon () {
      const status = find(this.statuses, ['name', this.status])
      return status ? status.icon : null
    },
    statusName () {
      const status = find(this.statuses, ['name', this.status])
      return status ? status.name : 'unknown'
    },
    statusColor () {
      const status = find(this.statuses, ['name', this.status])
      return status ? status.color : null
    },
    isDeletable () {
      if (has(this.value, 'deletable')) {
        return this.value.deletable
      }

      return true
    },
    isReadOnly () {
      if (has(this.value, 'readOnly')) {
        return this.value.readOnly
      }

      return false
    },
    hasStatus () {
      return has(this.value, 'status')
    },
    hasEnabled () {
      return has(this.value, 'enabled')
    },
    hasPriority () {
      return has(this.value, 'priority')
    },
    hasCreatedAt () {
      return has(this.value, 'createdAt')
    },
    hasUpdatedAt () {
      return has(this.value, 'updatedAt')
    },
    updatedAt () {
      return this.formatDateTime(this.value.updatedAt)
    },
    createdAt () {
      return this.formatDateTime(this.value.createdAt)
    },
    hasPublishedAt () {
      return has(this.value, 'publishedAt')
    }
  },
  watch: {
    status: {
      handler (value) {
        if (value === 'published' && isNil(this.dateTime)) {
          this.dateTime = DateTime.local().setZone('UTC').toISO()
        }
      },
      immediate: true
    }
  },
  methods: {
    save () {
      this.$emit('save')
    },
    onIntersect (entries, observer) {
      this.isIntersecting = entries[0].intersectionRatio >= 0.5
    }
  }
}
</script>
