<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <v-toolbar flat>
        <v-toolbar-title>
          {{ $t('extended_security_settings') }}
        </v-toolbar-title>
        <v-spacer />
        <v-switch
          v-model="isAclEnabled"
          :true-value="true"
          :false-value="false"
          hide-details
        />
      </v-toolbar>
      <v-expand-transition>
        <v-row
          v-show="isAclEnabled"
          class="pa-4"
        >
          <v-col
            :cols="12"
            :md="6"
          >
            <v-autocomplete-acl
              v-model="aclUsers"
              :label="$t('users')"
              :iri="iri"
              type="user"
              :disabled="disabled"
            />
          </v-col>
          <v-col
            :cols="12"
            :md="6"
          >
            <v-autocomplete-acl
              v-model="aclUserGroups"
              :label="$t('user groups')"
              :iri="iri"
              type="userGroup"
              :disabled="disabled"
            />
          </v-col>
        </v-row>
      </v-expand-transition>
    </v-card>
  </div>
</template>

<script>
import VAutocompleteAcl from '../v-autocomplete/VAutocompleteAcl.vue'

export default {
  name: 'VCardAcl',
  components: {
    VAutocompleteAcl
  },
  props: {
    value: {
      type: Object,
      required: true
    },
    iri: {
      type: String,
      required: true,
      default: () => ''
    },
    disabled: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  computed: {
    item: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    aclUsers: {
      get () {
        return this.item.aclUsers
      },
      set (val) {
        this.item.aclUsers = val
      }
    },
    aclUserGroups: {
      get () {
        return this.item.aclUserGroups
      },
      set (val) {
        this.item.aclUserGroups = val
      }
    },
    isAclEnabled: {
      get () {
        return this.item.aclEnabled
      },
      set (val) {
        this.item.aclEnabled = val
      }
    }
  }
}
</script>
