<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-toolbar flat>
      <v-subheader class="pa-0">
        Přílohy ke grantovým pravidlům
      </v-subheader>
      <v-spacer />
      <v-btn
        icon
        :disabled="disabled"
        @click.prevent="addAttachment"
      >
        <v-icon>add</v-icon>
      </v-btn>
      <template
        v-if="hasAttachments"
        #extension
      >
        <v-tabs
          v-model="tab"
          align-with-title
        >
          <v-tab
            v-for="(attachment, index) in attachments"
            :key="index"
          >
            <v-icon>fa-light fa-file-pdf</v-icon>
          </v-tab>
        </v-tabs>
      </template>
    </v-toolbar>

    <v-tabs-items
      v-if="hasAttachments"
      v-model="tab"
    >
      <v-tab-item
        v-for="(attachment, index) in attachments"
        :key="index"
      >

        <div class="pa-4 text-body-2 d-flex align-center justify-center preview-wrap">Náhled není k dispozici.</div>

        <v-row
          v-if="loading"
          no-gutters
          class="pa-4"
        >
          <v-col>
            <v-progress-circular
              indeterminate
              color="primary"
            />
          </v-col>
        </v-row>

        <v-row
          no-gutters
          class="pa-2"
        >
          <v-col
            :cols="12"
            class="pa-2"
          >
            <v-text-field
              v-model="attachment.contentUrl"
              outlined
              label="URL"
              :hide-details="true"
              clearable
              :disabled="disabled"
            />
            <div class="d-flex justify-center mt-4">
              <v-btn
                text
                color="primary"
                :loading="loading"
                :disabled="disabled"
                @click="$refs.attachmentUpload.click()"
              >
                <v-icon left>
                  fa-fw fa-light fa-file-arrow-up
                </v-icon> {{ $t('upload') }}
              </v-btn>
              <v-btn
                text
                color="error"
                :disabled="disabled"
                @click="attachments.splice(index, 1)"
              >
                <v-icon left>
                  fa-fw fa-light fa-xmark
                </v-icon> {{ $t('delete') }}
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-tab-item>
    </v-tabs-items>

    <!-- the hidden input which holds the upload state -->
    <input
      v-show="false"
      ref="attachmentUpload"
      type="file"
      accept="application/pdf"
      :disabled="disabled"
      @change="attachmentFromFile"
    >
  </div>
</template>

<script>
import size from 'lodash/size'
import Axios from 'axios'

export default {
  name: 'VCardGrantCallAttachment',
  props: {
    value: {
      type: Array,
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  emits: [
    'add',
    'input'
  ],
  data () {
    return {
      tab: null,
      loading: false
    }
  },
  computed: {
    attachments: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    hasAttachments () {
      return size(this.attachments) > 0
    }
  },
  methods: {
    addAttachment () {
      if (this.attachments === null) {
        this.attachments = []
      }

      this.attachments.push({
        contentUrl: null
      })
    },
    attachmentFromFile () {
      const file = this.$refs.attachmentUpload.files[0]
      if (!file) {
        return
      }

      this.loading = true
      const formData = new window.FormData()
      formData.append('file', file)

      Axios.post('/api/media-objects.json', formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.attachments[this.tab].contentUrl = response.data.contentUrl
        })
        .catch((err) => {
          console.dir(err)
        })
        .finally(() => { this.loading = false })
    }
  }
}
</script>
