<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card flat>
      <v-toolbar flat>
        <slot name="title">
          <v-toolbar-title>{{ $t('covers') }}</v-toolbar-title>
        </slot>
        <v-spacer />
        <v-btn
          icon
          :disabled="disabled"
          @click.prevent="addCover"
        >
          <v-icon>add</v-icon>
        </v-btn>

        <template
          v-if="hasCovers"
          #extension
        >
          <v-tabs v-model="tab">
            <v-tab
              v-for="(cover, index) in covers"
              :key="index"
            >
              <v-icon size="small">fa-fw fa-light fa-file-image</v-icon>
            </v-tab>
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items
        v-if="hasCovers"
        v-model="tab"
      >
        <v-tab-item
          v-for="(cover, index) in covers"
          :key="index"
          @dragover.prevent="handleFileDragOver"
          @dragleave.prevent="handleFileDragLeave"
          @drop.prevent="handleFileDrop"
        >
          <modal-file-browser
            v-model="fileBrowser"
            :single-pick="true"
            @close="closeFileBrowser"
            @use="($event) => pickMediaFromFileBrowser($event, index)"
          />

          <!-- this is content of dialog when drag is active -->
          <v-sheet
            v-show="drag"
            class="pa-5 flex-row align-center"
            style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 1;"
          >
            <p class="text-center mb-5">
              <strong>{{ $t('v_btn_editor_image_drag_drop_help') }}</strong>
            </p>
            <div class="d-flex justify-center">
              <v-icon x-large>
                fa fa-fw fa-regular fa-cloud-plus
              </v-icon>
            </div>
          </v-sheet>

          <div class="preview-wrap">
            <v-img
              v-if="cover && cover.contentUrl"
              :key="cover.contentUrl"
              height="200px"
              :src="cover.contentUrl"
              :contain="true"
              class="pa-4"
            >
              <template #placeholder>
                <v-row
                  no-gutters
                  class="pa-4"
                >
                  <v-col>
                    <v-progress-circular
                      indeterminate
                      color="primary"
                    />
                  </v-col>
                </v-row>
              </template>
            </v-img>
          </div>
          <v-row
            v-if="loading"
            no-gutters
            class="pa-4"
          >
            <v-col>
              <v-progress-circular
                indeterminate
                color="primary"
              />
            </v-col>
          </v-row>

          <v-text-field
            v-if="showUrl"
            v-model="cover.contentUrl"
            dense
            outlined
            label="URL"
            :hide-details="true"
            clearable
            :disabled="disabled"
            class="ma-4"
          />

          <div class="cover-controls pa-4">
            <div>
              <v-switch
                dense
                v-model="showUrl"
                :label="$t('url')"
                class="ma-0"
                hide-details
              />
            </div>
            <div class="d-flex flex-wrap justify-center main-actions">
              <v-btn
                small
                text
                color="primary"
                :loading="loading"
                :disabled="disabled"
                @click="$refs.coverUpload.click()"
              >
                <v-icon left>
                  fa-fw fa-light fa-file-arrow-up
                </v-icon> {{ $t('upload') }}
              </v-btn>

              <v-btn
                small
                text
                color="primary"
                :loading="loading"
                :disabled="disabled"
                @click="fileBrowser = true"
              >
                <v-icon left>
                  fa-fw fa-light fa-folder-magnifying-glass
                </v-icon> {{ $t('browse') }}
              </v-btn>

              <v-btn
                small
                text
                color="error"
                :disabled="disabled"
                @click="covers.splice(index, 1)"
              >
                <v-icon left>
                  fa-fw fa-light fa-xmark
                </v-icon> {{ $t('delete') }}
              </v-btn>
            </div>
            <div class="d-flex justify-end">
              <v-btn
                small
                text
                color="error"
                :disabled="true"
              >
                <v-icon left>
                  fa-fw fa-light fa-robot
                </v-icon> {{ $t('ai') }}
              </v-btn>
            </div>
          </div>
        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <!-- the hidden input which holds the upload state -->
    <input
      v-show="false"
      ref="coverUpload"
      type="file"
      accept="image/*"
      :disabled="disabled"
      @change="coverFromFile"
    >
  </div>
</template>

<script>
import size from 'lodash/size'
import Axios from 'axios'
import ModalFileBrowser from '../v-dialog/ModalFileBrowser.vue'

export default {
  name: 'VCardCoverPicker',
  components: {
    ModalFileBrowser
  },
  props: {
    value: {
      type: Array,
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  emits: [
    'add',
    'input'
  ],
  data () {
    return {
      tab: null,
      loading: false,
      fileBrowser: false,
      drag: false,
      showUrl: false,
    }
  },
  computed: {
    toolbarColor () {
      return  this.$vuetify.theme.dark ? null : 'grey lighten-4'
    },
    covers: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    hasCovers () {
      return size(this.covers) > 0
    },
  },
  methods: {
    async handleFileDrop (event) {
      // Prevent the default behavior to stop the browser from opening the file
      event.preventDefault()

      // Get the first file from the dropped files
      const file = event.dataTransfer.files[0]

      // If there's a file, proceed with the upload
      if (file) {
        await this.uploadFile(file)
      }

      // Regardless of the upload outcome, hide the drag overlay
      this.drag = false
    },
    async uploadFile (file) {
      const formData = new FormData()
      formData.append('file', file)

      try {
        const response = await Axios.post('/api/media-objects.json', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
            Accept: 'application/json'
          }
        })

        if (response.data && response.data.contentUrl) {
          console.log('Upload successful', response.data)
          this.covers[this.tab].contentUrl = response.data.contentUrl
          console.log(response.data)
        } else {
          console.error('Unexpected response structure:', response.data)
        }
      } catch (error) {
        console.error('Upload error', error)
      }
    },
    handleFileDragOver (event) {
      event.preventDefault()
      // Check if the drag event contains files
      this.drag = event.dataTransfer && event.dataTransfer.types && event.dataTransfer.types.includes('Files')
    },
    handleFileDragLeave (event) {
      // Prevent the default behavior
      event.preventDefault()
      // Check if the dragleave event is from the container and not bubbling from children
      if (event.currentTarget === event.target) {
        this.drag = false
      }
    },
    pickMediaFromFileBrowser (value, index) {
      const covers = this.covers
      covers[index].contentUrl = value.contentUrl
      this.covers = covers
      this.fileBrowser = false
    },
    closeFileBrowser () {
      this.fileBrowser = false
    },
    addCover () {
      this.$emit('add')
    },
    coverFromFile () {
      const file = this.$refs.coverUpload.files[0]
      if (!file) {
        return
      }

      this.loading = true
      const formData = new window.FormData()
      formData.append('file', file)
      formData.append('avif', '100')

      Axios.post('/api/media-objects.json', formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          this.covers[this.tab].contentUrl = response.data.contentUrl
        })
        .catch((err) => {
          console.dir(err)
        })
        .finally(() => { this.loading = false })
    }
  }
}
</script>
