<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div v-bind="$attrs">
    <v-virtual-scroll
      :items="shoppingCart.items"
      :item-height="200"
      :max-height="600"
      bench="50"
    >
      <template #default="{ item }">
        <v-row
          no-gutters
          class="pa-2"
        >
          <!-- the preview image -->
          <v-col class="pa-2 flex-grow-0">
            <div>
              <v-img
                v-if="item.productVariant.covers[0]"
                class="grey lighten-2"
                max-height="50"
                max-width="50"
                :src="thumb(item.productVariant.covers[0].contentUrl)"
              />
              <div
                v-if="!item.productVariant.covers[0]"
                class="grey lighten-2 product-image-placeholder"
              />
            </div>
          </v-col>

          <v-col class="pa-2">
            <div class="text-subtitle-2">
              {{ item.name }}
            </div>
            <div class="text-caption">
              {{ item.name }}
            </div>
          </v-col>

          <v-col class="flex-grow-0">
            <v-btn
              v-if="isShoppingCartOpen"
              outlined
              fab
              x-small
              color="red"
              class="mt-2 mr-2"
              @click="updateItemQuantity(0, item)"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-col>
        </v-row>

        <v-row
          no-gutters
          class="pa-2 px-4 mt-n4"
        >
          <v-col class="py-2 text-right">
            <div class="text-caption">
              Množství
            </div>
            <v-text-field
              v-model="item.quantity"
              :disabled="!isShoppingCartOpen"
              hide-details
              type="number"
              min="0"
              max="999"
              outlined
              dense
              @input="updateItemQuantity($event, item)"
            />
          </v-col>
          <v-col class="py-2 text-right">
            <div class="text-caption mb-2">
              Bez DPH
            </div>
            <div class="text-body-2">
              {{ formatPrice(item.priceWithoutTax) }}
            </div>
          </v-col>
          <v-col class="py-2 text-right">
            <div class="text-caption mb-2">
              S DPH
            </div>
            <div class="text-body-2 font-weight-bold">
              {{ formatPrice(item.priceWithTax) }}
            </div>
          </v-col>
        </v-row>

        <v-divider />
      </template>
    </v-virtual-scroll>

    <v-dialog
      v-model="dialogRemoveProduct"
      max-width="360"
      persistent
    >
      <v-card>
        <v-card-title>
          Vyhození produktu
        </v-card-title>
        <v-card-text>
          Opravdu vyhodit z košíku produkt {{ selectedItemName }} ?
        </v-card-text>
        <v-card-actions class="pa-4 pt-0">
          <v-btn
            text
            color="danger"
            @click="removeItemFromCart"
          >
            Vyhodit z košíku
          </v-btn>
          <v-spacer />
          <v-btn
            text
            color="primary"
            @click="keepItemInCart"
          >
            Ponechat v košíku
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Axios from 'axios'
import QS from 'qs'
import { mapGetters, mapMutations } from 'vuex'
import isEmpty from 'lodash/isEmpty'
import debounce from 'lodash/debounce'
import isNil from 'lodash/isNil'
import isNull from 'lodash/isNull'

export default {
  name: 'VShoppingCartWidget',
  props: {
    value: {
      default: null
    }
  },
  data () {
    return {
      dialogRemoveProduct: false,
      selectedItem: null
    }
  },
  computed: {
    ...mapGetters(['shoppingCart']),
    selectedItemName () {
      if (!this.selectedItem) {
        return ''
      }

      return this.selectedItem.productVariant.product.translations.cs.name + ' ' + this.selectedItem.productVariant.translations.cs.name
    },
    isShoppingCartOpen () {
      return this.shoppingCart.status === 'open'
    }
  },
  methods: {
    ...mapMutations(['setShoppingCart']),
    /**
       * Return thumnail path for the given image
       * @param path The path to the image
       * @return {string} The thumbnail path for the image
       */
    thumb (path) {
      return isEmpty(path) ? '' : path.replace('/media/', '/media/cache/square/')
    },
    /**
       * Format price to the given locale and currency
       */
    formatPrice (price, currency = 'CZK', locale = 'cs-CZ') {
      if (isNaN(price) || price === '' || price === null) {
        return ''
      }

      if (isNull) {
        currency = 'CZK'
      }

      if (isNull(locale)) {
        locale = 'cs-CZ'
      }

      const formatter = new Intl.NumberFormat(locale, { style: 'currency', currency: currency })
      return formatter.format(price / 100)
    },
    updateItemQuantity: debounce(function (event, item) {
      this.selectedItem = item

      if (event < 1) {
        this.dialogRemoveProduct = true
      }

      if (event > 0) {
        this.dialogRemoveProduct = false

        Axios.post('/api/shopping-cart', QS.stringify({
          id: this.selectedItem.productVariant.id,
          qty: event
        })).then((response) => {
          this.setShoppingCart(response.data)
        })
      }
    }, 1000),
    /**
       * Decide to keep the product in the shopping cart,
       * return the product back to life with 1 quantity.
       */
    keepItemInCart () {
      this.dialogRemoveProduct = false
      this.selectedItem.quantity = 1
    },
    /**
       * Remove item from shopping cart
       * and fetch new cart.
       */
    removeItemFromCart () {
      this.$set(this.selectedItem, 'boilerplate', true)
      this.dialogRemoveProduct = false
      Axios.post('/api/shopping-cart', QS.stringify({
        id: this.selectedItem.productVariant.id,
        qty: 0
      })).then((response) => {
        this.setShoppingCart(response.data)
        this.$set(this.selectedItem, 'boilerplate', null)
      })
    },
    /**
       * Check whether item is an boilerplate (skeleton loader)
       * @param item
       * @return {boolean}
       */
    isBoilerPlate (item) {
      return !isNil(item.boilerplate)
    }
  }
}
</script>
