<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-card outlined class="fill-height">
    <v-toolbar flat>
      <v-toolbar-title>{{ $t('online users')|upperFirst }}</v-toolbar-title>
      <v-spacer />
      <v-btn icon @click.prevent="getOnlineUsers" :loading="loading">
        <v-icon>mdi-sync</v-icon>
      </v-btn>
    </v-toolbar>

    <v-list v-if="users.length > 0">
      <v-list-item v-for="user in users" :key="user.id">

        <v-list-item-icon>
          {{ lastActivityTime(user) }}
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title v-text="user.displayName" />
          <v-list-item-subtitle v-text="user.email" />
        </v-list-item-content>

        <v-list-item-avatar>
          <v-avatar :size="48" :color="user.color">
            <img v-if="user.avatar" :src="user.avatar" :alt="alt(user)">
            <span v-else v-text="letter(user)" />
          </v-avatar>
        </v-list-item-avatar>
      </v-list-item>
    </v-list>

  </v-card>
</template>

<script>
import isNil from 'lodash/isNil'
import isString from 'lodash/isString'
import upperFirst from 'lodash/upperFirst'
import Axios from '../../composables/ajax'
import { DateTime } from 'luxon'
import { dateTimeMixin } from '../../mixins/dateTimeMixin'

export default {
    name: 'widget-online-users',
    mixins: [
      dateTimeMixin
    ],
    data () {
      return {
        users: [],
        loading: true
      }
    },
    created () {
      this.getOnlineUsers()
    },
    methods: {
      getOnlineUsers () {
        let before = this.$_substractDateTime(DateTime.local().toISO(), {minutes: 10})
        before = DateTime.fromISO(before)
        this.loading = true
        Axios.get('/api/users?lastActivityAt[strictly_after]='+before.setZone('UTC').toISO()+'&itemsPerPage=10&page=1&order[lastActivityAt]=desc').then((result) => {
          this.users = result.data['hydra:member']
          this.loading = false
        })
      },
      /**
       * Display HH:mm value for user's last activity
       */
      lastActivityTime (user) {
        if (!user) {
          return ''
        }

        if (!user.lastActivityAt) {
          return null
        }

        return this.$_strftime(user.lastActivityAt, 'T')
      },
      /**
       * Calculate "alt" attribute for the user avatar.
       * The displayName, email property is used, if empty the empty string is returned.
       * @returns {string}
       */
      alt (user) {
        if (!user) {
          return ''
        }

        if (!isNil(user.displayName)) {
          return user.displayName
        }

        if (!isNil(user.email)) {
          return user.email
        }

        return ''
      },
      /**
       * Return the first letter of the user's display name.
       * @returns {string}
       */
      letter (user) {
        if (!user) {
          return ''
        }

        if (!isNil(user.displayName) && isString(user.displayName)) {
          return user.displayName.substring(0,1)
        }

        return ''
      },
    },
    filters: {
      upperFirst (val) {
        return upperFirst(val)
      }
    }
  }
</script>
