<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-card
    flat
    class="fill-height"
    :color="color"
    dark
  >
    <v-toolbar
      flat
      :color="color"
    >
      <v-toolbar-title>{{ title }}</v-toolbar-title>
    </v-toolbar>

    <v-row
      no-gutters
      class="mb-md-4"
    >
      <v-col :cols="12">
        <v-list-item two-line>
          <v-list-item-icon>
            <v-icon>fa fa-fw fa-light fa-shield-check</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ $t('your_version') }}</v-list-item-title>
            <v-list-item-subtitle>{{ installedVersion }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-col>
      <v-col :cols="12">
        <v-list-item two-line>
          <v-list-item-icon>
            <v-icon>fa fa-fw fa-brands fa-git-alt</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ $t('latest_version') }}</v-list-item-title>
            <v-list-item-subtitle>{{ latestVersion }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import Axios from '../../composables/ajax'

export default {
  name: 'WidgetUpdate',
  data () {
    return {
      installedVersion: null,
      latestVersion: null,
      updateInProgress: false
    }
  },
  computed: {
    color () {
      return 'primary'
    },
    title () {
      if (!this.installedVersion || !this.latestVersion) {
        return this.$t('checking for an update')
      } else if (this.latestVersion !== this.installedVersion) {
        return this.$t('update_available')
      } else if (this.latestVersion === this.installedVersion) {
        return this.$t('update_not_available')
      } else {
        return this.$t('checking for an update')
      }
    }
  },
  created () {
    this.fetchVersions()
  },
  methods: {
    fetchVersions () {
      Axios.get('/api/install/check-update').then((response) => {
        this.installedVersion = response.data.installedVersion
        this.latestVersion = response.data.latestVersion
      })
    }
  }
}
</script>
