<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template v-if="visible">
    <v-card outlined class="fill-height">
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('orders') }}</v-toolbar-title>
      </v-toolbar>
      <div>
        <canvas ref="chart" class="pa-4" height="200px"/>
      </div>
    </v-card>
</template>

<script>
import Chart from 'chart.js'
import Axios from '../../composables/ajax'
import saveState from 'vue-save-state'

export default {
  name: 'WidgetEshopOrders',
  mixins: [
    saveState
  ],
  data () {
    return {
      labels: [],
      dataPrice: [],
      dataCnt: [],
      chart: null
    }
  },
  computed: {
    /**
     * Find out, whether the widget is visible or not.
     * Generally we want to display this widget, only when we have some data.
     * @return {boolean}
     */
    visible () {
      return this.dataCnt.length > 0
    }
  },
  mounted () {
    // render chart if data are available from the cache
    this.renderChart()

    Axios.get('/api/orders/chart', { encodeValuesOnly: true, skipNulls: true }).then((response) => {
      const labels = []
      const dataCnt = []
      const dataPrice = []

      response.data.map((o) => {
        labels.push(o.date)
        dataPrice.push(o.price)
        dataCnt.push(o.cnt)
      })

      // compare new and old-data and reresh the chart only when needed
      if (JSON.stringify(this.dataCnt) !== JSON.stringify(dataCnt)) {
        this.dataCnt = dataCnt
        this.dataPrice = dataPrice
        this.labels = labels
        this.renderChart()
      }
    }).catch(() => {
      this.dataPrice = []
      this.dataCnt = []
      this.labels = []
    })
  },
  methods: {
    label (string) {
      return this.$t(string)
    },
    /**
     * Local storage cache configuration
     */
    getSaveStateConfig () {
      return {
        cacheKey: `${window.location.hostname}-arodax_admin_widget_eshop_orders`,
        ignoreProperties: ['chart']
      }
    },
    /**
     * Render chart if data available, destroy any previously
     * generated charts.
     */
    renderChart () {
      this.$nextTick(() => {
        if (this.chart) {
          this.chart.destroy()
        }

        if (this.dataCnt.length > 0) {
          // eslint-disable-next-line no-new
          new Chart(this.$refs.chart.getContext('2d'), {
            type: 'line',
            data: {
              labels: this.labels,
              datasets: [
                {
                  label: this.label('total sales'),
                  backgroundColor: '#FF4081',
                  borderColor: '#FF4081',
                  fill: false,
                  data: this.dataPrice,
                  yAxisID: 'price'
                },
                {
                  label: this.label('total orders'),
                  backgroundColor: '#42A5F5',
                  borderColor: '#42A5F5',
                  fill: false,
                  data: this.dataCnt,
                  yAxisID: 'count'
                }]
            },
            options: {
              scales: {
                xAxes: [{
                  display: true,
                  ticks: {
                    padding: 4
                  }
                }],
                yAxes: [
                  {
                    id: 'price',
                    display: true,
                    type: 'linear',
                    gridLines: {
                      display: true,
                      drawBorder: false
                    },
                    position: 'left',
                    ticks: {
                      beginAtZero: true
                    }
                  },
                  {
                    id: 'count',
                    display: true,
                    type: 'linear',
                    gridLines: {
                      display: false
                    },
                    position: 'right',
                    ticks: {
                      beginAtZero: true
                    }
                  }
                ]
              },
              tooltips: {
                enabled: true,
                position: 'average'
              },
              legend: {
                position: 'bottom',
                labels: {
                  fontFamily: 'Roboto',
                  boxWidth: 10,
                  padding: 30
                }
              }
            }
          })
        }
      })
    }
  }
}
</script>
