{% extends 'knp_menu_base.html.twig' %}

{% block compressed_root %}
{{ block('root') }}
{% endblock %}

{% block root %}
{% set listAttributes = item.childrenAttributes %}
{{ block('list') -}}
{% endblock %}

{% block list %}
{# level 0 #}
<v-list
    :key="'navigation-drawer-' + themeName"
    shaped
    class="overflow-y-auto pb-16"
>
    {# level 1 #}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {{ block('children') }}
    {% endif %}
</v-list>
{% endblock %}

{% block children %}
{# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}

    {# update the depth for children #}
    {% if options.depth is not none %}
        {% set options = options|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}

    {# update the matchingDepth for children #}
    {% if options.matchingDepth is not none and options.matchingDepth > 0 %}
        {% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
    {% endif %}

    {% for item in currentItem.children %}
        {{ block('item') }}
    {% endfor %}

    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}

{% block item %}
    {% if item.displayed %}

        {% if item.hasChildren == false %}
            <v-list-item href="{{ item.uri }}"
                class="menuitem-shallow {% if (matcher.isCurrent(item)) %}menuitem-active{% endif %}"
                {% if (matcher.isCurrent(item)) %}
                    value="1"
                {% endif %}
            >
                <v-list-item-icon>
                    <v-icon small>{{ item.extras.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-title>{{ item.name|capitalize }}</v-list-item-title>
            </v-list-item>
        {% endif %}

         {% if item.hasChildren == true %}
             <v-list-group
                no-action
                {% for child in item.children %}
                    {% if (matcher.isCurrent(child)) %}
                        value="1"
                    {% endif %}
                {% endfor%}
            >
            <template v-slot:activator>
                <v-list-item-icon small>
                    <v-icon small >{{ item.extras.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ item.name|capitalize }}</v-list-item-title>
                </v-list-item-content>
            </template>

            {% for child in item.children %}
                <v-list-item
                    dense
                    {% if (matcher.isCurrent(child)) %}
                        value="1"
                        class="submenuitem-active"
                    {% endif %}
                >
                    <v-list-item-content>
                        <v-list-item-title>
                            <a href="{{ child.uri }}">{{ child.name|capitalize }}</a>
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            {% endfor %}
            </v-list-group>
         {% endif %}

    {% endif %}
{% endblock %}
