{% extends '@ArodaxAdmin/dashboard.html.twig' %}
{% trans_default_domain 'arodax_admin' %}

{% set title = 'dashboard'|trans({}, 'arodax_admin')  %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('error', null, 'arodax_admin') }}
{% endblock %}

{% block main %}
    <h1 class="text-h4" v-text="$t('access_denied')"></h1>
    {% include '@ArodaxAdmin/snippets/admin_drawer_breadcrumb.twig' %}
    <v-card outlined max-width="500px">
        <v-alert text prominent tile type="error" width="100%">{{ 'error'|trans }}</v-alert>
        <p class="text-body-2 pa-4" v-text="$t('error_403_description')"></p>
    </v-card>
{% endblock %}
