{% extends '@ArodaxAdmin/base.html.twig' %}

{% set title = 'Error: ' ~ status_code %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags(null, 'arodax_admin') }}
{% endblock %}

{% block body %}
<v-app>
    <svg class="arodax login-hexa" viewBox="0 0 39.3 45.400001" xmlns="http://www.w3.org/2000/svg">
        <g>
            <path class="left" d="m13 41.7 3.3-1.9-13.1-7.6v-19l19.6-11.4-3.1-1.8-19.7 11.4v22.7z"/>
            <path class="right" d="m39.3 11.3v22.7l-19.7 11.4-3.1-1.8 19.6-11.4v-19l-13.1-7.6 3.2-1.9z"/>
        </g>
    </svg>
    <v-row no-gutters class="align-center justify-center fluid fill-height pa-4">
        <v-col login-form>
            <v-card outlined>
                <v-toolbar flat>
                    <v-toolbar-title>Stránka nenalezena</v-toolbar-title>
                </v-toolbar>
                <v-row no-gutters class="justify-end ma-4">
                    <v-col class="flex-grow-0">
                            {% if is_granted('ROLE_ADMINISTRATION_ACCESS') %}
                            <v-btn color="primary" depressed href="/">
                                <span v-text="$t('Admin')"></span>
                            </v-btn>
                            {% endif %}
                        <v-btn color="primary" depressed href="/">
                            <span v-text="$t('Titulní stránka')"></span>
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card>
        </v-col>
    </v-row>
</v-app>
{% endblock %}
