<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}">
    <title>An Error Occurred: {{ status_text }}</title>
    <meta name="viewport" content="width=device-width">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .error-page {
            width: 100vw;
            height: 100vh;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            text-align: center;
            background: #fafafa;
        }

        header {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 64px;
            padding: 20px;
            font-size: 20px;
            background: #fff;
            border-bottom: 1px solid #e0e0e0;
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 700px;
            margin: auto;
            padding: 50px 20px;
        }

        h1 {
            margin-bottom: 25px;
            font-size: 50px;
        }

        h2 {
            margin-bottom: 25px;
            font-size: 30px;
        }
    </style>
</head>
<body class="error-page">
<header>Někde se stala chyba!</header>
<main>
    <h1>{{ status_code }}</h1>
    <h2>{{ status_text }}</h2>
    <p>Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.</p>
</main>
</body>
</html>