{% use 'form_div_layout.html.twig' %}

{# form_start #}
{%- block form_start -%}
    <v-form data-csrf="{{ csrf_token('_token') }}" {% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
{%- endblock form_start -%}

{# form_end #}
{%- block form_end -%}
    </v-form>
{%- endblock form_end -%}

{# form_row #}
{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {{- form_widget(form, widget_attr) -}}
{%- endblock form_row -%}

{# form_widget_simple #}
{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {% if type is same as('password') %}
        <v-text-field type="password"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <template slot="label">{% verbatim %}{{ $t('{% endverbatim %}{{ label }}{% verbatim %}')}}{% endverbatim %}</template>
        </v-text-field>
    {% else %}
        <v-text-field{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <template slot="label">{% verbatim %}{{ $t('{% endverbatim %}{{ label }}{% verbatim %}')}}{% endverbatim %}</template>
        </v-text-field>
    {% endif %}
{%- endblock form_widget_simple -%}

{# https://vuetifyjs.com/en/components/selection-controls #}
{%- block checkbox_widget -%}
    {%- set type = type|default('checkbox') -%}
    {% if type is same as('switch') %}
        <v-switch{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <template slot="label">{% verbatim %}{{ $t('{% endverbatim %}{{ label }}{% verbatim %}')}}{% endverbatim %}</template>
        </v-switch>
    {% else %}
        <v-checkbox{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <template slot="label">{% verbatim %}{{ $t('{% endverbatim %}{{ label }}{% verbatim %}')}}{% endverbatim %}</template>
        </v-checkbox>
    {% endif %}
{%- endblock checkbox_widget -%}

{%- block button_widget -%}
    {%- set type = type|default('submit') -%}
    <v-btn type="{{ type }}" {% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{% verbatim %}{{ $t('{% endverbatim %}{{ label }}{% verbatim %}')}}{% endverbatim %}</v-btn>
{%- endblock button_widget -%}

{%- block choice_widget -%}
    {% if expanded %}
        {{- block('choice_widget_expanded') -}}
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}
{%- endblock choice_widget -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{# https://vuetifyjs.com/en/components/selects #}
{%- block choice_widget_collapsed -%}
    <v-select {{ block('widget_attributes') }}{% if multiple %} multiple{% endif %} {%- set options = choices %} {{- block('choice_widget_options')|raw -}}>
        <template slot="label">
            {% verbatim %}{{ $t('{% endverbatim %}{{ label }}{% verbatim %}')}}{% endverbatim %}
        </template>
    </v-select>
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_options -%}
    {% set items = [] %}

    {%- if preferred_choices|length > 0 -%}
        {% for group_label, choice in preferred_choices %}
            {%- if choice is iterable -%}
                {% set options = choice %}

                {{- block('choice_widget_options') -}}
            {%- else -%}
                {% set items = items|merge([{"value" : choice.value, "text": choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain)}]) %}
            {%- endif -%}
        {% endfor %}
    {%- endif -%}

    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            {% set options = choice %}

            {{- block('choice_widget_options') -}}
        {%- else -%}
            {% set items = items|merge([{"value" : choice.value, "text": choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain)}]) %}
        {%- endif -%}
    {% endfor %}
    :items="{{ items|json_encode }}"
{%- endblock choice_widget_options -%}
