<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <v-snackbar
    v-model="show"
    :elevation="24"
    top
    right
    :color="snackbar.color"
    :timeout="10000"
  >
    <v-icon left>
      {{ snackbar.icon }}
    </v-icon>
    <span>{{ message }}</span>

    <template #action="{ attrs }">
      <v-btn
        x-small
        icon
        v-bind="attrs"
        @click="show = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  name: 'VSnackbarBus',
  data () {
    return {
      show: false,
      message: null,
      snackbar: {
        color: 'success',
        icon: 'fa fa-fw fa-solid fa-check-circle'
      }
    }
  },
  created () {
    this.$eventHub.$on('snackbar-success', message => {
      this.displaySnackbar(message, 'success')
    })
    this.$eventHub.$on('snackbar-error', message => {
      this.displaySnackbar(message, 'error')
    })
  },
  methods: {
    displaySnackbar (message, type) {
      this.message = message
      this.show = true

      switch (type) {
      case 'success':
        this.snackbar.color = 'success'
        this.snackbar.icon = 'fa fa-fw fa-solid fa-check-circle'
        break
      case 'error':
        this.snackbar.color = 'error'
        this.snackbar.icon = 'fa fa-fw fa-solid fa-triangle-exclamation'
        break
      default:
        // Default case, can be adjusted based on requirements.
        this.snackbar.color = 'info'
        this.snackbar.icon = 'fa fa-fw fa-solid fa-info-circle'
      }
    }
  }
}
</script>
