<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <div>
    <v-card outlined>
      <!-- editor toolbar -->
      <v-sheet
        v-if="editor"
        :color="toolbarColor"
      >
        <v-row no-gutters>
          <!-- in this col we have all wysiwyg buttons -->
          <v-col class="pa-2 flex-grow-1">
            <!-- hide buttons when codemirror is active -->
            <div
              v-if="!codemirror"
              class="d-flex flex-wrap"
            >
              <!-- bold -->
              <v-btn-editor-bold :editor="editor" />

              <!-- italic -->
              <v-btn-editor-italic :editor="editor" />

              <!-- strike -->
              <v-btn-editor-strike :editor="editor" />

              <!-- underline -->
              <v-btn-editor-underline :editor="editor" />

              <!-- small -->
              <v-btn-editor-small :editor="editor" />

              <v-btn-editor-divider />

              <!-- h1 -->
              <v-btn-editor-h1 :editor="editor" />

              <!-- h2-->
              <v-btn-editor-h2 :editor="editor" />

              <!-- h3-->
              <v-btn-editor-h3 :editor="editor" />

              <!-- h4-->
              <v-btn-editor-h4 :editor="editor" />

              <!-- h5-->
              <v-btn-editor-h5 :editor="editor" />

              <!-- h6-->
              <v-btn-editor-h6 :editor="editor" />

              <v-btn-editor-divider />

              <!-- ul -->
              <v-btn-editor-bullet-list :editor="editor" />

              <!-- ol -->
              <v-btn-editor-ordered-list :editor="editor" />

              <v-btn-editor-divider />

              <!-- blockquote -->
              <v-btn-editor-blockquote :editor="editor" />

              <v-btn-editor-divider />

              <!-- code block -->
              <v-btn-editor-code-block-lowlight :editor="editor" />

              <v-btn-editor-divider />

              <!-- undo -->
              <v-btn-editor-undo :editor="editor" />

              <!-- redo -->
              <v-btn-editor-redo :editor="editor" />

              <v-btn-editor-divider />

              <!-- hr -->
              <v-btn-editor-horizontal-rule :editor="editor" />

              <!-- image -->
              <v-btn-editor-media :editor="editor" />

              <!-- link -->
              <v-btn-editor-link :editor="editor" />
            </div>
          </v-col>

          <!-- this cell is for switching html / wysiwyg -->
          <v-col class="pa-2 flex-grow-0 justify-end d-flex">
            <v-btn-editor-toggle-html-mode v-model="codemirror" />
          </v-col>
        </v-row>
      </v-sheet>

      <!-- we have two editors here wysiwyg (TipTap) and html (CodeMirror) !-->
      <!-- wysiwyg mode editor -->
      <div v-if="!codemirror">
        <editor-content :editor="editor" />

        <!-- character and words counter -->
        <div
          v-if="editor"
          class="counter"
        >
          <v-btn-editor-word-count
            :chars-count="editor.storage.characterCount.characters()"
            :words-count="editor.storage.characterCount.words()"
          />
        </div>
      </div>

      <!-- html mode editor -->
      <codemirror
        v-if="codemirror"
        v-model="content"
        :options="codeMirrorOptions"
      />
    </v-card>
  </div>
</template>

<script>
import { codemirror } from 'vue-codemirror'
import 'codemirror/mode/htmlmixed/htmlmixed'
import 'codemirror/addon/selection/active-line'
import { createLowlight } from 'lowlight'
import css from 'highlight.js/lib/languages/css'
import js from 'highlight.js/lib/languages/javascript'
import html from 'highlight.js/lib/languages/xml'
import { Editor, EditorContent } from '@tiptap/vue-2'
import Document from '@tiptap/extension-document'
import Paragraph from '@tiptap/extension-paragraph'
import Text from '@tiptap/extension-text'
import Link from '@tiptap/extension-link'
import Image from '@tiptap/extension-image'
import Blockquote from '@tiptap/extension-blockquote'
import CodeBlock from '@tiptap/extension-code-block'
import HardBreak from '@tiptap/extension-hard-break'
import Heading from '@tiptap/extension-heading'
import HorizontalRule from '@tiptap/extension-horizontal-rule'
import OrderedList from '@tiptap/extension-ordered-list'
import BulletList from '@tiptap/extension-bullet-list'
import ListItem from '@tiptap/extension-list-item'
import Bold from '@tiptap/extension-bold'
import Code from '@tiptap/extension-code'
import Italic from '@tiptap/extension-italic'
import Strike from '@tiptap/extension-strike'
import Underline from '@tiptap/extension-underline'
import History from '@tiptap/extension-history'
import Table from '@tiptap/extension-table'
import TableHeader from '@tiptap/extension-table-header'
import TableCell from '@tiptap/extension-table-cell'
import TableRow from '@tiptap/extension-table-row'
import Youtube from '@tiptap/extension-youtube'
import CharacterCount from '@tiptap/extension-character-count'
import CodeBlockLowlight from '@tiptap/extension-code-block-lowlight'
import { Small } from '../../tip-tap-extensions/small'
import { Span } from '../../tip-tap-extensions/span'
import { Div } from '../../tip-tap-extensions/div'
import { Article } from '../../tip-tap-extensions/article'
import { Section } from '../../tip-tap-extensions/section'
import { Svg } from "../../tip-tap-extensions/svg";
import VBtnEditorBold from '../v-btn/VBtnEditorBold.vue'
import VBtnEditorItalic from '../v-btn/VBtnEditorItalic.vue'
import VBtnEditorStrike from '../v-btn/VBtnEditorStrike.vue'
import VBtnEditorUnderline from '../v-btn/VBtnEditorUnderline.vue'
import VBtnEditorH1 from '../v-btn/VBtnEditorH1.vue'
import VBtnEditorH2 from '../v-btn/VBtnEditorH2.vue'
import VBtnEditorH3 from '../v-btn/VBtnEditorH3.vue'
import VBtnEditorH4 from '../v-btn/VBtnEditorH4.vue'
import VBtnEditorH5 from '../v-btn/VBtnEditorH5.vue'
import VBtnEditorH6 from '../v-btn/VBtnEditorH6.vue'
import VBtnEditorBulletList from '../v-btn/VBtnEditorBulletList.vue'
import VBtnEditorOrderedList from '../v-btn/VBtnEditorOrderedList.vue'
import VBtnEditorBlockquote from '../v-btn/VBtnEditorBlockquote.vue'
import VBtnEditorCodeBlockLowlight from '../v-btn/VBtnEditorCodeBlockLowlight.vue'
import VBtnEditorUndo from '../v-btn/VBtnEditorUndo.vue'
import VBtnEditorRedo from '../v-btn/VBtnEditorRedo.vue'
import VBtnEditorHorizontalRule from '../v-btn/VBtnEditorHorizontalRule.vue'
import VBtnEditorMedia from '../v-btn/VBtnEditorMedia.vue'
import VBtnEditorWordCount from '../v-btn/VBtnEditorWordCount.vue'
import VBtnEditorLink from '../v-btn/VBtnEditorLink.vue'
import VBtnEditorSmall from '../v-btn/VBtnEditorSmall.vue'
import VBtnEditorToggleHtmlMode from '../v-btn/VBtnEditorToggleHtmlMode.vue'
import VBtnEditorDivider from '../v-btn/VBtnEditorSeparator.vue'

export default {
  name: 'VEditorWysiwyg',
  components: {
    codemirror,
    EditorContent,
    VBtnEditorBold,
    VBtnEditorItalic,
    VBtnEditorStrike,
    VBtnEditorUnderline,
    VBtnEditorH1,
    VBtnEditorH2,
    VBtnEditorH3,
    VBtnEditorH4,
    VBtnEditorH5,
    VBtnEditorH6,
    VBtnEditorBulletList,
    VBtnEditorOrderedList,
    VBtnEditorBlockquote,
    VBtnEditorCodeBlockLowlight,
    VBtnEditorUndo,
    VBtnEditorRedo,
    VBtnEditorHorizontalRule,
    VBtnEditorWordCount,
    VBtnEditorMedia,
    VBtnEditorLink,
    VBtnEditorSmall,
    VBtnEditorToggleHtmlMode,
    VBtnEditorDivider
  },
  props: {
    value: {
      type: String,
      default: ''
    },
    disabled: {
      default: false,
      type: Boolean
    }
  },
  data () {
    return {
      instanceId: null,
      editor: null,
      codemirror: false,
      codeMirrorOptions: {
        tabSize: 4,
        mode: 'htmlmixed',
        lineNumbers: true,
        line: true,
        styleActiveLine: true,
        lineWrapping: true,
        theme: 'vuetify'
      }
    }
  },
  computed: {
    content: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    toolbarColor () {
      // set colors for dark and light theme
      return this.isDarkTheme ? 'grey darken-4' : 'grey lighten-4'
    },
    isDarkTheme () {
      return this.$vuetify.theme.dark
    }
  },
  watch: {
    value (value) {
      const isSame = this.editor.getHTML() === value

      if (isSame) {
        return
      }

      this.editor.commands.setContent(value, false)
    }
  },
  mounted () {
    // generate unique instance id of editor
    this.instanceId = Math.random().toString(36).substr(2, 9)

    // code syntax highlighting
    const lowlight = createLowlight()
    lowlight.register('html', html)
    lowlight.register('css', css)
    lowlight.register('js', js)

    this.editor = new Editor({
      content: this.value,
      extensions: [
        Document,
        Paragraph,
        Text,
        Link,
        Image,
        Blockquote,
        CodeBlock,
        HardBreak,
        Heading,
        HorizontalRule,
        OrderedList,
        BulletList,
        ListItem,
        Bold,
        Code,
        Italic,
        Strike,
        Underline,
        History,
        Table,
        TableHeader,
        TableCell,
        TableRow,
        CodeBlockLowlight.configure({
          lowlight
        }),
        CharacterCount.configure({
          limit: 0
        }),
        Youtube,
        Small,
        Span,
        Div,
        Article,
        Section,
        Svg,
      ],
      onUpdate: () => {
        this.$emit('input', this.editor.getHTML())
      }
    })

    this.editor.instanceId = this.instanceId
  },
  beforeDestroy () {
    this.editor.destroy()
  }
}
</script>
