<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <span>
    <time :datetime="value">{{ dateTime }}</time>
  </span>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import { DateTime } from 'luxon'
import { useCurrentUserStore } from '../../stores/currentUserStore'

export default {
  name: 'VDateTime',
  computed: {
    admin: {
      get () {
        const currentUserStore = useCurrentUserStore()
        return currentUserStore.getAdmin
      },
      set (value) {
        const currentUserStore = useCurrentUserStore()
        currentUserStore.setAdmin(value)
      }
    },
    /**
       * Return formatted DateTime
       * @returns {string}
       */
    dateTime () {
      if (isEmpty(this.value)) {
        return ''
      }

      const dt = DateTime.fromISO(this.value)

      const tokens = []

      if (this.date) {
        tokens.push(isEmpty(this.admin.preferredDateFormat) ? 'D' : this.admin.preferredDateFormat)
      }

      if (this.time) {
        tokens.push(isEmpty(this.admin.preferredTimeFormat) ? 'T' : this.admin.preferredTimeFormat)
      }

      return dt.setZone(this.timeZone).setLocale(document.documentElement.lang).toFormat(tokens.join(' '))
    },
    /**
       * Return timezone for the given user. If not set the local timezone will be used.
       * @returns {string}
       */
    timeZone () {
      return isEmpty(this.admin.timezone) ? 'local' : this.admin.timezone
    }
  },
  props: {
    value: {
      type: String
    },
    time: {
      type: Boolean,
      default: true
    },
    date: {
      type: Boolean,
      default: true
    }
  }
}
</script>
