{% extends '@ArodaxAdmin/emails/notification.html.twig' %}

{% block content %}
    <container>
        <row>
            <columns small="12" large="12">
                <h1>Exception Notification</h1>
            </columns>
        </row>

        <row>
            <columns small="12" large="12">
                <p>{{ exceptionClass }}</p>
            </columns>
        </row>

        <row>
            <columns small="12" large="12">
                <p>{{ errorMessage }}</p>
            </columns>
        </row>

        <row>
            <columns small="12" large="12">
                <h2>Exception Details</h2>
                <p><strong>File:</strong> {{ errorFile }} at line {{ errorLine }}</p>
                <p><strong>Stack Trace:</strong><br>{{ errorTrace|nl2br }}</p>
            </columns>
        </row>
        <row>
            <columns small="12" large="12">
                <h2>Request Details</h2>
                <p><strong>URI:</strong> {{ requestUri }}</p>
                <p><strong>Method:</strong> {{ requestMethod }}</p>
            </columns>
        </row>

        <!-- Data Tables for Request Data, Query Parameters, Server Data, and Headers -->
        {% set dataSections = {'Request Data': requestData, 'Query Parameters': queryData} %}
        {% for title, data in dataSections %}
            <row>
                <columns small="12" large="12">
                    <h3>{{ title }}</h3>
                    {% if data %}
                        <table>
                            {% for key, value in data %}
                                <tr>
                                    <td><strong>{{ key }}</strong></td>
                                    <td>
                                        {% if value is iterable %}
                                            {% for item in value %}
                                                {{ item }}
                                                {% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>No {{ title|lower }} available.</p>
                    {% endif %}
                </columns>
            </row>
        {% endfor %}
    </container>
{% endblock %}
