{% extends '@ArodaxAdmin/emails/notification.html.twig' %}


{% block content %}
    {{ 'This link will expire in {minutes} minutes.'|trans({minutes: duration}, 'arodax_admin') }}

{% block action %}
        <spacer size="16"></spacer>
        <button href="{{ action_url }}">{{ 'continue to login'|trans({}, 'arodax_admin') }}</button>
{% endblock %}

{% endblock %}
