{% extends '@ArodaxAdmin/emails/notification.html.twig' %}
{% trans_default_domain 'arodax_admin' %}

{% block content %}

    {% if body is defined and body is not empty %}
        {{- body|raw -}}
    {% endif %}

    {% if button_href is defined and button_href is not empty and button_text is defined and button_text is not empty %}
        <spacer size="16"></spacer>
        <button href="{{ button_href }}">{{ button_text }}</button>
    {% endif %}

{% endblock %}
