{% extends '@ArodaxAdmin/emails/notification.html.twig' %}

{% block content %}
    <p>Dobrý den, děkujeme za objednávku. Objednávka je momentálně zpracovávána a o průběhu jejího vyřízení budete informováni e-mailem.</p>

    {% if order.orderNumber %}
        <p>
            <strong>{{ 'order number'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.orderNumber }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}


    <h3>{{ 'billing address'|trans({}, 'arodax_admin')|capitalize }}</h3>

    {% if order.billingCompanyName %}
        <p>
            <strong>{{ 'company name'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.billingCompanyName }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.billingCompanyId %}
        <p>
            <strong>{{ 'company id'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.billingCompanyId }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.billingHonorific %}
        <p>
            <strong>{{ 'honorific'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.billingHonorific }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.billingFirstName %}
        <p>
            <strong>{{ 'first name'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.billingFirstName }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.billingLastName %}
        <p>
            <strong>{{ 'last name'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.billingLastName }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.billingEmail %}
        <p>
            <strong>{{ 'email'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.billingEmail }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.billingPhoneNumber %}
        <p>
            <strong>{{ 'phone'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.billingPhoneNumber }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.billingStreet %}
        <p>
            <strong>{{ 'street'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.billingStreet }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.billingCity %}
        <p>
            <strong>{{ 'city'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.billingStreet }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.billingPostCode %}
        <p>
            <strong>{{ 'company id'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.billingPostCode }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.billingCountry %}
        <p>
            <strong>{{ 'country'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.billingCountry }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.billingAddressDescription %}
        <p>
            <strong>{{ 'address description'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.billingAddressDescription }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    <h3>{{ 'shipping address'|trans({}, 'arodax_admin')|capitalize }}</h3>

    {% if order.shippingCompanyName %}
        <p>
            <strong>{{ 'company name'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.shippingCompanyName }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.shippingHonorific %}
        <p>
            <strong>{{ 'honorific'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.shippingHonorific }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.shippingFirstName %}
        <p>
            <strong>{{ 'first name'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.shippingFirstName }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.shippingLastName %}
        <p>
            <strong>{{ 'last name'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.shippingLastName }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.shippingEmail %}
        <p>
            <strong>{{ 'email'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.shippingEmail }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.shippingPhoneNumber %}
        <p>
            <strong>{{ 'phone'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.shippingPhoneNumber }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.shippingStreet %}
        <p>
            <strong>{{ 'street'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.shippingStreet }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.shippingCity %}
        <p>
            <strong>{{ 'city'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.shippingStreet }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.shippingPostCode %}
        <p>
            <strong>{{ 'company id'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.shippingPostCode }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.shippingCountry %}
        <p>
            <strong>{{ 'country'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.shippingCountry }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if order.shippingAddressDescription %}
        <p>
            <strong>{{ 'address description'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ order.shippingAddressDescription }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    <h3>{{ 'ordered items'|trans({}, 'arodax_admin')|capitalize }}</h3>

    {% if order.shoppingCart %}
        {% for item in order.shoppingCart.items %}
            <p><strong>{{ item.productVariant.product.translate().name }}</strong> ({{ item.productVariant.translate().name|capitalize }}) {{ item.quantity }}x</p>
            <strong>{{ 'price without tax'|trans({}, 'arodax_admin') }}: </strong>{{ item.getProductVariantPrice.priceWithoutTax|money('CZK') }}<br>
            <strong>{{ 'price with tax'|trans({}, 'arodax_admin') }}: </strong>{{  item.getProductVariantPrice.priceWithTax|money('CZK') }}<br>
            <spacer size="10"></spacer>
        {% endfor %}
    {% endif %}

    <h3>{{ 'shipping method'|trans({}, 'arodax_admin')|capitalize }}</h3>

    <p>{{ order.shippingMethod.translate().title }}</p>
    <strong>{{ 'price without tax'|trans({}, 'arodax_admin') }}: </strong>{{ order.shippingPriceWithoutTax|money('CZK') }}<br>
    <strong>{{ 'price with tax'|trans({}, 'arodax_admin') }}: </strong>{{ order.shippingPriceWithTax|money('CZK') }}<br>

    <h3>{{ 'total price'|trans({}, 'arodax_admin')|capitalize }}</h3>

    {% set totalPriceWithoutTax = order.priceWithoutTax + order.shippingPriceWithoutTax %}
    {% set totalPriceWithTax = order.priceWithTax + order.shippingPriceWithTax %}

    <strong>{{ 'price without tax'|trans({}, 'arodax_admin') }}: </strong>{{ totalPriceWithoutTax|money('CZK') }}<br>
    <strong>{{ 'price with tax'|trans({}, 'arodax_admin') }}: </strong>{{ totalPriceWithTax|money('CZK') }}<br>
{% endblock %}
