{% extends '@ArodaxAdmin/emails/notification.html.twig' %}

{% block content %}
    {% if inquiry.companyName %}
        <p>
            <strong>{{ 'company name'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ inquiry.companyName }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if inquiry.personalName %}
        <p>
            <strong>{{ 'personal name'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ inquiry.personalName }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if inquiry.email %}
        <p>
            <strong>{{ 'email'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ inquiry.email }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if inquiry.phone %}
        <p>
            <strong>{{ 'phone'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ inquiry.phone }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}

    {% if inquiry.data %}
        {% for data in inquiry.data %}
            <p>
                <strong>{{ data.label|trans|capitalize }}</strong>
                <br>
                {% if data.value is iterable %}
                    {% for value in data.value %}
                        {{ value|trans|capitalize }}
                        {% if loop.last == false %},{% endif %}
                    {% endfor %}
                {% else %}
                    {{ data.value }}
                {% endif %}
                <spacer size="10"></spacer>
            </p>
        {% endfor %}
    {% endif %}

    {% if inquiry.body %}
        <p>
            <strong>{{ 'message'|trans({}, 'arodax_admin')|capitalize }}</strong>
            <br>
            {{ inquiry.body }}
            <spacer size="10"></spacer>
        </p>
    {% endif %}


    {% block action %}
        <spacer size="10"></spacer>
        <button href="{{ absolute_url(path('arodax_admin_inquiries_edit', {id: inquiry.id})) }}">{{ 'learn more'|trans({}, 'arodax_admin') }}</button>
    {% endblock %}
{% endblock %}
