{% apply inky_to_html|inline_css %}
<html>
    <head>
        <style>
            {% block style %}
            {{ source('@assets/css/email.css') }}
            {% endblock %}
        </style>
        <title></title>
    </head>
    <body>
        <!--[if mso]>
        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width: 100%;">
            <v:fill type="gradient" color="rgb(112,73,20)" color2="rgb(12,11,122)" angle="271" />
            <v:textbox inset="0,0,0,0">
        <![endif]-->
        <container style="background: linear-gradient(271deg, rgb(112,73,20), rgb(12,11,122)); background-color: rgb(12,11,122);"> <!-- Fallback color -->
            <row>
                <columns small="12" style="padding-top: 15px; text-align: center;">
                    <img alt="" src="{{ email.image('@assets/images/logo-email.png') }}" style="border:0;display:inline-block;outlined:none;text-decoration:none;height:50px;">
                </columns>
            </row>
        </container>
        <!--[if mso]>
        </v:textbox>
        </v:rect>
        <![endif]-->
        <container class="body_default">
            <spacer size="16"></spacer>
            <row>
                <columns large="12" small="12">
                    <spacer size="10"></spacer>
                    {% block content %}
                    {% endblock %}
                </columns>
            </row>

            <wrapper class="secondary">
                <spacer size="16"></spacer>
                    <row>
                        <columns small="12" large="6">
                            <p><small>{{ 'notification email by ARODAX Admin'|trans({}, 'arodax_admin') }}</small></p>
                        </columns>
                    </row>
                </wrapper>
        </container>
    </body>
</html>
{% endapply %}
