{% extends '@ArodaxAdmin/emails/notification.html.twig' %}

{% block content %}
    <p>Dobrý den, platba za objednávku #<a href="{{ absolute_url(path('arodax_admin_orders_edit', {id: order.id})) }}">{{ order.orderNumber }}</a> byla uhrazena.</p>
    <p>Zde jsou podrobnější informace o uvedené objednávce.</p>

    <spacer size="16"></spacer>

    <table style="width: 100%; border-collapse: collapse;">
        <tr style="background-color: #f2f2f2;">
            <th style="padding: 8px;">{{ 'order_id'|trans({}, 'arodax_admin')|upper }}</th>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ order.id }}</td>
        </tr>
        <tr>
            <th style="padding: 8px;">{{ 'order_number'|trans({}, 'arodax_admin')|upper }}</th>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ order.orderNumber }}</td>
        </tr>
        <tr>
            <th style="padding: 8px;">{{ 'order_buyer_full_name'|trans({}, 'arodax_admin')|upper }}</th>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ order.billingFullName }}</td>
        </tr>
        <tr>
            <th style="padding: 8px;">{{ 'order_billing_address'|trans({}, 'arodax_admin')|upper }}</th>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ order.billingAddress }}</td>
        </tr>
        <tr>
            <th style="padding: 8px;">{{ 'order_shipping_address'|trans({}, 'arodax_admin')|upper }}</th>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ order.shippingAddress }}</td>
        </tr>
        <tr>
            <th style="padding: 8px;">{{ 'order_total_price_with_tax'|trans({}, 'arodax_admin')|upper }}</th>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ order.totalOrderPriceWithoutTax }}</td>
        </tr>
        <tr>
            <th style="padding: 8px;">{{ 'order_shipping_method'|trans({}, 'arodax_admin')|upper }}</th>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ order.shippingMethodName }}</td>
        </tr>
        <tr>
            <th style="padding: 8px;">{{ 'order_payment_method'|trans({}, 'arodax_admin')|upper }}</th>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ order.paymentMethodName }}</td>
        </tr>
    </table>

    <spacer size="16"></spacer>

    <button href="{{ absolute_url(path('arodax_admin_orders_edit', {id: order.id})) }}">{{ 'order_view_detail'|trans({}, 'arodax_admin') }}</button>

{% endblock %}
