{% set theme = app.request.cookies.get('arodax_admin/theme') %}
{% trans_default_domain 'arodax_admin' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ block('title') }}</title>
    {{ encore_entry_link_tags('main', null, 'arodax_admin') }}
    <link rel="icon" href="{{ asset('bundles/arodaxadmin/images/favicon.png', 'arodax_admin') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{{ asset('bundles/arodaxadmin/images/favicon.png', 'arodax_admin') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/arodaxadmin/images/favicon.png', 'arodax_admin') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/arodaxadmin/images/favicon.png', 'arodax_admin') }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ asset('bundles/arodaxadmin/images/favicon.png', 'arodax_admin') }}">
    <link rel="apple-touch-startup-image" href="{{ asset('bundles/arodaxadmin/images/favicon.png', 'arodax_admin') }}">
    <link href="{{ asset('bundles/arodaxadmin/images/iphone5_splash.png') }}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ asset('bundles/arodaxadmin/images/iphone6_splash.png') }}" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ asset('bundles/arodaxadmin/images/iphoneplus_splash.png') }}" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{{ asset('bundles/arodaxadmin/images/iphonex_splash.png') }}" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{{ asset('bundles/arodaxadmin/images/iphonexr_splash.png') }}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ asset('bundles/arodaxadmin/images/iphonexsmax_splash.png') }}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{{ asset('bundles/arodaxadmin/images/ipad_splash.png') }}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ asset('bundles/arodaxadmin/images/ipadpro1_splash.png') }}" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ asset('bundles/arodaxadmin/images/ipadpro3_splash.png') }}" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ asset('bundles/arodaxadmin/images/ipadpro2_splash.png') }}" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ block('title') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{{ asset('bundles/arodaxadmin/images/favicon.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/arodaxadmin/images/favicon.png') }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ asset('bundles/arodaxadmin/images/favicon.png') }}">
    <link rel="apple-touch-startup-image" href="{{ asset('bundles/arodaxadmin/images/favicon.png') }}">
    <script src="https://kit.fontawesome.com/4bed929b36.js" crossorigin="anonymous" defer></script>
    {% block stylesheets %}{% endblock %}
    <style>
        .theme--light .v-application--wrap > header {
            background:  {% if (settingsValue('header_background_light')) %}{{ settingsValue('header_background_light') }}{% else %}linear-gradient(271deg, rgb(112 73 20), rgb(12 11 122)){% endif %} !important
        }

        .theme--dark .v-application--wrap > header {
            background:  {% if (settingsValue('header_background_dark')) %}{{ settingsValue('header_background_dark') }}{% else %}linear-gradient(271deg, rgb(112 73 20), rgb(12 11 122)){% endif %} !important
        }
    </style>
</head>
<body data-csrf="{{ csrf_token('_token') }}">
<div id="app" v-cloak {% if theme %}class="initial_theme--{{ theme }}"{% endif %} :class="[themeName === 'dark' ? 'theme--dark' : 'theme--light']" data-admin="{{ app.user|serialize('json', {groups: ['user:info']}) }}">

    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
