{% extends '@ArodaxAdmin/base.html.twig' %}
{% trans_default_domain 'arodax_admin' %}

{% set title = vue.title|trans({}, 'arodax_admin')  %}
{% block title %}{{ vue.title|trans({}, 'arodax_admin')|capitalize }}{% endblock %}

{% block javascripts %}
{% if google_maps_api_key %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}"></script>
{% endif %}
    {{ encore_entry_script_tags(vue.entrypoint, null, 'arodax_admin') }}
{% endblock javascripts %}

{% block body %}
<v-app :dark="themeName === 'dark'">

    <v-dialog-bus></v-dialog-bus>
    <v-snackbar-bus></v-snackbar-bus>

    <v-app-bar
        app
        clipped-left
        :elevation="4"
        :elevate-on-scroll="false"
        :dark="themeName === 'dark' ? {{ settingsValue('header_background_dark_dark', 'true') }} : {{ settingsValue('header_background_light_dark', 'true') }}"
        style="z-index: 10;"
    >

        <v-row class="system-header-left">
            <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
            <a
                class="header-logo"
                href="/admin"
            >
                <img
                    src="{{ settingsValue('header_logo_big', '/bundles/arodaxadmin/images/logo/header_big.svg') }}"
                    class="logo-big"
                    alt=""
                />
                <img
                    src="{{ settingsValue('header_logo_small', '/bundles/arodaxadmin/images/logo/header_small.svg') }}"
                    class="logo-small"
                    alt=""
                />
            </a>
        </v-row>

        {# search for mobile view only #}
        <v-overlay
            opacity="1"
            color="primary"
            class="system-search-mobile d-none px-4"
        >
            <v-row no-gutters>
                <v-col>
                    <v-autocomplete-search></v-autocomplete-search>
                </v-col>
                <v-col class="flex-grow-0">
                    <v-btn
                        icon
                        class="d-flex d-md-none"
                    >
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-col>
            </v-row>
        </v-overlay>

        {# search for desktop view only #}
        <v-autocomplete-search class="d-none d-md-flex system-search-desktop"></v-autocomplete-search>

        <v-spacer></v-spacer>

        <div class="d-none d-md-flex">
            <v-btn-container-width></v-btn-container-width>
        </div>

        <v-btn-theme></v-btn-theme>

        <v-menu-locale :locales="{{ i18nRequestPaths()|serialize }}"></v-menu-locale>

        <v-btn
            icon
            href="{{ path('arodax_admin_security_logout') }}"
        >
            <v-icon>fa-fw fa-light fa-right-from-bracket</v-icon>
        </v-btn>
    </v-app-bar>

    <v-navigation-drawer
        v-model="drawer"
        clipped
        app
        :disable-route-watcher="true"
    >

        <v-card
            flat
            tile
        >
            <v-list shaped>
                <v-list-item
                    two-line
                    href="{{ path('arodax_admin_users_edit', {id: app.user.id}) }}"
                >
                    <v-list-item-avatar>
                        <v-hover
                            v-slot:default="{ hover }"
                            transition="fade-transition"
                        >
                            <v-avatar
                                :color="admin.color"
                                size="30px"
                            >
                                <img
                                    v-if="admin.avatar && !hover"
                                    :src="admin.avatar"
                                    :key="admin.avatar"
                                    alt="avatar"
                                >
                                <span
                                    v-if="!admin.avatar && !hover"
                                    v-text="(typeof admin.displayName === 'string' ? admin.displayName.substring(0,1) : '')"
                                ></span>
                                <v-fade-transition leave-absolute>
                                    <div v-if="hover">
                                        <v-icon dense>edit</v-icon>
                                    </div>
                                </v-fade-transition>
                            </v-avatar>
                        </v-hover>

                    </v-list-item-avatar>

                    <v-list-item-content>
                        <v-list-item-title v-text="admin.displayName"></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-card>

        <v-divider></v-divider>
        {{ menu_render(menu_get('menu', [], {'id': 'arodax_admin'}), {'template': '@ArodaxAdmin/ux/drawer.html.twig'}) }}
    </v-navigation-drawer>

    <v-main>
        <v-container
            :fluid="containerFluid"
            class="pa-4"
        >
            {% block main %}

                <h1 class="text-h4 gradient-text">{{ vue.title|trans({}, 'arodax_admin')|capitalize }}</h1>
                {% include '@ArodaxAdmin/snippets/admin_drawer_breadcrumb.twig' %}
                {{ vue.rootComponentTag|raw }}

            {% endblock main %}
        </v-container>
    </v-main>
</v-app>
{% endblock body %}
