<!doctype html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <title>{{ 'maintenance'|trans({}, 'arodax_admin')|upper }}</title>
    <meta name="viewport" content="width=device-width">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            padding: 50px 20px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        div {
            display: block;
            max-width: 500px;
            margin: auto;
            padding: 20px;
            background: #eee;
        }

        strong {
            display: block;
            margin-bottom: 10px;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div>
    <strong>{{ 'maintenance'|trans({}, 'arodax_admin') }}</strong>
    <p>{{ 'A scheduled technical outage of services is underway. Thank you for your understanding.'|trans({}, 'arodax_admin') }}</p>
</div>
</body>
</html>
