{% extends '@ArodaxAdmin/base.html.twig' %}
{% trans_default_domain 'arodax_admin' %}

{% set title = vue.title|trans({}, 'arodax_admin')  %}
{% block title %}{{ vue.title|trans({}, 'arodax_admin')|capitalize }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags(vue.entrypoint, null, 'arodax_admin') }}
{% endblock %}

{% block body %}
    <v-app
        :dark="themeName === 'dark'"
    >
        <svg
            class="arodax login-hexa"
            viewBox="0 0 39.3 45.400001"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g>
                <path
                    class="left"
                    d="m13 41.7 3.3-1.9-13.1-7.6v-19l19.6-11.4-3.1-1.8-19.7 11.4v22.7z"
                />
                <path
                    class="right"
                    d="m39.3 11.3v22.7l-19.7 11.4-3.1-1.8 19.6-11.4v-19l-13.1-7.6 3.2-1.9z"
                />
            </g>
        </svg>
        <v-row
            no-gutters
            class="align-center justify-center fill-height pa-4"
        >
            <v-col class="login-form">
                <v-card
                    outlined
                    class="relative"
                >
                    {% if settingsValue('login_logo') %}
                        <img src="{{ settingsValue('login_logo') }}" alt="logo" class="login-logo">
                    {% else %}
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="#28b05f"
                            viewBox="0 0 99.999 17.348"
                            class="login-logo"
                        >
                            <path d="m42.683 0-3.76 2.09-3.763 2.09v8.775l3.343 2.09 2.927-1.67-1.045-.628-2.298-1.253V6.06l7.523-4.388ZM6.11 1.358 0 15.723h3.196l1.306-3.196h6.029l1.302 3.196h3.282L9 1.359H6.11Zm70.13 0-6.114 14.364h3.2l1.307-3.196h6.029l1.302 3.196h3.281L79.131 1.359h-2.89Zm-57.258.102v14.261h3.139V11.16h2.465l3.054 4.564h3.67l-3.487-5.094c.91-.34 1.643-.87 2.2-1.588.571-.734.857-1.678.857-2.833v-.04c0-1.48-.473-2.635-1.424-3.462-.938-.829-2.259-1.245-3.956-1.245h-6.518zm36.45 0v14.261h5.563c1.115 0 2.134-.18 3.058-.546.936-.367 1.738-.871 2.404-1.51a6.575 6.575 0 0 0 1.567-2.262c.368-.87.551-1.808.551-2.813v-.04a7.003 7.003 0 0 0-.55-2.788 6.59 6.59 0 0 0-1.568-2.261 7.02 7.02 0 0 0-2.404-1.49c-.924-.367-1.943-.551-3.058-.551Zm31.116 0 4.772 7.008-4.976 7.253h3.568l3.22-4.89 3.196 4.89h3.67l-4.972-7.294 4.768-6.967H96.23l-3.016 4.625-2.997-4.625h-3.67zm-39.892.836L43.73 4.18l1.046.629 2.297 1.253v5.225l-7.522 4.387 2.926 1.674 3.764-2.09 3.76-2.09v-8.78l-3.344-2.09ZM22.121 4.293h3.114c.775 0 1.382.17 1.817.51.434.34.653.849.653 1.527v.041c0 .612-.215 1.1-.637 1.465-.407.367-.997.551-1.772.551h-3.175zm36.45 0h2.424c.639 0 1.22.11 1.752.327.529.204.98.496 1.346.877.38.38.673.834.878 1.364.216.53.323 1.105.323 1.73v.045c0 .639-.11 1.212-.327 1.727a3.925 3.925 0 0 1-.873 1.347 3.711 3.711 0 0 1-1.347.878 4.84 4.84 0 0 1-1.752.302h-2.424ZM7.515 5.13l1.893 4.625H5.62Zm70.13 0 1.894 4.625h-3.788z"></path>
                        </svg>
                    {% endif %}
                    {% block content %}
                        {{ vue.rootComponentTag|raw }}
                    {% endblock %}
                </v-card>
            </v-col>
        </v-row>
        <div class="login-footer text-center text--secondary body-2 pa-4">
            Powered by <a
                href="https://www.arodax.com/cms"
                target="_blank"
            >ARODAX Admin</a>
        </div>
    </v-app>
{% endblock %}
