<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div v-if="user && user.roles">
    <!-- this user is admin -->
    <v-chip
      v-if="Array.isArray(user.roles) && user.roles.includes('ROLE_ADMIN')"
      class="ma-2"
      small
      outlined
      label
    >
      <v-icon
        left
        small
      >
        fa fa-fw fa-regular fa-circle-star
      </v-icon>
      {{ $t('administrator') }}
    </v-chip>

    <!-- this user is editor in chief -->
    <v-chip
      v-else-if="Array.isArray(user.roles) && user.roles.includes('EDITOR_IN_CHIEF')"
      class="ma-2"
      small
      outlined
      label
    >
      <v-icon left>
        fa fa-fw fa-regular fa-star
      </v-icon>
      {{ $t('editor_in_chief') }}
    </v-chip>

    <!-- this user is editor -->
    <v-chip
      v-else-if="Array.isArray(user.roles) && user.roles.includes('ROLE_EDITOR')"
      class="ma-2"
      small
      outlined
      label
    >
      <v-icon left>
        fa fa-fw fa-regular fa-star-sharp-half-stroke
      </v-icon>
      {{ $t('editor') }}
    </v-chip>

    <!-- this user has administration access and nothing more -->
    <v-chip
      v-else-if="Array.isArray(user.roles) &&user.roles.includes('ROLE_ADMINISTRATION_ACCESS')"
      class="ma-2"
      small
      outlined
      label
    >
      <v-icon left>
        fa fa-fw fa-light fa-pen-to-square
      </v-icon>
      {{ $t('admin_access') }}
    </v-chip>
  </div>
</template>

<script>
import { useUserStore } from '../../stores/userStore'

export default {
  name: 'VChipUserRole',
  props: {
    userId: {
      type: Number,
      required: false,
      default: null,
      validator: function (userId) {
        return userId !== null || this.userObject !== null
      }
    },
    userObject: {
      type: Object,
      required: false,
      default: null,
      validator: function (userObject) {
        return userObject !== null || this.userId !== null
      }
    }
  },
  computed: {
    userIri () {
      // Check if userObject is set and has '@id' property
      if (this.userObject && this.userObject['@id']) {
        return this.userObject['@id']
      } else if (this.userObject && this.userObject.id) {
        return `/api/users/${this.userObject.id}`
      }
      // Fallback to userId if userObject is not set or does not have the necessary properties
      return this.userId ? `/api/users/${this.userId}` : null
    },
    user () {
      const store = useUserStore(this.userIri)
      return store.item
    }
  },
  created () {
    const store = useUserStore(this.userIri)
    // Check if userObject is set, if so set the item in store and avoid calling readItem()
    if (this.userObject) {
      store.setItem(this.userObject)
    } else if (store.getItem() === null) {
      store.readItem()
    }
  }
}
</script>
