<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-chip
    class="ma-2"
    small
    outlined
    label
  >
    <v-icon
      :color="color"
      left
      small
    >
      {{ icon }}
    </v-icon>
    {{ label }}
  </v-chip>
</template>

<script>
export default {
  name: 'VChipOrderStatus',
  props: {
    value: {
      type: String,
      required: true
    }
  },
  computed: {
    label () {
      return this.$t(`order_status_${this.value}`)
    },

    icon () {
      const icons = {
        new: 'fa fa-fw fa-light fa-cart-shopping', // Icon for new
        in_progress: 'fa fa-fw fa-light fa-cart-shopping-fast', // Icon for in progress
        paid: 'fa fa-fw fa-light fa-cart-circle-check' // Icon for paid
      }
      return icons[this.value] || ''
    },
    // Applies green color if the order is paid
    color () {
      return this.value === 'paid' ? 'green' : ''
    }
  }
}
</script>
