<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <span v-if="value">
    <v-chip
      :href="href"
      color="primary"
      class="ma-2"
      small
      outlined
      label
    >
      {{ userDisplayName }}
    </v-chip>
  </span>
</template>

<script>
import { useUserStore } from '../../stores/userStore'

export default {
  name: 'VCreditTeamLeader',
  props: {
    value: {
      type: String | null,
      required: true,
      default: null
    }
  },
  computed: {
    href () {
      return `/admin/users/${this.user?.id}`
    },
    userIri () {
      return this.value
    },
    user () {
      const store = useUserStore(this.userIri)
      return store.item
    },
    userDisplayName () {
      return this.user?.displayName
    }
  },
  created () {
    const store = useUserStore(this.userIri)
    if (store.getItem() === null) {
      store.readItem()
    }
  }
}
</script>
