<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <span v-if="userTotalScore > 0">{{ formattedUserTotalScore }}</span>
</template>

<script>
import { useUserStore } from '../../stores/userStore'

export default {
  name: 'VChipUserTotalScore',
  props: {
    userId: {
      type: Number,
      required: false,
      default: null,
      validator: function (userId) {
        return userId !== null || this.userObject !== null
      }
    },
    userObject: {
      type: Object,
      required: false,
      default: null,
      validator: function (userObject) {
        return userObject !== null || this.userId !== null
      }
    }
  },
  computed: {
    userIri () {
      // Check if userObject is set and has '@id' property
      if (this.userObject && this.userObject['@id']) {
        return this.userObject['@id']
      } else if (this.userObject && this.userObject.id) {
        return `/api/users/${this.userObject.id}`
      }
      // Fallback to userId if userObject is not set or does not have the necessary properties
      return this.userId ? `/api/users/${this.userId}` : null
    },
    user () {
      const store = useUserStore(this.userIri)
      return store.item
    },
    userTotalScore () {
      if (this.user) {
        return this.user?.totalScore
      }

      return 0
    },
    formattedUserTotalScore () {
      if (this.userTotalScore) {
        const lang = document.documentElement.getAttribute('lang')
        return new Intl.NumberFormat(lang, { minimumFractionDigits: 0 }).format(this.userTotalScore).replace(/,/g, ' ')
      }
      return null
    }
  },
  created () {
    const store = useUserStore(this.userIri)
    // Check if userObject is set, if so set the item in store and avoid calling readItem()
    if (this.userObject) {
      store.setItem(this.userObject)
    } else if (store.getItem() === null) {
      store.readItem()
    }
  }
}
</script>
