<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->


<template>
  <span v-if="userGroupTotalScore > 0">{{ formattedUserTotalScore }}</span>
</template>

<script>
import { useUserGroupStore } from '../../stores/userGroupStore'

export default {
  name: 'VChipUserTotalScore',
  props: {
    value: {
      type: String,
      required: true,
      default: null
    }
  },
  computed: {
    userGroupIri () {
      return this.value
    },
    userGroup () {
      const store = useUserGroupStore(this.userGroupIri)
      return store.item
    },
    userGroupTotalScore () {
      if (this.userGroup) {
        return this.userGroup?.totalScore
      }
    },
    formattedUserTotalScore () {
      if (this.userGroupTotalScore) {
        const lang = document.documentElement.getAttribute('lang')
        return new Intl.NumberFormat(lang, { minimumFractionDigits: 0 }).format(this.userGroupTotalScore).replace(/,/g, ' ')
      }
      return null
    }
  },
  created () {
    const store = useUserGroupStore(this.userGroupIri)
    if (store.getItem() === null) {
      store.readItem()
    }
  }
}
</script>
