<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div v-if="userGroup">
    <v-chip
      :href="editUrl"
      class="ma-2"
      outlined
      label
      small
    >
      {{ userGroupName }}
    </v-chip>
  </div>
</template>

<script>
import { useUserGroupStore } from '../../stores/userGroupStore'

export default {
  name: 'VChipUserGroup',
  props: {
    userGroupId: {
      type: Number,
      required: false,
      default: null,
      validator: function (userGroupId) {
        return userGroupId !== null || this.userGroupObject !== null
      }
    },
    userGroupObject: {
      type: Object,
      required: false,
      default: null,
      validator: function (userGroupObject) {
        return userGroupObject !== null || this.userGroupId !== null
      }
    }
  },
  computed: {
    userGroupIri () {
      // Check if userGroupObject is set and has '@id' property
      if (this.userGroupObject && this.userGroupObject['@id']) {
        return this.userGroupObject['@id']
      } else if (this.userGroupObject && this.userGroupObject.id) {
        return `/api/user-groups/${this.userGroupObject.id}`
      }
      // Fallback to userGroupId if userGroupObject is not set or does not have the necessary properties
      return this.userGroupId ? `/api/user-groups/${this.userGroupId}` : null
    },
    editUrl () {
      // Dynamically generate the URL based on userGroupObject's id or fallback to userGroupId
      const id = this.userGroupObject?.id || this.userGroupId
      return id ? `/admin/user-groups/${id}` : null
    },
    userGroup () {
      const store = useUserGroupStore(this.userGroupIri)
      return store.item
    },
    userGroupName () {
      if (this.userGroup === null) {
        return null
      }

      if (this.userGroup?.name === null) {
        return this.userGroup?.id
      }

      return this.userGroup?.name
    }
  },
  created () {
    const store = useUserGroupStore(this.userGroupIri)
    // Check if userGroupObject is set, if so set the item in store and avoid calling readItem()
    if (this.userGroupObject) {
      store.setItem(this.userGroupObject)
    } else if (store.getItem() === null) {
      store.readItem()
    }
  }
}
</script>
