<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-card
    flat
    tile
    outlined
    :loading="!mediaObject.contentUrl"
  >
    <v-row
      no-gutters
      class="square absolute d-flex"
    >
      <slot
        name="preview"
        v-bind="mediaObject"
      >
        <!-- preview button -->
        <v-col
          v-if="$_mediaType(mediaObject) === 'image' || $_mediaType(mediaObject) === 'svg' || $_mediaType(mediaObject) === 'video'"
          class="d-flex justify-center align-center pa-1"
        >
          <v-btn
            x-small
            fab
            @click.stop="preview(mediaObject)"
          >
            <v-icon>fa-light fa-fw fa-magnifying-glass-plus</v-icon>
          </v-btn>
        </v-col>
      </slot>

      <!-- use this slot to add extra buttons -->
      <slot
        name="extra"
        v-bind="mediaObject"
      >
      </slot>

      <slot
        name="edit"
        v-bind="mediaObject"
      >
        <v-col
          v-if="$_hasTranslations(mediaObject)"
          class="d-flex justify-center align-center pa-1"
        >
          <v-btn
            x-small
            fab
            @click.stop="modal = true"
          >
            <v-icon>fa-light fa-fw fa-file-pen</v-icon>
          </v-btn>
        </v-col>
      </slot>

      <slot
        name="remove"
        v-bind="mediaObject"
      />
    </v-row>

    <!-- modal window for description -->
    <v-dialog
      v-model="modal"
      width="500"
    >
      <v-card outlined>
        <v-toolbar flat>
          <v-toolbar-title>{{ $t('media editation') }}</v-toolbar-title>
          <template #extension>
            <v-tabs
              v-model="tabs"
              align-with-title
              background-color="transparent"
              fixed-tab
            >
              <v-tab
                v-if="$_mediaType(mediaObject) === 'video'"
                :key="mediaObject['@id'] + '-video'"
              >
                <v-icon>videocam</v-icon>
              </v-tab>
              <v-tab
                v-for="(translations, locale) in mediaObject.translations"
                :key="mediaObject['@id'] + '-' + locale"
              >
                {{ locale }}
              </v-tab>
            </v-tabs>
          </template>
        </v-toolbar>
        <v-tabs-items v-model="tabs">
          <v-tab-item
            v-if="$_mediaType(mediaObject) === 'video'"
            :key="mediaObject['@id'] + '-video'"
          >
            <v-row
              no-gutters
              class="pa-2"
            >
              <v-col
                :cols="12"
                :xs="12"
                :md="6"
                class="pa-2"
              >
                <v-card
                  flat
                  outlined
                  width="100%"
                  height="100%"
                >
                  <div class="d-flex align-center fill-height">
                    <video
                      id="capture-frame"
                      ref="captureFrame"
                      preload="auto"
                      controls
                      width="100%"
                    >
                      <source
                        :src="mediaObject.contentUrl"
                        :type="mediaObject.mime"
                      >
                    </video>
                  </div>
                </v-card>
              </v-col>
              <v-col
                :cols="12"
                :xs="12"
                :md="6"
                class="d-flex align-center justify-center video-cover pa-2"
              >
                <v-card
                  flat
                  outlined
                  width="100%"
                  height="100%"
                >
                  <v-img
                    v-if="cover"
                    :src="cover"
                  />
                  <v-row
                    v-else
                    no-gutters
                    align-content="center"
                    class="fill-height text-center pa-4 d-flex align-center"
                  >
                    <v-col
                      :cols="12"
                      :xs="12"
                    >
                      {{ $t('no cover available') }}
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>

            <v-text-field
              v-model="cover"
              hide-details
              class="mx-4"
              :label="$t('cover')"
              outlined
            />

            <v-btn
              text
              class="ma-4"
              @click="captureVideoFrame"
            >
              <v-icon>camera</v-icon> {{ $t('capture the frame') }}
            </v-btn>
            <v-btn-upload @success="uploadedFileAsCover" />
          </v-tab-item>
          <v-tab-item
            v-for="(translations, locale) in mediaObject.translations"
            :key="mediaObject['@id'] + '-' + locale"
          >
            <v-col
              xs="12"
              class="pa-4"
            >
              <v-textarea
                v-model="mediaObject.translations[locale].description"
                outlined
                :hide-details="true"
                :label="$t('name')"
              />
            </v-col>
          </v-tab-item>
        </v-tabs-items>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            @click="modal = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div @click.stop="select">
      <!-- loading when upload -->
      <v-row
        v-if="!mediaObject.contentUrl && !mediaObject.error"
        no-gutters
        class="d-flex fill-height ma-0 align-self-center justify-center square"
      >
        <v-col class="d-flex align-center justify-center ">
          <v-progress-circular
            indeterminate
            color="grey lighten-5"
          />
        </v-col>
      </v-row>

      <!-- media object preview for video -->
      <v-row
        v-if="mediaObject.contentUrl && !mediaObject.error"
        no-gutters
        align-center
        class="grey lighten-2 square"
      >
        <v-col class="video-preview">
          <v-media-object-thumb
            :value="mediaObject"
            :max-height="null"
            :max-width="null"
            :contain="true"
          />
        </v-col>
      </v-row>

      <v-checkbox
        v-if="allowSelection"
        :value="isSelected"
        hide-details
        class="ma-2"
        @click="select"
      />

      <ul
        v-if="isShowExtra"
        class="list-style-none caption ma-2 pa-0"
      >
        <li>
          <v-row>
            <v-col>
              {{ $t('id')}}: #<span v-text="mediaObject.id" />
            </v-col>
            <v-col>
              <span
                v-if="hasIndex"
              >
                {{ $t('index')}}:

                {{ getIndexFrom1 }}
              </span>
            </v-col>
          </v-row>
        </li>
        <li>
          <span
            class="text-subtitle-2"
            v-text="mediaObject.originalName"
          />
          <div>(<span v-text="mediaObject.originalFileName" />)</div>
        </li>
        <li v-if="mediaObject.metadata && mediaObject.metadata.height && mediaObject.metadata.width">
          {{ mediaObject.metadata.width }} x {{ mediaObject.metadata.height }} px
        </li>
        <li v-if="mediaObject.metadata && mediaObject.metadata.filesize">
          <span v-text="prettySize(mediaObject.metadata.filesize)" />
        </li>
      </ul>
    </div>
  </v-card>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import isNil from 'lodash/isNil'
import isNull from 'lodash/isNull'
import prettysize from 'prettysize'
import { mediaObjectMixin } from '../../mixins/mediaObjectMixin'
import { translationsMixin } from '../../mixins/translationsMixin'
import Axios from 'axios'
import VMediaObjectThumb from './VMediaObjectThumb.vue'
import VBtnUpload from '../v-btn/VBtnUpload.vue'
import { mediaMixin } from '../../mixins/mediaMixin'

export default {
  name: 'MediaItemPreview',
  components: {
    VMediaObjectThumb,
    VBtnUpload
  },
  mixins: [
    mediaObjectMixin,
    translationsMixin,
    mediaMixin
  ],
  props: {
    value: {
      type: Object
    },
    showExtra: {
      type: Boolean,
      default: false
    },
    allowSelection: {
      type: Boolean,
      default: false
    },
    selected: {
      type: Boolean,
      default: false
    },
    index: {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      modal: false,
      tabs: null
    }
  },
  computed: {
    /**
       * Return the mediaObject from v-model value.
       */
    mediaObject: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    isSelected () {
      return this.selected
    },
    isShowExtra () {
      return this.showExtra
    },
    hasIndex () {
      return !isNull(this.index)
    },
    getIndexFrom1 () {
      return this.index + 1
    },
    cover: {
      get () {
        if (isNil(this.mediaObject.metadata.covers)) {
          return null
        }

        if (!isEmpty(this.mediaObject.metadata.covers)) {
          return this.mediaObject.metadata.covers[0]
        } else {
          return null
        }
      },
      set (value) {
        this.$set(this.mediaObject.metadata, 'covers', [])
        this.$set(this.mediaObject.metadata.covers, 0, value)
      }
    }
  },
  watch: {
    mediaObject: {
      deep: true,
      handler: function (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    select () {
      if (this.selected) {
        this.$emit('unselect', this.mediaObject.id)
      } else {
        this.$emit('select', this.mediaObject.id)
      }
    },
    removeMedia () {
      this.$emit('remove')
    },
    /**
       * Open gallery at specific id
       * @param {Object} mediaObject MediaObject which to open
       */
    preview (mediaObject) {
      this.$emit('preview', mediaObject.id)
    },
    /**
       * Format bytes to better units
       * @param value {Number|string} Bytes to format
       * @returns {String} formatted value for the bytes
       */
    prettySize (value) {
      return prettysize(value)
    },
    captureVideoFrame () {
      this.$nextTick(() => {
        const video = document.getElementById('capture-frame')
        const canvas = document.createElement('canvas')

        video.pause()

        canvas.width = video.videoWidth
        canvas.height = video.videoHeight
        canvas.getContext('2d').drawImage(video, 0, 0)

        const dataUri = canvas.toDataURL('image/jpeg', 0.92)
        const data = dataUri.split(',')[1]
        const mimeType = dataUri.split(';')[0].slice(5)
        const bytes = window.atob(data)
        const buf = new ArrayBuffer(bytes.length)
        const arr = new Uint8Array(buf)

        for (let i = 0; i < bytes.length; i++) {
          arr[i] = bytes.charCodeAt(i)
        }

        const blob = new Blob([arr], { type: mimeType })
        this.cover = dataUri

        const name = this.mediaObject.originalBaseName + '-t' + Math.round(video.currentTime) + 's.jpg'

        const formData = new FormData()
        formData.append('file', blob, name)

        Axios.post('/api/media-objects.json', formData, { headers: { 'Content-Type': 'multipart/form-data', Accept: 'application/json' } })
          .then((response) => {
            this.$set(this.mediaObject.metadata, 'covers', [])
            this.$set(this.mediaObject.metadata.covers, 0, response.data.contentUrl)
          })
      })
    },
    /**
       * Set cover from uploaded file
       * @return {void}
       */
    uploadedFileAsCover (file) {
      this.$set(this.mediaObject.metadata, 'covers', [])
      this.$set(this.mediaObject.metadata.covers, 0, file.contentUrl)
    },
    /**
       * Return the video cover (poster) for the video from metadata
       * @param mediaObject
       * @return {string|*}
       */
    videoCover (mediaObject) {
      if (isNil(mediaObject.metadata.covers) || isEmpty(mediaObject.metadata.covers[0])) {
        return ''
      }

      return mediaObject.metadata.covers[0]
    }
  }
}
</script>
