<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-row
    no-gutters
    justify="center"
    align-items="center"
  >
    <v-col
      fill-height
      class="d-flex align-center justify-center col"
    >
      <!-- image -->
      <v-img
        v-if="isImage"
        aspect-ratio="1"
        :src="$_imageFilter(value.contentUrl, 'admin_preview')"
        :max-height="maxHeight"
        :max-width="maxWidth"
        :contain="contain"
      />
      <!-- video -->
      <v-img
        v-else-if="isVideo && videoCover"
        aspect-ratio="1"
        :src="$_imageFilter(videoCover, 'admin_preview')"
        :max-height="maxHeight"
        :max-width="maxWidth"
        :contain="contain"
      />
      <!-- files -->
      <v-icon v-else>
        {{ mediaObjectIcon }}
      </v-icon>
    </v-col>
  </v-row>
</template>

<script>
import { mediaObjectMixin } from '../../mixins/mediaObjectMixin'
import { find, isEmpty, isNil } from 'lodash'
import { mediaMixin } from '../../mixins/mediaMixin'

export default {
  name: 'MediaObjectThumb',
  mixins: [
    mediaObjectMixin,
    mediaMixin
  ],
  props: {
    value: {
      type: Object,
      default: null
    },
    maxWidth: {
      type: Number,
      default: 24
    },
    maxHeight: {
      type: Number,
      default: 24
    },
    contain: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    /**
       * Decide if the current mediaObject is image
       */
    isImage () {
      return this.$_mediaType(this.value) === 'image'
    },
    /**
       * Decide if the current mediaObject is video
       */
    isVideo () {
      return this.$_mediaType(this.value) === 'video'
    },
    /**
       * Return media object or null, if empty
       * @return {Object|null}
       */
    mediaObject () {
      return this.value
    },
    /**
       * Return icon name for the given mime type
       * @return {string}
       */
    mediaObjectIcon () {
      if (isNil(this.value.mime)) {
        return 'file'
      }

      const icons = [
        { mime: 'application/pdf', name: 'fa-light fa-fw fa-file-pdf' },
        { mime: 'application/vnd.ms-excel', name: 'fa-light fa-fw fa-file-excel' },
        { mime: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', name: 'fa-light fa-fw fa-file-excel' },
        { mime: 'application/vnd.openxmlformats-officedocument.spreadsheetml.template', name: 'fa-light fa-fw fa-file-excel' },
        { mime: 'application/vnd.ms-excel.sheet.macroEnabled.12', name: 'fa-light fa-fw fa-file-excel' },
        { mime: 'application/vnd.ms-excel.template.macroEnabled.12', name: 'fa-light fa-fw fa-file-excel' },
        { mime: 'application/vnd.ms-excel.addin.macroEnabled.12', name: 'fa-light fa-fw fa-file-excel' },
        { mime: 'application/vnd.ms-excel.sheet.binary.macroEnabled.12', name: 'fa-light fa-fw fa-file-excel' },
        { mime: 'application/msword', name: 'fa-light fa-fw fa-file-word' },
        { mime: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', name: 'fa-light fa-fw fa-file-word' },
        { mime: 'application/vnd.openxmlformats-officedocument.wordprocessingml.template', name: 'fa-light fa-fw fa-file-word' },
        { mime: 'application/vnd.ms-word.document.macroEnabled.12', name: 'fa-light fa-fw fa-file-word' },
        { mime: 'application/vnd.ms-powerpoint', name: 'fa-light fa-fw fa-file-powerpoint' },
        { mime: 'application/vnd.openxmlformats-officedocument.presentationml.presentation', name: 'fa-light fa-fw fa-file-powerpoint' },
        { mime: 'application/vnd.openxmlformats-officedocument.presentationml.template', name: 'fa-light fa-fw fa-file-powerpoint' },
        { mime: 'application/vnd.openxmlformats-officedocument.presentationml.slideshow', name: 'fa-light fa-fw fa-file-powerpoint' },
        { mime: 'application/vnd.ms-powerpoint.addin.macroEnabled.12', name: 'fa-light fa-fw fa-file-powerpoint' },
        { mime: 'application/vnd.ms-powerpoint.presentation.macroEnabled.12', name: 'fa-light fa-fw fa-file-powerpoint' },
        { mime: 'application/vnd.ms-powerpoint.template.macroEnabled.12', name: 'fa-light fa-fw fa-file-powerpoint' },
        { mime: 'application/vnd.ms-powerpoint.slideshow.macroEnabled.12', name: 'fa-light fa-fw fa-file-powerpoint' },
        { mime: 'image/apng', name: 'fa-light fa-fw fa-file-image' },
        { mime: 'image/bmp', name: 'fa-light fa-fw fa-file-image' },
        { mime: 'image/gif', name: 'fa-light fa-fw fa-file-image' },
        { mime: 'image/x-icon', name: 'fa-light fa-fw fa-file-image' },
        { mime: 'image/jpeg', name: 'fa-light fa-fw fa-file-image' },
        { mime: 'image/png', name: 'fa-light fa-fw fa-file-image' },
        { mime: 'image/svg+xml', name: 'fa-light fa-fw fa-file-image' },
        { mime: 'image/svg+tiff', name: 'fa-light fa-fw fa-file-image' },
        { mime: 'image/webp', name: 'fa-light fa-fw fa-file-image' },
        { mime: 'audio/mpeg', name: 'file' },
        { mime: 'audio/vorbis', name: 'file' },
        { mime: 'video/quicktime', name: 'file' },
        { mime: 'image/avif', name: 'fa-light fa-fw fa-file-image' },
        { mime: 'image/heif', name: 'fa-light fa-fw fa-file-image' }
      ]

      const icon = find(icons, (o) => { return o.mime === this.value.mime })
      return !isNil(icon) ? icon.name : 'fa-light fa-fw fa-file'
    },
    /**
       * Return the video cover (poster) for the video from metadata
       * @return {string|null}
       */
    videoCover () {
      if (isNil(this.value.metadata.covers) || isEmpty(this.value.metadata.covers[0])) {
        return null
      }

      return this.value.metadata.covers[0]
    }
  }
}
</script>
