<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div
    class="d-flex fill-height flex-grow-1 align-center justify-center"
    @click.prevent.stop="preview"
  >
    <v-media-object-thumb
      :value="mediaObject"
      :max-width="maxWidth"
      :max-height="maxHeight"
      :contain="contain"
    />
  </div>
</template>

<script>
import VMediaObjectThumb from './VMediaObjectThumb.vue'

export default {
  name: 'VMediaObjectPreview',
  components: {
    VMediaObjectThumb
  },
  props: {
    value: {
      type: Object,
      default: null
    },
    maxWidth: {
      type: Number,
      default: 24
    },
    maxHeight: {
      type: Number,
      default: 24
    },
    contain: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      open: false,
      windowHeight: window.innerHeight,
      windowWidth: window.innerWidth
    }
  },
  computed: {
    mediaObject () {
      return this.value
    }
  },
  methods: {
    preview () {
      this.$emit('preview', this.mediaObject)
    }
  }
}
</script>
