<template>
  <v-autocomplete
    v-model="district"
    prepend-icon="mdi-map-search-outline"
    outlined
    :items="items"
    clearable
    v-bind="$attrs"
    item-value="code"
    item-text="label"
  >
  </v-autocomplete>
</template>

<script>
export default {
  name: 'VAutocompleteDistrict',
  props: {
    value: {
      type: String,
      required: false,
      default: () => { return null }
    }
  },
  emits: [
    'input'
  ],
  data () {
    return {
      items: [
        {
          label: 'Benešov',
          code: 'BN'
        },
        {
          label: 'Beroun',
          code: 'BE'
        },
        {
          label: 'Blansko',
          code: 'BK'
        },
        {
          label: 'Brno-město',
          code: 'BM'
        },
        {
          label: 'Brno-venkov',
          code: 'BI'
        },
        {
          label: 'Bruntál',
          code: 'BR'
        },
        {
          label: 'Břeclav',
          code: 'BV'
        },
        {
          label: 'Česká Lípa',
          code: 'CL'
        },
        {
          label: 'České Budějovice',
          code: 'CB'
        },
        {
          label: 'Český Krumlov',
          code: 'CK'
        },
        {
          label: 'Děčín',
          code: 'DC'
        },
        {
          label: 'Domažlice',
          code: 'DO'
        },
        {
          label: 'Frýdek-Místek',
          code: 'FM'
        },
        {
          label: 'Havlíčkův Brod',
          code: 'HB'
        },
        {
          label: 'Hodonín',
          code: 'HO'
        },
        {
          label: 'Hradec Králové',
          code: 'HK'
        },
        {
          label: 'Cheb',
          code: 'CH'
        },
        {
          label: 'Chomutov',
          code: 'CV'
        },
        {
          label: 'Chrudim',
          code: 'CR'
        },
        {
          label: 'Jablonec nad Nisou',
          code: 'JN'
        },
        {
          label: 'Jeseník',
          code: 'JE'
        },
        {
          label: 'Jičín',
          code: 'JC'
        },
        {
          label: 'Jihlava',
          code: 'JI'
        },
        {
          label: 'Jindřichův Hradec',
          code: 'JH'
        },
        {
          label: 'Karlovy Vary',
          code: 'KV'
        },
        {
          label: 'Karviná',
          code: 'KI'
        },
        {
          label: 'Kladno',
          code: 'KD'
        },
        {
          label: 'Klatovy',
          code: 'KT'
        },
        {
          label: 'Kolín',
          code: 'KO'
        },
        {
          label: 'Kroměříž',
          code: 'KM'
        },
        {
          label: 'Kutná Hora',
          code: 'KH'
        },
        {
          label: 'Liberec',
          code: 'LI'
        },
        {
          label: 'Litoměřice',
          code: 'LT'
        },
        {
          label: 'Louny',
          code: 'LN'
        },
        {
          label: 'Mělník',
          code: 'ME'
        },
        {
          label: 'Mladá Boleslav',
          code: 'MB'
        },
        {
          label: 'Most',
          code: 'MO'
        },
        {
          label: 'Náchod',
          code: 'NA'
        },
        {
          label: 'Nový Jičín',
          code: 'NJ'
        },
        {
          label: 'Nymburk',
          code: 'NB'
        },
        {
          label: 'Olomouc',
          code: 'OC'
        },
        {
          label: 'Opava',
          code: 'OP'
        },
        {
          label: 'Ostrava-město',
          code: 'OV'
        },
        {
          label: 'Pardubice',
          code: 'PU'
        },
        {
          label: 'Pelhřimov',
          code: 'PE'
        },
        {
          label: 'Písek',
          code: 'PI'
        },
        {
          label: 'Plzeň-jih',
          code: 'PJ'
        },
        {
          label: 'Plzeň-sever',
          code: 'PS'
        },
        {
          label: 'Praha-východ',
          code: 'PY'
        },
        {
          label: 'Praha-západ',
          code: 'PZ'
        },
        {
          label: 'Prachatice',
          code: 'PT'
        },
        {
          label: 'Prostějov',
          code: 'PV'
        },
        {
          label: 'Přerov',
          code: 'PR'
        },
        {
          label: 'Příbram',
          code: 'PB'
        },
        {
          label: 'Rakovník',
          code: 'RA'
        },
        {
          label: 'Rokycany',
          code: 'RO'
        },
        {
          label: 'Rychnov nad Kněžnou',
          code: 'RK'
        },
        {
          label: 'Semily',
          code: 'SM'
        },
        {
          label: 'Sokolov',
          code: 'SO'
        },
        {
          label: 'Strakonice',
          code: 'ST'
        },
        {
          label: 'Svitavy',
          code: 'SY'
        },
        {
          label: 'Šumperk',
          code: 'SU'
        },
        {
          label: 'Tábor',
          code: 'TA'
        },
        {
          label: 'Tachov',
          code: 'TC'
        },
        {
          label: 'Teplice',
          code: 'TP'
        },
        {
          label: 'Trutnov',
          code: 'TU'
        },
        {
          label: 'Třebíč',
          code: 'TR'
        },
        {
          label: 'Uherské Hradiště',
          code: 'UH'
        },
        {
          label: 'Ústní nad Labem',
          code: 'UL'
        },
        {
          label: 'Ústí nad Orlicí',
          code: 'UO'
        },
        {
          label: 'Vsetín',
          code: 'VS'
        },
        {
          label: 'Vyškov',
          code: 'VY'
        },
        {
          label: 'Zlín',
          code: 'ZL'
        },
        {
          label: 'Znojmo',
          code: 'ZN'
        },
        {
          label: 'Žďár nad Sázavou',
          code: 'ZR'
        },
      ]
    }
  },
  computed: {
    district: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>
