<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-autocomplete
      v-model="selectedType"
      :label="$t('permissions')"
      prepend-icon="fa-regular fa-fw fa-circle-star"
      outlined
      :loading="loading"
      :items="items"
      item-value="id"
      item-text="text"
      clearable
      v-bind="$attrs"
    />
  </div>
</template>

<script>
import { useRolesStore } from '../../stores/rolesStore'

export default {
  name: 'VAutocompleteUserRole',
  props: {
    value: {
      default: null
    }
  },
  data () {
    return {
      loading: false,
      items: []
    }
  },
  computed: {
    selectedType: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  created () {
    this.loadRoles()
  },
  methods: {
    async loadRoles () {
      const store = useRolesStore()
      await store.readRoles()
      this.items = this.flattenRoles(store.roles)
    },
    flattenRoles (roles) {
      const flatten = []
      function addRole (role) {
        flatten.push({ id: role.name, text: role.label })
        if (role.children && role.children.length) {
          role.children.forEach(child => addRole(child))
        }
      }
      roles.forEach(role => addRole(role))
      return flatten
    }

  }
}
</script>
