<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-autocomplete
    v-model="select"
    :search-input.sync="searchQuery"
    :loading="loading"
    :items="items"
    :cache-items="true"
    flat
    hide-no-data
    hide-details
    solo-inverted
    no-filter
    loader-height="5"
    class="v-appbar-search"
    @blur="clearQuery"
    @input="clearQuery"
    @change="goToItem"
  >
    <template #item="data">
      <v-list-item-content>
        <v-list-item-title>
          <span v-for="(title) in data.item.title">
            {{ title.title }}
          </span>
        </v-list-item-title>
        <v-list-item-subtitle>
          {{ $t(data.item.type) }}
        </v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-icon>
        <v-btn
          small
          depressed
          color="primary"
          :href="data.item.link"
          primary
        >
          <v-icon x-small>
            edit
          </v-icon>
        </v-btn>
      </v-list-item-icon>
    </template>
  </v-autocomplete>
</template>

<script>
import Axios from '../../composables/ajax'
import { debounce, has, forEach, isNil, get, map, replace } from 'lodash'

export default {
  name: 'VAutocompleteSearch',
  data () {
    return {
      select: null,
      searchQuery: '',
      items: [],
      loading: false
    }
  },
  methods: {
    /**
     * Push the given object into autocomplete items list
     */
    pushToItems (object, titlePath, type, link) {
      if (isNil(object)) {
        return null
      }

      const title = []

      if (!isNil(titlePath) && titlePath.includes('translations.*') && has(object, 'translations')) {
        map(get(object, 'translations'), (value, key) => {
          title.push({ locale: value.locale, title: get(object, replace(titlePath, '*', value.locale)) })
        })
      }

      if (has(object, titlePath)) {
        title.push({ title: get(object, titlePath) })
      }

      this.items.push({
        title,
        type,
        link
      })
    },
    /**
       * Perform debounced search for the autocomplete
       */
    search: debounce(function (val) {
      this.loading = true

      const user = Axios.get('/api/users?email=' + val).then((response) => {
        if (has(response.data, 'hydra:member')) {
          forEach(response.data['hydra:member'], (obj) => {
            this.pushToItems(obj, 'displayName', 'user', '/admin/users/' + obj.id)
          })
        }
      })

      const article = Axios.get('/api/articles?translations.*.headline[partial]=' + val).then((response) => {
        if (has(response.data, 'hydra:member')) {
          forEach(response.data['hydra:member'], (obj) => {
            this.pushToItems(obj, 'translations.*.headline', 'article', '/admin/articles/' + obj.id)
          })
        }
      })

      const section = Axios.get('/api/sections?translations.*.name[partial]=' + val).then((response) => {
        if (has(response.data, 'hydra:member')) {
          forEach(response.data['hydra:member'], (obj) => {
            this.pushToItems(obj, 'translations.*.name', 'section', '/admin/sections/' + obj.id)
          })
        }
      })

      const product = Axios.get('/api/products?translations.*.name[partial]=' + val).then((response) => {
        if (has(response.data, 'hydra:member')) {
          forEach(response.data['hydra:member'], (obj) => {
            this.pushToItems(obj, 'translations.*.name', 'product', '/admin/products/' + obj.id)
          })
        }
      })

      const productCategory = Axios.get('/api/product-categories?translations.*.name[partial]=' + val).then((response) => {
        if (has(response.data, 'hydra:member')) {
          forEach(response.data['hydra:member'], (obj) => {
            this.pushToItems(obj, 'translations.*.name', 'product category', '/admin/product-categories/' + obj.id)
          })
        }
      })

      const galleries = Axios.get('/api/galleries?translations.*.name[partial]=' + val).then((response) => {
        if (has(response.data, 'hydra:member')) {
          forEach(response.data['hydra:member'], (obj) => {
            this.pushToItems(obj, 'translations.*.name', 'gallery', '/admin/galleries/' + obj.id)
          })
        }
      })

      const events = Axios.get('/api/events?translations.*.headline[partial]=' + val).then((response) => {
        if (has(response.data, 'hydra:member')) {
          forEach(response.data['hydra:member'], (obj) => {
            this.pushToItems(obj, 'translations.*.headline', 'event', '/admin/events/' + obj.id)
          })
        }
      })

      const userGroups = Axios.get('/api/user-groups?translations.*.name[partial]=' + val).then((response) => {
        if (has(response.data, 'hydra:member')) {
          forEach(response.data['hydra:member'], (obj) => {
            this.pushToItems(obj, 'translations.*.name', 'user group', '/admin/user-groups/' + obj.id)
          })
        }
      })

      Promise.all([
        article,
        section,
        product,
        productCategory,
        galleries,
        events,
        user,
        userGroups
      ]).finally(() => {
        this.loading = false
      })
    }, 500),
    /**
       * Clear the search query
       */
    clearQuery () {
      this.items = []
      this.searchQuery = null
    },
    /**
       * Go to selected item link
       * @param item
       */
    goToItem (item) {
      if (!isNil(item.link)) {
        window.location.href = item.link
      }
      this.clearQuery()
    }
  },
  watch: {
    searchQuery (val) {
      this.items = []
      if (val !== '' && val !== null) {
        this.search(val)
      }
    }
  }
}
</script>
