<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-autocomplete
    v-model="selectedItems"
    outlined
    :loading="loading"
    :items="items"
    item-text="title"
    item-value="@id"
    :multiple="multiple"
    clearable
    chips
    :deletable-chips="true"
    :disabled="disabled"
    :label="$t('product categories')"
    v-bind="$attrs"
    hide-details
  >
    <template #selection="data">
      <v-chip
        close
        :class="{ 'row--disabled': data.item['status'] === 'draft' }"
        @click:close="unselectByIri(data.item['@id'])"
      >
        {{ data.item.title }}
      </v-chip>
    </template>
    <template #item="data">
      <v-row no-gutters>
        <v-col>
          <div class="text-body-2">
            {{ data.item.title }}
          </div>
        </v-col>
      </v-row>
    </template>
  </v-autocomplete>
</template>

<script>
import { without, map, has } from 'lodash'
import { crudMixin } from '../../mixins/crudMixin'

export default {
  name: 'VAutocompleteProductCategory',
  mixins: [
    crudMixin
  ],
  props: {
    value: {
      type: [Array, String],
      default: () => []
    },
    disabled: {
      type: Boolean,
      default: false
    },
    multiple: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    loading: false,
    items: []
  }),
  computed: {
    selectedItems: {
      get() {
        if (this.multiple) {
          return map(this.value, (o) => has(o, '@id') ? o['@id'] : o)
        } else {
          return has(this.value, '@id') ? this.value['@id'] : this.value
        }
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  created() {
    this.$_readCollection('/api/product-categories?itemsPerPage=999').then((items) => { this.items = items })
  },
  methods: {
    unselectByIri(iri) {
      this.selectedItems = without(this.selectedItems, iri)
    }
  }
}
</script>

