<template>
  <v-autocomplete
    v-model="selectedTypes"
    prepend-icon="mdi-folder-multiple-outline"
    outlined
    :loading="loading"
    :items="types"
    item-value="@id"
    clearable
    chips
    :deletable-chips="true"
    v-bind="$attrs"
    multiple
  >
    <template #selection="data">
      <v-chip
        close
        @click:close="unselectUserbyIri(data.item['@id'])"
      >
        <v-avatar left>
          {{ data.item.id }}
        </v-avatar>
        {{ translatedName(data.item) }}
      </v-chip>
    </template>
    <template #item="data">
      <v-row no-gutters>
        <v-col class="flex-grow-0 mr-2">
          {{ data.item.id }}
        </v-col>
        <v-col>{{ translatedName(data.item) }}</v-col>
      </v-row>
    </template>
  </v-autocomplete>
</template>

<script>
import without from 'lodash/without'
import map from 'lodash/map'
import has from 'lodash/has'
import { crudMixin } from '../../mixins/crudMixin'
import saveState from 'vue-save-state'

export default {
  name: 'VAutocompleteEventType',
  mixins: [
    crudMixin,
    saveState
  ],
  props: {
    value: {
      default: null
    }
  },
  data: () => {
    return {
      loading: false,
      types: []
    }
  },
  computed: {
    selectedTypes: {
      get () {
        // if value has no IRI (due to deep serialization) we return it's IRI from @id property
        return map(this.value, (o) => has(o, '@id') ? o['@id'] : o)
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  created () {
    this.$_readCollection('/api/event-types', { itemsPerPage: 100 }).then((types) => { this.types = types })
  },
  methods: {
    translatedName (type) {
      const title = type.title
      if (typeof title !== 'undefined' || title !== null || title !== '') {
        return title
      }

      return ''
    },
    /**
     * Save component state
     * @return {{cacheKey: string}}
     */
    getSaveStateConfig () {
      return {
        cacheKey: `${window.location.hostname}-v-autocomplete-event-type`
      }
    },
    /**
     * Unselect the selected user by it's IRI
     */
    unselectUserbyIri (iri) {
      this.selectedsections = without(this.selectedsections, iri)
    }
    /**
     * Return section color or default the default color if not color is set.
     * @returns {string}
     * @param color
     * @return {string|*}
     */
  }

}
</script>
