<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-autocomplete
      v-model="selectedUsers"
      prepend-icon="mdi-account-multiple-outline"
      outlined
      :loading="loading"
      :items="users"
      item-text="displayName"
      item-value="@id"
      clearable
      chips
      :deletable-chips="true"
      :disabled="isEditationDisabled"
      v-bind="$attrs"
      :search-input.sync="query"
    >
      <template #selection="data">
        <v-chip
          close
          :color="color(data.item)"
          :class="{'row--disabled': !data.item['enabled']}"
          @click:close="unselectUserbyIri(data.item['@id'])"
        >
          <v-avatar-user
            :value="data.item"
            :color-badge="false"
          />
          {{ data.item.displayName }}
        </v-chip>
      </template>
      <template #item="data">
        <v-row no-gutters>
          <v-col class="flex-grow-0">
            <v-list-item-avatar :class="['ma-0', 'mr-4', {'row--disabled': !data.item['enabled']}]">
              <v-avatar-user :value="data.item" />
            </v-list-item-avatar>
          </v-col>
          <v-col>
            <div class="text-body-2">
              {{ data.item.displayName }}
            </div>
            <div class="caption">
              {{ data.item.email }}
            </div>
          </v-col>
        </v-row>
      </template>
    </v-autocomplete>
  </div>
</template>

<script>
import VAvatarUser from '../VAvatarUser.vue'
import isNil from 'lodash/isNil'
import without from 'lodash/without'
import map from 'lodash/map'
import has from 'lodash/has'
import { useUsersStore } from '../../stores/usersStore'
import axios from 'axios'

export default {
  name: 'UserSelect',
  components: {
    VAvatarUser
  },
  props: {
    value: {
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    return {
      loading: false,
      users: [],
      query: ''
    }
  },
  computed: {
    selectedUsers: {
      get () {
        // when this v-autocomplete is not multiple
        if (typeof this.$attrs.multiple === 'undefined' || this.$attrs.multiple === false) {
          return this.value
        }

        // if value has no IRI (due to deep serialization) we return it's IRI from @id property
        return map(this.value, (o) => has(o, '@id') ? o['@id'] : o)
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    isEditationDisabled () {
      return this.disabled
    }
  },
  watch: {
    query (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.checkAndFetchUsers()
      }
    }
  },
  created () {
    this.initializeUsers()
  },
  methods: {
    /**
     * Unselect the selected user by its IRI
     */
    unselectUserbyIri (iri) {
      this.selectedUsers = without(this.selectedUsers, iri)
    },
    /**
     * Return user control or default the default color if not color is set.
     * @returns {string}
     * @param user
     * @return {string|*}
     */
    color (user) {
      if (!isNil(user.color)) {
        return user.color
      }
      return '#cacaca'
    },
    async checkAndFetchUsers () {
      // Check if the search query results in no matches among already loaded users
      const foundUsers = this.users.filter(user => user.email.includes(this.query))
      if (foundUsers.length === 0 && this.query) {
        const usersStore = useUsersStore()
        await usersStore.readCollection({ email: this.query })
        this.users = [...this.users, ...usersStore.items]
      }
    },
    async fetchMissingUsers (userIds) {
      const usersStore = useUsersStore()
      const missingUserIds = userIds
        .map(id => this.extractId(id))
        .filter(id => !this.users.some(user => user['@id'] === `/api/users/${id}`))

      if (missingUserIds.length > 0) {
        for (const id of missingUserIds) {
          const response = await axios.get(`/api/users?id=${id}`)
          const user = response.data['hydra:member'][0]

          this.users.push(user)
          usersStore.items.push(user)
        }
      }
    },
    async initializeUsers () {
      const usersStore = useUsersStore()
      await usersStore.readCollection({ itemsPerPage: 10 })
      this.users = usersStore.items

      if (Array.isArray(this.value)) {
        await this.fetchMissingUsers(this.value)
      } else if (this.value && typeof this.value === 'string' && this.value.startsWith('/api/users/')) {
        const id = this.extractId(this.value)
        await this.fetchMissingUsers([id])
      }

      this.users = [...this.users, ...usersStore.items]
    },
    extractId (value) {
      if (typeof value === 'string') {
        return value.startsWith('/api/users/') ? value.split('/').pop() : value
      }
      if (typeof value === 'object' && value['@id']) {
        return value['@id'].split('/').pop()
      }
      return value
    }
  }
}
</script>
