<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <v-autocomplete
    v-model="provider"
    :label="$t('shipping_method_provider')"
    prepend-icon="fa-light fa-fw fa-folder"
    outlined
    :items="items"
    clearable
    v-bind="$attrs"
    item-value="code"
    item-text="label"
  />
</template>

<script>
export default {
  name: 'VAutocompleteShippingMethodProvider',
  props: {
    value: {
      type: String,
      required: false,
      default: () => { return null }
    }
  },
  emits: [
    'input'
  ],
  data () {
    return {
      items: [
        {
          label: 'doručovací služba',
          code: 'default'
        },
        {
          label: 'Zásilkovna',
          code: 'packeta'
        }
      ]
    }
  },
  computed: {
    provider: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>
