<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-autocomplete
    v-model="selectedMediaObjects"
    filled
    hide-details
    single-line
    chips
    clearable
    :filter="filter"
    :multiple="isMultiple"
    :items="mediaObjects"
    item-text="contentUrl"
    :return-object="true"
    :label="$t('search')"
    @blur="clearQuery"
  >
    <!-- selected items template -->
    <template #selection="{ item, index }">
      <!-- first item is a chip -->
      <v-chip
        v-if="index === 0"
        close
        @click:close="unSelect(item)"
      >
        <v-media-object-thumb
          :value="item"
          :max-height="16"
          :max-width="16"
          class="mr-2"
        />
        <!-- display file on small resolution only if 1 is selected -->
        <span v-if="size(selectedMediaObjects) === 1 || $vuetify.breakpoint.smAndUp">{{ $_mediaObjectFileName(item, $vuetify.breakpoint.mdAndUp ? null : 16) }}</span>
      </v-chip>

      <!-- instead of dsplaying other items, show .. and + 1 more -->
      <span
        v-if="index === 1"
        class="caption"
      >+ {{ size(selectedMediaObjects) - 1 }} {{ $t('others') }}</span>
    </template>

    <!-- filter drop down -->
    <template #item="data">
      <v-list-item-avatar>
        <v-media-object-thumb :value="data.item" />
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>
          <text-highlight :queries="searchQuery">
            {{ $_mediaObjectFileName(data.item, $vuetify.breakpoint.mdAndUp ? null : 16) }}
          </text-highlight>
        </v-list-item-title>
        <v-list-item-subtitle v-text="localizedDescription(data.item)" />
      </v-list-item-content>
    </template>
  </v-autocomplete>
</template>

<script>
import VMediaObjectThumb from '../v-media/VMediaObjectThumb.vue'
import TextHighlight from 'vue-text-highlight'
import deburr from 'lodash/deburr'
import get from 'lodash/get'
import has from 'lodash/has'
import isNil from 'lodash/isNil'
import isString from 'lodash/isString'
import toLower from 'lodash/toLower'
import without from 'lodash/without'
import { mediaObjectMixin } from '../../mixins/mediaObjectMixin'
import { collectionsMixin } from '../../mixins/collectionsMixin'

export default {
  name: 'VAutocompleteMediaObject',
  components: {
    VMediaObjectThumb,
    TextHighlight
  },
  mixins: [
    collectionsMixin,
    mediaObjectMixin
  ],
  props: {
    value: {
      default: null
    },
    items: {
      type: Array,
      default: []
    },
    multiple: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      searchQuery: ''
    }
  },
  computed: {
    mediaObjects () {
      return this.items
    },
    selectedMediaObjects: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    isMultiple () {
      return this.multiple
    }
  },
  methods: {
    /**
       * Clear current serach query
       */
    clearQuery () {
      this.searchQuery = ''
    },
    /**
       * Custom autocomplete filter allowing to search in media description in the current locale
       */
    filter (item, queryText) {
      let fileName = item.contentUrl.replace('/media/', '')
      let description = this.localizedDescription(item)
      this.searchQuery = toLower(deburr(queryText))

      if (!fileName || !isString(fileName)) {
        fileName = ''
      }

      if (!description || !isString(description)) {
        description = ''
      }

      return fileName.indexOf(this.searchQuery) > -1 ||
          description.indexOf(this.searchQuery) > -1
    },

    /**
       * Return localized description of the media object
       * @param mediaObject
       * @return {string}
       */
    localizedDescription (mediaObject) {
      const locale = document.documentElement.lang
      if (!isNil(locale) && has(mediaObject, 'translations.' + locale + '.description')) {
        return get(mediaObject, 'translations.' + locale + '.description')
      }

      return null
    },
    /**
       * Unselect single mediaObject
       * @param mediaObject
       */
    unSelect (mediaObject) {
      this.selectedMediaObjects = this.multiple ? without(this.selectedMediaObjects, mediaObject) : null
    }
  }
}
</script>

