<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <v-autocomplete
      v-model="home"
      :items="translatedRoutes"
      item-text="label"
      item-value="value"
      v-bind="$attrs"
    />
  </div>
</template>

<script>
export default {
  name: 'VAutocompleteHome',
  props: {
    value: {
      type: String,
      default: null
    }
  },
  emits: [
    'input'
  ],
  computed: {
    home: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    translatedRoutes() {
      return [
        {
          value: 'arodax_admin_dashboard_index',
          label: this.$t('home_dashboard')
        },
        {
          value: 'arodax_admin_articles_index',
          label: this.$t('home_articles')
        },
        {
          value: 'arodax_admin_events_index',
          label: this.$t('home_calendar')
        },
      ]
    }
  }
}
</script>
