<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-autocomplete
    v-model="country"
    :items="availableCountries"
    prepend-icon="fa-light fa-fw fa-folders"
    item-text="name"
    item-value="code"
    v-bind="$attrs"
  >
  </v-autocomplete>
</template>

<script>
import Axios from '../../composables/ajax'

export default {
  name: 'VAutocompleteCountry',
  props: {
    default: {
      value: {
        default: null
      }
    },
    value: {
      default: null
    },
    countries: {
      required: true
    }
  },
  data () {
    return {
      availableCountries: []
    }
  },
  computed: {
    country: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  created () {
    // if no countries available fetch them via intl controller
    if (!this.countries || this.countries.length === 0) {
      Axios.get('/api/intl/countries').then((response) => {
        this.parseCountries(response.data)
      })
    } else {
      this.parseCountries(this.countries)
    }
  },
  mounted () {
    if (this.default) {
      this.country = this.default
    }
  },
  methods: {
    parseCountries (countries) {
      Object.entries(countries).map(value => {
        this.availableCountries.push({
          code: value[0],
          name: value[1]
        })
      })
    }
  }
}
</script>
