<template>
  <v-autocomplete
    v-model="shoppingCart"
    outlined
    :loading="loading"
    :items="shoppingCarts"
    item-value="@id"
    clearable
    v-bind="$attrs"
  >
    <template #selection="data">
      <div class="d-flex justify-space-between flex-grow-1">
        <div class="flex-grow-1">#{{ data.item.id }}</div>
        <div>
          <div v-if="data.item.priceWithTax">
            {{ $t('price_with_tax') }} <v-span-money
              :value="data.item.priceWithTax"
              :currency="data.item.currency"
            />
          </div>
          <div v-if="!data.item.priceWithTax">
            {{ $t('shopping_cart_empty') }}
          </div>
        </div>
      </div>
    </template>
    <template #item="data">
      <div class="d-flex justify-space-between flex-grow-1">
        <div>#{{ data.item.id }}</div>
        <div>
          <div v-if="data.item.priceWithTax">
            {{ $t('price_with_tax') }} <v-span-money
              :value="data.item.priceWithTax"
              :currency="data.item.currency"
            />
          </div>
          <div v-if="!data.item.priceWithTax">
            {{ $t('shopping_cart_empty') }}
          </div>
        </div>
      </div>
    </template>
  </v-autocomplete>
</template>

<script>
import has from 'lodash/has'
import { crudMixin } from '../../mixins/crudMixin'
import VSpanMoney from '../VSpanMoney.vue'

export default {
  name: 'VAutocompleteShoppingCart',
  components: {
    VSpanMoney
  },
  mixins: [
    crudMixin
  ],
  props: {
    value: {
      type: Object | String,
      default: null
    }
  },
  data: () => {
    return {
      loading: false,
      shoppingCarts: []
    }
  },
  computed: {
    shoppingCart: {
      get () {
        // if value has no IRI (due to deep serialization) we return it's IRI from @id property
        if (has(this.value, '@id')) {
          return this.value['@id']
        }

        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  created () {
    this.fetchShoppingCarts()
  },
  methods: {
    fetchShoppingCarts () {
      this.loading = true
      // Fetch shopping carts with sort by ID descending
      this.$_readCollection('/api/shopping-carts', { page: 1, itemsPerPage: 50, 'order[id]': 'desc' }).then((shoppingCarts) => {
        this.shoppingCarts = shoppingCarts
        // Check if the selected shopping cart is in the loaded items
        if (this.shoppingCart && !this.shoppingCarts.find(cart => cart['@id'] === this.shoppingCart)) {
          this.fetchAndAddSelectedShoppingCart()
        } else {
          this.loading = false
        }
      })
    },
    fetchAndAddSelectedShoppingCart () {
      // Fetch the specific shopping cart by its ID
      this.$_readCollection('/api/shopping-carts', { id: this.shoppingCart.split('/').pop() }).then((specificCart) => {
        // Merge this cart with the existing carts
        if (specificCart && specificCart.length) {
          this.shoppingCarts = [specificCart[0], ...this.shoppingCarts]
        }
        this.loading = false
      })
    },
    /**
     * Unselect the selected user by its IRI
     */
    unselectByIri () {
      this.shoppingCart = null
    }
  }

}
</script>
