<!--
  - This file is part of the ARODAX Admin package.
  -
  -  (c) ARODAX a.s.
  -
  -  For the full copyright and license information, please view the LICENSE
  -  file that was distributed with this source code.
  -->

<template>
  <v-autocomplete
    v-model="selectedType"
    prepend-icon="fa-light fa-fw fa-folder"
    outlined
    :loading="loading"
    :items="types"
    item-value="@id"
    clearable
    chips
    :deletable-chips="true"
    v-bind="$attrs"
  >
    <template #selection="data">
      <v-chip
        close
        @click:close="unselectByIri(data.item['@id'])"
      >
        <v-avatar left>
          {{ data.item.id }}
        </v-avatar>
        {{ data.item.headline }}
      </v-chip>
    </template>
    <template #item="data">
      <v-row no-gutters>
        <v-col class="flex-grow-0 mr-2">
          {{ data.item.id }}
        </v-col>
        <v-col>{{ data.item.headline }}</v-col>
      </v-row>
    </template>
  </v-autocomplete>
</template>

<script>
import has from 'lodash/has'
import { crudMixin } from '../../mixins/crudMixin'
import saveState from 'vue-save-state'

export default {
  name: 'VAutocompleteGrantApplicantType',
  mixins: [
    crudMixin,
    saveState
  ],
  props: {
    value: {
      default: null
    }
  },
  data: () => {
    return {
      loading: false,
      types: []
    }
  },
  computed: {
    selectedType: {
      get () {
        // if value has no IRI (due to deep serialization) we return it's IRI from @id property
        if (has(this.value, '@id')) {
          return this.value['@id']
        }

        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  created () {
    this.$_readCollection('/api/grant-applicant-types', { itemsPerPage: 100 }).then((types) => { this.types = types })
  },
  methods: {
    translatedName (type) {
      const title = type.name
      if (typeof title !== 'undefined' || title !== null || title !== '') {
        return title
      }

      return ''
    },
    /**
     * Save component state
     * @return {{cacheKey: string}}
     */
    getSaveStateConfig () {
      return {
        cacheKey: `${window.location.hostname}-v-autocomplete-grant-applicant-type`
      }
    },
    /**
     * Unselect the selected user by its IRI
     */
    unselectByIri (iri) {
      this.selectedType = null
    }
    /**
     * Return section color or default the default color if not color is set.
     * @returns {string}
     * @param color
     * @return {string|*}
     */
  }

}
</script>
