<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <div>
    <!-- user group variant -->
    <v-autocomplete
      v-if="type === 'userGroup'"
      v-model="selectedUserGroups"
      outlined
      :loading="loading"
      :items="accessors"
      item-text="name"
      item-value="@id"
      clearable
      chips
      :deletable-chips="true"
      :disabled="isEditationDisabled"
      v-bind="$attrs"
      :multiple="true"
    >
      <template #selection="data">
        <v-chip
          close
          :color="color(data.item)"
          @click:close="unselectUserGroupByIri(data.item['@id'])"
        >
          {{ data.item.name }}
        </v-chip>
      </template>
    </v-autocomplete>
    <!-- user  variant -->
    <v-autocomplete
      v-if="type === 'user'"
      v-model="selectedUsers"
      outlined
      :loading="loading"
      :items="accessors"
      item-text="displayName"
      item-value="@id"
      clearable
      chips
      :deletable-chips="true"
      :disabled="isEditationDisabled"
      v-bind="$attrs"
      :multiple="true"
    >
      <template #selection="data">
        <v-chip
          close
          :color="color(data.item)"
          :class="{'row--disabled': !data.item['enabled']}"
          @click:close="unselectUserByIri(data.item['@id'])"
        >
          <v-avatar-user
            :value="data.item"
            :color-badge="false"
          />
          {{ data.item.displayName }}
        </v-chip>
      </template>
      <template #item="data">
        <v-row no-gutters>
          <v-col class="flex-grow-0">
            <v-list-item-avatar :class="['ma-0', 'mr-4', {'row--disabled': !data.item['enabled']}]">
              <v-avatar-user :value="data.item" />
            </v-list-item-avatar>
          </v-col>
          <v-col>
            <div class="text-body-2">
              {{ data.item.displayName }}
            </div>
            <div class="caption">
              {{ data.item.email }}
            </div>
          </v-col>
        </v-row>
      </template>
    </v-autocomplete>
  </div>
</template>

<script>
import VAvatarUser from '../VAvatarUser.vue'
import isNil from 'lodash/isNil'
import without from 'lodash/without'
import map from 'lodash/map'
import has from 'lodash/has'
import { crudMixin } from '../../mixins/crudMixin'
import saveState from 'vue-save-state'
import Axios from '../../composables/ajax'
import QS from 'qs'
import cloneDeep from 'lodash/cloneDeep'
import findIndex from 'lodash/findIndex'

export default {
  name: 'VAutocompleteAcl',
  components: {
    VAvatarUser
  },
  mixins: [
    crudMixin,
    saveState
  ],
  props: {
    value: {
      default: null
    },
    iri: {
      type: String,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: () => 'user',
      required: true
    }
  },
  data: () => {
    return {
      loading: false,
      accessors: []
    }
  },
  computed: {
    selectedUserGroups: {
      get () {
        // if value has no IRI (due to deep serialization) we return it's IRI from @id property
        return map(this.value, (o) => has(o, 'accessor.@id') ? o.accessor['@id'] : o.userGroup)
      },
      set (value) {
        this.updateAccessor(value)
      }
    },
    selectedUsers: {
      get () {
        // if value has no IRI (due to deep serialization) we return it's IRI from @id property
        return map(this.value, (o) => has(o, 'accessor.@id') ? o.accessor['@id'] : o.user)
      },
      set (value) {
        this.updateAccessor(value)
      }
    },
    isEditationDisabled () {
      return this.disabled
    }
  },
  created () {
    const type = this.type === 'user' ? 'users' : 'user-groups'
    this.$_readCollection(`/api/${type}`).then((items) => { this.accessors = items })
  },
  methods: {
    updateAccessor (value) {
      // get original acl entities for later use
      const returnValue = cloneDeep(this.value)
      const originalAccessors = map(this.value, (o) => has(o, 'accessor.@id') ? o.accessor['@id'] : o.accessor)

      // hold promises return values
      const requests = []

      // fnd only newly added accessors
      let newAccessors = map(value, (o) => {
        if (!originalAccessors.includes(o)) {
          return o
        }
      })

      // filter out empty values
      newAccessors = newAccessors.filter(o => o)

      // find missing (removed) accessors
      let removedAccessors = map(originalAccessors, (o) => {
        if (!value.includes(o)) {
          return o
        }
      })

      requests.push(map(newAccessors, (accessor) => {
        return Axios.post('/api/security/acl', QS.stringify({
          accessor: accessor,
          accessed: this.iri
        })).then((response) => {
          returnValue.push(response.data)
        })
      }))

      // filter out empty values
      removedAccessors = removedAccessors.filter(o => o)

      map(removedAccessors, (accessor) => {
        const index = findIndex(returnValue, (o) => {
          return o.accessor['@id'] === accessor
        })

        if (index > -1) {
          returnValue.splice(index, 1)
        }
      })

      requests.push(map(removedAccessors, (accessor) => {
        return Axios.delete(`/api/security/acl?accessed=${this.iri}&accessor=${accessor}`)
      }))

      console.dir(returnValue)

      Promise.all(requests).then(() => {
        this.$emit('input', returnValue)
      })
    },
    /**
     * Unselect the selected user by its IRI
     */
    unselectUserByIri (iri) {
      this.selectedUsers = without(this.selectedUsers, iri)
    },
    unselectUserGroupByIri (iri) {
      this.selectedUserGroups = without(this.selectedUserGroups, iri)
    },
    /**
     * Return item color or default the default color if color is not set.
     * @returns {string}
     * @param {object} item
     * @return {string|*}
     */
    color (item) {
      if (!isNil(item.color)) {
        return item.color
      }

      return '#cacaca'
    },
    /**
     * Save component state
     * @return {{cacheKey: string}}
     */
    getSaveStateConfig () {
      return {
        cacheKey: `${window.location.hostname}-v-autocomplete-acl-${this.type}`
      }
    }
  }
}
</script>
