<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-autocomplete
    v-model="timezone"
    :items="availableTimezones"
    item-text="name"
    item-value="code"
    v-bind="$attrs"
  />
</template>

<script>
import Axios from '../../composables/ajax'

export default {
  name: 'VAutocompleteTimezone',
  props: {
    default: {
      value: {
        default: null
      }
    },
    value: {
      default: null
    },
    available: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      availableTimezones: []
    }
  },
  computed: {
    timezone: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  created () {
    // if no timezones available fetch them via intl controller
    if (!this.availableTimezones || this.availableTimezones.length === 0) {
      Axios.get('/api/intl/timezones').then((response) => {
        this.parseTimezones(response.data)
      })
    } else {
      this.parseTimezones(this.timezones)
    }
  },
  mounted () {
    if (this.default) {
      this.timezone = this.default
    }
  },
  methods: {
    parseTimezones (timezones) {
      Object.entries(timezones).map(value => {
        if (this.available.length === 0 || this.available.includes(value[0])) {
          this.availableTimezones.push({
            code: value[0],
            name: value[1]
          })
        }
      })
    }
  }
}
</script>
