<template>
  <div>
    <v-autocomplete
      v-model="status"
      outlined
      :label="label"
      :items="computedItems"
      item-value="value"
      item-text="label"
      clearable
      v-bind="$attrs"
      hide-details
    >
    </v-autocomplete>
  </div>
</template>

<script>
export default {
  name: 'VAutocompleteInquiryStatus',
  props: {
    value: {
      type: String,
      required: false,
      default: () => null
    }
  },
  computed: {
    status: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    label () {
      return this.$t('inquiry_status')
    },
    computedItems () {
      return [
        {
          value: 'unread',
          label: this.$t('inquiry_unread')
        },
        {
          value: 'read',
          label: this.$t('inquiry_read')
        },
      ]
    },
    icon () {
      if (this.value === 'unread') {
        return 'fa fa-fw fa-light fa-envelope'
      }

      if (this.value === 'read') {
        return 'fa fa-fw fa-light fa-envelope-open'
      }

      return null
    }
  }
}
</script>
