<template>
  <div>
    <v-autocomplete
      v-model="status"
      outlined
      :label="$t('v_order_index_status')"
      :items="computedItems"
      item-value="value"
      item-text="label"
      clearable
      v-bind="$attrs"
    />
  </div>
</template>

<script>
export default {
  name: 'VAutocompleteOrderStatus',
  props: {
    value: {
      type: String,
      required: false,
      default: () => { return null }
    }
  },
  computed: {
    computedItems() {
      return [
        {
          value: 'new',
          label: this.$t('order_status_new')
        },
        {
          value: 'in_progress',
          label: this.$t('order_status_in_progress')
        },
        {
          value: 'paid',
          label: this.$t('order_status_paid')
        }
      ];
    },
    status: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    icon () {
      if (this.value === 'new') {
        return 'fa fa-fw fa-light fa-cart-shopping'
      }

      if (this.value === 'in_progress') {
        return 'fa fa-fw fa-light fa-cart-shopping-fast'
      }

      if (this.value === 'paid') {
        return 'fa fa-fw fa-light fa-cart-circle-check'
      }

      return null
    }
  }
}
</script>
