<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-autocomplete
    v-model="currency"
    :items="availableCurrencies"
    item-text="code"
    item-value="code"
    v-bind="$attrs"
  />
</template>

<script>
import Axios from '../../composables/ajax'

export default {
  name: 'VAutocompleteCurrency',
  props: {
    default: {
      value: {
        default: null
      }
    },
    value: {
      default: null
    },
    currencies: {
      required: false
    }
  },
  data: () => {
    return {
      availableCurrencies: []
    }
  },
  computed: {
    currency: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  created () {
    // if no currencies available fetch them via intl controller
    if (!this.currencies || this.currencies.length === 0) {
      Axios.get('/api/intl/currencies').then((response) => {
        this.parseCurrencies(response.data)
      })
    } else {
      this.parseCurrencies(this.countries)
    }
  },
  mounted () {
    if (this.default) {
      this.currency = this.default
    }
  },
  methods: {
    parseCurrencies (currencies) {
      Object.entries(currencies).map(value => {
        this.availableCurrencies.push({
          code: value[0],
          name: value[1]
        })
      })
    }
  }
}
</script>
