<template>
  <v-autocomplete
    v-model="paymentMethods"
    :label="$t('payment_methods_supported')"
    prepend-icon="fa-light fa-fw fa-folders"
    outlined
    :loading="loading"
    :items="items"
    item-value="@id"
    clearable
    chips
    :deletable-chips="true"
    v-bind="$attrs"
    multiple
  >
    <template #selection="data">
      <v-chip
        close
        @click:close="unselectByIri(data.item['@id'])"
      >
        <v-avatar left>
          {{ data.item.id }}
        </v-avatar>
        {{ data.item.headline }}
      </v-chip>
    </template>
    <template #item="data">
      <v-row no-gutters>
        <v-col class="flex-grow-0 mr-2">
          {{ data.item.id }}
        </v-col>
        <v-col>{{ data.item.headline }}</v-col>
      </v-row>
    </template>
  </v-autocomplete>
</template>

<script>
import Axios from '../../composables/ajax'
import without from 'lodash/without'

export default {
  name: 'VAutocompletePaymentMethods',
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      items: [],
      loading: false
    }
  },
  computed: {
    paymentMethods: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  mounted () {
    this.loadData()
  },
  methods: {
    loadData () {
      Axios.get('/api/payment-methods?itemsPerPage=999').then((response) => {
        this.items = response.data['hydra:member']
      })
    },
    unselectByIri (iri) {
      this.paymentMethods = without(this.paymentMethods, iri)
    }
  }
}
</script>
