<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-autocomplete
    ref="autocomplete"
    v-model="selectedSections"
    outlined
    :loading="loading"
    :items="sections"
    item-text="displayName"
    item-value="@id"
    clearable
    chips
    :deletable-chips="true"
    :disabled="isEditationDisabled"
    v-bind="$attrs"
    cache-items
    :filter="search"
    @keyup.enter="selectFirstItem"
  >
    <template #selection="data">
      <v-chip
        close
        :color="color(data.item)"
        :class="{'row--disabled': !data.item['enabled']}"
        @click:close="unselectByIri(data.item['@id'])"
      >
        <v-avatar left>
          {{ data.item.id }}
        </v-avatar>
        {{ translatedName(data.item) }}
      </v-chip>
    </template>

    <template #item="{ item, on, attrs }">
      <v-list-item
        :key="item.id"
        v-on="on"
      >
        <v-list-item-content>
          <v-list-item-title v-html="translatedName(item)" />
        </v-list-item-content>

        <v-list-item-action>
          <v-list-item-action-text>#{{ item.id }}</v-list-item-action-text>
        </v-list-item-action>
      </v-list-item>
    </template>
  </v-autocomplete>
</template>

<script>
import { debounce } from 'lodash'
import isNil from 'lodash/isNil'
import without from 'lodash/without'
import map from 'lodash/map'
import has from 'lodash/has'
import { crudMixin } from '../../mixins/crudMixin'
import saveState from 'vue-save-state'

export default {
  name: 'VAutocompleteSection',
  mixins: [
    crudMixin,
    saveState
  ],
  props: {
    value: {
      type: [String, Object, Array],
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  emits: [
    'input'
  ],
  data: () => {
    return {
      loading: false,
      sections: []
    }
  },
  computed: {
    selectedSections: {
      get () {
        if (typeof this.$attrs.multiple === 'undefined' || this.$attrs.multiple === false) {
          return this.value
        }
        return map(this.value, (o) => has(o, '@id') ? o['@id'] : o)
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    isEditationDisabled () {
      return this.disabled
    }
  },
  created () {
    this.loading = true
    this.$_readCollection('/api/sections', { itemsPerPage: 999 }).then((sections) => {
      this.sections = sections
      this.loading = false
    })
  },
  methods: {
    translatedName (section) {
      const title = section.title
      if (typeof title !== 'undefined' || title !== null || title !== '') {
        return title
      }
      return ''
    },
    unselectByIri (iri) {
      this.selectedSections = without(this.selectedSections, iri)
    },
    color (section) {
      if (!isNil(section.color)) {
        return section.color
      }
      return '#cacaca'
    },
    getSaveStateConfig () {
      return {
        cacheKey: `${window.location.hostname}-v-autocomplete-section`,
        ignoreProperties: ['sections']
      }
    },
    search (item, queryText) {
      if (this.loading) {
        return true
      }

      queryText = queryText.toLowerCase()
      const idMatch = item.id.toString().includes(queryText)
      const headlineMatch = item.headline && item.headline.toLowerCase().includes(queryText)

      return idMatch || headlineMatch
    },
    selectFirstItem () {
      if (this.$refs.autocomplete.internalSearch && this.$refs.autocomplete.filteredItems.length) {
        const firstItem = this.$refs.autocomplete.filteredItems[0]['@id']
        if (!this.$attrs.multiple) {
          this.selectedSections = firstItem
        } else {
          if (!this.selectedSections.includes(firstItem)) {
            this.selectedSections.push(firstItem)
          }
        }
        this.$refs.autocomplete.internalSearch = null
      }
    },
    fetchSections: debounce(function (searchText) {
      this.loading = true
      this.$_readCollection('/api/sections', { itemsPerPage: 100, 'translations.*.name[partial]': searchText }).then((sections) => {
        this.sections = sections
        this.loading = false
      })
    }, 500)
  }
}
</script>
