<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-autocomplete
    v-model="locale"
    :items="availableLocales"
    item-text="name"
    item-value="code"
    v-bind="$attrs"
  />
</template>

<script>
import Axios from '../../composables/ajax'

export default {
  name: 'VAutocompleteLocale',
  props: {
    default: {
      value: {
        default: null
      }
    },
    value: {
      default: null
    },
    available: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      availableLocales: []
    }
  },
  computed: {
    locale: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  created () {
    // if no locales available fetch them via intl controller
    if (!this.locales || this.locales.length === 0) {
      Axios.get('/api/intl/locales').then((response) => {
        this.parseLocales(response.data)
      })
    } else {
      this.parseLocales(this.countries)
    }
  },
  mounted () {
    if (this.default) {
      this.country = this.default
    }
  },
  methods: {
    parseLocales (locales) {
      Object.entries(locales).map(value => {
        if (this.available.length === 0 || this.available.includes(value[0])) {
          this.availableLocales.push({
            code: value[0],
            name: value[1]
          })
        }
      })
    }
  }
}
</script>
