<template>
  <v-autocomplete
    v-model="status"
    :prepend-icon="icon"
    outlined
    :label="$t('call_status')"
    :items="items"
    item-value="value"
    item-text="label"
    clearable
    v-bind="$attrs"
  >
  </v-autocomplete>
</template>

<script>
export default {
  name: 'VGrantCallStatus',
  props: {
    value: {
      type: String,
      required: false,
      default: () => { return null }
    }
  },
  data () {
    return {
      items: [
        {
          value: 'open',
          label: this.$t('grant_call_open')
        },
        {
          value: 'closed',
          label: this.$t('grant_call_closed')
        },
        {
          value: 'archived',
          label: this.$t('grant_call_archived')
        },
        {
          value: 'planned',
          label: this.$t('grant_call_planned')
        }
      ]
    }
  },
  computed: {
    status: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    label () {
      return this.$t('call_status')
    },
    icon () {
      if (this.value === 'open') {
        return 'mdi-bullhorn-variant'
      }

      if (this.value === 'closed') {
        return 'mdi-bullhorn-variant-outline'
      }

      if (this.value === 'archived') {
        return 'mdi-archive-clock-outline'
      }

      if (this.value === 'planned') {
        return 'mdi-archive-clock-outline'
      }

      return 'mdi-bullhorn-variant-outline'
    }
  }
}
</script>
