<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-autocomplete
    v-model="selectedUserGroups"
    :label="$t('user_groups')"
    outlined
    item-text="name"
    :loading="loading"
    :items="userGroups"
    item-value="@id"
    multiple
    clearable
    chips
    :deletable-chips="true"
    :disabled="isEditationDisabled"
    v-bind="$attrs"
  >
    <template #selection="data">
      <v-chip
        close
        :color="color(data.item)"
        @click:close="unselectUserGroupbyIri(data.item['@id'])"
      >
        {{ data.item.name }}
      </v-chip>
    </template>
  </v-autocomplete>
</template>

<script>
import isNil from 'lodash/isNil'
import without from 'lodash/without'
import map from 'lodash/map'
import has from 'lodash/has'
import { crudMixin } from '../../mixins/crudMixin'
import { useUserGroupsStore } from '../../stores/userGroupsStore'

export default {
  name: 'VAutocompleteUserGroup',
  mixins: [
    crudMixin
  ],
  props: {
    value: {
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    return {
      loading: false,
      userGroups: [],
      query: ''
    }
  },
  computed: {
    selectedUserGroups: {
      get () {
        if (typeof this.$attrs.multiple === 'undefined' || this.$attrs.multiple === false) {
          return this.value
        }
        return map(this.value, (o) => has(o, '@id') ? o['@id'] : o)
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    isEditationDisabled () {
      return this.disabled
    }
  },
  watch: {
    query (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.checkAndFetchUserGroups()
      }
    }
  },
  created () {
    const userGroupsStore = useUserGroupsStore() // Assuming you have a similar store for user groups

    if (this.value && typeof this.value === 'string' && this.value.startsWith('/api/user-groups/')) {
      const id = this.value.split('/').pop()

      userGroupsStore.readCollection({ itemsPerPage: 1, id }).then(() => {
        this.userGroups = userGroupsStore.items
      })
    } else {
      userGroupsStore.readCollection({ itemsPerPage: 999 }).then(() => {
        this.userGroups = userGroupsStore.items
      })
    }
  },
  methods: {
    unselectUserGroupbyIri (iri) {
      this.selectedUserGroups = without(this.selectedUserGroups, iri)
    },
    color (userGroup) {
      if (!isNil(userGroup.color)) {
        return userGroup.color
      }
      return '#cacaca'
    },
    checkAndFetchUserGroups () {
      const foundUserGroups = this.userGroups.filter(userGroup => userGroup.name.includes(this.query))
      if (foundUserGroups.length === 0 && this.query) {
        const userGroupsStore = useUserGroupsStore()
        userGroupsStore.readCollection({ name: this.query }).then(() => {
          this.userGroups = [...this.userGroups, ...userGroupsStore.items]
        })
      }
    }
  }
}
</script>

