<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-autocomplete
    v-model="priority"
    :items="priorities"
    item-text="label"
    item-value="value"
    v-bind="$attrs"
  >
    <template #selection="data">
      <div
        class="priority-icon mr-2"
        v-html="data.item.icon"
      />
      {{ $t(data.item.label) }} ({{ data.item.value }})
    </template>

    <template #item="data">
      <v-row
        class="d-flex align-center"
        no-gutters
      >
        <v-col class="flex-grow-0">
          <v-list-item-avatar :class="['ma-0', 'mr-4']">
            <div
              class="priority-icon"
              v-html="data.item.icon"
            />
          </v-list-item-avatar>
        </v-col>
        <v-col>
          <div class="text-body-2">
            {{ $t(data.item.label) }} ({{ data.item.value }})
          </div>
        </v-col>
      </v-row>
    </template>
  </v-autocomplete>
</template>

<script>
export default {
  name: 'VAutocompletePriority',
  props: {
    value: {
      default: null
    }
  },
  data () {
    return {
      priorities: [
        {
          value: 10,
          label: 'priority_highest',
          icon: '<svg viewBox="0 0 32.497 25.351" xmlns="http://www.w3.org/2000/svg"><path d="m4.713 13.527 11.5-6.78 11.5 6.78c1.5.87 3.4.38 4.3-1.11.9-1.48.4-3.4-1.1-4.28l-13.1-7.71c-1-.57-2.2-.57-3.2 0l-13.1 7.71c-1.5.88-2 2.8-1.1 4.28.9 1.49 2.8 1.98 4.3 1.11z" style="fill:#ff5e34"/><path d="m4.713 24.92 11.5-6.78 11.5 6.78c1.5.87 3.4.38 4.3-1.11.9-1.48.4-3.4-1.1-4.28l-13.1-7.71c-1-.57-2.2-.57-3.2 0l-13.1 7.71c-1.5.88-2 2.8-1.1 4.28.9 1.49 2.8 1.98 4.3 1.11z" style="fill:#ff7f59"/></svg>'
        },
        {
          value: 9,
          label: 'priority_highest',
          icon: '<svg viewBox="0 0 32.497 25.351" xmlns="http://www.w3.org/2000/svg"><path d="m4.713 13.527 11.5-6.78 11.5 6.78c1.5.87 3.4.38 4.3-1.11.9-1.48.4-3.4-1.1-4.28l-13.1-7.71c-1-.57-2.2-.57-3.2 0l-13.1 7.71c-1.5.88-2 2.8-1.1 4.28.9 1.49 2.8 1.98 4.3 1.11z" style="fill:#ff5e34"/><path d="m4.713 24.92 11.5-6.78 11.5 6.78c1.5.87 3.4.38 4.3-1.11.9-1.48.4-3.4-1.1-4.28l-13.1-7.71c-1-.57-2.2-.57-3.2 0l-13.1 7.71c-1.5.88-2 2.8-1.1 4.28.9 1.49 2.8 1.98 4.3 1.11z" style="fill:#ff7f59"/></svg>'
        },
        {
          value: 8,
          label: 'priority_high',
          icon: '<svg viewBox="0 0 32.497 13.958" xmlns="http://www.w3.org/2000/svg"><path d="m4.713 13.526 11.5-6.78 11.5 6.78c1.5.87 3.4.38 4.3-1.11.9-1.48.4-3.4-1.1-4.28l-13.1-7.71c-1-.57-2.2-.57-3.2 0l-13.1 7.71c-1.5.88-2 2.8-1.1 4.28.9 1.49 2.8 1.98 4.3 1.11z" style="fill:#ff5e34"/></svg>'
        },
        {
          value: 7,
          label: 'priority_high',
          icon: '<svg viewBox="0 0 32.497 13.958" xmlns="http://www.w3.org/2000/svg"><path d="m4.713 13.526 11.5-6.78 11.5 6.78c1.5.87 3.4.38 4.3-1.11.9-1.48.4-3.4-1.1-4.28l-13.1-7.71c-1-.57-2.2-.57-3.2 0l-13.1 7.71c-1.5.88-2 2.8-1.1 4.28.9 1.49 2.8 1.98 4.3 1.11z" style="fill:#ff5e34"/></svg>'
        },
        {
          value: 6,
          label: 'priority_normal',
          icon: '<svg viewBox="0 0 32.429 21.687" xmlns="http://www.w3.org/2000/svg"><path d="M32.43 18.568a3.12 3.12 0 0 0-3.117-3.118H3.116A3.12 3.12 0 0 0 0 18.568a3.12 3.12 0 0 0 3.116 3.119h26.197a3.12 3.12 0 0 0 3.116-3.119zM32.43 3.118A3.12 3.12 0 0 0 29.312 0H3.116A3.12 3.12 0 0 0 0 3.118a3.12 3.12 0 0 0 3.116 3.119h26.197a3.12 3.12 0 0 0 3.116-3.119z" style="fill:#ffb900;"/></svg>'
        },
        {
          value: 5,
          label: 'priority_normal',
          icon: '<svg viewBox="0 0 32.429 21.687" xmlns="http://www.w3.org/2000/svg"><path d="M32.43 18.568a3.12 3.12 0 0 0-3.117-3.118H3.116A3.12 3.12 0 0 0 0 18.568a3.12 3.12 0 0 0 3.116 3.119h26.197a3.12 3.12 0 0 0 3.116-3.119zM32.43 3.118A3.12 3.12 0 0 0 29.312 0H3.116A3.12 3.12 0 0 0 0 3.118a3.12 3.12 0 0 0 3.116 3.119h26.197a3.12 3.12 0 0 0 3.116-3.119z" style="fill:#ffb900;"/></svg>'
        },
        {
          value: 4,
          label: 'priority_low',
          icon: '<svg viewBox="0 0 32.497 25.351" xmlns="http://www.w3.org/2000/svg"><path d="m27.766 11.82-11.5 6.78-11.5-6.78c-1.5-.87-3.4-.38-4.3 1.11-.9 1.48-.4 3.4 1.1 4.28l13.1 7.71c1 .57 2.2.57 3.2 0l13.1-7.71c1.5-.88 2-2.8 1.1-4.28-.9-1.49-2.8-1.98-4.3-1.11z" style="fill:#0069ff"/><path d="m27.766.428-11.5 6.78-11.5-6.78c-1.5-.87-3.4-.38-4.3 1.11-.9 1.48-.4 3.4 1.1 4.28l13.1 7.71c1 .57 2.2.57 3.2 0l13.1-7.71c1.5-.88 2-2.8 1.1-4.28-.9-1.49-2.8-1.98-4.3-1.11z" style="fill:#288eff"/></svg>'
        },
        {
          value: 3,
          label: 'priority_low',
          icon: '<svg viewBox="0 0 32.497 25.351" xmlns="http://www.w3.org/2000/svg"><path d="m27.766 11.82-11.5 6.78-11.5-6.78c-1.5-.87-3.4-.38-4.3 1.11-.9 1.48-.4 3.4 1.1 4.28l13.1 7.71c1 .57 2.2.57 3.2 0l13.1-7.71c1.5-.88 2-2.8 1.1-4.28-.9-1.49-2.8-1.98-4.3-1.11z" style="fill:#0069ff"/><path d="m27.766.428-11.5 6.78-11.5-6.78c-1.5-.87-3.4-.38-4.3 1.11-.9 1.48-.4 3.4 1.1 4.28l13.1 7.71c1 .57 2.2.57 3.2 0l13.1-7.71c1.5-.88 2-2.8 1.1-4.28-.9-1.49-2.8-1.98-4.3-1.11z" style="fill:#288eff"/></svg>'
        },
        {
          value: 2,
          label: 'priority_lowest',
          icon: '<svg viewBox="0 0 32.497 13.958" xmlns="http://www.w3.org/2000/svg"><path style="fill:#0069ff" d="M3.285.002A3.16 3.16 0 0 0 .467 1.539C-.433 3.02.066 4.94 1.566 5.82l13.1 7.71c1 .57 2.199.57 3.199 0l13.102-7.71c1.5-.88 1.999-2.8 1.099-4.28-.9-1.49-2.8-1.98-4.3-1.11l-11.5 6.78L4.766.43A3.168 3.168 0 0 0 3.285.002Z"/></svg>'
        },
        {
          value: 1,
          label: 'priority_lowest',
          icon: '<svg viewBox="0 0 32.497 13.958" xmlns="http://www.w3.org/2000/svg"><path style="fill:#0069ff" d="M3.285.002A3.16 3.16 0 0 0 .467 1.539C-.433 3.02.066 4.94 1.566 5.82l13.1 7.71c1 .57 2.199.57 3.199 0l13.102-7.71c1.5-.88 1.999-2.8 1.099-4.28-.9-1.49-2.8-1.98-4.3-1.11l-11.5 6.78L4.766.43A3.168 3.168 0 0 0 3.285.002Z"/></svg>'
        }
      ]
    }
  },
  computed: {
    priority: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>
