<!--
  - This file is part of the ARODAX Admin package.
  -
  - (c) ARODAX a.s.
  -
  - For the full copyright and license information, please view the LICENSE
  - file that was distributed with this source code.
  -->

<template>
  <v-select
    v-model="status"
    :items="statuses"
    item-value="name"
    item-text="label"
    outlined
    hide-details
    :label="$t('status')"
    :prepend-icon="statusIcon"
    :disabled="isReadOnly"
  >
    <template #selection="{ item }">
      {{ $t(item.label) }}
    </template>

    <template #item="{ active, item, attrs, on }">
      <v-list-item
        v-slot="{ active }"
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          {{ $t(item.label) }}
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-select>
</template>

<script>
import { find } from 'lodash'

export default {
  name: 'VSelectProductVariantStatus',
  props: {
    value: {
      type: String,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: false,
      default: () => { return false }
    }
  },
  data () {
    return {
      statuses: [{
        name: 'published',
        label: 'item published',
        icon: 'mdi-checkbox-marked-circle-outline'
      },
      {
        name: 'draft',
        label: 'item not published',
        icon: 'mdi-progress-alert'
      }]
    }
  },
  computed: {
    status: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    statusIcon () {
      const status = (find(this.statuses, ['name', this.status]))
      return status ? status.icon : null
    },
    isReadOnly () {
      return this.readOnly
    }
  }
}
</script>
